Repository PaddlePaddle/PaddleSpeech, pull requests merged in 2021-08, with the labels that each got.

#740 fix the bug: can not use the CPU to test the model
  deepspeech/utils/log.py
Labels: enhancement

#744 update librispeech chunk conformer result
  examples/librispeech/s1/README.md
Labels: Example, README

#745 kaldi style data for u2 model
  examples/librispeech/README.md
  examples/librispeech/s2/README.md
  examples/librispeech/s2/conf/augmentation.json
  examples/librispeech/s2/conf/chunk_conformer.yaml
  examples/librispeech/s2/conf/chunk_transformer.yaml
  examples/librispeech/s2/conf/conformer.yaml
  examples/librispeech/s2/conf/transformer.yaml
  examples/librispeech/s2/local/align.sh
  examples/librispeech/s2/local/data.sh
  examples/librispeech/s2/local/download_lm_en.sh
  examples/librispeech/s2/local/export.sh
  examples/librispeech/s2/local/test.sh
  examples/librispeech/s2/local/train.sh
  examples/librispeech/s2/path.sh
  examples/librispeech/s2/run.sh
  examples/librispeech/s2/utils
Labels: Example, README

#743 ST-related code and script for TED-En-Zh translation
  deepspeech/exps/u2_st/__init__.py
  deepspeech/exps/u2_st/bin/export.py
  deepspeech/exps/u2_st/bin/test.py
  deepspeech/exps/u2_st/bin/train.py
  deepspeech/exps/u2_st/config.py
  deepspeech/exps/u2_st/model.py
  deepspeech/io/collator_st.py
  deepspeech/io/dataset.py
  deepspeech/models/u2_st.py
  deepspeech/utils/bleu_score.py
  examples/dataset/ted_en_zh/.gitignore
  examples/dataset/ted_en_zh/ted_en_zh.py
  examples/ted_en_zh/conf/transformer.yaml
  examples/ted_en_zh/conf/transformer_joint_noam.yaml
  examples/ted_en_zh/local/data.sh
  examples/ted_en_zh/local/test.sh
  examples/ted_en_zh/local/train.sh
  examples/ted_en_zh/path.sh
  examples/ted_en_zh/run.sh
  utils/build_vocab.py
  utils/format_triplet_data.py
Labels: Example, enhancement

#747 refine the code and correct yaml
  deepspeech/io/collator_st.py
  deepspeech/utils/bleu_score.py
  examples/dataset/ted_en_zh/ted_en_zh.py
  examples/ted_en_zh/conf/transformer_joint_noam.yaml
Labels: Example, enhancement

#751 refactor optimizer and scheduler instatnce
  deepspeech/exps/u2/model.py
  deepspeech/exps/u2_st/model.py
  deepspeech/models/deepspeech2.py
  deepspeech/training/gradclip.py
  deepspeech/training/optimizer.py
  deepspeech/training/scheduler.py
  deepspeech/utils/dynamic_import.py
  deepspeech/utils/tensor_utils.py
  examples/librispeech/s1/conf/transformer.yaml
  examples/tiny/s1/conf/chunk_confermer.yaml
  examples/tiny/s1/conf/chunk_transformer.yaml
  examples/tiny/s1/conf/conformer.yaml
  examples/tiny/s1/conf/transformer.yaml
Labels: enhancement, Example

#735 Ds2 online
  deepspeech/exps/deepspeech2/bin/export.py
  deepspeech/exps/deepspeech2/bin/test.py
  deepspeech/exps/deepspeech2/bin/train.py
  deepspeech/exps/deepspeech2/config.py
  deepspeech/exps/deepspeech2/model.py
  deepspeech/io/sampler.py
  deepspeech/models/ds2/deepspeech2.py
  deepspeech/models/ds2_online/__init__.py
  deepspeech/models/ds2_online/conv.py
  deepspeech/models/ds2_online/deepspeech2.py
  deepspeech/modules/subsampling.py
  env.sh
  examples/aishell/s0/conf/deepspeech2_online.yaml
  examples/aishell/s0/local/export.sh
  examples/aishell/s0/local/test.sh
  examples/aishell/s0/local/train.sh
  examples/aishell/s0/run.sh
  examples/librispeech/s0/conf/deepspeech2_online.yaml
  examples/librispeech/s0/local/export.sh
  examples/librispeech/s0/local/test.sh
  examples/librispeech/s0/local/train.sh
  examples/librispeech/s0/run.sh
  examples/tiny/s0/conf/deepspeech2_online.yaml
  examples/tiny/s0/local/export.sh
  examples/tiny/s0/local/test.sh
  examples/tiny/s0/local/train.sh
  examples/tiny/s0/run.sh
  tests/deepspeech2_model_test.py
  tests/deepspeech2_online_model_test.py
Labels: enhancement, CI, Example

#753 模型Resume的学习率问题
  deepspeech/exps/deepspeech2/model.py
  deepspeech/training/trainer.py
Labels: enhancement

#755 fix ted egs
  examples/ted_en_zh/t0/.gitignore
  examples/ted_en_zh/t0/README.md
  examples/ted_en_zh/t0/local/data.sh
  examples/ted_en_zh/t0/run.sh
Labels: README, Example

#757 add punc egs
  examples/punctuation_restoration/README.md
Labels: README, Example

#763 speechnn makefile
  env.sh
  speechnn/.gitignore
  speechnn/CMakeLists.txt
  speechnn/cmake/third_party.cmake
  speechnn/cmake/third_party/absl.cmake
  speechnn/cmake/third_party/boost.cmake
  speechnn/cmake/third_party/eigen.cmake
  speechnn/cmake/third_party/libsndfile.cmake
  speechnn/cmake/third_party/openfst.cmake
  speechnn/cmake/third_party/openfst_lib_target.cmake
  speechnn/cmake/third_party/threadpool.cmake
  speechnn/cmake/third_party/version.cmake
  speechnn/core/transformers/.gitkeep
  speechnn/core/transformers/README.md
  speechnn/examples/.gitkeep
Labels: CI, README, Deployment

#767 fix spelling mistake
  doc/src/feature_list.md
Labels: Documentation

#769 Ds2 online
  examples/aishell/s0/conf/deepspeech2_online.yaml
Labels: Example

#768 support kaldi data pipeline
  README.md
  README_cn.md
  deepspeech/__init__.py
  deepspeech/exps/u2_kaldi/__init__.py
  deepspeech/exps/u2_kaldi/bin/test.py
  deepspeech/exps/u2_kaldi/bin/train.py
  deepspeech/exps/u2_kaldi/model.py
  deepspeech/frontend/augmentor/augmentation.py
  deepspeech/frontend/augmentor/base.py
  deepspeech/frontend/augmentor/impulse_response.py
  deepspeech/frontend/augmentor/noise_perturb.py
  deepspeech/frontend/augmentor/online_bayesian_normalization.py
  deepspeech/frontend/augmentor/resample.py
  deepspeech/frontend/augmentor/shift_perturb.py
  deepspeech/frontend/augmentor/spec_augment.py
  deepspeech/frontend/augmentor/speed_perturb.py
  deepspeech/frontend/augmentor/volume_perturb.py
  deepspeech/io/converter.py
  deepspeech/io/dataloader.py
  deepspeech/io/reader.py
  deepspeech/io/sampler.py
  deepspeech/models/u2.py
  deepspeech/modules/activation.py
  deepspeech/training/optimizer.py
  deepspeech/training/scheduler.py
  examples/librispeech/s2/conf/augmentation.json
  examples/librispeech/s2/conf/transformer.yaml
  examples/librispeech/s2/local/align.sh
  examples/librispeech/s2/local/export.sh
  examples/librispeech/s2/local/test.sh
  examples/librispeech/s2/local/train.sh
  examples/librispeech/s2/path.sh
  speechnn/core/transformers/README.md
Labels: enhancement, README, Example, Deployment

#775 fix the bug of 'import path error' for ds2
  .notebook/jit_infer.ipynb
  deepspeech/exps/deepspeech2/bin/deploy/runtime.py
  deepspeech/exps/deepspeech2/bin/deploy/server.py
  deepspeech/exps/deepspeech2/bin/tune.py
Labels: enhancement

#776 support replace with mean by aug
  deepspeech/__init__.py
  deepspeech/frontend/augmentor/impulse_response.py
  deepspeech/frontend/augmentor/noise_perturb.py
  deepspeech/frontend/augmentor/online_bayesian_normalization.py
  deepspeech/frontend/augmentor/resample.py
  deepspeech/frontend/augmentor/shift_perturb.py
  deepspeech/frontend/augmentor/spec_augment.py
  deepspeech/frontend/augmentor/speed_perturb.py
  deepspeech/frontend/augmentor/volume_perturb.py
  examples/aishell/s0/conf/augmentation.json
  examples/aishell/s1/conf/augmentation.json
  examples/aug_conf/augmentation.json
  examples/augmentation/augmentation.json
  examples/callcenter/s1/conf/augmentation.json
  examples/librispeech/s0/conf/augmentation.json
  examples/librispeech/s1/conf/augmentation.json
  examples/librispeech/s2/conf/augmentation.json
  examples/timit/s1/conf/augmentation.json
  examples/tiny/s0/conf/augmentation.json
  examples/tiny/s1/conf/augmentation.json
Labels: enhancement, Example

#777 feat (D,T) to (T, D); time warp
  deepspeech/frontend/augmentor/spec_augment.py
  deepspeech/frontend/featurizer/audio_featurizer.py
  deepspeech/frontend/normalizer.py
  deepspeech/io/collator.py
  deepspeech/io/collator_st.py
  requirements.txt
Labels: enhancement

#779 fix specaug config
  deepspeech/frontend/augmentor/spec_augment.py
  examples/aishell/s0/conf/augmentation.json
  examples/aishell/s1/conf/augmentation.json
  examples/augmentation/augmentation.json
  examples/librispeech/s0/conf/augmentation.json
  examples/librispeech/s1/conf/augmentation.json
  examples/librispeech/s2/conf/augmentation.json
  examples/timit/s1/conf/augmentation.json
  examples/tiny/s0/conf/augmentation.json
  examples/tiny/s1/conf/augmentation.json
Labels: enhancement, Example

#781 fix_mfa
  deepspeech/decoders/swig/setup.py
  examples/aishell/s0/conf/augmentation.json
  examples/thchs30/a0/local/data.sh
  examples/thchs30/a0/local/gen_word2phone.py
  examples/thchs30/a0/local/reorganize_thchs30.py
  examples/thchs30/a0/run.sh
  tools/extras/install_mfa.sh
Labels: enhancement, Installation, Example

#784 fix load dict bugs
  deepspeech/exps/u2_kaldi/model.py
  deepspeech/frontend/augmentor/spec_augment.py
  deepspeech/frontend/utility.py
  examples/aishell/s0/README.md
  examples/aishell/s0/conf/augmentation.json
  examples/librispeech/s0/conf/augmentation.json
Labels: enhancement, README, Example

#783 修正了seed功能
  deepspeech/exps/deepspeech2/bin/train.py
  deepspeech/exps/deepspeech2/model.py
  deepspeech/training/cli.py
  deepspeech/training/trainer.py
  examples/aishell/s0/local/train.sh
  examples/aishell/s1/local/train.sh
  examples/callcenter/s1/local/train.sh
  examples/librispeech/s0/local/train.sh
  examples/librispeech/s1/local/train.sh
  examples/librispeech/s2/local/train.sh
  examples/ted_en_zh/t0/local/train.sh
  examples/timit/s1/local/train.sh
  examples/tiny/s0/local/train.sh
  examples/tiny/s1/local/train.sh
Labels: enhancement, Example

#785 fix dataloader pickle bugs
  deepspeech/decoders/swig/setup.py
  deepspeech/exps/u2_kaldi/model.py
  deepspeech/frontend/augmentor/spec_augment.py
  deepspeech/io/converter.py
  deepspeech/io/dataloader.py
  deepspeech/io/dataset.py
  examples/aishell/s0/conf/augmentation.json
  examples/librispeech/s2/conf/augmentation.json
  examples/librispeech/s2/conf/transformer.yaml
Labels: enhancement, Example

#787 new style updater
  deepspeech/training/extensions/__init__.py
  deepspeech/training/extensions/evaluator.py
  deepspeech/training/extensions/extension.py
  deepspeech/training/extensions/snapshot.py
  deepspeech/training/extensions/visualizer.py
  deepspeech/training/reporter.py
  deepspeech/training/triggers/__init__.py
  deepspeech/training/triggers/interval_trigger.py
  deepspeech/training/triggers/limit_trigger.py
  deepspeech/training/triggers/time_trigger.py
  deepspeech/training/updaters/__init__.py
  deepspeech/training/updaters/standard_updater.py
  deepspeech/training/updaters/trainer.py
  deepspeech/training/updaters/updater.py
  requirements.txt
Labels: enhancement

#788 fix trainer when dataloader not has batch_sampler
  deepspeech/training/trainer.py
Labels: enhancement

#789 seed all with log; and format
  deepspeech/training/cli.py
  deepspeech/training/extensions/__init__.py
  deepspeech/training/extensions/evaluator.py
  deepspeech/training/extensions/extension.py
  deepspeech/training/extensions/snapshot.py
  deepspeech/training/extensions/visualizer.py
  deepspeech/training/reporter.py
  deepspeech/training/trainer.py
  deepspeech/training/triggers/__init__.py
  deepspeech/training/triggers/interval_trigger.py
  deepspeech/training/triggers/limit_trigger.py
  deepspeech/training/triggers/time_trigger.py
  deepspeech/training/updaters/__init__.py
  deepspeech/training/updaters/standard_updater.py
  deepspeech/training/updaters/trainer.py
  deepspeech/training/updaters/updater.py
  deepspeech/utils/utility.py
  examples/aishell/s0/README.md
  requirements.txt
Labels: enhancement, README, Example

#792 Fix glu
  deepspeech/__init__.py
Labels: enhancement

#793 ds2 offline cer 6p4287
  deepspeech/models/ds2/conv.py
  deepspeech/modules/subsampling.py
  examples/aishell/s0/README.md
  examples/aishell/s0/conf/deepspeech2.yaml
  examples/aishell/s0/local/train.sh
  utils/avg.sh
  utils/tarball.sh
Labels: enhancement, README, Example

#786 [Static model test] Add the test process for export model
  deepspeech/exps/deepspeech2/bin/test_export.py
  deepspeech/exps/deepspeech2/model.py
  deepspeech/models/ds2/deepspeech2.py
  deepspeech/models/ds2_online/deepspeech2.py
  examples/aishell/s0/local/test_export.sh
  examples/aishell/s0/run.sh
Labels: enhancement, Example

#796 import ctcdecoder when needed
  deepspeech/modules/ctc.py
Labels: enhancement
