Repository PaddlePaddle/PaddleSpeech, pull requests merged in 2021-11, with the labels that each got.

#951 [TTS] add global init for multi band melgan
  examples/csmsc/voc3/conf/default.yaml
  examples/csmsc/voc3/conf/use_tanh.yaml
  parakeet/models/melgan/melgan.py
  parakeet/modules/residual_stack.py
Labels: Example, T2S

#954 Add the model description in Readme for 1xt2x
  examples/other/1xt2x/README.md
Labels: README, Example

#953 [Bug fix] fix the bug of 'dev/null' and the test_export
  deepspeech/exps/deepspeech2/model.py
  deepspeech/training/trainer.py
  examples/aishell/s0/local/test.sh
  examples/aishell/s0/local/test_export.sh
Labels: Example, S2T

#948 fix fastspeech2 to static
  examples/csmsc/tts2/README.md
  examples/csmsc/tts3/README.md
  examples/csmsc/tts3/local/inference.sh
  examples/csmsc/tts3/local/synthesize_e2e.sh
  examples/csmsc/tts3/run.sh
  parakeet/exps/fastspeech2/inference.py
  parakeet/exps/fastspeech2/synthesize_e2e.py
  parakeet/models/fastspeech2/fastspeech2.py
  parakeet/modules/fastspeech2_predictor/length_regulator.py
  parakeet/modules/fastspeech2_transformer/attention.py
  parakeet/modules/fastspeech2_transformer/embedding.py
  parakeet/modules/fastspeech2_transformer/encoder.py
  parakeet/modules/layer_norm.py
  parakeet/modules/masked_fill.py
  parakeet/modules/nets_utils.py
Labels: README, Example, T2S

#952 Add the feature: caculating the perplexity of transformerLM
  deepspeech/exps/lm/transformer/__init__.py
  deepspeech/exps/lm/transformer/bin/cacu_perplexity.py
  deepspeech/exps/lm/transformer/lm_cacu_perplexity.py
  deepspeech/frontend/featurizer/text_featurizer.py
  deepspeech/io/collator.py
  deepspeech/io/dataset.py
  deepspeech/models/lm/transformer.py
  examples/librispeech/s2/conf/lm/transformer.yaml
  examples/librispeech/s2/local/cacu_perplexity.sh
  examples/librispeech/s2/run.sh
Labels: Example, S2T

#955 fix the run_test in test_export
  deepspeech/exps/deepspeech2/model.py
  deepspeech/training/trainer.py
  examples/other/1xt2x/README.md
Labels: README, Example, S2T

#957 revert ds2 offline rnn bw_cell to fw_cell which loss can be 5.73
  deepspeech/models/ds2/rnn.py
  examples/aishell/s0/README.md
  examples/aishell/s0/conf/deepspeech2.yaml
Labels: README, Example, S2T

#956 [TTS]add tts demo in read the docs
  README.md
  docs/source/_static/custom.css
  docs/source/conf.py
  docs/source/tts/demo.rst
  docs/source/tts/demo_2.rst
  docs/source/tts/test_sentence.txt
  parakeet/models/fastspeech2/fastspeech2.py
Labels: README, T2S

#958 [TTS] fix mbmelgan static
  parakeet/exps/fastspeech2/synthesize_e2e_melgan.py
  parakeet/models/melgan/melgan.py
  parakeet/modules/kaiser.py
  parakeet/modules/pqmf.py
Labels: T2S

#959 [TTS]fix mbmelgan static
  parakeet/modules/kaiser.py
  parakeet/modules/pqmf.py
Labels: T2S

#965 Add librosa reference.
  audio/paddleaudio/features/core.py
  docs/source/reference.md
Labels: README, S2T, T2S

#966 change the lm dataset dir, add the 'LM_BIN_DIR' in s2 path.sh
  examples/librispeech/s2/path.sh
  paddlespeech/s2t/exps/lm/transformer/lm_cacu_perplexity.py
  paddlespeech/s2t/io/collator.py
  paddlespeech/s2t/io/dataset.py
  paddlespeech/s2t/models/lm/dataset.py
Labels: Example, S2T

#970 [bugfix] ctc alignment
  docs/source/dependencies.md
  paddlespeech/s2t/exps/u2/model.py
  paddlespeech/s2t/exps/u2_kaldi/model.py
  paddlespeech/s2t/exps/u2_st/model.py
  paddlespeech/s2t/utils/ctc_utils.py
  paddlespeech/t2s/exps/tacotron2/ljspeech.py
Labels: S2T, T2S

#971 [WIP]asr demo
  demos/echo/.gitignore
  demos/echo/README.md
  demos/echo/run.sh
Labels: README

#972 update the ds2 online conf
  docs/source/released_model.md
  examples/aishell/s0/conf/deepspeech2_online.yaml
Labels: Example

#969 Update README.md
  README.md
  docs/images/PaddleSpeech_logo.png
  docs/images/wechat-code-speech.png
Labels: README

#975 [doc] fix doc of install
  README.md
  docs/source/install.md
  docs/source/introduction.md
Labels: README

#978 Add notes in example/aishell/s0/run.sh
  examples/aishell/s0/run.sh
Labels: Example

#980 revise the quick start of speech-to-text
  README.md
Labels: README

#983 Add word reward into beam search in translation
  examples/ted_en_zh/t0/conf/transformer_joint_noam.yaml
  paddlespeech/s2t/exps/u2_st/model.py
  paddlespeech/s2t/models/u2_st/u2_st.py
Labels: Example, S2T

#984 [examples] default script run on gpu 0
  README.md
  examples/aishell/s1/run.sh
  examples/callcenter/s1/run.sh
  examples/librispeech/s0/run.sh
  examples/librispeech/s1/run.sh
  examples/librispeech/s2/run.sh
  examples/ted_en_zh/t0/run.sh
  examples/timit/s1/run.sh
  examples/tiny/s1/run.sh
  paddlespeech/s2t/exps/u2_st/model.py
Labels: README, Example, S2T

#986 [README] Delete outdated QR code.
  README.md
  docs/images/wechat-code-speech.png
Labels: README

#985 revise the benchmark
  paddlespeech/s2t/exps/u2/model.py
  tests/benchmark/conformer/run.sh
  tests/benchmark/conformer/run_analysis_mp.sh
  tests/benchmark/conformer/run_analysis_sp.sh
Labels: S2T

#988 [install] more install scripts
  paddlespeech/s2t/exps/u2/model.py
  requirements.txt
  tools/extras/install_mfa_v1.sh
  tools/extras/install_mfa_v2.sh
  tools/extras/install_sclite.sh
  tools/extras/install_sox.sh
  tools/extras/install_venv.sh
Labels: Installation, S2T

#990 remove useless
  paddlespeech/emo/__init__.py
  paddlespeech/kws/__init__.py
  speechnn/.gitignore
  speechnn/CMakeLists.txt
  speechnn/cmake/third_party.cmake
  speechnn/cmake/third_party/absl.cmake
  speechnn/cmake/third_party/boost.cmake
  speechnn/cmake/third_party/eigen.cmake
  speechnn/cmake/third_party/libsndfile.cmake
  speechnn/cmake/third_party/openfst.cmake
  speechnn/cmake/third_party/openfst_lib_target.cmake
  speechnn/cmake/third_party/threadpool.cmake
  speechnn/cmake/third_party/version.cmake
  speechnn/core/transformers/.gitkeep
  speechnn/core/transformers/README.md
  speechnn/env.sh
  speechnn/examples/.gitkeep
  speechnn/examples/CMakeLists.txt
  speechnn/speechnn/CMakeLists.txt
  speechnn/speechnn/decoder/CMakeLists.txt
  speechnn/speechnn/frontend/CMakeLists.txt
  speechnn/speechnn/frontend/audio/CMakeLists.txt
  speechnn/speechnn/frontend/text/CMakeLists.txt
  speechnn/speechnn/model/CMakeLists.txt
  speechnn/speechnn/nn/CMakeLists.txt
  speechnn/speechnn/protocol/CMakeLists.txt
  speechnn/speechnn/utils/CMakeLists.txt
Labels: README, Deployment

#993 [doc] add ctc loss topic
  .mergify.yml
  .pre-commit-config.yaml
  docs/topic/ctc/ctc_loss.ipynb
  docs/topic/ctc/img/ctc_loss_alpha_definition.png
  docs/topic/ctc/img/ctc_loss_alpha_recurse.png
  docs/topic/ctc/img/ctc_loss_alpha_recurse_2.png
  docs/topic/ctc/img/ctc_loss_backward_1.png
  docs/topic/ctc/img/ctc_loss_backward_2.png
  docs/topic/ctc/img/ctc_loss_backward_3.png
  docs/topic/ctc/img/ctc_loss_backward_recurse.png
  docs/topic/ctc/img/ctc_loss_cat_lattice.png
  docs/topic/ctc/img/ctc_loss_forward_backward.png
  docs/topic/ctc/img/ctc_loss_forward_backward_to_loss.png
  docs/topic/ctc/img/ctc_loss_forward_loss.png
  docs/topic/ctc/img/ctc_loss_gradient_of_y_hat.png
  docs/topic/ctc/img/ctc_loss_gradient_with_y.png
  docs/topic/ctc/img/ctc_loss_prob_l_x.png
  docs/topic/ctc/img/ctc_loss_prob_pi_x.png
  docs/topic/ctc/img/ctc_loss_rescale_loss.png
Labels: mergify

#1002 Add conformer 1110
  tests/benchmark/conformer/README.md
  tests/benchmark/conformer/analysis.py
  tests/benchmark/conformer/prepare.sh
  tests/benchmark/conformer/run.sh
  tests/benchmark/conformer/run_benchmark.sh
Labels: README

#995 [TTS]add multi-band melgan finetune scripts
  demos/style_fs2/style_syn.py
  examples/csmsc/voc3/conf/finetune.yaml
  examples/csmsc/voc3/finetune.sh
  examples/csmsc/voc3/local/link_wav.py
  paddlespeech/t2s/datasets/vocoder_batch_fn.py
  paddlespeech/t2s/exps/fastspeech2/gen_gta_mel.py
  paddlespeech/t2s/models/fastspeech2/fastspeech2.py
Labels: Example, T2S, Demo

#997 [setup.sh] add conda install pipeline
  docs/source/install.md
  requirements.txt
  setup.sh
  tools/extras/install_miniconda.sh
Labels: Documentation, Installation

#1005 [asr]refactor libri s2 conf
  examples/librispeech/s2/conf/transformer.yaml
Labels: Example

#1006 [python lib]renew the setup.py for paddlespeech feat and ctcdecoders
  paddlespeech/s2t/decoders/ctcdecoder/swig/setup.py
  third_party/python_kaldi_features/setup.py
Labels: S2T

#1010 [asr]disable export for u2
  examples/aishell/s1/run.sh
  examples/librispeech/s1/run.sh
  examples/librispeech/s2/run.sh
  examples/ted_en_zh/t0/run.sh
  examples/timit/s1/run.sh
  examples/tiny/s1/run.sh
Labels: Example

#998 [Doc] update the released model info
  docs/source/released_model.md
Labels: Documentation

#1011 [asr]check if cmvn_file in config for u2
  examples/librispeech/s2/conf/transformer.yaml
  paddlespeech/s2t/models/u2/u2.py
Labels: Example, S2T

#1009 [install] Update the setup.py for paddlespeech
  .bashrc
  .vimrc
  requirements.txt
  setup.py
Labels: Installation

#1014 [asr]hidden the auto_log
  paddlespeech/s2t/exps/deepspeech2/bin/test_export.py
  paddlespeech/s2t/exps/deepspeech2/model.py
Labels: S2T

#1016 [TTS]add aishell3/vc1 readme, add csmsc/voc1 readme
  examples/aishell3/tts3/README.md
  examples/aishell3/vc0/README.md
  examples/aishell3/vc1/README.md
  examples/aishell3/voc1/README.md
  examples/csmsc/tts2/README.md
  examples/csmsc/tts3/README.md
  examples/csmsc/voc1/README.md
  examples/csmsc/voc3/README.md
  examples/csmsc/voc3/conf/finetune.yaml
  examples/csmsc/voc3/finetune.sh
  examples/ljspeech/tts0/README.md
  examples/ljspeech/tts1/README.md
  examples/ljspeech/tts3/README.md
  examples/ljspeech/voc0/README.md
  examples/ljspeech/voc1/README.md
  examples/vctk/tts3/README.md
  examples/vctk/voc1/README.md
Labels: README, Example

#1018 [TTS]fix urls
  README.md
  demos/metaverse/run.sh
  demos/story_talker/run.sh
  demos/style_fs2/run.sh
  docs/source/released_model.md
  docs/source/tts/demo.rst
  examples/aishell3/tts3/README.md
  examples/aishell3/vc0/README.md
  examples/aishell3/vc1/README.md
  examples/aishell3/voc1/README.md
  examples/csmsc/tts2/README.md
  examples/csmsc/tts3/README.md
  examples/csmsc/voc1/README.md
  examples/csmsc/voc3/README.md
  examples/ljspeech/tts0/README.md
  examples/ljspeech/tts1/README.md
  examples/ljspeech/tts3/README.md
  examples/ljspeech/voc0/README.md
  examples/ljspeech/voc1/README.md
  examples/other/ge2e/README.md
  examples/vctk/tts3/README.md
  examples/vctk/voc1/README.md
  tests/chains/speedyspeech/prepare.sh
Labels: Documentation, README, Example, Demo

#1020 [bug fix] fix the pre-commit
  examples/dataset/aishell/aishell.py
  examples/dataset/ted_en_zh/ted_en_zh.py
  examples/dataset/thchs30/thchs30.py
  examples/dataset/timit/timit_kaldi_standard_split.py
  examples/librispeech/asr1/README.md
  examples/timit/README.md
  examples/wenetspeech/README.md
  examples/wenetspeech/asr1/RESULTS.md
  examples/wenetspeech/asr1/local/extract_meta.py
  examples/wenetspeech/asr1/local/process_opus.py
  paddlespeech/s2t/exps/deepspeech2/model.py
  paddlespeech/s2t/exps/u2/model.py
Labels: README, Example, S2T

#1007 [FAT-ST] Add ted_en_zh st1
  examples/ted_en_zh/st1/.gitignore
  examples/ted_en_zh/st1/README.md
  examples/ted_en_zh/st1/conf/transformer.yaml
  examples/ted_en_zh/st1/conf/transformer_mtl_noam.yaml
  examples/ted_en_zh/st1/local/convert_torch_to_paddle.py
  examples/ted_en_zh/st1/local/data.sh
  examples/ted_en_zh/st1/local/download_pretrain.sh
  examples/ted_en_zh/st1/local/test.sh
  examples/ted_en_zh/st1/local/train_finetune.sh
  examples/ted_en_zh/st1/path.sh
  examples/ted_en_zh/st1/run.sh
Labels: README, Example

#1024 [ASR] update librispeech transformer result
  examples/librispeech/asr1/README.md
Labels: README, Example

#1023 [asr] put vocab into data/lang_char
  examples/aishell/asr0/conf/deepspeech2.yaml
  examples/aishell/asr0/conf/deepspeech2_online.yaml
  examples/aishell/asr0/local/data.sh
  examples/aishell/asr1/conf/chunk_conformer.yaml
  examples/aishell/asr1/conf/conformer.yaml
  examples/aishell/asr1/conf/transformer.yaml
  examples/aishell/asr1/local/data.sh
  examples/callcenter/asr1/conf/chunk_conformer.yaml
  examples/callcenter/asr1/conf/conformer.yaml
  examples/callcenter/asr1/local/data.sh
  examples/librispeech/asr0/conf/deepspeech2.yaml
  examples/librispeech/asr0/conf/deepspeech2_online.yaml
  examples/librispeech/asr0/local/data.sh
  examples/librispeech/asr1/conf/chunk_conformer.yaml
  examples/librispeech/asr1/conf/conformer.yaml
  examples/librispeech/asr1/conf/transformer.yaml
  examples/librispeech/asr1/local/data.sh
  examples/ted_en_zh/st0/conf/transformer.yaml
  examples/ted_en_zh/st0/conf/transformer_joint_noam.yaml
  examples/ted_en_zh/st0/local/data.sh
  examples/ted_en_zh/st1/conf/transformer.yaml
  examples/ted_en_zh/st1/conf/transformer_mtl_noam.yaml
  examples/ted_en_zh/st1/local/data.sh
  examples/timit/asr1/conf/transformer.yaml
  examples/timit/asr1/local/data.sh
  examples/tiny/asr0/conf/deepspeech2.yaml
  examples/tiny/asr0/conf/deepspeech2_online.yaml
  examples/tiny/asr0/local/data.sh
  examples/tiny/asr1/conf/chunk_confermer.yaml
  examples/tiny/asr1/conf/chunk_transformer.yaml
  examples/tiny/asr1/conf/conformer.yaml
  examples/tiny/asr1/conf/transformer.yaml
  examples/tiny/asr1/local/data.sh
  examples/wenetspeech/asr1/conf/conformer.yaml
Labels: Example

#1026 [asr] fix preprocess of libri asr2
  examples/librispeech/asr1/conf/chunk_transformer.yaml
  examples/librispeech/asr2/conf/preprocess.yaml
  examples/librispeech/asr2/conf/transformer.yaml
Labels: Example

#1030 [asr] update ds2 offline result
  examples/aishell/asr0/README.md
  examples/aishell/asr0/utils
Labels: README, Example

#1031 [TTS]update ipynb, add eval loss
  README.md
  docs/source/introduction.md
  docs/source/tts/README.md
  docs/tutorial/tts/source/tts-timeline.png
  docs/tutorial/tts/source/wechat-group.png
  docs/tutorial/tts/tts_tutorial.ipynb
  examples/aishell3/vc1/README.md
  examples/aishell3/voc1/README.md
  examples/csmsc/tts2/README.md
  examples/csmsc/tts3/README.md
  examples/csmsc/voc1/README.md
  examples/csmsc/voc3/README.md
  examples/ljspeech/tts3/README.md
Labels: Documentation, README, Example

#1033 [asr] test wav for u2
  examples/wenetspeech/asr1/local/test_wav.sh
  paddlespeech/s2t/exps/u2/bin/test_hub.py
  paddlespeech/s2t/exps/u2/bin/test_wav.py
Labels: Example, S2T

#1034 [asr] rename to result.md
  examples/aishell/asr0/RESULTS.md
  examples/aishell/asr1/RESULTS.md
  examples/callcenter/asr1/RESULTS.md
  examples/librispeech/asr0/RESULTS.md
  examples/librispeech/asr1/RESULTS.md
  examples/librispeech/asr2/RESULTS.md
  examples/ted_en_zh/st0/RESULTS.md
  examples/ted_en_zh/st1/RESULTS.md
  examples/timit/asr1/RESULTS.md
Labels: Example

#1035 [asr] dataset to root dir
  dataset/aidatatang_200zh/.gitignore
  dataset/aidatatang_200zh/README.md
  dataset/aidatatang_200zh/aidatatang_200zh.py
  dataset/aishell/.gitignore
  dataset/aishell/README.md
  dataset/aishell/aishell.py
  dataset/aishell3/README.md
  dataset/chime3_background/chime3_background.py
  dataset/gigaspeech/.gitignore
  dataset/gigaspeech/README.md
  dataset/gigaspeech/gigaspeech.py
  dataset/gigaspeech/run.sh
  dataset/librispeech/.gitignore
  dataset/librispeech/librispeech.py
  dataset/magicdata/README.md
  dataset/mini_librispeech/.gitignore
  dataset/mini_librispeech/mini_librispeech.py
  dataset/multi_cn/README.md
  dataset/musan/.gitignore
  dataset/musan/musan.py
  dataset/primewords/README.md
  dataset/rir_noise/.gitignore
  dataset/rir_noise/rir_noise.py
  dataset/st-cmds/README.md
  dataset/ted_en_zh/.gitignore
  dataset/ted_en_zh/ted_en_zh.py
  dataset/thchs30/.gitignore
  dataset/thchs30/README.md
  dataset/thchs30/thchs30.py
  dataset/timit/.gitignore
  dataset/timit/timit.py
  dataset/timit/timit_kaldi_standard_split.py
  dataset/voxforge/run_data.sh
  dataset/voxforge/voxforge.py
  examples/aishell/asr0/local/data.sh
  examples/aishell/asr1/local/data.sh
  examples/aishell/asr1/local/tlg.sh
  examples/librispeech/asr0/local/data.sh
  examples/librispeech/asr1/local/data.sh
  examples/librispeech/asr2/local/data.sh
  examples/other/1xt2x/aishell/local/data.sh
  examples/other/1xt2x/baidu_en8k/local/data.sh
  examples/other/1xt2x/librispeech/local/data.sh
  examples/ted_en_zh/st0/local/data.sh
  examples/ted_en_zh/st1/local/data.sh
  examples/thchs30/align0/local/data.sh
  examples/timit/asr1/local/data.sh
  examples/tiny/asr0/local/data.sh
  examples/tiny/asr1/local/data.sh
  examples/wenetspeech/asr1/local/data.sh
Labels: README, Example

#1038 [released model]updata the ds2 released model
  docs/source/released_model.md
Labels: Documentation

#1039 [install] compile kaldi static
  examples/wenetspeech/asr1/local/test_wav.sh
  tools/extras/install_kaldi.sh
Labels: Installation, Example

#1041 [asr] update librispeech asr1-2 result; add warpctc source link in ctc topic
  docs/source/released_model.md
  docs/topic/ctc/ctc_loss.ipynb
  examples/librispeech/asr1/RESULTS.md
Labels: Documentation, Example

#1040 [TTS]update text frontend
  demos/style_fs2/style_syn.py
  examples/ljspeech/voc1/README.md
  paddlespeech/t2s/exps/fastspeech2/inference.py
  paddlespeech/t2s/exps/fastspeech2/multi_spk_synthesize_e2e.py
  paddlespeech/t2s/exps/fastspeech2/synthesize_e2e.py
  paddlespeech/t2s/exps/fastspeech2/synthesize_e2e_melgan.py
  paddlespeech/t2s/exps/speedyspeech/inference.py
  paddlespeech/t2s/exps/speedyspeech/synthesize_e2e.py
  paddlespeech/t2s/frontend/zh_frontend.py
  paddlespeech/t2s/frontend/zh_normalization/chronology.py
  paddlespeech/t2s/frontend/zh_normalization/phonecode.py
  paddlespeech/t2s/frontend/zh_normalization/text_normlization.py
  paddlespeech/t2s/models/fastspeech2/fastspeech2.py
Labels: README, Example, T2S, Demo

#1037 [run.sh] fix the audio_file location in run.sh
  examples/aishell/asr0/local/test_hub.sh
  examples/aishell/asr0/run.sh
  examples/aishell/asr1/local/test_hub.sh
  examples/aishell/asr1/run.sh
  examples/librispeech/asr0/local/test_hub.sh
  examples/librispeech/asr0/run.sh
  examples/librispeech/asr1/local/test_hub.sh
  examples/librispeech/asr1/run.sh
Labels: Example

#1045 [CLI]Add paddlespeech.cli.
  paddlespeech/cli/README.md
  paddlespeech/cli/__init__.py
  paddlespeech/cli/base_commands.py
  paddlespeech/cli/cls/__init.__py
  paddlespeech/cli/entry.py
  paddlespeech/cli/executor.py
  paddlespeech/cli/s2t/__init__.py
  paddlespeech/cli/s2t/conf/default_conf.yaml
  paddlespeech/cli/s2t/infer.py
  paddlespeech/cli/t2s/__init.__py
  paddlespeech/cli/utils.py
  setup.py
Labels: Installation, README

#1046 [Rename]rename the config.model.feat_size and the config.model.vocab.size
  examples/librispeech/asr1/RESULTS.md
  paddlespeech/s2t/exps/deepspeech2/bin/test_hub.py
  paddlespeech/s2t/exps/deepspeech2/model.py
  paddlespeech/s2t/models/ds2/deepspeech2.py
  paddlespeech/s2t/models/ds2_online/deepspeech2.py
Labels: Example, S2T

#1021 [README] Add the readme for the run.sh in aishsll asr1
  examples/aishell/asr1/READEME.md
  examples/aishell/asr1/run.sh
Labels: Example

#1049 fix the run.sh
  examples/aishell/asr1/run.sh
Labels: Example

#1050 [ST] add script for data process (st1) for Ted-En-Zh
  dataset/ted_en_zh/ted_en_zh.py
  examples/ted_en_zh/st1/cmd.sh
  examples/ted_en_zh/st1/conf/fbank.conf
  examples/ted_en_zh/st1/conf/pitch.conf
  examples/ted_en_zh/st1/conf/transformer_mtl_noam.yaml
  examples/ted_en_zh/st1/local/data.sh
  examples/ted_en_zh/st1/local/divide_lang.sh
  examples/ted_en_zh/st1/local/espnet_json_to_manifest.py
  examples/ted_en_zh/st1/local/remove_punctuation.pl
  examples/ted_en_zh/st1/local/ted_en_zh.py
  examples/ted_en_zh/st1/local/train.sh
  examples/ted_en_zh/st1/path.sh
  examples/ted_en_zh/st1/run.sh
  examples/ted_en_zh/st1/steps
  examples/ted_en_zh/st1/utils
  paddlespeech/s2t/exps/u2_st/model.py
  paddlespeech/s2t/frontend/utility.py
  paddlespeech/s2t/io/sampler.py
  paddlespeech/s2t/utils/checkpoint.py
  utils/addjson.py
  utils/scp2json.py
  utils/tokenizer.perl
  utils/update_json.sh
Labels: Example, S2T

#1053 add readme
  demos/README.md
Labels: README, Demo

#1055 [doc] update link
  README.md
Labels: README

#1056 fix readme typo
  examples/aishell3/vc1/README.md
Labels: README, Example

#1054 [asr] using visualdl , jsonlines read manifest
  examples/aishell/asr1/READEME.md
  paddlespeech/s2t/exps/u2/model.py
  paddlespeech/s2t/exps/u2_kaldi/model.py
  paddlespeech/s2t/exps/u2_st/model.py
  paddlespeech/s2t/frontend/augmentor/impulse_response.py
  paddlespeech/s2t/frontend/augmentor/noise_perturb.py
  paddlespeech/s2t/frontend/normalizer.py
  paddlespeech/s2t/frontend/utility.py
  paddlespeech/s2t/io/dataloader.py
  paddlespeech/s2t/io/dataset.py
  paddlespeech/s2t/io/sampler.py
  paddlespeech/s2t/training/trainer.py
  paddlespeech/s2t/utils/socket_server.py
  paddlespeech/text/speechtask/punctuation_restoration/training/trainer.py
  requirements.txt
  utils/build_vocab.py
  utils/dump_manifest.py
  utils/format_data.py
  utils/format_triplet_data.py
  utils/manifest_key_value.py
  utils/utility.py
Labels: Example, S2T, TextProcess

#1059 add readme
  demos/style_fs2/README.md
Labels: README, Demo

#1060 fix the load checkpoint
  paddlespeech/s2t/utils/checkpoint.py
Labels: S2T
