Repository PaddlePaddle/PaddleSpeech, pull requests merged in 2021-06, with the labels that each got.

#650 add crf layer
  deepspeech/__init__.py
  deepspeech/modules/crf.py
  examples/chinese_g2p/local/ignore_sandhi.py
  examples/librispeech/s0/README.md
Labels: Example, README, enhancement

#651 replace list zip by stack
  deepspeech/modules/crf.py
Labels: enhancement

#656 fix mask for bool type; fix other
  deepspeech/modules/conformer_convolution.py
  deepspeech/modules/encoder.py
  deepspeech/modules/mask.py
  examples/aishell/s1/conf/chunk_conformer.yaml
Labels: Example, enhancement

#671 speech deployment architecture
  .mergify.yml
  speechnn/CMakeLists.txt
  speechnn/core/CMakeLists.txt
  speechnn/core/decoder/CMakeLists.txt
  speechnn/core/frontend/CMakeLists.txt
  speechnn/core/frontend/audio/CMakeLists.txt
  speechnn/core/frontend/text/CMakeLists.txt
  speechnn/core/model/CMakeLists.txt
  speechnn/core/protocol/CMakeLists.txt
  speechnn/core/utils/CMakeLists.txt
  speechnn/third_party/CMakeLists.txt
Labels: mergify

#665 Spec aug 放入collator中
  deepspeech/exps/deepspeech2/config.py
  deepspeech/exps/deepspeech2/model.py
  deepspeech/exps/u2/config.py
  deepspeech/exps/u2/model.py
  deepspeech/frontend/featurizer/speech_featurizer.py
  deepspeech/io/collator.py
  deepspeech/io/dataset.py
  deepspeech/models/u2.py
  examples/aishell/s0/conf/deepspeech2.yaml
  examples/aishell/s1/conf/conformer.yaml
  examples/tiny/s0/conf/deepspeech2.yaml
  examples/tiny/s1/conf/transformer.yaml
Labels: Example, README, enhancement

#676 fix ds2 conf for new data pipeline
  examples/aishell/s0/conf/deepspeech2.yaml
Labels: Example

#679 fix chunk default config; tarball ckpt prfix dir;
  examples/aishell/s1/README.md
  examples/aishell/s1/conf/chunk_conformer.yaml
  utils/tarball.sh
Labels: Example, README

#683 ds2 default using 4gpu; new result of ds2
  examples/aishell/s0/README.md
  examples/aishell/s0/run.sh
Labels: Example, README

#682 using venv python
  tools/Makefile
Labels: Installation

#685 add model params
  examples/aishell/s0/README.md
  examples/aishell/s1/README.md
Labels: Example, README

#684 revise from_pretrained function
  deepspeech/exps/deepspeech2/bin/deploy/runtime.py
  deepspeech/exps/deepspeech2/bin/deploy/server.py
  deepspeech/exps/deepspeech2/bin/tune.py
  deepspeech/exps/deepspeech2/model.py
  deepspeech/exps/u2/model.py
  deepspeech/io/collator.py
  deepspeech/models/deepspeech2.py
  deepspeech/models/u2.py
  deepspeech/utils/socket_server.py
Labels: enhancement

#688 fix conf for ds2
  examples/aishell/s0/conf/deepspeech2.yaml
  examples/aishell/s0/run.sh
  examples/librispeech/s0/README.md
  examples/librispeech/s0/conf/deepspeech2.yaml
Labels: Example, README

#690 more detial of result
  examples/aishell/s0/README.md
  examples/aishell/s1/README.md
  examples/librispeech/s0/README.md
  examples/librispeech/s1/README.md
Labels: Example, README, conflicts

#691 fix audio shape bug for audio len
  deepspeech/io/collator.py
Labels: enhancement

#677 Add compilation framework
  speechnn/CMakeLists.txt
  speechnn/core/decoder/CMakeLists.txt
Labels: Deployment

#692 fix conf for new datapipe; u2 export inputspec
  deepspeech/exps/u2/model.py
  examples/librispeech/s1/conf/chunk_confermer.yaml
  examples/librispeech/s1/conf/chunk_transformer.yaml
  examples/librispeech/s1/conf/conformer.yaml
  examples/librispeech/s1/conf/transformer.yaml
Labels: Example, enhancement

#693 add thchs30 dataset
  examples/dataset/aishell/aishell.py
  examples/dataset/thchs30/.gitignore
  examples/dataset/thchs30/thchs30.py
Labels: Example

#680 checkpoint refactor to save disk space
  deepspeech/training/trainer.py
  deepspeech/utils/checkpoint.py
  examples/aishell/s0/conf/deepspeech2.yaml
  examples/aishell/s1/conf/chunk_conformer.yaml
  examples/aishell/s1/conf/conformer.yaml
  examples/librispeech/s0/conf/deepspeech2.yaml
  examples/librispeech/s1/conf/chunk_confermer.yaml
  examples/librispeech/s1/conf/chunk_transformer.yaml
  examples/librispeech/s1/conf/conformer.yaml
  examples/librispeech/s1/conf/transformer.yaml
  examples/tiny/s0/conf/deepspeech2.yaml
  examples/tiny/s1/conf/chunk_confermer.yaml
  examples/tiny/s1/conf/chunk_transformer.yaml
  examples/tiny/s1/conf/conformer.yaml
  examples/tiny/s1/conf/transformer.yaml
Labels: Example, enhancement
