Repository PaddlePaddle/PaddleSpeech, pull requests merged in 2021-07, with the labels that each got.

#629 ctc alignment
  deepspeech/exps/u2/model.py
  deepspeech/utils/ctc_utils.py
  deepspeech/utils/text_grid.py
  deepspeech/utils/utility.py
  examples/aishell/s1/local/align.sh
  examples/aishell/s1/run.sh
  examples/librispeech/s1/local/align.sh
  examples/librispeech/s1/run.sh
  examples/tiny/s1/local/align.sh
  examples/tiny/s1/run.sh
  tools/Makefile
Labels: Documentation, Example, Installation, README, enhancement

#697 fix ckpt load
  deepspeech/models/u2.py
  deepspeech/utils/checkpoint.py
  examples/aishell/s1/run.sh
Labels: Example, enhancement

#701 fix load param
  deepspeech/utils/checkpoint.py
Labels: enhancement

#702 add timit dataset
  examples/dataset/gigaspeech/run.sh
  examples/dataset/thchs30/thchs30.py
  examples/dataset/timit/.gitignore
  examples/dataset/timit/timit.py
  utils/utility.py
Labels: Example

#703 fix sha bone; more detial of chunk exp;
  examples/aishell/s0/local/client.sh
  examples/aishell/s0/local/data.sh
  examples/aishell/s0/local/download_lm_ch.sh
  examples/aishell/s0/local/export.sh
  examples/aishell/s0/local/server.sh
  examples/aishell/s0/local/test.sh
  examples/aishell/s0/local/train.sh
  examples/aishell/s0/local/tune.sh
  examples/aishell/s1/README.md
  examples/aishell/s1/local/align.sh
  examples/aishell/s1/local/data.sh
  examples/aishell/s1/local/export.sh
  examples/aishell/s1/local/test.sh
  examples/aishell/s1/local/train.sh
  examples/librispeech/s0/local/data.sh
  examples/librispeech/s0/local/download_lm_en.sh
  examples/librispeech/s0/local/export.sh
  examples/librispeech/s0/local/test.sh
  examples/librispeech/s0/local/train.sh
  examples/librispeech/s0/local/tune.sh
  examples/librispeech/s1/README.md
  examples/librispeech/s1/conf/chunk_confermer.yaml
  examples/librispeech/s1/local/align.sh
  examples/librispeech/s1/local/data.sh
  examples/librispeech/s1/local/download_lm_en.sh
  examples/librispeech/s1/local/export.sh
  examples/librispeech/s1/local/test.sh
  examples/librispeech/s1/local/train.sh
  examples/tiny/s0/local/data.sh
  examples/tiny/s0/local/download_lm_en.sh
  examples/tiny/s0/local/export.sh
  examples/tiny/s0/local/test.sh
  examples/tiny/s0/local/train.sh
  examples/tiny/s0/local/tune.sh
  examples/tiny/s1/local/align.sh
  examples/tiny/s1/local/data.sh
  examples/tiny/s1/local/export.sh
  examples/tiny/s1/local/test.sh
  examples/tiny/s1/local/train.sh
Labels: Example, README

#696 mfa install
  .gitignore
  tools/install/README.md
  tools/install/install_gcc.sh
  tools/install/install_kaldi.sh
  tools/install/install_mfa.sh
  tools/install/install_miniconda.sh
  tools/install/install_mkl.sh
  tools/install/install_ngram.sh
  tools/install/install_openblas.sh
  tools/install/install_openfst.sh
  tools/install/install_pynini.sh
Labels: Installation, README

#704 comment u2 model for easy understand
  deepspeech/models/u2.py
  deepspeech/modules/encoder.py
Labels: enhancement

#705 Fix librispeech s0
  examples/aishell/s1/local/download_lm_ch.sh
  examples/dataset/librispeech/librispeech.py
  examples/librispeech/s0/conf/augmentation.json
  examples/librispeech/s1/README.md
  examples/librispeech/s1/conf/chunk_conformer.yaml
  examples/tiny/s1/local/download_lm_en.sh
  tools/Makefile
Labels: Example, Installation, README

#711 libri s0 w/ spec-aug result
  examples/dataset/aishell/aishell.py
  examples/librispeech/s0/README.md
Labels: Example, README

#714 revise load parameters
  deepspeech/models/deepspeech2.py
Labels: enhancement

#718 add related scripts of TIMIT
  examples/dataset/timit/timit_kaldi_standard_split.py
  examples/timit/README.md
  examples/timit/conf/augmentation.json
  examples/timit/conf/dev_spk.list
  examples/timit/conf/phones.60-48-39.map
  examples/timit/conf/test_spk.list
  examples/timit/conf/transformer.yaml
  examples/timit/local/align.sh
  examples/timit/local/data.sh
  examples/timit/local/export.sh
  examples/timit/local/test.sh
  examples/timit/local/timit_data_prep.sh
  examples/timit/local/timit_norm_trans.pl
  examples/timit/local/train.sh
  examples/timit/path.sh
  examples/timit/run.sh
Labels: Example, README

#719 Refine the example TIMIT
  examples/timit/s1/README.md
  examples/timit/s1/conf/augmentation.json
  examples/timit/s1/conf/dev_spk.list
  examples/timit/s1/conf/phones.60-48-39.map
  examples/timit/s1/conf/test_spk.list
  examples/timit/s1/conf/transformer.yaml
  examples/timit/s1/local/align.sh
  examples/timit/s1/local/data.sh
  examples/timit/s1/local/export.sh
  examples/timit/s1/local/test.sh
  examples/timit/s1/local/timit_data_prep.sh
  examples/timit/s1/local/timit_norm_trans.pl
  examples/timit/s1/local/train.sh
  examples/timit/s1/path.sh
  examples/timit/s1/run.sh
Labels: Example, README

#658 add text normalization example
  examples/text_normalization/README.md
  examples/text_normalization/data/sentences.txt
  examples/text_normalization/local/test_normalization.py
  examples/text_normalization/path.sh
  examples/text_normalization/run.sh
  third_party/text_processing/__ini__.py
  third_party/text_processing/__init__.py
  third_party/text_processing/normalization/__init__.py
  third_party/text_processing/normalization/char_convert.py
  third_party/text_processing/normalization/chronology.py
  third_party/text_processing/normalization/constants.py
  third_party/text_processing/normalization/num.py
  third_party/text_processing/normalization/phone.py
  third_party/text_processing/normalization/quantifier.py
  third_party/text_processing/normalization/sentence_split.py
Labels: Example, README

#722 Jere -> Here
  examples/text_normalization/README.md
Labels: Example, README

#720 增加autoLog
  deepspeech/exps/deepspeech2/model.py
  deepspeech/utils/log.py
  setup.sh
Labels: Documentation, Example, Installation, enhancement

#723 fix autolog install; only autolog in test, or will hangup
  .gitignore
  deepspeech/exps/deepspeech2/model.py
  deepspeech/utils/log.py
  examples/dataset/timit/timit_kaldi_standard_split.py
  examples/timit/s1/README.md
  setup.sh
Labels: Example, Installation, README, enhancement

#729 TLG graph
  deepspeech/utils/log.py
  examples/aishell/s1/local/aishell_train_lms.sh
  examples/aishell/s1/local/tlg.sh
  examples/aishell/s1/path.sh
  examples/aishell/s1/run.sh
  examples/aishell/s1/utils
  examples/dataset/aishell/.gitignore
  tools/extras/README.md
  tools/extras/install_gcc.sh
  tools/extras/install_kaldi.sh
  tools/extras/install_kenlm.sh
  tools/extras/install_liblbfgs.sh
  tools/extras/install_mfa.sh
  tools/extras/install_miniconda.sh
  tools/extras/install_mkl.sh
  tools/extras/install_ngram.sh
  tools/extras/install_openblas.sh
  tools/extras/install_openfst.sh
  tools/extras/install_pynini.sh
  tools/extras/install_srilm.sh
  tools/extras/srilm.patch
  utils/__init__.py
  utils/filter_scp.pl
  utils/fst/add_lex_disambig.pl
  utils/fst/compile_lexicon_token_fst.sh
  utils/fst/ctc_token_fst.py
  utils/fst/ctc_token_fst_corrected.py
  utils/fst/eps2disambig.pl
  utils/fst/make_lexicon_fst.pl
  utils/fst/make_tlg.sh
  utils/fst/prepare_dict.py
  utils/fst/remove_oovs.pl
  utils/fst/rnnt_token_fst.py
  utils/fst/s2eps.pl
  utils/manifest_key_value.py
  utils/ngram_train.sh
  utils/utility.py
Labels: Example, Installation, README, enhancement

#730 refactor egs readme
  examples/aishell/README.md
  examples/librispeech/README.md
  examples/thchs30/README.md
  examples/thchs30/a0/README.md
  examples/timit/README.md
Labels: Example, README

#732 fix dataset meta path
  examples/dataset/aidatatang_200zh/aidatatang_200zh.py
  examples/dataset/aishell/aishell.py
  examples/dataset/librispeech/librispeech.py
  examples/dataset/mini_librispeech/mini_librispeech.py
  examples/dataset/thchs30/thchs30.py
  examples/dataset/timit/timit.py
Labels: Example

#734 change the dir
  deepspeech/exps/deepspeech2/config.py
  deepspeech/exps/deepspeech2/model.py
  deepspeech/models/ds2/__init__.py
  deepspeech/models/ds2/conv.py
  deepspeech/models/ds2/deepspeech2.py
  deepspeech/models/ds2/rnn.py
Labels: enhancement

#733 fix chunk mode test script
  examples/aishell/s1/local/test.sh
  examples/librispeech/s1/local/test.sh
  examples/timit/s1/local/test.sh
  examples/tiny/s1/local/test.sh
Labels: Example

#737 Fixing bug
  examples/aishell/s0/local/server.sh
  examples/dataset/librispeech/librispeech.py
  examples/dataset/mini_librispeech/mini_librispeech.py
Labels: Example
