Repository PaddlePaddle/PaddleSpeech, pull requests merged in 2021-09, with the labels that each got.

#801 paddle support some bool op
  deepspeech/models/u2.py
  deepspeech/models/u2_st.py
  deepspeech/modules/attention.py
  deepspeech/modules/decoder.py
  deepspeech/modules/encoder.py
  deepspeech/modules/loss.py
  deepspeech/modules/mask.py
  deepspeech/utils/tensor_utils.py
  doc/src/reference.md
  tests/mask_test.py
Labels: enhancement, Documentation

#802 fix the bug of sharing cell in BiGRU and BIRNN
  README.md
  README_cn.md
  deepspeech/models/ds2/rnn.py
  deepspeech/modules/ctc.py
  examples/aishell/s0/README.md
  utils/avg.sh
Labels: enhancement, README, Example

#808 remove useless doc and put FAQ to discussions
  README.md
  README_cn.md
  doc/src/faq.md
  doc/src/feature_list.md
  doc/src/ngram_lm.md
  doc/src/server.md
Labels: Documentation, README

#809 add blank_id parameter
  deepspeech/decoders/swig/ctc_beam_search_decoder.cpp
  deepspeech/decoders/swig/ctc_beam_search_decoder.h
  deepspeech/decoders/swig/ctc_greedy_decoder.cpp
  deepspeech/decoders/swig/ctc_greedy_decoder.h
  deepspeech/decoders/swig/setup.py
  deepspeech/decoders/swig_wrapper.py
  deepspeech/models/ds2/deepspeech2.py
  deepspeech/models/ds2_online/deepspeech2.py
  deepspeech/modules/ctc.py
  examples/aishell/s0/conf/deepspeech2.yaml
  examples/aishell/s0/conf/deepspeech2_online.yaml
  examples/librispeech/s0/conf/deepspeech2.yaml
  examples/librispeech/s0/conf/deepspeech2_online.yaml
  examples/tiny/s0/conf/deepspeech2.yaml
  examples/tiny/s0/conf/deepspeech2_online.yaml
Labels: enhancement, Example

#810 Add doc: ds2 online and ds2 offline
  doc/src/released_model.md
Labels: Documentation

#812 fix recipe train and avg shell
  examples/aishell/s0/local/client.sh
  examples/aishell/s0/local/server.sh
  examples/aishell/s0/local/train.sh
  examples/aishell/s0/local/tune.sh
  examples/aishell/s0/run.sh
  examples/aishell/s1/local/train.sh
  examples/aishell/s1/run.sh
  examples/callcenter/s1/local/train.sh
  examples/callcenter/s1/run.sh
  examples/librispeech/s0/README.md
  examples/librispeech/s0/local/train.sh
  examples/librispeech/s0/local/tune.sh
  examples/librispeech/s0/run.sh
  examples/librispeech/s1/local/train.sh
  examples/librispeech/s1/run.sh
  examples/librispeech/s2/local/train.sh
  examples/librispeech/s2/run.sh
  examples/punctuation_restoration/README.md
  examples/ted_en_zh/t0/local/train.sh
  examples/ted_en_zh/t0/run.sh
  examples/timit/s1/local/train.sh
  examples/timit/s1/run.sh
  examples/tiny/s0/local/train.sh
  examples/tiny/s0/run.sh
  examples/tiny/s1/local/train.sh
  examples/tiny/s1/run.sh
Labels: README, Example

#813 relax librispeech audio max len to 30 second
  deepspeech/io/dataloader.py
  examples/librispeech/s0/conf/deepspeech2.yaml
  examples/librispeech/s0/conf/deepspeech2_online.yaml
  examples/librispeech/s2/conf/transformer.yaml
  examples/tiny/s0/conf/deepspeech2.yaml
  examples/tiny/s1/conf/chunk_confermer.yaml
Labels: enhancement, Example

#814 support no_sync for backward; ds support accum grad
  deepspeech/__init__.py
  deepspeech/exps/deepspeech2/model.py
  deepspeech/exps/u2/model.py
  deepspeech/exps/u2_kaldi/model.py
  deepspeech/exps/u2_st/model.py
  deepspeech/modules/activation.py
  examples/aishell/s0/conf/deepspeech2.yaml
  examples/aishell/s0/conf/deepspeech2_online.yaml
  examples/librispeech/s0/conf/deepspeech2.yaml
  examples/librispeech/s0/conf/deepspeech2_online.yaml
  examples/tiny/s0/conf/deepspeech2.yaml
  examples/tiny/s0/conf/deepspeech2_online.yaml
Labels: enhancement, Example

#815 add timer
  deepspeech/training/timer.py
  deepspeech/training/trainer.py
Labels: enhancement

#816 float_mul_bool type promote, rhs type promote to lhs type
  deepspeech/models/ds2/conv.py
  deepspeech/models/ds2/rnn.py
  deepspeech/modules/conv.py
  deepspeech/modules/loss.py
  deepspeech/modules/rnn.py
Labels: enhancement

#817 export ctc grad norm config
  deepspeech/models/ds2/deepspeech2.py
  deepspeech/models/ds2_online/deepspeech2.py
  deepspeech/models/u2.py
  deepspeech/models/u2_st.py
  deepspeech/modules/ctc.py
  deepspeech/modules/loss.py
  examples/aishell/s0/conf/deepspeech2.yaml
  examples/aishell/s0/conf/deepspeech2_online.yaml
  examples/librispeech/s0/conf/deepspeech2.yaml
  examples/librispeech/s0/conf/deepspeech2_online.yaml
  examples/tiny/s0/conf/deepspeech2.yaml
  examples/tiny/s0/conf/deepspeech2_online.yaml
Labels: enhancement, Example

#818 Doc for ds2 online and ds2 offline
  doc/images/ds2offlineModel.png
  doc/images/ds2onlineModel.png
  doc/src/deepspeech_architecture.md
Labels: Documentation

#819 add timer info
  deepspeech/training/gradclip.py
  deepspeech/training/timer.py
  deepspeech/training/trainer.py
  doc/src/deepspeech_architecture.md
Labels: enhancement, Documentation

#820 more ctc config
  deepspeech/exps/u2/model.py
  deepspeech/exps/u2_kaldi/model.py
  deepspeech/exps/u2_st/model.py
  deepspeech/models/u2.py
  deepspeech/models/u2_st.py
  deepspeech/modules/loss.py
  deepspeech/training/gradclip.py
  doc/src/deepspeech_architecture.md
  examples/aishell/s1/conf/chunk_conformer.yaml
  examples/aishell/s1/conf/conformer.yaml
  examples/librispeech/s1/conf/chunk_conformer.yaml
  examples/librispeech/s1/conf/chunk_transformer.yaml
  examples/librispeech/s1/conf/conformer.yaml
  examples/librispeech/s1/conf/transformer.yaml
  examples/librispeech/s1/local/train.sh
  examples/librispeech/s2/conf/chunk_conformer.yaml
  examples/librispeech/s2/conf/chunk_transformer.yaml
  examples/librispeech/s2/conf/conformer.yaml
  examples/librispeech/s2/conf/transformer.yaml
  examples/ted_en_zh/t0/conf/transformer.yaml
  examples/ted_en_zh/t0/conf/transformer_joint_noam.yaml
  examples/timit/s1/conf/transformer.yaml
  examples/tiny/s1/conf/chunk_confermer.yaml
  examples/tiny/s1/conf/chunk_transformer.yaml
  examples/tiny/s1/conf/conformer.yaml
  examples/tiny/s1/conf/transformer.yaml
Labels: enhancement, Documentation, Example

#822 fix norm_by_batchsize
  deepspeech/modules/loss.py
Labels: enhancement

#824 more doc for egs
  deepspeech/exps/u2/bin/train.py
  doc/images/multi_gpu_speedup.png
  doc/images/tuning_error_surface.png
  doc/src/benchmark.md
  docs/images/ds2offlineModel.png
  docs/images/ds2onlineModel.png
  docs/src/augmentation.md
  docs/src/data_preparation.md
  docs/src/deepspeech_architecture.md
  docs/src/feature_list.md
  docs/src/getting_started.md
  docs/src/install.md
  docs/src/ngram_lm.md
  docs/src/reference.md
  docs/src/released_model.md
  examples/cc-cedict/README.md
  examples/chinese_g2p/README.md
  examples/g2p/.gitignore
  examples/g2p/README.md
  examples/g2p/zh/README.md
  examples/g2p/zh/local/convert_transcription.py
  examples/g2p/zh/local/extract_pinyin_label.py
  examples/g2p/zh/local/ignore_sandhi.py
  examples/g2p/zh/local/prepare_dataset.sh
  examples/g2p/zh/path.sh
  examples/g2p/zh/requirements.txt
  examples/g2p/zh/run.sh
  examples/ngram_lm/READEME.md
  examples/ngram_lm/s0/.gitignore
  examples/ngram_lm/s0/README.md
  examples/spm/README.md
  examples/text_normalization/README.md
  examples/tn/.gitignore
  examples/tn/README.md
  examples/tn/data/sentences.txt
  examples/tn/local/test_normalization.py
  examples/tn/path.sh
  examples/tn/run.sh
Labels: enhancement, Documentation, README, Example

#828 do not set seed since break model covergence, aishell s0 seed 10086 test ok
  examples/aishell/s0/local/train.sh
  examples/aishell/s1/local/train.sh
  examples/callcenter/s1/local/train.sh
  examples/librispeech/s0/local/train.sh
  examples/librispeech/s1/local/train.sh
  examples/librispeech/s2/local/train.sh
  examples/ted_en_zh/t0/local/train.sh
  examples/timit/s1/local/train.sh
  examples/tiny/s0/local/train.sh
  examples/tiny/s0/local/tune.sh
  examples/tiny/s1/local/train.sh
Labels: Example

#829 add op profiling
  deepspeech/exps/u2/bin/train.py
  deepspeech/exps/u2/model.py
  deepspeech/exps/u2_kaldi/model.py
  deepspeech/exps/u2_st/model.py
  deepspeech/training/cli.py
  deepspeech/training/trainer.py
  deepspeech/utils/profiler.py
  examples/aishell/s1/local/train.sh
  examples/librispeech/s0/conf/deepspeech2.yaml
  examples/tiny/s0/local/train.sh
Labels: enhancement, Example

#831 Benchmark
  deepspeech/exps/u2/model.py
  deepspeech/training/extensions/snapshot.py
  deepspeech/training/trainer.py
  deepspeech/utils/profiler.py
  examples/tiny/s0/conf/deepspeech2.yaml
  examples/tiny/s0/local/train.sh
  tests/benchmark/.gitignore
  tests/benchmark/README.md
  tests/benchmark/run_all.sh
  tests/benchmark/run_benchmark.sh
  utils/pd_env_collect.sh
Labels: enhancement, README, Example

#837 support benchmark scripts
  README.md
  README_cn.md
  deepspeech/exps/deepspeech2/bin/tune.py
  deepspeech/exps/deepspeech2/model.py
  deepspeech/exps/u2/model.py
  deepspeech/exps/u2/trainer.py
  deepspeech/exps/u2_kaldi/model.py
  deepspeech/exps/u2_st/model.py
  deepspeech/models/u2/u2.py
  deepspeech/models/u2_st.py
  deepspeech/training/cli.py
  deepspeech/training/extensions/evaluator.py
  deepspeech/training/reporter.py
  deepspeech/training/trainer.py
  deepspeech/training/updaters/trainer.py
  deepspeech/utils/utility.py
  docs/src/install.md
  docs/src/reference.md
  examples/aishell/s1/local/train.sh
  examples/tiny/s0/local/train.sh
  examples/tiny/s1/local/train.sh
  tests/benchmark/run_all.sh
  tests/benchmark/run_benchmark.sh
Labels: enhancement, README, Example

#839 Kaldi
  deepspeech/io/dataset.py
  third_party/__init__.py
  third_party/paddle_audio/__init__.py
  third_party/paddle_audio/frontend.py
  third_party/paddle_audio/frontend/common.py
  third_party/paddle_audio/frontend/english.wav
  third_party/paddle_audio/frontend/kaldi.py
  third_party/paddle_audio/frontend/kaldi_test.py
Labels: enhancement

#840 change type_as to astype
  deepspeech/modules/encoder.py
Labels: enhancement

#833 varbase getitem support np.longlong since paddle 2.2.0RC
  deepspeech/exps/u2/model.py
  deepspeech/exps/u2_kaldi/model.py
  deepspeech/exps/u2_st/model.py
  deepspeech/utils/ctc_utils.py
Labels: enhancement, conflicts

#844 fix bench
  examples/tiny/s1/conf/augmentation.json
  tests/benchmark/run_benchmark.sh
Labels: Example

#838 add transformed v1.8 model
  deepspeech/frontend/featurizer/text_featurizer.py
  deepspeech/frontend/normalizer.py
  deepspeech/frontend/utility.py
  examples/v18_to_v2x/.gitignore
  examples/v18_to_v2x/deepspeech2x/__init__.py
  examples/v18_to_v2x/deepspeech2x/bin/test.py
  examples/v18_to_v2x/deepspeech2x/model.py
  examples/v18_to_v2x/deepspeech2x/models/__init__.py
  examples/v18_to_v2x/deepspeech2x/models/ds2/__init__.py
  examples/v18_to_v2x/deepspeech2x/models/ds2/deepspeech2.py
  examples/v18_to_v2x/deepspeech2x/models/ds2/rnn.py
  examples/v18_to_v2x/exp_aishell/.gitignore
  examples/v18_to_v2x/exp_aishell/conf/augmentation.json
  examples/v18_to_v2x/exp_aishell/conf/deepspeech2.yaml
  examples/v18_to_v2x/exp_aishell/local/data.sh
  examples/v18_to_v2x/exp_aishell/local/download_lm_ch.sh
  examples/v18_to_v2x/exp_aishell/local/download_model.sh
  examples/v18_to_v2x/exp_aishell/local/test.sh
  examples/v18_to_v2x/exp_aishell/path.sh
  examples/v18_to_v2x/exp_aishell/run.sh
  examples/v18_to_v2x/exp_baidu_en8k/.gitignore
  examples/v18_to_v2x/exp_baidu_en8k/conf/augmentation.json
  examples/v18_to_v2x/exp_baidu_en8k/conf/deepspeech2.yaml
  examples/v18_to_v2x/exp_baidu_en8k/local/data.sh
  examples/v18_to_v2x/exp_baidu_en8k/local/download_lm_en.sh
  examples/v18_to_v2x/exp_baidu_en8k/local/download_model.sh
  examples/v18_to_v2x/exp_baidu_en8k/local/test.sh
  examples/v18_to_v2x/exp_baidu_en8k/path.sh
  examples/v18_to_v2x/exp_baidu_en8k/run.sh
  examples/v18_to_v2x/exp_librispeech/.gitignore
  examples/v18_to_v2x/exp_librispeech/conf/augmentation.json
  examples/v18_to_v2x/exp_librispeech/conf/deepspeech2.yaml
  examples/v18_to_v2x/exp_librispeech/local/data.sh
  examples/v18_to_v2x/exp_librispeech/local/download_lm_en.sh
  examples/v18_to_v2x/exp_librispeech/local/download_model.sh
  examples/v18_to_v2x/exp_librispeech/local/test.sh
  examples/v18_to_v2x/exp_librispeech/path.sh
  examples/v18_to_v2x/exp_librispeech/run.sh
Labels: enhancement, Example

#847 resume train with epoch and iteration increase
  deepspeech/exps/u2/model.py
  deepspeech/exps/u2_kaldi/model.py
  deepspeech/exps/u2_st/model.py
  deepspeech/training/trainer.py
Labels: enhancement

#850 batch WaveDataset
  deepspeech/exps/u2/model.py
  deepspeech/io/collator.py
  deepspeech/io/dataset.py
  deepspeech/training/trainer.py
Labels: enhancement

#853 Fix bug of parallel using condition
  deepspeech/training/trainer.py
Labels: enhancement

#854 space as <space>
  deepspeech/decoders/swig/ctc_beam_search_decoder.cpp
  deepspeech/frontend/featurizer/text_featurizer.py
  deepspeech/frontend/utility.py
  utils/build_vocab.py
  utils/split_scp.pl
Labels: enhancement

#855 fix the ctc.cpp bug
  deepspeech/decoders/swig/ctc_beam_search_decoder.cpp
Labels: enhancement

#856 Fix bugs of space id in score.cpp and unuse detokenize
  deepspeech/decoders/swig/scorer.cpp
  deepspeech/exps/deepspeech2/model.py
  deepspeech/frontend/featurizer/text_featurizer.py
Labels: enhancement

#857 fix the run.sh in g2p/zh
  examples/g2p/zh/run.sh
Labels: Example

#851 Optimize the 1xt2x code
  deepspeech/frontend/featurizer/text_featurizer.py
  examples/1xt2x/aishell/.gitignore
  examples/1xt2x/aishell/local/data.sh
  examples/1xt2x/aishell/local/download_model.sh
  examples/1xt2x/aishell/path.sh
  examples/1xt2x/aishell/run.sh
  examples/1xt2x/baidu_en8k/.gitignore
  examples/1xt2x/baidu_en8k/local/data.sh
  examples/1xt2x/baidu_en8k/local/download_model.sh
  examples/1xt2x/baidu_en8k/path.sh
  examples/1xt2x/baidu_en8k/run.sh
  examples/1xt2x/librispeech/.gitignore
  examples/1xt2x/librispeech/local/data.sh
  examples/1xt2x/librispeech/local/download_model.sh
  examples/1xt2x/librispeech/path.sh
  examples/1xt2x/librispeech/run.sh
  examples/1xt2x/src_deepspeech2x/__init__.py
  examples/1xt2x/src_deepspeech2x/bin/test.py
  examples/1xt2x/src_deepspeech2x/models/__init__.py
  examples/1xt2x/src_deepspeech2x/models/ds2/__init__.py
  examples/1xt2x/src_deepspeech2x/models/ds2/deepspeech2.py
  examples/1xt2x/src_deepspeech2x/models/ds2/rnn.py
  examples/1xt2x/src_deepspeech2x/test_model.py
  utils/format_data.py
Labels: enhancement, Example

#858 ctc using nn.Dropout; ds2 libri vald batch_size / 4
  deepspeech/exps/deepspeech2/model.py
  deepspeech/modules/ctc.py
  deepspeech/modules/loss.py
  examples/librispeech/s1/conf/transformer.yaml
Labels: enhancement, Example

#860 optimize the log
  deepspeech/exps/u2/model.py
  deepspeech/training/trainer.py
Labels: enhancement

#862 Add bin for hub（test single wav file）
  deepspeech/exps/deepspeech2/bin/test_hub.py
  examples/aishell/s0/local/test_hub.sh
  examples/aishell/s0/run.sh
Labels: enhancement, Example

#861 more ctc check; valid dataloader with num workers
  deepspeech/exps/u2/model.py
  deepspeech/modules/ctc.py
  deepspeech/modules/loss.py
Labels: enhancement

#865 fix collator test
  deepspeech/exps/deepspeech2/model.py
  deepspeech/exps/u2/model.py
  deepspeech/exps/u2_st/model.py
  deepspeech/frontend/featurizer/audio_featurizer.py
  deepspeech/frontend/featurizer/speech_featurizer.py
  deepspeech/frontend/utility.py
  deepspeech/io/collator.py
  deepspeech/io/dataset.py
  deepspeech/io/reader.py
  docs/src/data_preparation.md
  docs/src/deepspeech_architecture.md
  examples/1xt2x/aishell/conf/deepspeech2.yaml
  examples/1xt2x/baidu_en8k/conf/deepspeech2.yaml
  examples/1xt2x/librispeech/conf/deepspeech2.yaml
  examples/aishell/s0/conf/deepspeech2.yaml
  examples/aishell/s0/conf/deepspeech2_online.yaml
  examples/aishell/s0/local/data.sh
  examples/aishell/s1/conf/chunk_conformer.yaml
  examples/aishell/s1/conf/conformer.yaml
  examples/aishell/s1/local/data.sh
  examples/aishell/s1/local/test.sh
  examples/callcenter/s1/conf/chunk_conformer.yaml
  examples/callcenter/s1/conf/conformer.yaml
  examples/callcenter/s1/local/data.sh
  examples/callcenter/s1/local/test.sh
  examples/librispeech/s0/conf/deepspeech2.yaml
  examples/librispeech/s0/conf/deepspeech2_online.yaml
  examples/librispeech/s0/local/data.sh
  examples/librispeech/s1/conf/chunk_conformer.yaml
  examples/librispeech/s1/conf/chunk_transformer.yaml
  examples/librispeech/s1/conf/conformer.yaml
  examples/librispeech/s1/conf/transformer.yaml
  examples/librispeech/s1/local/data.sh
  examples/librispeech/s2/conf/chunk_conformer.yaml
  examples/librispeech/s2/conf/chunk_transformer.yaml
  examples/librispeech/s2/conf/conformer.yaml
  examples/librispeech/s2/local/data.sh
  examples/ted_en_zh/t0/conf/transformer.yaml
  examples/ted_en_zh/t0/conf/transformer_joint_noam.yaml
  examples/ted_en_zh/t0/local/data.sh
  examples/ted_en_zh/t0/local/test.sh
  examples/timit/s1/conf/transformer.yaml
  examples/timit/s1/local/data.sh
  examples/timit/s1/local/test.sh
  examples/tiny/s0/conf/deepspeech2.yaml
  examples/tiny/s0/conf/deepspeech2_online.yaml
  examples/tiny/s0/local/data.sh
  examples/tiny/s1/conf/chunk_confermer.yaml
  examples/tiny/s1/conf/chunk_transformer.yaml
  examples/tiny/s1/conf/conformer.yaml
  examples/tiny/s1/conf/transformer.yaml
  examples/tiny/s1/local/data.sh
  examples/tiny/s1/local/test.sh
  examples/tiny/s1/run.sh
  utils/compute_mean_std.py
Labels: enhancement, Example

#867 update the results of TIMIT and Ted-ST
  deepspeech/models/u2_st.py
  examples/ted_en_zh/t0/README.md
  examples/timit/s1/README.md
  examples/timit/s1/conf/transformer.yaml
Labels: enhancement, README, Example

#869 add input checker for hub
  deepspeech/exps/deepspeech2/bin/test_hub.py
Labels: enhancement

#871 update chain test script
  tests/chains/README.md
  tests/chains/ds2_params_lite_train_infer.txt
  tests/chains/ds2_params_whole_train_infer.txt
  tests/chains/speedyspeech_params_lite.txt
  tests/chains/test.sh
Labels: README
