Repository PaddlePaddle/PaddleSpeech, pull requests merged in 2021-12, with the labels that each got.

#1062 [bugfix] fix tiny conf and librispeech asr2 ctc grad norm conf
  examples/librispeech/asr2/conf/transformer.yaml
  examples/tiny/asr1/conf/chunk_confermer.yaml
  examples/tiny/asr1/conf/chunk_transformer.yaml
  examples/tiny/asr1/conf/conformer.yaml
  examples/tiny/asr1/conf/transformer.yaml
  utils/pack_model.sh
Labels: Example

#1061 [Bug Fix] fix bugs in the data reader
  examples/ted_en_zh/st0/local/data.sh
  paddlespeech/s2t/frontend/utility.py
Labels: Example, S2T

#1058 [benchmark]fix the benchmark
  paddlespeech/s2t/training/trainer.py
  tests/benchmark/conformer/prepare.sh
  tests/benchmark/conformer/run.sh
  tests/benchmark/conformer/run_benchmark.sh
Labels: S2T

#1064 [ST] update data process
  examples/ted_en_zh/st0/conf/transformer_mtl_noam.yaml
  examples/ted_en_zh/st0/local/data.sh
  examples/ted_en_zh/st0/run.sh
  utils/build_vocab.py
Labels: Example

#1065 [ST] activate eval mode in translation demo function
  examples/ted_en_zh/st0/conf/transformer_mtl_noam.yaml
  paddlespeech/s2t/exps/u2_st/model.py
Labels: Example, S2T

#1067 [asr]update librispeech asr1 transformer result
  examples/librispeech/asr1/RESULTS.md
  examples/librispeech/asr1/conf/transformer.yaml
Labels: Example

#1048 [CLI]Update asr inference in paddlespeech.cli.
  paddlespeech/cli/README.md
  paddlespeech/cli/__init__.py
  paddlespeech/cli/asr/__init__.py
  paddlespeech/cli/asr/infer.py
  paddlespeech/cli/entry.py
  paddlespeech/cli/executor.py
  paddlespeech/cli/s2t/conf/default_conf.yaml
  paddlespeech/cli/s2t/infer.py
  paddlespeech/cli/tts/__init.__py
  paddlespeech/cli/utils.py
Labels: README

#1063 [Setup]optimize the setup.py and setup.sh
  docs/source/install.md
  requirements.txt
  setup.cfg
  setup.py
  setup.sh
  tools/Makefile
Labels: Documentation, Installation

#1069 [install] install with conda
  .gitignore
  docs/source/install.md
  examples/librispeech/asr1/RESULTS.md
  setup.py
  tools/Makefile
  tools/extras/install_miniconda.sh
  tools/setup_anaconda.sh
Labels: Documentation, Installation, Example

#1070 [doc]fix index
  docs/source/index.rst
Labels: Documentation

#1076 [Bug Fix]fix the setup.py
  setup.py
Labels: Installation

#1078 Update README.md
  demos/metaverse/README.md
Labels: README, Demo

#1080 [demos][docs]update demos readme
  demos/story_talker/README.md
  demos/style_fs2/README.md
Labels: README, Demo

#1082 [setup.py]change the required py_version
  setup.py
Labels: Installation

#1088 [setup.py]remove the py3.6 in setup.py
  setup.py
Labels: Installation

#1086 [Demo]Update asr and audio tagging demo.
  demos/asr_hub/README.md
  demos/asr_hub/hub_infer.py
  demos/asr_hub/run.sh
  demos/audio_tagging/README.md
  demos/echo_hub/.gitignore
  demos/echo_hub/README.md
  demos/echo_hub/hub_infer.py
  demos/echo_hub/run.sh
  demos/speech_recognition/README.md
  demos/tts_hub/README.md
  demos/tts_hub/hub_infer.py
  demos/tts_hub/run.sh
Labels: README, Demo

#1089 [Demo]Add st demo.
  demos/audio_tagging/README.md
  demos/speech_recognition/README.md
  demos/speech_translation/README.md
  paddlespeech/cli/asr/infer.py
  paddlespeech/cli/cls/infer.py
  paddlespeech/cli/st/infer.py
Labels: README, Demo

#1093 [ST CLI] rm kaldi_io
  paddlespeech/cli/st/infer.py
  setup.py
Labels: Installation

#1094 Update README.md
  README.md
Labels: README

#1095 [Demo]Add tts demo.
  demos/audio_tagging/README.md
  demos/audio_tagging/run.sh
  demos/speech_recognition/README.md
  demos/speech_recognition/run.sh
  demos/speech_translation/README.md
  demos/speech_translation/run.sh
  demos/text_to_speech/README.md
  demos/text_to_speech/run.sh
  paddlespeech/cli/asr/infer.py
  paddlespeech/cli/cls/infer.py
  paddlespeech/cli/download.py
  paddlespeech/cli/log.py
  paddlespeech/cli/st/infer.py
  paddlespeech/cli/tts/infer.py
  paddlespeech/cli/utils.py
Labels: README, Demo

#1096 [Setup]separate the sox and soxbindings with the requirements
  paddlespeech/s2t/frontend/audio.py
  paddlespeech/s2t/transform/perturb.py
  setup.py
Labels: Installation, S2T

#1099 [asr] remove ctc grad norm type in config
  examples/aishell/asr0/conf/deepspeech2_online.yaml
  examples/librispeech/asr0/conf/deepspeech2.yaml
  examples/librispeech/asr0/conf/deepspeech2_online.yaml
  examples/librispeech/asr1/conf/chunk_conformer.yaml
  examples/librispeech/asr1/conf/chunk_transformer.yaml
  examples/librispeech/asr1/conf/conformer.yaml
  examples/librispeech/asr1/conf/transformer.yaml
  examples/librispeech/asr2/conf/transformer.yaml
  examples/ted_en_zh/st0/conf/transformer.yaml
  examples/ted_en_zh/st0/conf/transformer_mtl_noam.yaml
  examples/ted_en_zh/st1/conf/transformer.yaml
  examples/ted_en_zh/st1/conf/transformer_mtl_noam.yaml
  examples/timit/asr1/conf/transformer.yaml
  examples/tiny/asr0/conf/deepspeech2.yaml
  examples/tiny/asr0/conf/deepspeech2_online.yaml
  examples/tiny/asr1/conf/chunk_confermer.yaml
  examples/tiny/asr1/conf/chunk_transformer.yaml
  examples/tiny/asr1/conf/conformer.yaml
  examples/tiny/asr1/conf/transformer.yaml
  examples/wenetspeech/asr1/conf/conformer.yaml
  paddlespeech/s2t/models/ds2/deepspeech2.py
  paddlespeech/s2t/models/ds2_online/deepspeech2.py
  paddlespeech/s2t/models/u2/u2.py
  paddlespeech/s2t/models/u2_st/u2_st.py
  tests/unit/asr/u2_model_test.py
Labels: Example, S2T

#1103 [Setup]move pypi-kenlm from install requirements to develop requirements
  setup.py
Labels: Installation

#1104 [README] Update ST and AC info in README.md
  README.md
  docs/source/released_model.md
Labels: Documentation, README

#1106 [doc]fix release model
  docs/source/released_model.md
Labels: Documentation

#1108 [demos]add conformer demos
  docs/source/tts/demo.rst
  paddlespeech/t2s/frontend/zh_frontend.py
Labels: Documentation, T2S

#1112 web demo for TTS
  README.md
Labels: README

#1115 [DOCS] Correct the grammar and spelling mistakes of install.md
  docs/source/install.md
Labels: Documentation

#1116 [asr] update librispeech conformer result
  examples/librispeech/asr1/RESULTS.md
  examples/librispeech/asr1/conf/chunk_conformer.yaml
  examples/librispeech/asr1/conf/chunk_transformer.yaml
  examples/librispeech/asr1/conf/conformer.yaml
Labels: Example

#1120 [asr]format and fix pre-commit
  dataset/aidatatang_200zh/aidatatang_200zh.py
  dataset/aishell/aishell.py
  dataset/librispeech/librispeech.py
  dataset/mini_librispeech/mini_librispeech.py
  dataset/musan/musan.py
  dataset/rir_noise/rir_noise.py
  dataset/thchs30/thchs30.py
  dataset/timit/timit.py
  dataset/voxforge/voxforge.py
  docs/source/released_model.md
  paddlespeech/cli/__init__.py
  paddlespeech/cls/exps/panns/deploy/predict.py
  paddlespeech/cls/exps/panns/export_model.py
  paddlespeech/cls/exps/panns/predict.py
  paddlespeech/cls/exps/panns/train.py
  paddlespeech/cls/models/panns/panns.py
  paddlespeech/s2t/frontend/audio.py
  paddlespeech/s2t/frontend/utility.py
  paddlespeech/s2t/io/sampler.py
  paddlespeech/s2t/models/ds2/__init__.py
  paddlespeech/s2t/models/ds2/deepspeech2.py
  paddlespeech/s2t/models/ds2_online/__init__.py
  paddlespeech/s2t/modules/ctc.py
  paddlespeech/s2t/training/trainer.py
  paddlespeech/s2t/transform/perturb.py
  utils/manifest_key_value.py
Labels: Documentation, S2T

#1117 [Install.md]Update install.md
  docs/source/install.md
Labels: Documentation

#1121 [README] Recent function updates and new QR code.
  README.md
  docs/images/wechat_group.png
Labels: Documentation, README

#1122 [install.md]remove the gcc and gxx in hard
  docs/source/install.md
Labels: Documentation

#1123 [install.md]Update install.md
  docs/source/install.md
Labels: Documentation

#1107 [Config]clear the u2 decode config for asr
  paddlespeech/cli/asr/infer.py
  paddlespeech/cli/st/infer.py
  paddlespeech/s2t/exps/deepspeech2/bin/test_hub.py
  paddlespeech/s2t/exps/deepspeech2/model.py
  paddlespeech/s2t/exps/u2/bin/test_wav.py
  paddlespeech/s2t/exps/u2/model.py
  paddlespeech/s2t/exps/u2_kaldi/model.py
  paddlespeech/s2t/exps/u2_st/model.py
  paddlespeech/s2t/frontend/featurizer/speech_featurizer.py
  paddlespeech/s2t/frontend/featurizer/text_featurizer.py
  paddlespeech/s2t/models/lm/dataset.py
  paddlespeech/s2t/models/u2/u2.py
  paddlespeech/s2t/models/u2_st/u2_st.py
  paddlespeech/s2t/transform/cmvn.py
Labels: S2T

#1127 [install.md]Update install.md
  docs/source/install.md
Labels: Documentation

#1129 [Readme] librispeech asr1
  examples/librispeech/asr1/README.md
  examples/librispeech/asr1/run.sh
Labels: README, Example

#1131 [Demo]Add automatic_video_subtitiles demo.
  demos/audio_tagging/README.md
  demos/automatic_video_subtitiles/README.md
  demos/automatic_video_subtitiles/recognize.py
  demos/automatic_video_subtitiles/run.sh
  demos/punctuation_restoration/README.md
  demos/speech_recognition/README.md
  demos/speech_translation/README.md
  paddlespeech/cli/asr/infer.py
  paddlespeech/cli/cls/infer.py
  paddlespeech/cli/st/infer.py
  paddlespeech/cli/text/infer.py
  paddlespeech/cli/tts/infer.py
Labels: README, Demo

#1128 [Install_cn]Create install_cn.md
  docs/source/install_cn.md
Labels: Documentation

#1130 Update README.md
  examples/aishell/asr1/README.md
Labels: README, Example

#1132 [asr]rename test_hub to test_wav
  examples/aishell/asr0/local/test_wav.sh
  examples/aishell/asr0/run.sh
  examples/aishell/asr1/README.md
  examples/aishell/asr1/local/test_wav.sh
  examples/aishell/asr1/run.sh
  examples/librispeech/asr0/local/test_wav.sh
  examples/librispeech/asr0/run.sh
  examples/librispeech/asr1/README.md
  examples/librispeech/asr1/local/test_wav.sh
  examples/librispeech/asr1/run.sh
  paddlespeech/s2t/exps/deepspeech2/bin/test_wav.py
Labels: README, Example, S2T

#1134 [doc] add README_cn for demos/text_to_speech
  demos/text_to_speech/README.md
  demos/text_to_speech/README_cn.md
Labels: README, Demo

#1135 [README]aishell_asr0
  examples/aishell/asr0/README.md
Labels: README, Example

#1136 [READEME] librispeech asr0
  examples/librispeech/asr0/README.md
Labels: README, Example

#1137 [README] tiny asr0
  examples/tiny/asr0/README.md
Labels: README, Example

#1138 [READEME] tiny asr1
  examples/tiny/asr1/README.md
  examples/tiny/asr1/run.sh
Labels: README, Example

#1139 [ASR]fix bug in run.sh
  examples/librispeech/asr1/run.sh
Labels: Example

#1141 [README]add for librispeech asr2
  examples/librispeech/asr2/README.md
Labels: README, Example

#1142 [ doc]update tts tutorial
  docs/tutorial/tts/tts_tutorial.ipynb
Labels: Documentation

#1144 [README] st0, test=doc_fix
  examples/ted_en_zh/st0/README.md
  examples/ted_en_zh/st0/run.sh
Labels: README, Example

#1145 [README]st1,test=doc_fix
  examples/ted_en_zh/st1/README.md
Labels: README, Example

#1147 [RESULT] update timit result
  examples/timit/asr1/RESULTS.md
  examples/timit/asr1/conf/transformer.yaml
Labels: Example

#1140 [ASR] revise the librispeech asr run.sh
  examples/librispeech/asr2/run.sh
Labels: Example

#1148 fix the test_wav in wenetspeech,test=asr
  examples/wenetspeech/asr1/local/test_wav.sh
  examples/wenetspeech/asr1/run.sh
Labels: Example

#1149 [DOCS Add zh docs
  demos/speech_translation/README.md
  demos/speech_translation/README_cn.md
Labels: README, Demo

#1153 [Bug fix]fix bug of pad_sequence in u2,test=asr
  paddlespeech/s2t/models/u2/u2.py
Labels: S2T

#1155 [setup]update the version of paddlespeech ctcdecoders and feat
  paddlespeech/s2t/decoders/ctcdecoder/swig/setup.py
  third_party/python_kaldi_features/setup.py
Labels: S2T

#1150 [doc] add topic/gan_vocoder
  docs/topic/gan_vocoder/gan_vocoder.ipynb
  docs/topic/gan_vocoder/imgs/hifigan_dis.png
  docs/topic/gan_vocoder/imgs/hifigan_gen.png
  docs/topic/gan_vocoder/imgs/mb_melgan.png
  docs/topic/gan_vocoder/imgs/mel_loss.png
  docs/topic/gan_vocoder/imgs/melgan.png
  docs/topic/gan_vocoder/imgs/pwg.png
  docs/topic/gan_vocoder/imgs/stft_loss_0.png
  docs/topic/gan_vocoder/imgs/stft_loss_1.png
  docs/topic/gan_vocoder/imgs/stft_loss_2.png
  docs/topic/gan_vocoder/imgs/style_melgan_TADE.png
  docs/topic/gan_vocoder/imgs/style_melgan_dis.png
  docs/topic/gan_vocoder/imgs/style_melgan_gen.png
Labels: Documentation

#1156 [doc]update readme, test=doc_fix
  demos/audio_tagging/README.md
  demos/automatic_video_subtitiles/README.md
  demos/metaverse/README.md
  demos/punctuation_restoration/README.md
  demos/speech_recognition/README.md
  demos/speech_translation/README.md
  demos/story_talker/README.md
  demos/style_fs2/README.md
  demos/text_to_speech/README.md
  docs/source/asr/augmentation.md
  docs/source/asr/data_preparation.md
  docs/source/asr/feature_list.md
  docs/source/asr/models_introduction.md
  docs/source/asr/ngram_lm.md
  docs/source/asr/quick_start.md
  docs/source/dependencies.md
  docs/source/install.md
  docs/source/install_cn.md
  docs/source/introduction.md
  docs/source/reference.md
  docs/source/tts/README.md
  docs/source/tts/advanced_usage.md
  docs/source/tts/models_introduction.md
  docs/source/tts/quick_start.md
  docs/source/tts/zh_text_frontend.md
  examples/aishell/asr0/README.md
  examples/aishell/asr1/README.md
  examples/librispeech/asr0/README.md
  examples/librispeech/asr1/README.md
  examples/librispeech/asr2/README.md
  examples/other/g2p/README.md
  examples/other/ge2e/README.md
  examples/other/tn/README.md
  examples/ted_en_zh/st0/README.md
  examples/ted_en_zh/st1/README.md
  examples/tiny/asr0/README.md
  examples/tiny/asr1/README.md
  examples/wenetspeech/README.md
Labels: Documentation, README, Example, Demo

#1158 [TTS]fix praatio version, test=tts
  examples/other/g2p/get_g2p_data.py
  examples/other/g2p/path.sh
  examples/other/tn/path.sh
  paddlespeech/t2s/exps/voice_cloning/tacotron2_ge2e/process_wav.py
  requirements.txt
  setup.py
  utils/gen_duration_from_textgrid.py
Labels: Installation, Example, T2S

#1160 [DOCS] Add tutorial, test=doc_fix
  docs/tutorial/st/st_tutorial.ipynb
Labels: Documentation

#1161 [Doc]Tutorial:asr+cls
  docs/tutorial/asr/tutorial_deepspeech2.ipynb
  docs/tutorial/asr/tutorial_transformer.ipynb
  docs/tutorial/cls/cls_tutorial.ipynb
Labels: Documentation

#1163 [Setup]change the paddlespeech version
  setup.py
Labels: Installation

#1164 [README] Update Acknowledgement.
  README.md
  README_cn.md
Labels: README

#1166 [version]add paddlespeech.__version__
  paddlespeech/__init__.py
  paddlespeech/cli/asr/infer.py
  setup.py
Labels: Installation

#1165 [Doc]revise the install.md
  docs/source/install.md
  docs/source/install_cn.md
Labels: Documentation

#1168 [Doc]revise the doc
  README.md
  README_cn.md
Labels: README

#1169 revise the readme_cn.md and update the QR code
  README.md
  README_cn.md
Labels: README

#1171 [README] Fix some errors.
  README.md
Labels: README

#1172 [Install doc] add the pypi-source
  docs/source/install.md
  docs/source/install_cn.md
Labels: Documentation

#1174 [Doc]revise the README in demos
  demos/speech_recognition/README.md
  demos/speech_recognition/README_cn.md
Labels: README, Demo

#1175 Fix README.md typo
  examples/csmsc/tts2/README.md
Labels: README, Example

#1178 [DOC]Add cls docs of training and custom dataset.
  docs/source/cls/custom_dataset.md
  docs/source/cls/quick_start.md
Labels: Documentation

#1176 [Setup]Add paddlenlp in requirements
  requirements.txt
  setup.py
Labels: Installation

#1181 [doc]update hifigan readme, test=doc_fix
  README.md
  README_cn.md
  docs/source/released_model.md
  examples/csmsc/tts3/README.md
  examples/csmsc/voc1/README.md
  examples/csmsc/voc3/README.md
  examples/csmsc/voc4/README.md
  examples/csmsc/voc5/README.md
Labels: Documentation, README, Example

#1183 [install.md]add link of visual studio,test=doc_fix
  docs/source/install.md
  docs/source/install_cn.md
Labels: Documentation

#1184 [Install]fix doc
  demos/audio_tagging/README.md
  demos/audio_tagging/README_cn.md
  demos/automatic_video_subtitiles/README.md
  demos/automatic_video_subtitiles/README_cn.md
  demos/punctuation_restoration/README.md
  demos/punctuation_restoration/README_cn.md
  demos/speech_recognition/README.md
  demos/speech_translation/README.md
  demos/speech_translation/README_cn.md
  demos/text_to_speech/README.md
  demos/text_to_speech/README_cn.md
Labels: README, Demo

#1185 [doc] remove "just ues one command",test=doc_fix
  README.md
  README_cn.md
Labels: README

#1190 [Doc] revise the doc
  demos/speech_recognition/README.md
  demos/speech_recognition/README_cn.md
Labels: README, Demo

#1189 [doc]update readme, test=doc_fix
  demos/audio_tagging/README.md
  demos/audio_tagging/README_cn.md
  demos/automatic_video_subtitiles/README.md
  demos/automatic_video_subtitiles/README_cn.md
  demos/punctuation_restoration/README.md
  demos/punctuation_restoration/README_cn.md
  demos/speech_recognition/README.md
  demos/speech_recognition/README_cn.md
  demos/speech_translation/README.md
  demos/speech_translation/README_cn.md
  demos/text_to_speech/README.md
  demos/text_to_speech/README_cn.md
  examples/csmsc/tts2/local/synthesize_e2e.sh
  examples/csmsc/tts3/local/synthesize_e2e.sh
Labels: README, Example, Demo

#1179 [asr] logfbank with dither
  examples/aishell/asr1/conf/conformer.yaml
  examples/aishell/asr1/conf/preprocess.yaml
  examples/aishell/asr1/conf/transformer.yaml
  examples/callcenter/asr1/conf/preprocess.yaml
  examples/librispeech/asr1/conf/preprocess.yaml
  examples/other/g2p/get_g2p_data.py
  examples/timit/asr1/conf/preprocess.yaml
  examples/tiny/asr1/conf/preprocess.yaml
  examples/wenetspeech/asr1/conf/preprocess.yaml
  paddlespeech/s2t/models/u2/u2.py
  paddlespeech/s2t/transform/spectrogram.py
  paddlespeech/t2s/exps/gan_vocoder/hifigan/train.py
  tools/release_note.py
Labels: Installation, Example, S2T, T2S

#1192 [doc] Update released_model.md
  docs/source/released_model.md
Labels: Documentation

#1193 [README]Updata README of punc example.
  examples/iwslt2012/punc0/README.md
  examples/iwslt2012/punc0/conf/ernie_linear.yaml
Labels: README, Example

#1191 [asr]clean aishell asr1 conf & compare ctc loss with torch and warpctc_pyt…
  .gitignore
  docs/topic/ctc/ctc_loss_compare.ipynb
  examples/aishell/asr1/RESULTS.md
  examples/aishell/asr1/conf/chunk_conformer.yaml
  examples/aishell/asr1/conf/conformer.yaml
  examples/aishell/asr1/conf/transformer.yaml
  paddlespeech/s2t/exps/u2/model.py
Labels: Documentation, Example, S2T

#1197 Add speaker embedding and speaker id for style fastspeech2 inference
  paddlespeech/t2s/models/fastspeech2/fastspeech2.py
Labels: T2S

#1200 [Doc]improve install.md,test=doc_fix
  docs/source/install.md
  docs/source/install_cn.md
Labels: Documentation

#1203 [Example][ESC50]Update examples/esc50.
  docs/source/cls/custom_dataset.md
  examples/esc50/README.md
  examples/esc50/cls0/conf/panns.yaml
  examples/esc50/cls0/local/export.sh
  examples/esc50/cls0/local/infer.sh
  examples/esc50/cls0/local/train.sh
  examples/esc50/cls0/run.sh
  paddleaudio/datasets/dataset.py
  paddlespeech/cls/exps/panns/predict.py
  paddlespeech/cls/exps/panns/train.py
Labels: Documentation, README, Example

#1202 [doc]update readme, test=doc_fix
  README.md
  README_cn.md
Labels: README

#1204 [Doc]Update docs/source/cls/custom_dataset.md.
  docs/source/cls/custom_dataset.md
  setup_audio.py
Labels: Documentation

#1205 [Doc]Updata RESULTS.md. test=doc_fix
  docs/source/released_model.md
  examples/esc50/README.md
  examples/esc50/RESULTS.md
Labels: Documentation, README, Example

#1207 [README]Updata README.md. test=doc_fix
  README.md
  README_cn.md
Labels: README

#1208 Update Acknowledgement
  README.md
  README_cn.md
Labels: README

#1209 Fix a bug when sentence inputed contain English words
  paddlespeech/t2s/frontend/zh_frontend.py
Labels: T2S

#1218 [tts][demos]fix demos, test=tts
  demos/metaverse/run.sh
  demos/story_talker/run.sh
Labels: Demo

#1216 [CLI][S2T]Remove logging file in cli api.
  paddlespeech/cli/log.py
  paddlespeech/s2t/utils/log.py
Labels: S2T

#1215 [text]Refactor punc
  README.md
  README_cn.md
  docs/source/released_model.md
  examples/iwslt2012/punc0/README.md
  examples/iwslt2012/punc0/conf/default.yaml
  examples/iwslt2012/punc0/conf/ernie_linear.yaml
  examples/iwslt2012/punc0/local/avg.sh
  examples/iwslt2012/punc0/local/data.sh
  examples/iwslt2012/punc0/local/punc_restore.sh
  examples/iwslt2012/punc0/local/test.sh
  examples/iwslt2012/punc0/local/train.sh
  examples/iwslt2012/punc0/path.sh
  examples/iwslt2012/punc0/run.sh
  paddlespeech/t2s/exps/fastspeech2/gen_gta_mel.py
  paddlespeech/t2s/exps/fastspeech2/train.py
  paddlespeech/t2s/exps/gan_vocoder/hifigan/train.py
  paddlespeech/t2s/exps/gan_vocoder/multi_band_melgan/train.py
  paddlespeech/t2s/exps/gan_vocoder/parallelwave_gan/synthesize_from_wav.py
  paddlespeech/t2s/exps/gan_vocoder/parallelwave_gan/train.py
  paddlespeech/t2s/exps/gan_vocoder/style_melgan/train.py
  paddlespeech/t2s/exps/gan_vocoder/synthesize.py
  paddlespeech/t2s/exps/speedyspeech/synthesize_e2e.py
  paddlespeech/t2s/exps/transformer_tts/synthesize.py
  paddlespeech/t2s/exps/transformer_tts/synthesize_e2e.py
  paddlespeech/t2s/exps/transformer_tts/train.py
  paddlespeech/text/exps/__init__.py
  paddlespeech/text/exps/ernie_linear/__init__.py
  paddlespeech/text/exps/ernie_linear/punc_restore.py
  paddlespeech/text/exps/ernie_linear/test.py
  paddlespeech/text/exps/ernie_linear/train.py
  paddlespeech/text/models/ernie_linear/__init__.py
  paddlespeech/text/models/ernie_linear/dataset.py
  paddlespeech/text/models/ernie_linear/ernie_linear.py
  paddlespeech/text/models/ernie_linear/ernie_linear_updater.py
  paddlespeech/text/training/trainer.py
  paddlespeech/text/utils/default_parser.py
Labels: Documentation, README, Example, T2S, TextProcess

#1219 [s2t]fix log for t2s
  examples/vctk/tts3/README.md
  paddlespeech/s2t/utils/log.py
Labels: README, Example, S2T

#1221 [Tutorial][CLS]Update cls tutorial.
  docs/tutorial/cls/cls_tutorial.ipynb
Labels: Documentation

#1227 [asr] remove useless conf of librispeech
  examples/csmsc/voc5/README.md
  examples/librispeech/asr1/conf/chunk_conformer.yaml
  examples/librispeech/asr1/conf/chunk_transformer.yaml
  examples/librispeech/asr1/conf/conformer.yaml
  examples/librispeech/asr1/conf/transformer.yaml
  paddlespeech/s2t/exps/u2/model.py
  paddlespeech/t2s/frontend/zh_frontend.py
  paddlespeech/t2s/models/fastspeech2/fastspeech2.py
Labels: README, Example, S2T, T2S

#1228 [tts]add style melgan pretraied model
  docs/source/released_model.md
  examples/aishell3/tts3/README.md
  examples/aishell3/voc1/README.md
  examples/csmsc/tts2/README.md
  examples/csmsc/tts2/local/synthesize_e2e.sh
  examples/csmsc/tts3/README.md
  examples/csmsc/tts3/local/synthesize_e2e.sh
  examples/csmsc/voc1/README.md
  examples/csmsc/voc3/README.md
  examples/csmsc/voc4/README.md
  examples/csmsc/voc5/README.md
  examples/ljspeech/tts1/README.md
  examples/ljspeech/tts3/README.md
  examples/ljspeech/voc1/README.md
  examples/vctk/tts3/README.md
  examples/vctk/voc1/README.md
  paddlespeech/t2s/exps/gan_vocoder/style_melgan/train.py
  paddlespeech/t2s/exps/speedyspeech/train.py
  paddlespeech/t2s/models/melgan/style_melgan.py
  paddlespeech/t2s/modules/tade_res_block.py
Labels: Documentation, README, Example, T2S

#1236 [doc]update readme and install, test=doc_fix
  README.md
  README_cn.md
  docs/source/install.md
  docs/source/install_cn.md
Labels: Documentation, README

#1241 [tts][cli]add style_melgan and hifigan in tts cli
  paddlespeech/cli/tts/infer.py
  paddlespeech/t2s/exps/synthesize_e2e.py
  paddlespeech/t2s/frontend/phonectic.py
  paddlespeech/t2s/frontend/zh_normalization/text_normlization.py
Labels: T2S

#1239 [st] Distributed sampler and new dataloader with MIMO
  examples/ted_en_zh/st0/conf/transformer.yaml
  examples/ted_en_zh/st0/conf/transformer_mtl_noam.yaml
  examples/ted_en_zh/st0/local/test.sh
  examples/ted_en_zh/st1/RESULTS.md
  examples/ted_en_zh/st1/conf/transformer.yaml
  examples/ted_en_zh/st1/conf/transformer_mtl_noam.yaml
  examples/ted_en_zh/st1/local/test.sh
  paddlespeech/s2t/exps/u2_st/model.py
  paddlespeech/s2t/io/converter.py
  paddlespeech/s2t/io/dataloader.py
  paddlespeech/s2t/io/reader.py
Labels: Example, S2T

#1243 [doc]add yeyupiaoling's repos' links
  README.md
  README_cn.md
Labels: README

#1242 [s2t] DataLoader with BatchSampler or DistributeBatchSampler
  paddlespeech/s2t/exps/u2_st/model.py
  paddlespeech/s2t/io/converter.py
  paddlespeech/s2t/io/dataloader.py
  paddlespeech/t2s/exps/synthesize_e2e.py
Labels: S2T, T2S

#1246 [tts]fix config, test=tts
  examples/aishell3/voc1/conf/default.yaml
  examples/csmsc/voc1/conf/default.yaml
  examples/csmsc/voc4/conf/default.yaml
  examples/csmsc/voc5/conf/default.yaml
  examples/csmsc/voc5/conf/finetune.yaml
  examples/ljspeech/voc1/conf/default.yaml
  examples/vctk/voc1/conf/default.yaml
Labels: Example

#1254 [doc]add g2p topic
  docs/topic/frontend/g2p.md
Labels: Documentation
