Repository PaddlePaddle/PaddleSpeech, pull requests merged in 2021-05, with the labels that each got.

#603 update doc
  README.md
  README_cn.md
  docs/src/asr_postprocess.md
  docs/src/chinese_syllable.md
  docs/src/text_front_end.md
  requirements.txt
  third_party/README.md
  third_party/pymmseg-cpp/README.md
Labels: enhancement

#604 add stale config
  .github/stale.yml
Labels: enhancement

#605 add mergify config
  .mergify.yml
Labels: enhancement

#606 more speech docs
  .mergify.yml
  docs/images/prosody.jpeg
  docs/src/asr_postprocess.md
  docs/src/ngram_lm.md
  docs/src/speech_synthesis.md
  docs/src/text_front_end.md
Labels: enhancement

#610 fix readme install link
  README.md
  README_cn.md
  doc/src/ngram_lm.md
Labels: Documentation, README

#611 fix doc
  README.md
  README_cn.md
Labels: README

#612 fix image link
  doc/src/benchmark.md
  doc/src/text_front_end.md
Labels: Documentation

#619 using soxbinddings for speed perturb
  .gitignore
  deepspeech/frontend/audio.py
  tools/Makefile
Labels: Installation, enhancement

#620 add text normlization
  doc/images/jieba_tags.png
  doc/src/asr_text_backend.md
  doc/src/benchmark.md
  doc/src/chinese_syllable.md
  doc/src/dataset.md
  doc/src/ngram_lm.md
  doc/src/tools.md
  doc/src/tts_text_front_end.md
Labels: Documentation

#622 train ds2 model
  README.md
  README_cn.md
  deepspeech/exps/deepspeech2/model.py
  deepspeech/frontend/audio.py
  deepspeech/training/gradclip.py
  deepspeech/training/trainer.py
  deepspeech/utils/layer_tools.py
  examples/aishell/s0/README.md
  examples/aishell/s0/conf/augmentation.json
  examples/aishell/s0/conf/deepspeech2.yaml
  examples/aishell/s0/local/data.sh
  examples/librispeech/s0/README.md
  examples/librispeech/s0/conf/augmentation.json
  examples/librispeech/s0/conf/deepspeech2.yaml
  examples/librispeech/s0/local/data.sh
  examples/librispeech/s0/run.sh
  examples/ngram_lm/README.md
  examples/spm/README.md
  examples/tiny/s1/conf/augmentation.json
  tests/mask_test.py
  utils/compute_mean_std.py
Labels: Example, README, enhancement

#625 fix doc representation
  README.md
  README_cn.md
  doc/src/feature_list.md
  examples/aishell/s0/README.md
  examples/aishell/s1/README.md
  examples/librispeech/s0/README.md
  examples/librispeech/s1/README.md
Labels: Documentation, Example, README

#626 add tarball utils
  deepspeech/exps/u2/bin/alignment.py
  deepspeech/frontend/normalizer.py
  env.sh
  examples/aishell/s0/path.sh
  examples/aishell/s1/path.sh
  examples/librispeech/s0/path.sh
  examples/librispeech/s1/path.sh
  examples/spm/path.sh
  examples/tiny/s0/path.sh
  examples/tiny/s1/path.sh
  requirements.txt
  utils/avg_model.py
  utils/build_vocab.py
  utils/compute_mean_std.py
  utils/format_data.py
  utils/ngram_train.sh
  utils/tarball.sh
  utils/zh_tn.py
Labels: CI, Example, enhancement

#627 fix doc link
  README.md
  README_cn.md
Labels: README

#623 add a g2p example
  examples/chinese_g2p/README.md
  examples/chinese_g2p/local/convert_transcription.py
  examples/chinese_g2p/local/extract_pinyin_label.py
  examples/chinese_g2p/local/prepare_dataset.sh
  examples/chinese_g2p/path.sh
  examples/chinese_g2p/requirements.txt
  examples/chinese_g2p/run.sh
Labels: Example, README

#630 refactor g2p egs
  examples/aishell/s0/local/avg.sh
  examples/aishell/s1/local/test.sh
  examples/chinese_g2p/.gitignore
  examples/chinese_g2p/local/prepare_dataset.sh
  examples/chinese_g2p/run.sh
  examples/librispeech/s0/local/avg.sh
  examples/librispeech/s1/conf/conformer.yaml
  examples/librispeech/s1/local/avg.sh
  examples/tiny/s0/local/avg.sh
  examples/tiny/s1/local/avg.sh
  utils/avg.sh
  utils/avg_model.py
  utils/build_vocab.py
  utils/compute_mean_std.py
  utils/format_data.py
  utils/spm_decode
  utils/spm_encode
Labels: Example

#633 chinese to phoneme
  third_party/README.md
  third_party/phkit/README.md
  third_party/phkit/phkit/__init__.py
  third_party/phkit/phkit/chinese/__init__.py
  third_party/phkit/phkit/chinese/convert.py
  third_party/phkit/phkit/chinese/number.py
  third_party/phkit/phkit/chinese/phoneme.py
  third_party/phkit/phkit/chinese/pinyin.py
  third_party/phkit/phkit/chinese/sequence.py
  third_party/phkit/phkit/chinese/style.py
  third_party/phkit/phkit/chinese/symbol.py
  third_party/phkit/phkit/english/LICENSE
  third_party/phkit/phkit/english/__init__.py
  third_party/phkit/phkit/english/cleaners.py
  third_party/phkit/phkit/english/cmu_dictionary
  third_party/phkit/phkit/english/cmudict.py
  third_party/phkit/phkit/english/numbers.py
  third_party/phkit/phkit/english/symbols.py
  third_party/phkit/phkit/pinyinkit/README.md
  third_party/phkit/phkit/pinyinkit/__init__.py
  third_party/phkit/phkit/pinyinkit/core.py
  third_party/phkit/phkit/pinyinkit/phrase_pinyin.txt.py
  third_party/phkit/phkit/pinyinkit/single_pinyin.txt.py
  third_party/phkit/requirements.txt
  third_party/phkit/run_local.py
  third_party/phkit/setup.py
  third_party/phkit/test.py
Labels: README

#636 more docs
  doc/src/alignment.md
  doc/src/chinese_syllable.md
  doc/src/decoding.md
  doc/src/tts_text_front_end.md
  doc/src/vad.md
Labels: Documentation

#637 add Cedict egs & pypinyin using jieba as wordseg & phkit using local pypinyin package
  examples/cc-cedict/.gitignore
  examples/cc-cedict/README.md
  examples/cc-cedict/local/parser.py
  examples/cc-cedict/path.sh
  examples/cc-cedict/run.sh
  third_party/phkit/phkit/__init__.py
  third_party/phkit/phkit/chinese/convert.py
  third_party/phkit/phkit/chinese/hanziconv.py
  third_party/phkit/phkit/chinese/number.py
  third_party/phkit/phkit/pinyinkit/README.md
  third_party/phkit/phkit/pinyinkit/__init__.py
  third_party/phkit/phkit/pinyinkit/core.py
  third_party/phkit/phkit/pinyinkit/phrase_pinyin.txt.py
  third_party/phkit/phkit/pinyinkit/single_pinyin.txt.py
  third_party/phkit/requirements.txt
  third_party/phkit/setup.py
  third_party/phkit/test.py
  third_party/python-pinyin/pypinyin/core.py
  third_party/python-pinyin/requirements.txt
  third_party/python-pinyin/setup.py
  third_party/zhon/.travis.yml
  third_party/zhon/AUTHORS.rst
  third_party/zhon/CHANGES.rst
  third_party/zhon/CONTRIBUTING.rst
  third_party/zhon/LICENSE.txt
  third_party/zhon/README.rst
  third_party/zhon/setup.py
Labels: Example, README

#639 remove sequnce_mask and change ds2 export audio shape to [B,T,D]
  README.md
  deepspeech/exps/deepspeech2/model.py
  deepspeech/frontend/normalizer.py
  deepspeech/modules/conv.py
  deepspeech/modules/mask.py
  deepspeech/modules/rnn.py
  doc/src/alignment.md
  doc/src/asr_text_backend.md
  doc/src/benchmark.md
  doc/src/chinese_syllable.md
  doc/src/dataset.md
  doc/src/decoding.md
  doc/src/feature_list.md
  doc/src/ngram_lm.md
  doc/src/praat_textgrid.md
  doc/src/tools.md
  doc/src/tts_text_front_end.md
  doc/src/vad.md
  examples/aishell/s1/conf/conformer.yaml
  examples/cc-cedict/local/parser.py
  requirements.txt
  tests/mask_test.py
  third_party/phkit/README.md
Labels: Documentation, Example, README, enhancement

#640 fix ds2 default config
  examples/librispeech/s0/run.sh
Labels: Example

#641 downgrad python env version
  tools/Makefile
Labels: Installation

#634 g2p example update: add code to ignore sandhi
  examples/chinese_g2p/local/convert_transcription.py
  examples/chinese_g2p/local/extract_pinyin_label.py
  examples/chinese_g2p/local/ignore_sandhi.py
Labels: Example

#646 eigen doc
  doc/images/prefix_beam_search.pdf
  doc/src/crf.md
  doc/src/decoding.md
  doc/src/eigen.md
  doc/src/linear_algebra.md
  doc/src/tts_text_frontend.md
Labels: Documentation

#645 add libri ds2 exp result
  examples/aishell/s0/README.md
  examples/librispeech/s0/README.md
  examples/librispeech/s0/conf/deepspeech2.yaml
Labels: Example, README

#647 remove useless doc
  doc/images/Praat-output-showing-forced-alignment-for-Mae-hen-wlad-fy-nhadau-the-first-line-of-the.png
  doc/images/jieba_tags.png
  doc/images/prefix_beam_search.pdf
  doc/images/prosody.jpeg
  doc/src/alignment.md
  doc/src/asr_text_backend.md
  doc/src/chinese_syllable.md
  doc/src/crf.md
  doc/src/dataset.md
  doc/src/decoding.md
  doc/src/eigen.md
  doc/src/linear_algebra.md
  doc/src/praat_textgrid.md
  doc/src/speech_synthesis.md
  doc/src/tools.md
  doc/src/tts_text_front_end.md
  doc/src/tts_text_frontend.md
  doc/src/vad.md
Labels: Documentation
