Repository PaddlePaddle/PaddleSpeech, pull requests merged in 2022-03, with the labels that each got.

#1508 [CLI] modified text sr to lang
  paddlespeech/cli/stats/infer.py
Labels: CLI

#1510 [server] add paddlespeech_server stats
  paddlespeech/cli/stats/infer.py
  paddlespeech/server/bin/__init__.py
  paddlespeech/server/bin/paddlespeech_server.py
Labels: CLI, server

#1515 add PaddleDubbing info
  README.md
  README_cn.md
Labels: README

#1514 [server] update server cli
  demos/speech_server/README.md
  demos/speech_server/README_cn.md
  demos/speech_server/conf/application.yaml
  demos/speech_server/conf/asr/asr.yaml
  demos/speech_server/conf/asr/asr_pd.yaml
  demos/speech_server/conf/tts/tts.yaml
  demos/speech_server/conf/tts/tts_pd.yaml
  paddlespeech/cli/__init__.py
  paddlespeech/cli/tts/infer.py
  paddlespeech/server/bin/paddlespeech_client.py
  paddlespeech/server/conf/application.yaml
  paddlespeech/server/conf/asr/asr.yaml
  paddlespeech/server/conf/asr/asr_pd.yaml
  paddlespeech/server/conf/tts/tts.yaml
  paddlespeech/server/conf/tts/tts_pd.yaml
  paddlespeech/server/engine/asr/paddleinference/asr_engine.py
  paddlespeech/server/engine/asr/python/asr_engine.py
  paddlespeech/server/engine/tts/paddleinference/tts_engine.py
  paddlespeech/server/engine/tts/python/tts_engine.py
  paddlespeech/server/restful/tts_api.py
  paddlespeech/server/utils/paddle_predictor.py
Labels: README, Demo, CLI, server

#1511 [TTS]add rtf for synthesize, add more vocoder for synthesize.sh
  examples/csmsc/tts0/local/synthesize.sh
  examples/csmsc/tts0/local/synthesize_e2e.sh
  examples/csmsc/tts2/local/synthesize.sh
  examples/csmsc/tts2/local/synthesize_e2e.sh
  examples/csmsc/tts3/local/synthesize.sh
  examples/csmsc/tts3/local/synthesize_e2e.sh
  paddlespeech/t2s/exps/synthesize.py
  paddlespeech/t2s/exps/synthesize_e2e.py
  paddlespeech/t2s/exps/wavernn/synthesize.py
  paddlespeech/t2s/models/melgan/melgan.py
  paddlespeech/t2s/models/wavernn/wavernn.py
Labels: Example, T2S

#1521 [Speechx] align linear_feature & nnet & refactor cmakelist
  speechx/CMakeLists.txt
  speechx/patch/CPPLINT.cfg
  speechx/patch/openfst/src/include/fst/flags.h
  speechx/patch/openfst/src/include/fst/log.h
  speechx/patch/openfst/src/lib/flags.cc
  speechx/speechx/CMakeLists.txt
  speechx/speechx/base/flags.h
  speechx/speechx/base/log.h
  speechx/speechx/codelab/decoder_test/offline_decoder_main.cc
  speechx/speechx/codelab/feat_test/linear_spectrogram_main.cc
  speechx/speechx/codelab/nnet_test/model_test.cc
  speechx/speechx/decoder/CMakeLists.txt
  speechx/speechx/frontend/CMakeLists.txt
  speechx/speechx/frontend/linear_spectrogram.cc
  speechx/speechx/frontend/normalizer.h
  speechx/speechx/kaldi/matrix/BUILD
  speechx/speechx/kaldi/matrix/CMakeLists.txt
  speechx/speechx/kaldi/matrix/kaldi-blas.h
  speechx/speechx/nnet/CMakeLists.txt
  speechx/speechx/nnet/decodable-itf.h
  speechx/speechx/nnet/decodable.cc
  speechx/speechx/nnet/decodable.h
  speechx/speechx/nnet/nnet_interface.h
  speechx/speechx/nnet/paddle_nnet.cc
  speechx/speechx/nnet/paddle_nnet.h
  speechx/speechx/utils/file_utils.cc
Labels: Deployment

#1531 [Speechx] add build.sh & openblas
  speechx/CMakeLists.txt
  speechx/build.sh
  speechx/speechx/CMakeLists.txt
  speechx/speechx/kaldi/matrix/CMakeLists.txt
  speechx/speechx/kaldi/matrix/kaldi-blas.h
Labels: Deployment

#1494 [audio] refactor audio arch
  .gitignore
  paddleaudio/CHANGELOG.md
  paddleaudio/features/augment.py
  paddleaudio/features/spectrum.py
  paddleaudio/paddleaudio/__init__.py
  paddleaudio/paddleaudio/backends/__init__.py
  paddleaudio/paddleaudio/backends/soundfile_backend.py
  paddleaudio/paddleaudio/backends/sox_backend.py
  paddleaudio/paddleaudio/compliance/__init__.py
  paddleaudio/paddleaudio/compliance/kaldi.py
  paddleaudio/paddleaudio/compliance/librosa.py
  paddleaudio/paddleaudio/datasets/__init__.py
  paddleaudio/paddleaudio/datasets/dataset.py
  paddleaudio/paddleaudio/datasets/esc50.py
  paddleaudio/paddleaudio/datasets/gtzan.py
  paddleaudio/paddleaudio/datasets/tess.py
  paddleaudio/paddleaudio/datasets/urban_sound.py
  paddleaudio/paddleaudio/features/__init__.py
  paddleaudio/paddleaudio/features/layers.py
  paddleaudio/paddleaudio/functional/__init__.py
  paddleaudio/paddleaudio/functional/functional.py
  paddleaudio/paddleaudio/functional/window.py
  paddleaudio/paddleaudio/io/__init__.py
  paddleaudio/paddleaudio/metric/__init__.py
  paddleaudio/paddleaudio/metric/dtw.py
  paddleaudio/paddleaudio/metric/mcd.py
  paddleaudio/paddleaudio/sox_effects/__init__.py
  paddleaudio/paddleaudio/utils/__init__.py
  paddleaudio/paddleaudio/utils/download.py
  paddleaudio/paddleaudio/utils/env.py
  paddleaudio/paddleaudio/utils/error.py
  paddleaudio/paddleaudio/utils/log.py
  paddleaudio/paddleaudio/utils/time.py
  paddleaudio/setup.py
  paddleaudio/tests/.gitkeep
Labels: Documentation, conflicts

#1535 [speehx] refactor cmakefile
  speechx/CMakeLists.txt
  speechx/build.sh
  speechx/cmake/EnableCMP0048.cmake
  speechx/cmake/external/absl.cmake
  speechx/cmake/external/eigen.cmake
  speechx/cmake/external/gflags.cmake
  speechx/cmake/external/glog.cmake
  speechx/cmake/external/gtest.cmake
  speechx/cmake/external/kenlm.cmake
  speechx/cmake/external/libsndfile.cmake
Labels: Deployment

#1536 [speechx] libsndfile
  speechx/CMakeLists.txt
  speechx/cmake/external/libsndfile.cmake
Labels: Deployment

#1537 [Speechx] add cmvn
  speechx/speechx/codelab/feat_test/linear_spectrogram_main.cc
  speechx/speechx/frontend/normalizer.cc
  speechx/speechx/frontend/normalizer.h
  speechx/speechx/kaldi/feat/CMakeLists.txt
  speechx/speechx/kaldi/feat/cmvn.cc
  speechx/speechx/kaldi/feat/cmvn.h
Labels: Deployment

#1538 [speechx] libsndfile , openfst, openblas cmake
  speechx/CMakeLists.txt
  speechx/build.sh
  speechx/cmake/EnableCMP0048.cmake
  speechx/cmake/external/absl.cmake
  speechx/cmake/external/boost.cmake
  speechx/cmake/external/glog.cmake
  speechx/cmake/external/gtest.cmake
  speechx/cmake/external/kenlm.cmake
  speechx/cmake/external/libsndfile.cmake
  speechx/cmake/external/openblas.cmake
  speechx/cmake/external/openfst.cmake
Labels: Deployment

#1539 [server] modify yaml
  demos/speech_server/README.md
  demos/speech_server/README_cn.md
  demos/speech_server/conf/application.yaml
  demos/speech_server/conf/asr/asr.yaml
  demos/speech_server/conf/asr/asr_pd.yaml
  demos/speech_server/conf/tts/tts.yaml
  demos/speech_server/conf/tts/tts_pd.yaml
  demos/speech_server/server.sh
  paddlespeech/server/bin/main.py
  paddlespeech/server/bin/paddlespeech_server.py
  paddlespeech/server/conf/application.yaml
  paddlespeech/server/conf/asr/asr.yaml
  paddlespeech/server/conf/asr/asr_pd.yaml
  paddlespeech/server/conf/tts/tts.yaml
  paddlespeech/server/conf/tts/tts_pd.yaml
  paddlespeech/server/engine/asr/paddleinference/asr_engine.py
  paddlespeech/server/engine/asr/python/asr_engine.py
  paddlespeech/server/engine/engine_pool.py
  paddlespeech/server/engine/tts/paddleinference/tts_engine.py
  paddlespeech/server/engine/tts/python/tts_engine.py
  tests/unit/server/change_yaml.py
  tests/unit/server/conf/application.yaml
  tests/unit/server/conf/asr/asr.yaml
  tests/unit/server/conf/asr/asr_pd.yaml
  tests/unit/server/conf/tts/tts.yaml
  tests/unit/server/conf/tts/tts_pd.yaml
  tests/unit/server/test_server_client.sh
Labels: README, Demo, Test, server

#1541 [speechx] move test to examples
  .pre-commit-config.yaml
  paddlespeech/s2t/io/sampler.py
  paddlespeech/t2s/modules/transformer/repeat.py
  speechx/CMakeLists.txt
  speechx/build.sh
  speechx/cmake/external/openblas.cmake
  speechx/examples/.gitkeep
  speechx/examples/CMakeLists.txt
  speechx/examples/README.md
  speechx/examples/decoder/CMakeLists.txt
  speechx/examples/decoder/offline-decoder-main.cc
  speechx/examples/feat/CMakeLists.txt
  speechx/examples/feat/feature-mfcc-test.cc
  speechx/examples/feat/linear-spectrogram-main.cc
  speechx/examples/nnet/CMakeLists.txt
  speechx/examples/nnet/pp-model-test.cc
  speechx/speechx/CMakeLists.txt
  speechx/speechx/base/basic_types.h
  speechx/speechx/base/common.h
  speechx/speechx/base/macros.h
  speechx/speechx/base/thread_pool.h
  speechx/speechx/codelab/README.md
  speechx/speechx/codelab/decoder_test/offline_decoder_main.cc
  speechx/speechx/codelab/feat_test/feature-mfcc-test.cc
  speechx/speechx/codelab/feat_test/linear_spectrogram_main.cc
  speechx/speechx/codelab/nnet_test/model_test.cc
  speechx/speechx/decoder/common.h
  speechx/speechx/decoder/ctc_beam_search_decoder.cc
  speechx/speechx/decoder/ctc_beam_search_decoder.h
  speechx/speechx/frontend/fbank.h
  speechx/speechx/frontend/feature_extractor_controller.h
  speechx/speechx/frontend/feature_extractor_controller_impl.h
  speechx/speechx/frontend/feature_extractor_interface.h
  speechx/speechx/frontend/linear_spectrogram.cc
  speechx/speechx/frontend/linear_spectrogram.h
  speechx/speechx/frontend/normalizer.cc
  speechx/speechx/frontend/normalizer.h
  speechx/speechx/frontend/window.h
  speechx/speechx/nnet/decodable-itf.h
  speechx/speechx/nnet/decodable.cc
  speechx/speechx/nnet/decodable.h
  speechx/speechx/nnet/nnet_interface.h
  speechx/speechx/nnet/paddle_nnet.cc
  speechx/speechx/nnet/paddle_nnet.h
  speechx/speechx/utils/file_utils.cc
  speechx/speechx/utils/file_utils.h
Labels: Documentation, README, Deployment, S2T, T2S, Demo

#1544 [tts]add vctk hifigan egs
  examples/vctk/voc5/README.md
  examples/vctk/voc5/conf/default.yaml
  examples/vctk/voc5/local/preprocess.sh
  examples/vctk/voc5/local/synthesize.sh
  examples/vctk/voc5/local/train.sh
  examples/vctk/voc5/path.sh
  examples/vctk/voc5/run.sh
  paddlespeech/t2s/exps/gan_vocoder/synthesize.py
Labels: README, Example, T2S

#1545 [tts]add aishell3 hifigan egs
  examples/aishell3/voc5/README.md
  examples/aishell3/voc5/conf/default.yaml
  examples/aishell3/voc5/local/preprocess.sh
  examples/aishell3/voc5/local/synthesize.sh
  examples/aishell3/voc5/local/train.sh
  examples/aishell3/voc5/path.sh
  examples/aishell3/voc5/run.sh
Labels: README, Example

#1549 [TTS]add ljspeech hifigan egs.
  CHANGELOG.md
  examples/ljspeech/voc5/README.md
  examples/ljspeech/voc5/conf/default.yaml
  examples/ljspeech/voc5/local/preprocess.sh
  examples/ljspeech/voc5/local/synthesize.sh
  examples/ljspeech/voc5/local/train.sh
  examples/ljspeech/voc5/path.sh
  examples/ljspeech/voc5/run.sh
Labels: Documentation, README, Example

#1553 [DOC]update readme, test=doc
  README.md
  README_cn.md
Labels: README

#1552 [TTS]format synthesize
  paddlespeech/t2s/exps/csmsc_test.txt
  paddlespeech/t2s/exps/inference.py
  paddlespeech/t2s/exps/syn_utils.py
  paddlespeech/t2s/exps/synthesize.py
  paddlespeech/t2s/exps/synthesize_e2e.py
  paddlespeech/t2s/exps/voice_cloning.py
  paddlespeech/t2s/modules/predictor/length_regulator.py
Labels: T2S

#1551 [tests] fix benchmark
  tests/test_tipc/benchmark_train.sh
  tests/test_tipc/prepare.sh
Labels: Test

#1556 [test][cli] update cli test case
  tests/unit/cli/test_cli.sh
Labels: Test

#1559 align nnet decoder & refactor
  speechx/examples/decoder/CMakeLists.txt
  speechx/examples/decoder/offline_decoder_main.cc
  speechx/speechx/decoder/ctc_beam_search_decoder.cc
  speechx/speechx/decoder/ctc_beam_search_decoder.h
  speechx/speechx/frontend/raw_audio.h
  speechx/speechx/nnet/decodable-itf.h
  speechx/speechx/nnet/decodable.cc
  speechx/speechx/nnet/decodable.h
  speechx/speechx/nnet/nnet_interface.h
  speechx/speechx/nnet/paddle_nnet.cc
  speechx/speechx/nnet/paddle_nnet.h
Labels: Deployment

#1562 Revert "align nnet decoder & refactor"
  speechx/examples/decoder/CMakeLists.txt
  speechx/examples/decoder/offline-decoder-main.cc
  speechx/speechx/decoder/ctc_beam_search_decoder.cc
  speechx/speechx/decoder/ctc_beam_search_decoder.h
  speechx/speechx/frontend/raw_audio.h
  speechx/speechx/nnet/decodable-itf.h
  speechx/speechx/nnet/decodable.cc
  speechx/speechx/nnet/decodable.h
  speechx/speechx/nnet/nnet_interface.h
  speechx/speechx/nnet/paddle_nnet.cc
  speechx/speechx/nnet/paddle_nnet.h
Labels: Deployment

#1563 [speechx]align nnet & decoder
  speechx/examples/decoder/CMakeLists.txt
  speechx/examples/decoder/offline_decoder_main.cc
  speechx/speechx/decoder/ctc_beam_search_decoder.cc
  speechx/speechx/decoder/ctc_beam_search_decoder.h
  speechx/speechx/frontend/raw_audio.h
  speechx/speechx/nnet/decodable-itf.h
  speechx/speechx/nnet/decodable.cc
  speechx/speechx/nnet/decodable.h
  speechx/speechx/nnet/nnet_interface.h
  speechx/speechx/nnet/paddle_nnet.cc
  speechx/speechx/nnet/paddle_nnet.h
Labels: Deployment

#1566 [speechx] Add run.sh for example
  speechx/examples/decoder/run.sh
  speechx/examples/feat/run.sh
  speechx/examples/nnet/run.sh
Labels: Deployment

#1565 [test] fix benchmark
  tests/benchmark/conformer/run_benchmark.sh
  tests/benchmark/pwgan/run_benchmark.sh
Labels: Test

#1548 [Audio][Feature][Unittest][Benchmark]Add unittest and benchmark for feature apis.
  paddleaudio/paddleaudio/features/layers.py
  paddleaudio/setup.py
  paddleaudio/tests/backends/__init__.py
  paddleaudio/tests/backends/base.py
  paddleaudio/tests/backends/soundfile/__init__.py
  paddleaudio/tests/backends/soundfile/test_io.py
  paddleaudio/tests/benchmark/README.md
  paddleaudio/tests/benchmark/log_melspectrogram.py
  paddleaudio/tests/benchmark/melspectrogram.py
  paddleaudio/tests/benchmark/mfcc.py
  paddleaudio/tests/features/__init__.py
  paddleaudio/tests/features/base.py
  paddleaudio/tests/features/test_istft.py
  paddleaudio/tests/features/test_kaldi.py
  paddleaudio/tests/features/test_librosa.py
  paddleaudio/tests/features/test_log_melspectrogram.py
  paddleaudio/tests/features/test_spectrogram.py
  paddleaudio/tests/features/test_stft.py
Labels: README, S2T

#1569 [Doc] Update demo doc
  demos/speech_recognition/README.md
  demos/speech_recognition/README_cn.md
Labels: README, Demo

#1571 [tts]update synthesize_e2e.sh
  examples/csmsc/tts0/local/synthesize_e2e.sh
Labels: Example

#1572 [speechx] refactor speechx egs
  speechx/.gitignore
  speechx/README.md
  speechx/examples/.gitignore
  speechx/examples/decoder/path.sh
  speechx/examples/decoder/run.sh
  speechx/examples/decoder/valgrind.sh
  speechx/examples/feat/path.sh
  speechx/examples/feat/run.sh
  speechx/examples/feat/valgrind.sh
  speechx/examples/nnet/path.sh
  speechx/examples/nnet/run.sh
  speechx/examples/nnet/valgrind.sh
  speechx/tools/setup_valgrind.sh
Labels: README, Deployment

#1574 update preprocess.sh in aishell3 vc0, test=doc
  examples/aishell3/vc0/local/preprocess.sh
Labels: Example

#1576 [speechx] speechx readme
  paddleaudio/setup.py
  paddlespeech/cli/utils.py
  paddlespeech/server/bin/paddlespeech_server.py
  speechx/README.md
  speechx/TODO.md
  speechx/examples/README.md
  speechx/examples/feat/linear_spectrogram_main.cc
  speechx/speechx/decoder/ctc_beam_search_decoder.cc
  speechx/speechx/frontend/feature_cache.cc
  speechx/speechx/frontend/feature_cache.h
  speechx/speechx/frontend/feature_extractor_controller.h
  speechx/speechx/frontend/feature_extractor_controller_impl.h
  speechx/speechx/frontend/feature_extractor_interface.h
  speechx/speechx/frontend/linear_spectrogram.cc
  speechx/speechx/frontend/linear_spectrogram.h
  speechx/speechx/frontend/normalizer.cc
  speechx/speechx/frontend/normalizer.h
  speechx/speechx/frontend/raw_audio.cc
  speechx/speechx/frontend/raw_audio.h
  speechx/speechx/nnet/decodable-itf.h
  speechx/speechx/nnet/decodable.cc
  utils/generate_infer_yaml.py
Labels: README, Deployment, CLI, server

#1578 update run.sh, test=doc
  examples/aishell3/voc1/run.sh
Labels: Example

#1581 [TTS]Add aishell3 hifigan
  docs/source/released_model.md
  examples/aishell3/tts3/local/synthesize.sh
  examples/aishell3/tts3/local/synthesize_e2e.sh
  examples/aishell3/voc5/README.md
  paddlespeech/t2s/exps/synthesize.py
  paddlespeech/t2s/exps/synthesize_e2e.py
Labels: Documentation, README, Example, T2S

#1547 [vec] add demo for searching vectors base on MySQL and Milvus, t…
  demos/audio_searching/README.md
  demos/audio_searching/README_cn.md
  demos/audio_searching/docker-compose.yaml
  demos/audio_searching/img/audio_searching.png
  demos/audio_searching/img/insert.png
  demos/audio_searching/img/result.png
  demos/audio_searching/img/search.png
  demos/audio_searching/requirements.txt
  demos/audio_searching/src/config.py
  demos/audio_searching/src/encode.py
  demos/audio_searching/src/logs.py
  demos/audio_searching/src/main.py
  demos/audio_searching/src/milvus_helpers.py
  demos/audio_searching/src/mysql_helpers.py
  demos/audio_searching/src/operations/__init__.py
  demos/audio_searching/src/operations/count.py
  demos/audio_searching/src/operations/drop.py
  demos/audio_searching/src/operations/load.py
  demos/audio_searching/src/operations/search.py
  demos/audio_searching/src/test_main.py
Labels: README, Demo, MySQL, Milvus

#1583 fix benchmark model_repo
  tests/test_tipc/benchmark_train.sh
Labels: Test

#1582 [Audio][Doc]Add paddleaudio doc.
  paddleaudio/paddleaudio/backends/soundfile_backend.py
  paddleaudio/paddleaudio/compliance/kaldi.py
  paddleaudio/paddleaudio/compliance/librosa.py
  paddleaudio/paddleaudio/features/layers.py
  paddleaudio/paddleaudio/functional/functional.py
  paddleaudio/paddleaudio/functional/window.py
  paddleaudio/paddleaudio/metric/dtw.py
  paddlespeech/cli/executor.py
Labels: CLI

#1587 [TTS]Add vctk hifigan
  docs/source/released_model.md
  examples/vctk/tts3/local/synthesize.sh
  examples/vctk/tts3/local/synthesize_e2e.sh
  examples/vctk/voc5/README.md
  paddlespeech/cli/tts/infer.py
  paddlespeech/t2s/exps/synthesize_e2e.py
  tests/unit/cli/test_cli.sh
Labels: Documentation, README, Example, T2S, CLI, Test

#1509 [vec] add clustering of vectors
  examples/ami/sd0/local/ami_prepare.py
  examples/ami/sd0/local/ami_splits.py
  examples/ami/sd0/local/dataio.py
  paddlespeech/vector/cluster/diarization.py
Labels: Example, vector, Diarization, Cluster

#1577 [ASR] change default initializer to kaiming_uniform
  examples/aishell/asr1/conf/chunk_conformer.yaml
  examples/aishell/asr1/conf/conformer.yaml
  examples/aishell/asr1/conf/transformer.yaml
  paddlespeech/s2t/exps/u2/model.py
  paddlespeech/s2t/models/u2/u2.py
  paddlespeech/s2t/modules/activation.py
  paddlespeech/s2t/modules/align.py
  paddlespeech/s2t/modules/attention.py
  paddlespeech/s2t/modules/conformer_convolution.py
  paddlespeech/s2t/modules/ctc.py
  paddlespeech/s2t/modules/decoder.py
  paddlespeech/s2t/modules/decoder_layer.py
  paddlespeech/s2t/modules/encoder.py
  paddlespeech/s2t/modules/encoder_layer.py
  paddlespeech/s2t/modules/initializer.py
  paddlespeech/s2t/modules/positionwise_feed_forward.py
  paddlespeech/s2t/modules/subsampling.py
Labels: Example, S2T

#1591 [Doc] Update the release_models.md
  docs/source/released_model.md
Labels: Documentation

#1589 [draft][vec] update insert picture, test=doc #1543
  demos/audio_searching/README.md
  demos/audio_searching/README_cn.md
  demos/audio_searching/img/insert.png
Labels: README, Demo

#1593 [NPU] Add NPU support for TransformerTTS
  paddlespeech/t2s/exps/transformer_tts/train.py
Labels: Example, T2S

#1592 [Doc] Update RESULTS.md of aishell conformer
  examples/aishell/asr1/RESULTS.md
Labels: Example

#1590 [Audio][Doc]Build docs for PaddleAudio.
  paddleaudio/docs/Makefile
  paddleaudio/docs/README.md
  paddleaudio/docs/images/paddle.png
  paddleaudio/docs/make.bat
  paddleaudio/docs/source/_static/custom.css
  paddleaudio/docs/source/_templates/module.rst_t
  paddleaudio/docs/source/_templates/package.rst_t
  paddleaudio/docs/source/_templates/toc.rst_t
  paddleaudio/docs/source/conf.py
  paddleaudio/docs/source/index.rst
  paddleaudio/paddleaudio/metric/dtw.py
  paddleaudio/paddleaudio/metric/mcd.py
Labels: README

#1595 [Doc] Update RESULTS.md
  examples/aishell/asr1/RESULTS.md
Labels: Example

#1596 [Doc] Updata doc
  examples/aishell/asr1/README.md
Labels: README, Example

#1597 [audio] fix compliance test bug, and format
  .gitignore
  demos/audio_searching/requirements.txt
  demos/audio_searching/src/config.py
  demos/audio_searching/src/logs.py
  demos/audio_searching/src/operations/load.py
  examples/ami/sd0/local/ami_prepare.py
  paddleaudio/.gitignore
  paddleaudio/docs/README.md
  paddleaudio/docs/source/conf.py
  paddleaudio/paddleaudio/compliance/__init__.py
  paddleaudio/paddleaudio/metric/mcd.py
  paddlespeech/t2s/frontend/zh_normalization/chronology.py
  paddlespeech/vector/cluster/diarization.py
Labels: README, Example, T2S, Demo, vector

#1600 [Speechx]fix normalizer bug
  speechx/speechx/frontend/normalizer.cc
Labels: Deployment

#1601 [TTS] update readme for ljspeech hifigan
  CHANGELOG.md
  docs/source/released_model.md
  examples/ljspeech/tts3/local/synthesize.sh
  examples/ljspeech/tts3/local/synthesize_e2e.sh
  examples/ljspeech/voc5/README.md
  paddlespeech/cli/tts/infer.py
  tests/unit/cli/test_cli.sh
Labels: Documentation, README, Example, CLI, Test

#1602 [TTS]fix dtype of window of stft
  paddlespeech/t2s/modules/losses.py
Labels: T2S

#1603 [doc] update release_model.md
  docs/source/released_model.md
Labels: Documentation

#1604 [server] update readme
  README.md
  README_cn.md
  demos/speech_server/README.md
  demos/speech_server/README_cn.md
  paddlespeech/server/README.md
  paddlespeech/server/README_cn.md
Labels: README, Demo, server

#1605 [vec]add speaker verification demo and doc
  README.md
  README_cn.md
  demos/speaker_verification/README.md
  demos/speaker_verification/README_cn.md
  demos/speaker_verification/run.sh
  docs/source/released_model.md
  examples/voxceleb/sv0/RESULT.md
  paddlespeech/cli/README.md
  paddlespeech/cli/README_cn.md
  paddlespeech/cli/vector/infer.py
  paddlespeech/vector/cluster/__init__.py
  paddlespeech/vector/io/__init__.py
  paddlespeech/vector/modules/__init__.py
  paddlespeech/vector/training/__init__.py
  paddlespeech/vector/utils/__init__.py
Labels: Documentation, README, Example, Demo, vector, CLI

#1610 [Doc] Update chunk conformer model info.md
  docs/source/released_model.md
  examples/aishell/asr1/RESULTS.md
  examples/aishell/asr1/conf/chunk_conformer.yaml
Labels: Documentation, Example

#1614 [vec]change the vector output to numpy.array
  dataset/voxceleb/voxceleb1.py
  dataset/voxceleb/voxceleb2.py
  demos/audio_searching/src/operations/load.py
  demos/speaker_verification/README.md
  demos/speaker_verification/README_cn.md
  examples/voxceleb/README.md
  examples/voxceleb/sv0/local/data_prepare.py
  paddleaudio/paddleaudio/datasets/__init__.py
  paddleaudio/paddleaudio/datasets/rirs_noises.py
  paddleaudio/paddleaudio/datasets/voxceleb.py
  paddlespeech/cli/vector/infer.py
  paddlespeech/vector/exps/ecapa_tdnn/test.py
  paddlespeech/vector/io/augment.py
  paddlespeech/vector/io/signal_processing.py
  tests/unit/vector/conftest.py
  tests/unit/vector/test_augment.py
Labels: README, Example, Demo, vector, CLI, Test, Dataset

#1609 [vec][search] update to paddlespeech model
  demos/audio_searching/README.md
  demos/audio_searching/README_cn.md
  demos/audio_searching/img/search.png
  demos/audio_searching/requirements.txt
  demos/audio_searching/src/config.py
  demos/audio_searching/src/encode.py
  demos/audio_searching/src/test_main.py
Labels: README, Demo, CLI, MySQL, Milvus

#1616 [speechx] more comment of code
  dataset/librispeech/librispeech.py
  demos/audio_searching/src/encode.py
  demos/audio_searching/src/operations/load.py
  examples/ami/sd0/local/ami_prepare.py
  paddlespeech/s2t/decoders/recog_bin.py
  paddlespeech/s2t/utils/cli_utils.py
  paddlespeech/s2t/utils/utility.py
  paddlespeech/vector/cluster/diarization.py
  speechx/README.md
  speechx/build.sh
  speechx/cmake/FindGFortranLibs.cmake
  speechx/cmake/external/openblas.cmake
  speechx/cmake/external/openfst.cmake
  speechx/speechx/frontend/feature_cache.cc
  speechx/speechx/frontend/feature_cache.h
  speechx/speechx/frontend/feature_extractor_interface.h
  speechx/speechx/frontend/linear_spectrogram.h
  utils/DER.py
  utils/addjson.py
  utils/apply-cmvn.py
  utils/copy-feats.py
  utils/merge_scp2json.py
Labels: README, Example, Deployment, S2T, Demo, vector, Dataset

#1619 [Speechx] fix path error in speechx/examples/decoder
  speechx/examples/decoder/path.sh
Labels: Deployment

#1621 [Speechx]Fix typo of ReadMe
  speechx/README.md
Labels: README, Deployment

#1613 [tts]restructure expand in length_regulator.py for paddle2onnx, test=tts
  examples/csmsc/tts3/README.md
  paddlespeech/t2s/modules/predictor/length_regulator.py
Labels: README, Example, T2S

#1628 [vec][search] update client image url
  demos/README.md
  demos/README_cn.md
  demos/audio_searching/docker-compose.yaml
Labels: README, Demo

#1627 [websocket] added online asr engine
  paddlespeech/s2t/frontend/audio.py
  paddlespeech/s2t/frontend/speech.py
  paddlespeech/server/bin/main.py
  paddlespeech/server/conf/application.yaml
  paddlespeech/server/conf/ws_application.yaml
  paddlespeech/server/engine/asr/online/__init__.py
  paddlespeech/server/engine/asr/online/asr_engine.py
  paddlespeech/server/engine/engine_factory.py
  paddlespeech/server/tests/asr/online/microphone_client.py
  paddlespeech/server/tests/asr/online/websocket_client.py
  paddlespeech/server/utils/buffer.py
  paddlespeech/server/utils/vad.py
  paddlespeech/server/ws/__init__.py
  paddlespeech/server/ws/api.py
  paddlespeech/server/ws/asr_socket.py
Labels: S2T, server

#1631 [speechx] openfst patch and glog
  demos/audio_searching/src/encode.py
  speechx/cmake/external/openfst.cmake
  speechx/examples/CMakeLists.txt
  speechx/examples/README.md
  speechx/examples/decoder/offline_decoder_main.cc
  speechx/examples/decoder/run.sh
  speechx/examples/feat/feature-mfcc-test.cc
  speechx/examples/feat/linear_spectrogram_main.cc
  speechx/examples/feat/run.sh
  speechx/speechx/frontend/feature_cache.h
  speechx/speechx/frontend/raw_audio.h
Labels: README, Deployment, Demo
