Repository PaddlePaddle/PaddleSpeech, pull requests merged in 2022-06, with the labels that each got.

#2002 [Resource] Fix tts_online server issue. test=doc
  paddlespeech/server/engine/tts/online/python/tts_engine.py
Labels: Server

#1997 [ASR] refactor ds2, cli, server with espent datapipeline
  examples/aishell/asr0/conf/augmentation.json
  examples/aishell/asr0/conf/deepspeech2.yaml
  examples/aishell/asr0/conf/deepspeech2_online.yaml
  examples/aishell/asr0/conf/preprocess.yaml
  examples/aishell/asr0/conf/tuning/decode.yaml
  examples/aishell/asr0/local/data.sh
  examples/aishell/asr0/local/export.sh
  examples/aishell/asr0/local/test.sh
  examples/aishell/asr0/local/test_export.sh
  examples/aishell/asr0/local/test_wav.sh
  examples/aishell/asr0/local/train.sh
  examples/aishell/asr0/run.sh
  examples/librispeech/asr0/conf/augmentation.json
  examples/librispeech/asr0/conf/deepspeech2.yaml
  examples/librispeech/asr0/conf/deepspeech2_online.yaml
  examples/librispeech/asr0/conf/preprocess.yaml
  examples/librispeech/asr0/local/data.sh
  examples/librispeech/asr0/local/export.sh
  examples/librispeech/asr0/local/test.sh
  examples/librispeech/asr0/local/test_wav.sh
  examples/librispeech/asr0/local/train.sh
  examples/librispeech/asr0/run.sh
  examples/tiny/asr0/conf/augmentation.json
  examples/tiny/asr0/conf/deepspeech2.yaml
  examples/tiny/asr0/conf/deepspeech2_online.yaml
  examples/tiny/asr0/conf/preprocess.yaml
  examples/tiny/asr0/local/export.sh
  examples/tiny/asr0/local/test.sh
  examples/tiny/asr0/local/train.sh
  examples/tiny/asr0/run.sh
  paddlespeech/cli/asr/infer.py
  paddlespeech/resource/model_alias.py
  paddlespeech/resource/pretrained_models.py
  paddlespeech/s2t/exps/deepspeech2/bin/export.py
  paddlespeech/s2t/exps/deepspeech2/bin/test.py
  paddlespeech/s2t/exps/deepspeech2/bin/test_export.py
  paddlespeech/s2t/exps/deepspeech2/bin/test_wav.py
  paddlespeech/s2t/exps/deepspeech2/bin/train.py
  paddlespeech/s2t/exps/deepspeech2/model.py
  paddlespeech/s2t/models/ds2/conv.py
  paddlespeech/s2t/models/ds2/deepspeech2.py
  paddlespeech/s2t/models/ds2/rnn.py
  paddlespeech/s2t/models/ds2_online/__init__.py
  paddlespeech/s2t/models/ds2_online/conv.py
  paddlespeech/s2t/models/ds2_online/deepspeech2.py
  paddlespeech/server/engine/asr/online/asr_engine.py
  paddlespeech/server/engine/asr/paddleinference/asr_engine.py
Labels: Example, S2T, CLI, Server

#2003 [speechx] refactor frontend
  speechx/examples/custom_asr/run.sh
  speechx/examples/ds2_ol/aishell/run.sh
  speechx/examples/ds2_ol/aishell/run_fbank.sh
  speechx/examples/ds2_ol/websocket/websocket_client.sh
  speechx/examples/ds2_ol/websocket/websocket_server.sh
  speechx/speechx/decoder/param.h
  speechx/speechx/decoder/recognizer_main.cc
  speechx/speechx/frontend/audio/audio_cache.h
  speechx/speechx/frontend/audio/compute_fbank_main.cc
  speechx/speechx/frontend/audio/compute_linear_spectrogram_main.cc
  speechx/speechx/frontend/audio/fbank.cc
  speechx/speechx/frontend/audio/fbank.h
  speechx/speechx/frontend/audio/feature_common.h
  speechx/speechx/frontend/audio/feature_common_inl.h
  speechx/speechx/frontend/audio/feature_pipeline.h
  speechx/speechx/frontend/audio/linear_spectrogram.cc
  speechx/speechx/frontend/audio/linear_spectrogram.h
Labels: Deployment, S2T

#2005 [speechx] fix speechx; rm simdjson
  speechx/CMakeLists.txt
  speechx/speechx/utils/CMakeLists.txt
  speechx/speechx/utils/simdjson.cpp
  speechx/speechx/utils/simdjson.h
Labels: Deployment

#2006 [speechx] fix speech ws example
  demos/streaming_asr_server/web/templates/index.html
  speechx/examples/ds2_ol/README.md
  speechx/examples/ds2_ol/aishell/path.sh
  speechx/examples/ds2_ol/websocket/path.sh
  speechx/examples/ds2_ol/websocket/websocket_server.sh
Labels: README, Deployment, Demo

#1992 [server] update engine
  demos/speech_server/start_multi_progress_server.py
  paddlespeech/server/bin/paddlespeech_server.py
  paddlespeech/server/engine/asr/paddleinference/asr_engine.py
  paddlespeech/server/engine/asr/python/asr_engine.py
  paddlespeech/server/engine/cls/paddleinference/cls_engine.py
  paddlespeech/server/engine/cls/python/cls_engine.py
  paddlespeech/server/engine/engine_warmup.py
  paddlespeech/server/engine/tts/online/onnx/tts_engine.py
  paddlespeech/server/engine/tts/online/python/tts_engine.py
  paddlespeech/server/engine/tts/paddleinference/tts_engine.py
  paddlespeech/server/engine/tts/python/tts_engine.py
  paddlespeech/server/restful/asr_api.py
  paddlespeech/server/restful/cls_api.py
  paddlespeech/server/restful/tts_api.py
  paddlespeech/server/ws/tts_api.py
Labels: Demo, Server

#2012 [server] fix hifigan pad value
  demos/streaming_tts_server/README.md
  demos/streaming_tts_server/README_cn.md
  demos/streaming_tts_server/conf/tts_online_application.yaml
  paddlespeech/server/conf/tts_online_application.yaml
  tests/unit/server/online/tts/check_server/test.sh
Labels: README, Demo, Test, Server

#2015 [server][asr] support endpoint for conformer streaming model
  .pre-commit-config.yaml
  demos/streaming_asr_server/conf/application.yaml
  demos/streaming_asr_server/conf/ws_conformer_application.yaml
  demos/streaming_asr_server/conf/ws_conformer_wenetspeech_application.yaml
  demos/streaming_asr_server/server.sh
  demos/streaming_asr_server/test.sh
  examples/wenetspeech/asr1/local/extract_meta.py
  paddlespeech/cli/base_commands.py
  paddlespeech/cli/cls/infer.py
  paddlespeech/cli/vector/infer.py
  paddlespeech/resource/model_alias.py
  paddlespeech/s2t/decoders/scorers/ctc_prefix_score.py
  paddlespeech/s2t/exps/deepspeech2/model.py
  paddlespeech/s2t/models/ds2/__init__.py
  paddlespeech/s2t/models/ds2/deepspeech2.py
  paddlespeech/s2t/models/lm/transformer.py
  paddlespeech/s2t/models/u2/updater.py
  paddlespeech/s2t/modules/ctc.py
  paddlespeech/s2t/utils/tensor_utils.py
  paddlespeech/server/conf/ws_application.yaml
  paddlespeech/server/conf/ws_conformer_application.yaml
  paddlespeech/server/engine/asr/online/asr_engine.py
  paddlespeech/server/engine/asr/online/ctc_endpoint.py
  paddlespeech/server/engine/asr/online/ctc_search.py
  paddlespeech/server/engine/tts/online/python/tts_engine.py
  paddlespeech/server/ws/asr_api.py
  paddlespeech/t2s/exps/synthesize.py
  paddlespeech/t2s/exps/synthesize_e2e.py
  paddlespeech/t2s/exps/voice_cloning.py
  paddlespeech/t2s/models/vits/__init__.py
  paddlespeech/t2s/models/vits/vits_updater.py
  paddlespeech/t2s/modules/losses.py
  speechx/examples/README.md
  speechx/examples/ds2_ol/README.md
  speechx/speechx/codelab/README.md
  speechx/speechx/decoder/ctc_prefix_beam_search_decoder_main.cc
  speechx/speechx/decoder/ctc_tlg_decoder.cc
  speechx/speechx/decoder/param.h
  speechx/speechx/decoder/tlg_decoder_main.cc
  speechx/speechx/frontend/audio/assembler.cc
  speechx/speechx/frontend/audio/assembler.h
  speechx/speechx/frontend/audio/audio_cache.h
  speechx/speechx/frontend/audio/fbank.cc
  speechx/speechx/frontend/audio/feature_cache.cc
  speechx/speechx/frontend/audio/feature_cache.h
  speechx/speechx/frontend/audio/feature_common.h
  speechx/speechx/frontend/audio/feature_common_inl.h
  speechx/speechx/frontend/audio/feature_pipeline.h
  speechx/speechx/frontend/audio/linear_spectrogram.cc
  speechx/speechx/nnet/nnet_forward_main.cc
  speechx/speechx/protocol/websocket/websocket_client.h
  speechx/speechx/protocol/websocket/websocket_server.cc
Labels: README, Example, Deployment, S2T, T2S, Demo, CLI, Server

#2017 [Doc]update ds2 offline aishell librispeech,test=doc
  docs/source/released_model.md
  examples/aishell/asr0/RESULTS.md
  examples/librispeech/asr0/RESULTS.md
Labels: Documentation, Example

#2018 [server][asr] do not reset result for web ws api
  demos/streaming_asr_server/server.sh
  paddlespeech/server/engine/asr/online/asr_engine.py
  paddlespeech/server/ws/asr_api.py
Labels: Demo, Server

#2016 [ASR] Support editing num_decode_left_chunks in cli and server
  demos/streaming_asr_server/conf/ws_conformer_application.yaml
  demos/streaming_asr_server/conf/ws_conformer_wenetspeech_application.yaml
  demos/streaming_asr_server/conf/ws_ds2_application.yaml
  paddlespeech/cli/asr/infer.py
  paddlespeech/server/conf/ws_application.yaml
  paddlespeech/server/conf/ws_conformer_application.yaml
  paddlespeech/server/engine/asr/online/asr_engine.py
Labels: Demo, CLI, Server

#2019 [Server] update reademe, add conf file, updata test_cli
  demos/streaming_asr_server/README.md
  demos/streaming_asr_server/README_cn.md
  demos/streaming_asr_server/conf/ws_conformer_wenetspeech_application_faster.yaml
  paddlespeech/cli/asr/infer.py
  paddlespeech/server/conf/ws_conformer_wenetspeech_application_faster.yaml
  tests/unit/cli/test_cli.sh
Labels: README, Demo, CLI, Test, Server

#2020 [CLI] update ds2 wenetspeech model info,support static model
  docs/source/released_model.md
  paddlespeech/resource/pretrained_models.py
Labels: Documentation

#2025 [CLI ]fix cli
  paddlespeech/cli/asr/infer.py
  paddlespeech/server/engine/asr/online/asr_engine.py
Labels: CLI, Server

#2028 [ASR] support distrbuted training
  examples/aishell/asr0/local/train.sh
  examples/aishell/asr0/run.sh
  examples/aishell/asr1/local/train.sh
  examples/aishell/asr1/run.sh
  examples/callcenter/asr1/local/train.sh
  examples/callcenter/asr1/run.sh
  examples/librispeech/asr0/local/train.sh
  examples/librispeech/asr0/run.sh
  examples/librispeech/asr1/local/train.sh
  examples/librispeech/asr1/run.sh
  examples/librispeech/asr2/local/train.sh
  examples/librispeech/asr2/run.sh
  examples/mustc/st1/local/train.sh
  examples/mustc/st1/run.sh
  examples/ted_en_zh/st0/local/train.sh
  examples/ted_en_zh/st0/run.sh
  examples/ted_en_zh/st1/local/train.sh
  examples/ted_en_zh/st1/run.sh
  examples/tiny/asr0/local/train.sh
  examples/tiny/asr0/run.sh
  examples/tiny/asr1/local/train.sh
  examples/tiny/asr1/run.sh
Labels: Example

#2030 [Doc] Update released_model.md
  docs/source/released_model.md
Labels: Documentation

#2031 [ASR] fix local/test.sh in librispeech asr1
  examples/librispeech/asr1/local/test.sh
Labels: Example

#2037 [speechx] update ds2 onnx model gen and update ds2 streaming model
  paddlespeech/resource/pretrained_models.py
  speechx/examples/ds2_ol/onnx/local/infer_check.py
  speechx/examples/ds2_ol/onnx/run.sh
Labels: Deployment

#2046 [Server] fix ds2 server config
  demos/streaming_asr_server/conf/ws_ds2_application.yaml
  paddlespeech/server/conf/ws_ds2_application.yaml
Labels: Demo, Server

#2045 [server] ds2 wenetspeech to onnx and support streaming asr server
  demos/streaming_asr_server/.gitignore
  demos/streaming_asr_server/conf/ws_ds2_application.yaml
  demos/streaming_asr_server/local/rtf_from_log.py
  demos/streaming_asr_server/local/test.sh
  demos/streaming_asr_server/local/websocket_client.py
  demos/streaming_asr_server/test.sh
  paddlespeech/cli/utils.py
  paddlespeech/resource/pretrained_models.py
  paddlespeech/server/conf/ws_ds2_application.yaml
  paddlespeech/server/engine/asr/online/onnx/__init__.py
  paddlespeech/server/engine/asr/online/paddleinference/__init__.py
  paddlespeech/server/engine/asr/online/python/__init__.py
  speechx/examples/ds2_ol/onnx/README.md
  speechx/examples/ds2_ol/onnx/local/onnx_infer_shape.py
  speechx/examples/ds2_ol/onnx/local/ort_opt.py
  speechx/examples/ds2_ol/onnx/run.sh
Labels: README, Deployment, Demo, CLI, Server

#2044 Updata doc
  docs/source/install.md
  docs/source/install_cn.md
Labels: Documentation

#2040 [TTS]add blank between characters for vits
  examples/csmsc/vits/conf/default.yaml
  examples/csmsc/vits/local/preprocess.sh
  examples/csmsc/vits/local/synthesize_e2e.sh
  examples/csmsc/vits/run.sh
  examples/ljspeech/voc0/local/synthesize.sh
  paddlespeech/t2s/exps/fastspeech2/normalize.py
  paddlespeech/t2s/exps/fastspeech2/preprocess.py
  paddlespeech/t2s/exps/gan_vocoder/normalize.py
  paddlespeech/t2s/exps/gan_vocoder/preprocess.py
  paddlespeech/t2s/exps/speedyspeech/normalize.py
  paddlespeech/t2s/exps/speedyspeech/preprocess.py
  paddlespeech/t2s/exps/tacotron2/preprocess.py
  paddlespeech/t2s/exps/transformer_tts/normalize.py
  paddlespeech/t2s/exps/transformer_tts/preprocess.py
  paddlespeech/t2s/exps/vits/normalize.py
  paddlespeech/t2s/exps/vits/preprocess.py
  paddlespeech/t2s/exps/vits/synthesize_e2e.py
  paddlespeech/t2s/exps/vits/train.py
  paddlespeech/t2s/exps/waveflow/preprocess.py
  paddlespeech/t2s/exps/waveflow/synthesize.py
  paddlespeech/t2s/frontend/zh_frontend.py
  paddlespeech/t2s/models/vits/vits.py
Labels: Example, T2S

#2048 [CLI][Audio] Fix circular import error in paddlespeech.cli.utils and paddlespeech.audio
  paddlespeech/audio/utils/__init__.py
  paddlespeech/cli/asr/infer.py
  paddlespeech/cli/st/infer.py
  paddlespeech/cli/utils.py
  paddlespeech/cls/models/panns/panns.py
  paddlespeech/resource/resource.py
  paddlespeech/server/engine/asr/online/onnx/asr_engine.py
  paddlespeech/server/engine/asr/online/paddleinference/asr_engine.py
  paddlespeech/server/engine/asr/online/python/asr_engine.py
  paddlespeech/server/engine/asr/paddleinference/asr_engine.py
  paddlespeech/utils/env.py
Labels: Audio, CLI, Server

#2053 [audio] sox io
  audio/CMakeLists.txt
  audio/paddleaudio/csrc/CMakeLists.txt
  audio/paddleaudio/csrc/pybind/pybind.cpp
  audio/paddleaudio/csrc/pybind/sox/io.cpp
  audio/paddleaudio/csrc/pybind/sox/io.h
  audio/paddleaudio/csrc/pybind/sox/utils.cpp
  audio/paddleaudio/csrc/pybind/sox/utils.h
  audio/third_party/CMakeLists.txt
  audio/third_party/patches/config.guess
  audio/third_party/patches/config.sub
  audio/third_party/patches/libmad.patch
  audio/third_party/patches/sox.patch
  audio/third_party/sox/CMakeLists.txt
  setup.py
Labels: Installation

#2043 Update README.md
  README.md
  README_cn.md
Labels: README

#1967 [TIPC][KWS] Add kws tipc.
  tests/test_tipc/configs/mdtc/train_infer_python.txt
  tests/test_tipc/prepare.sh
Labels: Test

#2051 [audio] add kaldi fbank to paddleaudio
  audio/CMakeLists.txt
  audio/third_party/CMakeLists.txt
  paddlespeech/audio/.gitignore
  paddlespeech/audio/CMakeLists.txt
  paddlespeech/audio/cmake/FindGFortranLibs.cmake
  paddlespeech/audio/cmake/external/openblas.cmake
  paddlespeech/audio/cmake/external/pybind.cmake
  paddlespeech/audio/csrc/CMakeLists.txt
  paddlespeech/audio/csrc/pybind/kaldi_frontend/CMakeLists.txt
  paddlespeech/audio/csrc/pybind/kaldi_frontend/feature_common.h
  paddlespeech/audio/csrc/pybind/kaldi_frontend/feature_common_inl.h
  paddlespeech/audio/csrc/pybind/kaldi_frontend/kaldi_feature.cc
  paddlespeech/audio/csrc/pybind/kaldi_frontend/kaldi_feature.h
  paddlespeech/audio/csrc/pybind/kaldi_frontend/kaldi_feature_wrapper.cc
  paddlespeech/audio/csrc/pybind/kaldi_frontend/kaldi_feature_wrapper.h
  paddlespeech/audio/third_party/CMakeLists.txt
  paddlespeech/audio/third_party/kaldi/CMakeLists.txt
  paddlespeech/audio/third_party/kaldi/base
  paddlespeech/audio/third_party/kaldi/feat
  paddlespeech/audio/third_party/kaldi/matrix
  paddlespeech/audio/third_party/kaldi/util
  speechx/speechx/kaldi/base/kaldi-types.h
Labels: Deployment, Audio

#2056 [server] fix_model_init
  paddlespeech/server/engine/tts/online/onnx/tts_engine.py
Labels: Server

#2063 [CLI][Demo] Add kws cli and demo.
  demos/keyword_spotting/README.md
  demos/keyword_spotting/README_cn.md
  demos/keyword_spotting/run.sh
  paddlespeech/cli/base_commands.py
  paddlespeech/cli/kws/__init__.py
  paddlespeech/cli/kws/infer.py
  paddlespeech/resource/model_alias.py
  paddlespeech/resource/pretrained_models.py
  paddlespeech/resource/resource.py
Labels: README, Demo, CLI

#2076 [doc]add api doc
  .readthedocs.yml
  docs/requirements.txt
Labels: Documentation

#2079 [vector]add convert.sh
  examples/voxceleb/sv0/local/convert.sh
Labels: Example

#2081 [Doc] updata install_cn
  docs/source/install.md
  docs/source/install_cn.md
Labels: Documentation

#2082 [doc]fix version of pyworld
  docs/requirements.txt
  setup.py
Labels: Documentation, Installation

#2080 [demos] use new engine api for speech_web
  demos/speech_web/README_cn.md
  demos/speech_web/speech_server/main.py
  demos/speech_web/speech_server/src/AudioManeger.py
  demos/speech_web/speech_server/src/SpeechBase/asr.py
  demos/speech_web/speech_server/src/SpeechBase/nlp.py
  demos/speech_web/speech_server/src/SpeechBase/sql_helper.py
  demos/speech_web/speech_server/src/SpeechBase/tts.py
  demos/speech_web/speech_server/src/SpeechBase/vpr.py
  demos/speech_web/speech_server/src/SpeechBase/vpr_encode.py
  demos/speech_web/speech_server/src/robot.py
Labels: Demo

#2084 [CLI] fix 'print log' in cli
  paddlespeech/s2t/utils/log.py
Labels: S2T

#2085 [TTS]fix int32 warning in tts
  paddlespeech/t2s/modules/nets_utils.py
Labels: T2S

#2086 [Dataset] fix url in librispeech.py
  dataset/aidatatang_200zh/README.md
  dataset/aishell/README.md
  dataset/aishell/aishell.py
  dataset/librispeech/librispeech.py
  dataset/magicdata/README.md
  dataset/mini_librispeech/mini_librispeech.py
  dataset/musan/musan.py
  dataset/primewords/README.md
  dataset/rir_noise/rir_noise.py
  dataset/st-cmds/README.md
  dataset/thchs30/README.md
  dataset/thchs30/thchs30.py
Labels: README, Dataset

#2087 [TTS]install CPython version monotonic_align before training
  README.md
  README_cn.md
  examples/csmsc/vits/README.md
  examples/csmsc/vits/local/synthesize.sh
  examples/csmsc/vits/local/train.sh
Labels: README, Example

#2090 [Examples][SV] Fix rir download. test=doc
  dataset/rir_noise/rir_noise.py
  examples/voxceleb/sv0/local/data.sh
Labels: Example, Dataset

#2091 [demo] fix demo
  demos/streaming_asr_server/web/templates/index.html
Labels: Demo

#2094 [audio] build with kaldi pybind
  CMakeLists.txt
  audio/.gitignore
  audio/CMakeLists.txt
  audio/audio/csrc/CMakeLists.txt
  audio/audio/csrc/pybind/pybind.cpp
  audio/audio/csrc/pybind/sox/io.cpp
  audio/audio/csrc/pybind/sox/io.h
  audio/audio/csrc/pybind/sox/utils.cpp
  audio/audio/csrc/pybind/sox/utils.h
  audio/third_party/CMakeLists.txt
  audio/third_party/patches/config.guess
  audio/third_party/patches/config.sub
  audio/third_party/patches/libmad.patch
  audio/third_party/patches/sox.patch
  audio/third_party/sox/CMakeLists.txt
  cmake/FindGFortranLibs.cmake
  cmake/external/openblas.cmake
  cmake/external/pybind.cmake
  cmake/summary.cmake
  paddlespeech/audio/CMakeLists.txt
  paddlespeech/audio/_internal/module_utils.py
  paddlespeech/audio/src/CMakeLists.txt
  paddlespeech/audio/src/pybind/kaldi/feature_common.h
  paddlespeech/audio/src/pybind/kaldi/feature_common_inl.h
  paddlespeech/audio/src/pybind/kaldi/kaldi_feature.cc
  paddlespeech/audio/src/pybind/kaldi/kaldi_feature.h
  paddlespeech/audio/src/pybind/kaldi/kaldi_feature_wrapper.cc
  paddlespeech/audio/src/pybind/kaldi/kaldi_feature_wrapper.h
  paddlespeech/audio/src/pybind/kaldi_frontend/CMakeLists.txt
  paddlespeech/audio/src/pybind/kaldi_frontend/kaldi_feature_wrapper.h
  paddlespeech/audio/src/pybind/pybind.cpp
  paddlespeech/audio/src/pybind/sox/utils.h
  paddlespeech/audio/third_party/CMakeLists.txt
  paddlespeech/audio/third_party/kaldi/CMakeLists.txt
  speechx/speechx/kaldi/base/kaldi-types.h
  tools/setup_helpers/extension.py
Labels: Installation, Deployment, Audio

#2104 [Doc] Update conformer_aishell pretrained model
  docs/source/released_model.md
  examples/aishell/asr1/RESULTS.md
  examples/aishell/asr1/conf/conformer.yaml
Labels: Documentation, Example

#2103 [CLI][Resource]Fix unnecessary download
  paddlespeech/cli/tts/infer.py
  paddlespeech/resource/resource.py
  paddlespeech/server/engine/tts/online/python/tts_engine.py
  paddlespeech/server/engine/tts/paddleinference/tts_engine.py
Labels: CLI, Server

#2105 [demos] use paddle web for streaming asr
  demos/streaming_asr_server/web/app.py
  demos/streaming_asr_server/web/favicon.ico
  demos/streaming_asr_server/web/index.html
  demos/streaming_asr_server/web/paddle_web_demo.png
  demos/streaming_asr_server/web/readme.md
  demos/streaming_asr_server/web/static/css/font-awesome.min.css
  demos/streaming_asr_server/web/static/css/style.css
  demos/streaming_asr_server/web/static/fonts/FontAwesome.otf
  demos/streaming_asr_server/web/static/fonts/fontawesome-webfont.eot
  demos/streaming_asr_server/web/static/fonts/fontawesome-webfont.svg
  demos/streaming_asr_server/web/static/fonts/fontawesome-webfont.ttf
  demos/streaming_asr_server/web/static/fonts/fontawesome-webfont.woff
  demos/streaming_asr_server/web/static/fonts/fontawesome-webfont.woff2
  demos/streaming_asr_server/web/static/image/PaddleSpeech_logo.png
  demos/streaming_asr_server/web/static/image/voice-dictation.svg
  demos/streaming_asr_server/web/static/js/SoundRecognizer.js
  demos/streaming_asr_server/web/static/js/jquery-3.2.1.min.js
  demos/streaming_asr_server/web/static/js/recorder/engine/mp3.js
  demos/streaming_asr_server/web/static/js/recorder/engine/pcm.js
  demos/streaming_asr_server/web/static/js/recorder/engine/wav.js
  demos/streaming_asr_server/web/static/js/recorder/extensions/frequency.histogram.view.js
  demos/streaming_asr_server/web/static/js/recorder/extensions/lib.fft.js
  demos/streaming_asr_server/web/static/js/recorder/recorder-core.js
  demos/streaming_asr_server/web/static/paddle.ico
  demos/streaming_asr_server/web/templates/index.html
Labels: Demo
