Repository PaddlePaddle/PaddleSpeech, pull requests merged in 2022-09, with the labels that each got.

#2347 [TTS]update version of paddle2onnx
  examples/aishell3/tts3/run.sh
  examples/csmsc/tts2/run.sh
  examples/csmsc/tts3/run.sh
  examples/csmsc/tts3/run_cnndecoder.sh
  examples/ljspeech/tts3/run.sh
  examples/vctk/tts3/run.sh
  examples/zh_en_tts/tts3/run.sh
Labels: Example

#2354 fix a small bug for benchmank
  examples/hey_snips/kws0/conf/mdtc.yaml
  tests/test_tipc/prepare.sh
Labels: Bug, Example, Test

#2351 [s2t] fix deepspeech2 decode_wav
  paddlespeech/s2t/exps/deepspeech2/bin/test_wav.py
Labels: S2T

#2355 [TTS]fix gpus of ernie_sat
  examples/aishell3/ernie_sat/run.sh
  examples/aishell3_vctk/ernie_sat/run.sh
  examples/vctk/ernie_sat/run.sh
  paddlespeech/t2s/datasets/sampler.py
Labels: Example, T2S

#2357 Add Chinese doc and language switcher for demos of metaverse, style_fs2 and story_talker
  demos/metaverse/README.md
  demos/metaverse/README_cn.md
  demos/story_talker/README.md
  demos/story_talker/README_cn.md
  demos/style_fs2/README.md
  demos/style_fs2/README_cn.md
Labels: README, Demo

#2362 [TTS]add __init__.py for VITS, test=tts
  paddlespeech/t2s/exps/vits/__init__.py
Labels: T2S

#2367 add tool to compare two tests results, show difference
  examples/other/g2p/compare_badcase.py
Labels: Example

#2370 Revised must_neural_tone_words, test=doc.
  paddlespeech/t2s/exps/vits/__init__.py
  paddlespeech/t2s/frontend/tone_sandhi.py
Labels: T2S

#2373 [s2t] update wenetspeech streaming coformer result
  examples/wenetspeech/asr1/RESULTS.md
Labels: Example

#2372 [s2t] DataParallel init method changed, fixed conformer could not multi-gpu training and don't affect dy2st
  paddlespeech/s2t/models/u2/u2.py
  paddlespeech/s2t/modules/attention.py
  paddlespeech/s2t/modules/conformer_convolution.py
  paddlespeech/s2t/modules/decoder_layer.py
  paddlespeech/s2t/modules/encoder.py
  paddlespeech/s2t/modules/encoder_layer.py
  paddlespeech/s2t/training/trainer.py
  paddlespeech/server/engine/asr/online/python/asr_engine.py
Labels: S2T, Server

#2376 fix prepare.sh
  tests/test_tipc/prepare.sh
Labels: Test, contributor

#2378 [TTS] fix some bugs of ERNIE-SAT
  examples/aishell3/ernie_sat/local/synthesize_e2e.sh
  examples/aishell3_vctk/ernie_sat/local/synthesize_e2e.sh
  examples/vctk/ernie_sat/local/synthesize_e2e.sh
  paddlespeech/t2s/exps/ernie_sat/align.py
  paddlespeech/t2s/exps/ernie_sat/synthesize_e2e.py
Labels: Example, T2S

#2380 Removed useless spk_id in speech_server and streaming_tts_server from demos, and support bilingual server engine, test=tts
  demos/speech_server/conf/application.yaml
  demos/streaming_tts_server/conf/tts_online_application.yaml
  demos/streaming_tts_server/conf/tts_online_ws_application.yaml
  paddlespeech/server/engine/engine_warmup.py
Labels: T2S, Demo, Server

#2385 [tts] finetune add frozen
  examples/other/tts_finetune/tts3/README.md
  examples/other/tts_finetune/tts3/finetune.py
  examples/other/tts_finetune/tts3/finetune.yaml
  examples/other/tts_finetune/tts3/local/extract.py
  examples/other/tts_finetune/tts3/local/train.py
  examples/other/tts_finetune/tts3/run.sh
Labels: README, Example

#2391 [s2t] update wenetspeech RESULT.md, add chunk=-1 result of online conformer
  examples/wenetspeech/asr1/RESULTS.md
Labels: Example

#2390 [TTS]add typehint for g2pw
  paddlespeech/t2s/frontend/g2pw/__init__.py
  paddlespeech/t2s/frontend/g2pw/dataset.py
  paddlespeech/t2s/frontend/g2pw/onnx_api.py
  paddlespeech/t2s/frontend/g2pw/utils.py
Labels: T2S

#2392 [doc]fix ERNIE-SAT README
  examples/aishell3/ernie_sat/README.md
  examples/aishell3_vctk/ernie_sat/README.md
  examples/vctk/ernie_sat/README.md
Labels: README, Example

#2414 update audio api in apps
  examples/esc50/cls0/conf/panns.yaml
  examples/hey_snips/kws0/conf/mdtc.yaml
  examples/voxceleb/sv0/local/data_prepare.py
  examples/voxceleb/sv0/local/make_rirs_noise_csv_dataset_from_json.py
  examples/voxceleb/sv0/local/make_vox_csv_dataset_from_json.py
  paddlespeech/cli/cls/infer.py
  paddlespeech/cli/kws/infer.py
  paddlespeech/cli/vector/infer.py
  paddlespeech/cls/exps/panns/deploy/predict.py
  paddlespeech/cls/exps/panns/export_model.py
  paddlespeech/cls/exps/panns/predict.py
  paddlespeech/cls/exps/panns/train.py
  paddlespeech/cls/models/panns/panns.py
  paddlespeech/kws/exps/mdtc/train.py
  paddlespeech/s2t/frontend/featurizer/audio_featurizer.py
  paddlespeech/s2t/models/u2/u2.py
  paddlespeech/s2t/models/u2_st/u2_st.py
  paddlespeech/server/engine/vector/python/vector_engine.py
  paddlespeech/server/util.py
  paddlespeech/vector/exps/ecapa_tdnn/extract_emb.py
  paddlespeech/vector/exps/ecapa_tdnn/test.py
  paddlespeech/vector/exps/ecapa_tdnn/train.py
  paddlespeech/vector/io/dataset.py
  paddlespeech/vector/io/dataset_from_json.py
Labels: Example, S2T, Vector, CLI, Server

#2411 [doc]add finetune demos in readthe docs
  docs/requirements.txt
  docs/source/api/paddlespeech.cls.exps.panns.deploy.predict.rst
  docs/source/api/paddlespeech.cls.exps.panns.deploy.rst
  docs/source/api/paddlespeech.cls.exps.panns.export_model.rst
  docs/source/api/paddlespeech.cls.exps.panns.predict.rst
  docs/source/api/paddlespeech.cls.exps.panns.rst
  docs/source/api/paddlespeech.cls.exps.panns.train.rst
  docs/source/api/paddlespeech.kws.exps.mdtc.plot_det_curve.rst
  docs/source/api/paddlespeech.kws.exps.mdtc.rst
  docs/source/api/paddlespeech.s2t.decoders.ctcdecoder.rst
  docs/source/api/paddlespeech.s2t.decoders.ctcdecoder.scorer_deprecated.rst
  docs/source/api/paddlespeech.s2t.decoders.recog_bin.rst
  docs/source/api/paddlespeech.s2t.decoders.rst
  docs/source/api/paddlespeech.s2t.decoders.scorers.ngram.rst
  docs/source/api/paddlespeech.s2t.decoders.scorers.rst
  docs/source/api/paddlespeech.s2t.exps.deepspeech2.bin.deploy.client.rst
  docs/source/api/paddlespeech.s2t.exps.deepspeech2.bin.deploy.record.rst
  docs/source/api/paddlespeech.s2t.exps.deepspeech2.bin.deploy.rst
  docs/source/api/paddlespeech.s2t.exps.deepspeech2.bin.deploy.send.rst
  docs/source/api/paddlespeech.s2t.exps.u2.rst
  docs/source/api/paddlespeech.s2t.exps.u2.trainer.rst
  docs/source/api/paddlespeech.s2t.exps.u2_kaldi.bin.recog.rst
  docs/source/api/paddlespeech.s2t.exps.u2_kaldi.bin.rst
  docs/source/api/paddlespeech.s2t.training.extensions.rst
  docs/source/api/paddlespeech.s2t.training.extensions.snapshot.rst
  docs/source/api/paddlespeech.s2t.training.extensions.visualizer.rst
  docs/source/api/paddlespeech.s2t.training.updaters.rst
  docs/source/api/paddlespeech.s2t.training.updaters.trainer.rst
  docs/source/api/paddlespeech.s2t.transform.add_deltas.rst
  docs/source/api/paddlespeech.s2t.transform.channel_selector.rst
  docs/source/api/paddlespeech.s2t.transform.cmvn.rst
  docs/source/api/paddlespeech.s2t.transform.functional.rst
  docs/source/api/paddlespeech.s2t.transform.perturb.rst
  docs/source/api/paddlespeech.s2t.transform.rst
  docs/source/api/paddlespeech.s2t.transform.spec_augment.rst
  docs/source/api/paddlespeech.s2t.transform.spectrogram.rst
  docs/source/api/paddlespeech.s2t.transform.transform_interface.rst
  docs/source/api/paddlespeech.s2t.transform.transformation.rst
  docs/source/api/paddlespeech.s2t.transform.wpe.rst
  docs/source/api/paddlespeech.server.engine.acs.python.acs_engine.rst
  docs/source/api/paddlespeech.server.engine.acs.python.rst
  docs/source/api/paddlespeech.server.utils.log.rst
  docs/source/api/paddlespeech.t2s.exps.rst
  docs/source/api/paddlespeech.t2s.exps.stream_play_tts.rst
  docs/source/api/paddlespeech.t2s.models.ernie_sat.mlm.rst
  docs/source/api/paddlespeech.t2s.models.vits.monotonic_align.core.rst
  docs/source/api/paddlespeech.t2s.models.vits.monotonic_align.rst
  docs/source/api/paddlespeech.t2s.models.vits.monotonic_align.setup.rst
  docs/source/api/paddlespeech.t2s.models.vits.rst
  docs/source/tts/demo.rst
  docs/source/tts/demo_2.rst
Labels: Documentation

#2416 Replaced the fixed path with the dynamic path in MFA, test=doc
  examples/other/mfa/run.sh
Labels: Example, T2S

#2418 [tts] update finetune yaml and readme
  examples/other/tts_finetune/tts3/README.md
  examples/other/tts_finetune/tts3/finetune.yaml
Labels: README, Example

#2422 Solve "unknown format: 3"
  paddlespeech/server/engine/tts/paddleinference/tts_engine.py
  paddlespeech/server/engine/tts/python/tts_engine.py
Labels: Server, contributor

#2412 use cmd for voice clone , finetune and ernie-sat
  demos/speech_web/.gitignore
  demos/speech_web/README.md
  demos/speech_web/docs/效果展示.png
  demos/speech_web/speech_server/conf/tts3_finetune.yaml
  demos/speech_web/speech_server/main.py
  demos/speech_web/speech_server/requirements.txt
  demos/speech_web/speech_server/src/ernie_sat.py
  demos/speech_web/speech_server/src/finetune.py
  demos/speech_web/speech_server/src/ge2e_clone.py
  demos/speech_web/speech_server/src/tdnn_clone.py
  demos/speech_web/speech_server/src/util.py
  demos/speech_web/speech_server/vc.py
  demos/speech_web/web_client/package.json
  demos/speech_web/web_client/src/api/API.js
  demos/speech_web/web_client/src/api/ApiVC.js
  demos/speech_web/web_client/src/components/Content/Header/Header.vue
  demos/speech_web/web_client/src/components/Content/Header/style.less
  demos/speech_web/web_client/src/components/Experience.vue
  demos/speech_web/web_client/src/components/SubMenu/ENIRE_SAT/ENIRE_SAT.vue
  demos/speech_web/web_client/src/components/SubMenu/FineTune/FineTune.vue
  demos/speech_web/web_client/src/components/SubMenu/VoiceClone/VoiceClone.vue
  demos/speech_web/web_client/src/main.js
  demos/speech_web/web_client/yarn.lock
Labels: Documentation, README, S2T, T2S, Demo

#2429 [TTS]rm random spk embedding in voice cloning
  paddlespeech/t2s/exps/voice_cloning.py
Labels: T2S

#2432 [TTS]fix ERNIE-SAT bug when edit the end of sentenses
  paddlespeech/t2s/exps/ernie_sat/align.py
Labels: T2S

#2415 [s2t] support bitransformer decoder
  paddlespeech/audio/utils/tensor_utils.py
  paddlespeech/s2t/exps/u2/bin/test_wav.py
  paddlespeech/s2t/exps/u2/model.py
  paddlespeech/s2t/io/dataloader.py
  paddlespeech/s2t/models/u2/u2.py
  paddlespeech/s2t/modules/decoder.py
  paddlespeech/server/engine/asr/online/python/asr_engine.py
Labels: S2T, Audio, Server

#2451 update readme and fixed bug in ngpu
  demos/speech_web/README.md
  demos/speech_web/speech_server/src/ernie_sat.py
  demos/speech_web/speech_server/src/finetune.py
  demos/speech_web/speech_server/src/ge2e_clone.py
  demos/speech_web/speech_server/src/tdnn_clone.py
  demos/speech_web/speech_server/src/util.py
  demos/speech_web/speech_server/vc.py
  demos/speech_web/web_client/src/components/Experience.vue
  demos/speech_web/web_client/src/components/SubMenu/ASR/RealTime/RealTime.vue
  demos/speech_web/web_client/src/components/SubMenu/ChatBot/Chat.vue
  demos/speech_web/web_client/src/components/SubMenu/ChatBot/ChatT.vue
  demos/speech_web/web_client/src/components/SubMenu/ENIRE_SAT/ENIRE_SAT.vue
  demos/speech_web/web_client/src/components/SubMenu/FineTune/FineTune.vue
  demos/speech_web/web_client/src/components/SubMenu/IE/IE.vue
  demos/speech_web/web_client/src/components/SubMenu/TTS/TTST.vue
  demos/speech_web/web_client/src/components/SubMenu/VPR/VPR.vue
  demos/speech_web/web_client/src/components/SubMenu/VPR/VPRT.vue
  demos/speech_web/web_client/src/components/SubMenu/VoiceClone/VoiceClone.vue
Labels: README, Demo

#2457 fix finetune batch size
  examples/other/tts_finetune/tts3/local/finetune.py
Labels: Example

#2460 fix finetune batch size (#2457)
  examples/other/tts_finetune/tts3/local/finetune.py
Labels: Example

#2466 [doc]add Speaker Diarization in readme
  README.md
  README_cn.md
Labels: README

#2421 [CLI]Deploy fast text model for cli
  paddlespeech/cli/README.md
  paddlespeech/cli/README_cn.md
  paddlespeech/cli/text/infer.py
  paddlespeech/resource/model_alias.py
  paddlespeech/resource/pretrained_models.py
  tests/unit/cli/test_cli.sh
Labels: README, CLI, Test, Text

#2465 Text example config files
  examples/iwslt2012/punc0/conf/ernie-3.0-base.yaml
  examples/iwslt2012/punc0/conf/ernie-3.0-medium.yaml
  examples/iwslt2012/punc0/conf/ernie-3.0-mini.yaml
  examples/iwslt2012/punc0/conf/ernie-3.0-nano-zh.yaml
  examples/iwslt2012/punc0/conf/ernie-tiny.yaml
Labels: Example, Text

#2478 [ASR] Chang memory allocator strategy to fix gpu training hang
  examples/aishell/asr0/local/train.sh
  examples/aishell/asr1/local/train.sh
  examples/librispeech/asr0/local/train.sh
  examples/librispeech/asr1/local/train.sh
  examples/librispeech/asr2/local/train.sh
  examples/timit/asr1/local/train.sh
  examples/tiny/asr0/local/train.sh
  examples/tiny/asr1/local/train.sh
  examples/wenetspeech/asr1/local/train.sh
Labels: Example

#2484 BytesIO类型时，要保证切到初始位置，这样多次读取才能够正常。比如__call__函数。
  paddlespeech/cli/asr/infer.py
Labels: S2T, CLI, contributor

#2464 [Server]Deploy text model in server
  paddlespeech/server/engine/text/python/text_engine.py
Labels: Demo, Server

#2489 [ASR] support u2pp based cli and server, optimiz code of u2pp decode (reversed_weight parameter)
  demos/streaming_asr_server/conf/application.yaml
  docs/source/released_model.md
  paddlespeech/cli/asr/infer.py
  paddlespeech/resource/model_alias.py
  paddlespeech/resource/pretrained_models.py
  paddlespeech/s2t/exps/u2/bin/test_wav.py
  paddlespeech/s2t/exps/u2/model.py
  paddlespeech/s2t/models/u2/u2.py
  paddlespeech/server/conf/ws_conformer_application.yaml
  paddlespeech/server/engine/asr/online/python/asr_engine.py
Labels: Documentation, S2T, Demo, CLI, Server
