Repository PaddlePaddle/PaddleSpeech, pull requests merged in 2022-01, with the labels that each got.

#1261 [asr] Change some settings for conformer trainning performance
  examples/aishell/asr1/conf/conformer.yaml
Labels: Example

#1260 [CLI]Cache the TextFeaturizer instance for infer speed improvement.
  paddlespeech/cli/asr/infer.py
Labels: enhancement

#1262 Fix punctuation bug
  README.md
  README_cn.md
  paddlespeech/t2s/frontend/zh_normalization/text_normlization.py
Labels: README, T2S

#1259 [TTS]Add multi-speaker support for the SpeedySpeech model
  examples/csmsc/tts2/local/preprocess.sh
  paddlespeech/t2s/datasets/am_batch_fn.py
  paddlespeech/t2s/exps/speedyspeech/normalize.py
  paddlespeech/t2s/exps/speedyspeech/preprocess.py
  paddlespeech/t2s/exps/speedyspeech/train.py
  paddlespeech/t2s/models/speedyspeech/speedyspeech.py
  paddlespeech/t2s/models/speedyspeech/speedyspeech_updater.py
Labels: Example, T2S

#1269 revise aishell_asr0 Result, test=doc_fix
  examples/aishell/asr0/RESULTS.md
Labels: Example

#1272 [tts]Update mb melgan
  docs/source/released_model.md
  examples/csmsc/tts2/local/synthesize_e2e.sh
  examples/csmsc/tts3/local/synthesize_e2e.sh
  examples/csmsc/voc3/README.md
  paddlespeech/cli/asr/infer.py
  paddlespeech/cli/tts/infer.py
  paddlespeech/t2s/datasets/am_batch_fn.py
  paddlespeech/t2s/exps/speedyspeech/preprocess.py
  paddlespeech/t2s/exps/speedyspeech/train.py
  paddlespeech/t2s/models/speedyspeech/speedyspeech.py
  paddlespeech/t2s/models/speedyspeech/speedyspeech_updater.py
Labels: Documentation, README, Example, T2S

#1275 [ASR]use pre-commit
  examples/other/1xt2x/src_deepspeech2x/models/ds2/deepspeech2.py
  examples/other/1xt2x/src_deepspeech2x/test_model.py
  paddlespeech/s2t/exps/deepspeech2/bin/deploy/runtime.py
  paddlespeech/s2t/exps/deepspeech2/bin/deploy/server.py
  paddlespeech/s2t/exps/deepspeech2/bin/export.py
  paddlespeech/s2t/exps/deepspeech2/bin/test_export.py
  paddlespeech/s2t/exps/deepspeech2/bin/test_wav.py
  paddlespeech/s2t/exps/deepspeech2/bin/train.py
  paddlespeech/s2t/exps/deepspeech2/model.py
  paddlespeech/s2t/exps/u2/bin/export.py
  paddlespeech/s2t/exps/u2/bin/train.py
  paddlespeech/s2t/exps/u2/model.py
  paddlespeech/s2t/exps/u2_kaldi/model.py
  paddlespeech/s2t/exps/u2_st/bin/export.py
  paddlespeech/s2t/exps/u2_st/model.py
  paddlespeech/s2t/io/collator.py
  paddlespeech/s2t/io/dataset.py
  paddlespeech/s2t/models/ds2/deepspeech2.py
  paddlespeech/s2t/models/ds2_online/deepspeech2.py
  paddlespeech/s2t/models/u2/u2.py
  paddlespeech/s2t/models/u2_st/u2_st.py
Labels: Example, S2T

#1278 [TTS] add multi-speaker support for finetuning hifigan vocoder
  examples/csmsc/voc3/finetune.sh
  examples/csmsc/voc5/finetune.sh
  examples/csmsc/voc5/local/link_wav.py
  paddlespeech/t2s/exps/fastspeech2/gen_gta_mel.py
  utils/link_wav.py
Labels: Example, T2S

#1284 [tts] update gan_vocoder RTF machine info
  docs/topic/gan_vocoder/gan_vocoder.ipynb
Labels: Documentation

#1285 fix some typos
  examples/other/1xt2x/src_deepspeech2x/models/ds2/deepspeech2.py
  paddlespeech/s2t/decoders/ctcdecoder/scorer_deprecated.py
  paddlespeech/s2t/decoders/ctcdecoder/swig/ctc_beam_search_decoder.cpp
  paddlespeech/s2t/decoders/ctcdecoder/swig/decoder_utils.cpp
  paddlespeech/s2t/decoders/ctcdecoder/swig/scorer.cpp
  paddlespeech/s2t/decoders/scorers/ctc.py
  paddlespeech/s2t/decoders/scorers/ctc_prefix_score.py
  paddlespeech/s2t/models/ds2/deepspeech2.py
  paddlespeech/s2t/models/ds2_online/deepspeech2.py
  paddlespeech/s2t/models/u2/u2.py
  paddlespeech/s2t/models/u2_st/u2_st.py
  paddlespeech/s2t/modules/ctc.py
  paddlespeech/s2t/modules/mask.py
  paddlespeech/s2t/utils/dynamic_import.py
Labels: Example, S2T

#1287 fix_ning
  paddlespeech/t2s/frontend/zh_normalization/char_convert.py
Labels: T2S

#1290 [ASR][Config]fix config
  examples/aishell/asr0/conf/deepspeech2.yaml
  examples/aishell/asr0/conf/deepspeech2_online.yaml
  examples/tiny/asr0/conf/deepspeech2.yaml
  examples/tiny/asr0/conf/deepspeech2_online.yaml
Labels: Example

#1288 [Doc][Topic]python_package_release.md
  docs/topic/package_release/python_package_release.md
Labels: Documentation

#1293 [Asr][Config] fix config
  examples/aishell/asr0/conf/deepspeech2.yaml
  examples/aishell/asr0/conf/deepspeech2_online.yaml
  examples/librispeech/asr0/conf/deepspeech2.yaml
  examples/librispeech/asr0/conf/deepspeech2_online.yaml
  examples/tiny/asr0/conf/deepspeech2.yaml
  examples/tiny/asr0/conf/deepspeech2_online.yaml
  examples/wenetspeech/asr1/local/data.sh
Labels: Example

#1294 [tts]update vctk voc1
  examples/vctk/tts3/README.md
  examples/vctk/tts3/local/synthesize.sh
  examples/vctk/tts3/local/synthesize_e2e.sh
  examples/vctk/voc1/README.md
  examples/vctk/voc1/conf/default.yaml
  paddlespeech/cli/tts/infer.py
Labels: README, Example

#1295 [vec]Add ECAPA_TDNN.
  paddlespeech/vector/models/ecapa_tdnn.py
Labels: vector

#1297 [cli] asr - support English, decode_metod and unified config
  CHANGELOG.md
  paddlespeech/cli/asr/infer.py
  paddlespeech/s2t/frontend/normalizer.py
  utils/generate_infer_yaml.py
Labels: S2T

#1301 [Vector]Add ECAPA_TDNN.
  paddlespeech/vector/models/ecapa_tdnn.py
Labels: vector

#1308 [doc] more mergify label
  .mergify.yml
Labels: mergify

#1310 [tts]fix tone_sandhi of yi
  paddlespeech/t2s/frontend/tone_sandhi.py
Labels: T2S

#1311 [Setup]update the required version of yacs
  requirements.txt
  setup.py
Labels: Installation

#1312 [CLI] st: unified config for st
  paddlespeech/cli/st/infer.py
  utils/generate_infer_yaml.py
Labels: CLI

#1302 [TTS] Add support for finetuning speedyspeech
  examples/csmsc/voc3/finetune.sh
  examples/csmsc/voc5/finetune.sh
  paddlespeech/t2s/exps/speedyspeech/gen_gta_mel.py
  paddlespeech/t2s/models/speedyspeech/speedyspeech.py
  utils/link_wav.py
Labels: Example, T2S

#1316 [Doc] Update released model for r0.1.1
  docs/source/released_model.md
Labels: Documentation

#1319 [Install]fix install_kaldi.sh
  tools/extras/install_kaldi.sh
Labels: Installation

#1313 [ASR] mv ctcdecoders to third_party
  setup.py
  third_party/ctc_decoders/.gitignore
  third_party/ctc_decoders/__init__.py
  third_party/ctc_decoders/ctc_beam_search_decoder.cpp
  third_party/ctc_decoders/ctc_beam_search_decoder.h
  third_party/ctc_decoders/ctc_greedy_decoder.cpp
  third_party/ctc_decoders/ctc_greedy_decoder.h
  third_party/ctc_decoders/decoder_utils.cpp
  third_party/ctc_decoders/decoder_utils.h
  third_party/ctc_decoders/decoders.i
  third_party/ctc_decoders/path_trie.cpp
  third_party/ctc_decoders/path_trie.h
  third_party/ctc_decoders/scorer.cpp
  third_party/ctc_decoders/scorer.h
  third_party/ctc_decoders/setup.py
  third_party/ctc_decoders/setup.sh
Labels: Installation

#1322 [TTS]fix speedyspeech inference, test=tts
  paddlespeech/t2s/models/speedyspeech/speedyspeech.py
Labels: T2S

#1321 [CLI] Add unit test
  tests/unit/cli/test_cli.sh
Labels: Test

#1328 [doc]update frontend readme, test=doc
  examples/other/g2p/README.md
  examples/other/tn/README.md
Labels: README, Example

#1327 [cli]update cli unit test, test=doc
  tests/unit/cli/test_cli.sh
Labels: Test

#1330 [doc] add tts papers, test=doc
  docs/source/tts/tts_papers.md
Labels: Documentation

#1332 [s2t] remove nltk belu
  paddlespeech/s2t/utils/bleu_score.py
Labels: S2T

#1334 [Setup] fix requirement
  requirements.txt
  setup.py
Labels: Installation

#1333 [install] remove nltk deps
  setup.py
Labels: Installation

#1337 [tts]fix slice bug of speedyspeech expand, test=tts
  paddlespeech/t2s/models/speedyspeech/speedyspeech.py
Labels: T2S

#1339 [doc] fix release_python_package doc
  docs/topic/package_release/python_package_release.md
Labels: Documentation

#1354 [Setup] Synchronize the version
  paddlespeech/__init__.py
  setup.py
Labels: Installation

#1347 [deploy] add speechx dir arch
  .mergify.yml
  speechx/CMakeLists.txt
  speechx/docker/.gitkeep
  speechx/examples/.gitkeep
  speechx/speechx/CMakeLists.txt
  speechx/speechx/decoder/CMakeLists.txt
  speechx/speechx/frontend/CMakeLists.txt
  speechx/speechx/frontend/audio/CMakeLists.txt
  speechx/speechx/frontend/text/CMakeLists.txt
  speechx/speechx/kaldi/.gitkeep
  speechx/speechx/model/CMakeLists.txt
  speechx/speechx/protocol/CMakeLists.txt
  speechx/speechx/third_party/CMakeLists.txt
  speechx/speechx/utils/CMakeLists.txt
Labels: mergify

#1349 [TTS]fix low ips bug of speedyspeech and fastspeech2, test=tts
  paddlespeech/t2s/models/fastspeech2/fastspeech2.py
  paddlespeech/t2s/models/speedyspeech/speedyspeech.py
  paddlespeech/t2s/modules/predictor/length_regulator.py
Labels: T2S

#1350 [ST] beam search with optimality guarantees
  examples/ted_en_zh/st0/conf/tuning/decode.yaml
  examples/ted_en_zh/st1/conf/tuning/decode.yaml
  paddlespeech/s2t/exps/u2_st/model.py
  paddlespeech/s2t/models/u2_st/u2_st.py
Labels: Example, S2T

#1356 [CLI] asr, Add Deepspeech2 online and offline model
  paddlespeech/cli/asr/infer.py
Labels: S2T, CLI

#1360 [Doc]rm s2t:augmentation.md,
  docs/source/asr/augmentation.md
  docs/source/index.rst
Labels: Documentation

#1362 [TTS]fix fastspeech2 multi speaker to static, test=tts
  examples/aishell3/tts3/README.md
  examples/aishell3/tts3/local/inference.sh
  examples/aishell3/tts3/local/synthesize_e2e.sh
  examples/vctk/tts3/README.md
  examples/vctk/tts3/local/inference.sh
  examples/vctk/tts3/local/synthesize_e2e.sh
  paddlespeech/t2s/exps/inference.py
  paddlespeech/t2s/exps/synthesize_e2e.py
  paddlespeech/t2s/models/fastspeech2/fastspeech2.py
Labels: README, Example, T2S

#1361 [Setup]refactor the version
  paddleaudio/__init__.py
  paddlespeech/__init__.py
  setup.py
  setup_audio.py
  utils/generate_infer_yaml.py
Labels: Installation

#1363 [doc]add tts datasets doc, test=doc
  docs/source/tts/tts_datasets.md
Labels: Documentation

#1364 add esc50 reference
  examples/esc50/README.md
Labels: README, Example

#1366 [Others]fix g2p
  examples/other/g2p/run.sh
Labels: Example

#1370 [tts] Add speedyspeech multi-speaker support for synthesize_e2e.py
  paddlespeech/t2s/exps/synthesize_e2e.py
Labels: T2S

#821 [ASR] Support CTC decoder online
  examples/other/1xt2x/src_deepspeech2x/models/ds2/deepspeech2.py
  examples/other/1xt2x/src_deepspeech2x/test_model.py
  paddlespeech/s2t/decoders/ctcdecoder/__init__.py
  paddlespeech/s2t/decoders/ctcdecoder/swig_wrapper.py
  paddlespeech/s2t/exps/deepspeech2/model.py
  paddlespeech/s2t/models/ds2/__init__.py
  paddlespeech/s2t/models/ds2/deepspeech2.py
  paddlespeech/s2t/models/ds2_online/__init__.py
  paddlespeech/s2t/models/ds2_online/deepspeech2.py
  paddlespeech/s2t/models/u2/u2.py
  paddlespeech/s2t/models/u2_st/u2_st.py
  paddlespeech/s2t/modules/ctc.py
  third_party/ctc_decoders/ctc_beam_search_decoder.cpp
  third_party/ctc_decoders/ctc_beam_search_decoder.h
  third_party/ctc_decoders/ctc_greedy_decoder.cpp
  third_party/ctc_decoders/ctc_greedy_decoder.h
  third_party/ctc_decoders/decoders.i
  third_party/ctc_decoders/path_trie.cpp
  third_party/ctc_decoders/scorer.cpp
  third_party/ctc_decoders/scorer.h
  third_party/ctc_decoders/setup.py
Labels: enhancement, Example, S2T

#1382 [speechx] add glog gflags gtest openfst&base_types
  speechx/CMakeLists.txt
  speechx/speechx/base/basic_types.h
  speechx/speechx/base/macros.h
  speechx/speechx/kaldi/base/kaldi-types.h
Labels: Deployment, S2T

#1378 [ASR] fix u2.py
  paddlespeech/s2t/models/u2/u2.py
Labels: S2T

#1335 [vector] add DER scripts to calculate Diarization Error Rate
  examples/ami/README.md
  examples/ami/sd0/.gitignore
  examples/ami/sd0/README.md
  examples/ami/sd0/local/ami_prepare.py
  examples/ami/sd0/local/ami_splits.py
  examples/ami/sd0/local/data.sh
  examples/ami/sd0/local/dataio.py
  examples/ami/sd0/path.sh
  examples/ami/sd0/run.sh
  examples/ami/sd0/utils
  utils/DER.py
  utils/md-eval.pl
Labels: README, Example, vector, Dataset

#1385 [doc ]add tacotron2 readme
  CHANGELOG.md
  examples/csmsc/tts0/README.md
  examples/csmsc/tts3/run.sh
  examples/other/1xt2x/src_deepspeech2x/models/ds2/deepspeech2.py
  paddleaudio/CHANGELOG.md
  paddlespeech/cli/st/infer.py
  paddlespeech/cli/utils.py
Labels: Documentation, README, Example, CLI

#1391 [server] add error code
  speechserving/speechserving/engine/tts/python/tts_engine.py
  speechserving/speechserving/restful/response.py
  speechserving/speechserving/restful/tts_api.py
  speechserving/speechserving/utils/errors.py
  speechserving/speechserving/utils/exception.py
Labels: server

#1392 [mergify] add server auto label
  .mergify.yml
Labels: mergify

#1398 [CLI] fix __version__ error in develop
  paddlespeech/cli/utils.py
Labels: CLI

#1401 [Doc ]Update released_model.md
  docs/source/released_model.md
Labels: Documentation

#1407 [Server] updated PaddleSpeech Server diagram
  docs/images/arch/PaddleSpeech_Server_architecture_diagram.png
  docs/images/arch/PaddleSpeech_Server_class_diagram.png
Labels: Documentation

#1405 [ASR] cli add ds2-librispeech offline, fix version
  paddlespeech/cli/asr/infer.py
  paddlespeech/cli/utils.py
  paddlespeech/s2t/io/sampler.py
  paddlespeech/t2s/modules/transformer/repeat.py
Labels: S2T, T2S, CLI

#1409 [vector]add voxceleb1 data prepare scripts
  .pre-commit-config.yaml
  dataset/voxceleb/README.md
  dataset/voxceleb/voxceleb1.py
Labels: README, Dataset

#1412 [vector]voxceleb1 data prepare: compatible kaldi trial and data split dir
  dataset/voxceleb/voxceleb1.py
Labels: vector, Dataset

#1415 [server] fix speed, add setup
  setup.py
  speechserving/speechserving/conf/application.yaml
  speechserving/speechserving/engine/tts/python/tts_engine.py
  speechserving/speechserving/utils/audio_process.py
  speechserving/speechserving/utils/audio_types.py
Labels: Installation

#1414 [TTS]fix tacotron2 dygraph to static
  examples/csmsc/tts0/local/inference.sh
  examples/csmsc/tts0/local/synthesize_e2e.sh
  paddlespeech/t2s/exps/inference.py
  paddlespeech/t2s/exps/synthesize_e2e.py
  paddlespeech/t2s/models/new_tacotron2/tacotron2.py
  paddlespeech/t2s/modules/tacotron2/attentions.py
  paddlespeech/t2s/modules/tacotron2/decoder.py
  paddlespeech/t2s/modules/tacotron2/encoder.py
Labels: Example, T2S
