Repository PaddlePaddle/PaddleSpeech, pull requests merged in 2022-12, with the labels that each got.

#2705 [doc] update released_model.md, test=doc
  docs/source/released_model.md
Labels: Documentation

#2713 [TTS]rm paddlelite in setup.py
  paddlespeech/t2s/exps/lite_predict.py
  paddlespeech/t2s/exps/lite_predict_streaming.py
  paddlespeech/t2s/exps/lite_syn_utils.py
  paddlespeech/t2s/exps/syn_utils.py
  setup.py
Labels: Installation, T2S

#2710 [speechx] fix u2 scripts
  speechx/examples/u2pp_ol/wenetspeech/run.sh
Labels: Deployment

#2693 Add prosody prediction in synthesize_e2e, test=tts
  examples/csmsc/tts3_rhy/README.md
  examples/csmsc/tts3_rhy/conf/default.yaml
  examples/csmsc/tts3_rhy/local/preprocess.sh
  examples/csmsc/tts3_rhy/local/synthesize.sh
  examples/csmsc/tts3_rhy/local/synthesize_e2e.sh
  examples/csmsc/tts3_rhy/local/train.sh
  examples/csmsc/tts3_rhy/path.sh
  examples/csmsc/tts3_rhy/run.sh
  paddlespeech/resource/pretrained_models.py
  paddlespeech/t2s/exps/syn_utils.py
  paddlespeech/t2s/exps/synthesize_e2e.py
  paddlespeech/t2s/frontend/rhy_prediction/__init__.py
  paddlespeech/t2s/frontend/rhy_prediction/rhy_predictor.py
  paddlespeech/t2s/frontend/zh_frontend.py
Labels: README, Example, T2S

#2714 [speechx] add paddle commit that u2++ quant model cer 5.8%
  speechx/examples/u2pp_ol/wenetspeech/RESULTS.md
Labels: Deployment

#2723 [speechx] fix speechx cmake for find python3
  speechx/CMakeLists.txt
Labels: Deployment

#2728 [server] onnx ds2 need onnxruntime>=1.11.0
  demos/streaming_asr_server/README.md
  setup.py
Labels: Installation, README, Demo

#2729 [TTS]Add slim for TTS
  examples/csmsc/tts2/local/PTQ_static.sh
  examples/csmsc/tts2/run.sh
  examples/csmsc/tts3/local/PTQ_dynamic.sh
  examples/csmsc/tts3/local/PTQ_static.sh
  examples/csmsc/tts3/run.sh
  examples/csmsc/tts3/run_cnndecoder.sh
  examples/csmsc/voc1/local/PTQ_static.sh
  examples/csmsc/voc1/run.sh
  examples/csmsc/voc3/local/PTQ_static.sh
  examples/csmsc/voc3/run.sh
  examples/csmsc/voc5/local/PTQ_static.sh
  examples/csmsc/voc5/run.sh
  paddlespeech/t2s/datasets/am_batch_fn.py
  paddlespeech/t2s/datasets/vocoder_batch_fn.py
  paddlespeech/t2s/exps/PTQ_dynamic.py
  paddlespeech/t2s/exps/PTQ_static.py
  paddlespeech/t2s/exps/syn_utils.py
Labels: Example, T2S

#2732 update paddle from 2.4.0rc to 2.4.1 in readme
  README.md
  README_cn.md
  docs/source/install.md
  docs/source/install_cn.md
Labels: Documentation, README

#2738 [audio]patch:fix tensor_utils error
  audio/README.md
  audio/paddleaudio/src/pybind/pybind.cpp
  paddlespeech/s2t/models/u2_st/u2_st.py
Labels: README, S2T

#2739 [audio][cherry-pick] patch:fix tensor_utils error (#2738)
  audio/README.md
  audio/paddleaudio/src/pybind/pybind.cpp
  paddlespeech/s2t/models/u2_st/u2_st.py
Labels: README, S2T

#2740 remove paddle.fluid
  paddlespeech/s2t/models/whisper/whipser.py
Labels: S2T

#2736 [speechx] update u2++ ctc prefix beam search result
  speechx/build.sh
  speechx/examples/u2pp_ol/wenetspeech/RESULTS.md
Labels: Deployment

#2741 [ASR][cherry-pick]remove paddle.fluid (#2740)
  paddlespeech/s2t/models/whisper/whipser.py
Labels: S2T

#2742 [speechx]fix openfst download error
  speechx/cmake/openfst.cmake
Labels: Deployment

#2745 fix AttributeError "module 'distutils' has no attribute 'ccompiler'"
  third_party/ctc_decoders/setup.py
Labels: S2T, contributor

#2748 [TTS]add mkldnn and trt config for TTS Inference
  paddlespeech/t2s/exps/inference.py
  paddlespeech/t2s/exps/syn_utils.py
Labels: T2S

#2764 [Install]fix paddlenlp's version
  setup.py
Labels: Installation

#2763 Fix libsndfile.so not found
  docker/ubuntu18-cpu/Dockerfile
Labels: Docker, contributor

#2767 [Install]revise paddlenlp's version
  paddlespeech/text/models/ernie_crf/model.py
  paddlespeech/text/models/ernie_linear/ernie_linear.py
  setup.py
Labels: Installation, Text

#2765 [speechx] refactor cmake, rm absl/linsndfile, add strings unittest
  speechx/CMakeLists.txt
  speechx/README.md
  speechx/cmake/gtest.cmake
  speechx/cmake/openfst.cmake
  speechx/cmake/system.cmake
  speechx/speechx/asr/decoder/CMakeLists.txt
  speechx/speechx/asr/decoder/ctc_prefix_beam_search_decoder.cc
  speechx/speechx/asr/decoder/ctc_prefix_beam_search_decoder_main.cc
  speechx/speechx/asr/nnet/CMakeLists.txt
  speechx/speechx/asr/nnet/ds2_nnet.cc
  speechx/speechx/asr/server/websocket/CMakeLists.txt
  speechx/speechx/common/utils/CMakeLists.txt
  speechx/speechx/common/utils/math.cc
  speechx/speechx/common/utils/strings.cc
  speechx/speechx/common/utils/strings.h
  speechx/speechx/common/utils/strings_test.cc
Labels: README, Deployment

#2769 [Speechx] add nnet prob cache && make 2 thread decode work
  speechx/CMakeLists.txt
  speechx/speechx/asr/decoder/ctc_prefix_beam_search_decoder_main.cc
  speechx/speechx/asr/nnet/CMakeLists.txt
  speechx/speechx/asr/nnet/decodable.cc
  speechx/speechx/asr/nnet/decodable.h
  speechx/speechx/asr/nnet/nnet_producer.cc
  speechx/speechx/asr/nnet/nnet_producer.h
  speechx/speechx/asr/recognizer/CMakeLists.txt
  speechx/speechx/asr/recognizer/u2_recognizer.cc
  speechx/speechx/asr/recognizer/u2_recognizer.h
  speechx/speechx/asr/recognizer/u2_recognizer_thread_main.cc
  speechx/speechx/asr/server/CMakeLists.txt
  speechx/speechx/common/base/common.h
  speechx/speechx/common/base/safe_queue.h
Labels: Deployment

#2771 [Install]fix onnxruntime's version
  setup.py
Labels: Installation

#2779 multi-spk tts static model
  paddlespeech/server/engine/tts/paddleinference/tts_engine.py
Labels: Server
