Repository PaddlePaddle/PaddleSpeech, pull requests merged in 2022-08, with the labels that each got.

#2213 [server]fix readme, test=doc
  demos/speech_server/README.md
  demos/speech_server/README_cn.md
  paddlespeech/server/bin/paddlespeech_client.py
  paddlespeech/server/utils/audio_handler.py
Labels: README, Demo, Server

#2214 [server]replace default vocoder in seerver to mb_melgan, test=doc
  demos/speech_server/conf/application.yaml
  demos/streaming_tts_server/conf/tts_online_application.yaml
  demos/streaming_tts_server/conf/tts_online_ws_application.yaml
Labels: T2S, Demo

#2220 [setup]fix version of onnxruntime
  docs/requirements.txt
  setup.py
Labels: Documentation, Installation

#2216 [Bug fix] fix bug for benchmark
  paddlespeech/kws/exps/__init__.py
  paddlespeech/kws/exps/mdtc/__init__.py
  paddlespeech/s2t/io/dataloader.py
Labels: S2T

#2219 [ASR] fix wenetspeech conf
  examples/wenetspeech/asr1/conf/conformer.yaml
  examples/wenetspeech/asr1/local/export.sh
Labels: Example

#2222 [CLI]add onnxruntime infer for cli
  examples/aishell3/tts3/run.sh
  examples/ljspeech/tts3/run.sh
  examples/vctk/tts3/run.sh
  paddlespeech/cli/tts/infer.py
  paddlespeech/resource/pretrained_models.py
  paddlespeech/server/utils/audio_handler.py
  paddlespeech/t2s/exps/inference.py
  paddlespeech/t2s/exps/inference_streaming.py
  paddlespeech/t2s/exps/ort_predict.py
  paddlespeech/t2s/exps/ort_predict_e2e.py
  paddlespeech/t2s/exps/ort_predict_streaming.py
  paddlespeech/t2s/exps/syn_utils.py
  paddlespeech/t2s/exps/synthesize_e2e.py
  paddlespeech/t2s/exps/synthesize_streaming.py
  paddlespeech/t2s/frontend/mix_frontend.py
  paddlespeech/t2s/frontend/phonectic.py
  paddlespeech/t2s/frontend/zh_frontend.py
Labels: Example, T2S, CLI, Server

#2235 add filter for double punctuation in sentences; add homonym, test=tts
  paddlespeech/t2s/frontend/phonectic.py
Labels: T2S

#2244 audio_handler.py更新
  paddlespeech/server/utils/audio_handler.py
Labels: Server

#2234 [tts] add zh_en mix example
  examples/zh_en_tts/tts3/README.md
  examples/zh_en_tts/tts3/conf/default.yaml
  examples/zh_en_tts/tts3/local/inference.sh
  examples/zh_en_tts/tts3/local/ort_predict.sh
  examples/zh_en_tts/tts3/local/paddle2onnx.sh
  examples/zh_en_tts/tts3/local/preprocess.sh
  examples/zh_en_tts/tts3/local/synthesize.sh
  examples/zh_en_tts/tts3/local/synthesize_e2e.sh
  examples/zh_en_tts/tts3/local/train.sh
  examples/zh_en_tts/tts3/run.sh
  examples/zh_en_tts/tts3/test.sh
  paddlespeech/t2s/exps/fastspeech2/preprocess.py
  paddlespeech/t2s/exps/inference.py
  paddlespeech/t2s/exps/ort_predict_e2e.py
  paddlespeech/t2s/exps/syn_utils.py
  paddlespeech/t2s/exps/synthesize.py
  paddlespeech/t2s/exps/synthesize_e2e.py
Labels: README, Example, T2S

#2230 Add g2pW to Chinese frontend
  MANIFEST.in
  README.md
  README_cn.md
  docs/requirements.txt
  docs/source/reference.md
  paddlespeech/resource/pretrained_models.py
  paddlespeech/t2s/frontend/g2pw/__init__.py
  paddlespeech/t2s/frontend/g2pw/dataset.py
  paddlespeech/t2s/frontend/g2pw/onnx_api.py
  paddlespeech/t2s/frontend/g2pw/utils.py
  paddlespeech/t2s/frontend/polyphonic.yaml
  paddlespeech/t2s/frontend/zh_frontend.py
  setup.py
Labels: Documentation, Installation, README, T2S

#2249 [tts][cli]update mix tts
  paddlespeech/cli/tts/infer.py
  paddlespeech/resource/pretrained_models.py
  tests/unit/cli/test_cli.sh
Labels: CLI, Test

#2251 [cherry-pick][r1.1]format g2pw
  paddlespeech/t2s/frontend/g2pw/dataset.py
  paddlespeech/t2s/frontend/g2pw/onnx_api.py
  paddlespeech/t2s/frontend/g2pw/utils.py
  paddlespeech/t2s/frontend/zh_frontend.py
Labels: T2S

#2195 [audio] add sox effects, load audio, save audio
  cmake/external/pybind.cmake
  paddlespeech/audio/_extension.py
  paddlespeech/audio/_internal/module_utils.py
  paddlespeech/audio/backends/sox_io_backend.py
  paddlespeech/audio/sox_effects/__init__.py
  paddlespeech/audio/sox_effects/sox_effects.py
  paddlespeech/audio/src/CMakeLists.txt
  paddlespeech/audio/src/pybind/pybind.cpp
  paddlespeech/audio/src/pybind/sox/effects.cpp
  paddlespeech/audio/src/pybind/sox/effects.h
  paddlespeech/audio/src/pybind/sox/effects_chain.cpp
  paddlespeech/audio/src/pybind/sox/effects_chain.h
  paddlespeech/audio/src/pybind/sox/io.cpp
  paddlespeech/audio/src/pybind/sox/io.h
  paddlespeech/audio/src/pybind/sox/types.cpp
  paddlespeech/audio/src/pybind/sox/types.h
  paddlespeech/audio/src/pybind/sox/utils.cpp
  paddlespeech/audio/src/pybind/sox/utils.h
  paddlespeech/audio/src/sox/io.cpp
  paddlespeech/audio/src/sox/io.h
  paddlespeech/audio/utils/sox_utils.py
  setup.py
  tests/unit/assets/sox_effect_test_args.jsonl
  tests/unit/audio/backends/sox_io/common.py
  tests/unit/audio/backends/sox_io/info_test.py
  tests/unit/audio/backends/sox_io/load_test.py
  tests/unit/audio/backends/sox_io/save_test.py
  tests/unit/audio/backends/sox_io/smoke_test.py
  tests/unit/audio/backends/sox_io/sox_effect_test.py
  tests/unit/common_utils/__init__.py
  tests/unit/common_utils/case_utils.py
  tests/unit/common_utils/parameterized_utils.py
  tests/unit/common_utils/sox_utils.py
  tests/unit/common_utils/wav_utils.py
Labels: Installation, Audio, Test

#2257 [audio]add soundfile backend
  CMakeLists.txt
  paddlespeech/audio/backends/soundfile_backend.py
  tests/unit/audio/backends/common.py
  tests/unit/audio/backends/soundfile/common.py
  tests/unit/audio/backends/soundfile/info_test.py
  tests/unit/audio/backends/soundfile/load_test.py
  tests/unit/audio/backends/soundfile/save_test.py
  tests/unit/audio/backends/sox_io/info_test.py
Labels: Audio, Test

#2262 make soundfile compatible
  examples/voxceleb/sv0/local/make_rirs_noise_csv_dataset_from_json.py
  examples/voxceleb/sv0/local/make_vox_csv_dataset_from_json.py
  paddlespeech/audio/__init__.py
  paddlespeech/audio/backends/soundfile_backend.py
  paddlespeech/cli/cls/infer.py
  paddlespeech/cli/kws/infer.py
  paddlespeech/cli/vector/infer.py
  paddlespeech/cls/exps/panns/deploy/predict.py
  paddlespeech/server/engine/vector/python/vector_engine.py
  paddlespeech/vector/exps/ecapa_tdnn/extract_emb.py
  paddlespeech/vector/io/dataset.py
  paddlespeech/vector/io/dataset_from_json.py
  tests/unit/audio/features/base.py
Labels: Example, Audio, Vector, CLI, Test, Server

#2254 [TTS]fix tone sand_hi bugs for Chinese frontend
  examples/other/g2p/README.md
  paddlespeech/resource/pretrained_models.py
  paddlespeech/t2s/frontend/g2pw/onnx_api.py
  paddlespeech/t2s/frontend/polyphonic.yaml
  paddlespeech/t2s/frontend/tone_sandhi.py
  paddlespeech/t2s/frontend/zh_frontend.py
Labels: README, Example, T2S

#2265 [cherry-pick][r1.1]fix tone sand_hi bugs for Chinese frontend
  examples/other/g2p/README.md
  paddlespeech/resource/pretrained_models.py
  paddlespeech/t2s/frontend/g2pw/onnx_api.py
  paddlespeech/t2s/frontend/polyphonic.yaml
  paddlespeech/t2s/frontend/tone_sandhi.py
  paddlespeech/t2s/frontend/zh_frontend.py
Labels: README, Example, T2S

#2267 [cli]fix stats bugs
  paddlespeech/cli/base_commands.py
  paddlespeech/server/bin/paddlespeech_server.py
Labels: CLI, Server

#2269 [cherry-pick][r.1.1]fix stats bugs
  paddlespeech/cli/base_commands.py
  paddlespeech/server/bin/paddlespeech_server.py
Labels: CLI, Server

#2255 [tts] fix point bug
  paddlespeech/t2s/frontend/mix_frontend.py
Labels: T2S

#2273 [cherry-pick] [r1.1] fix point bug
  paddlespeech/t2s/frontend/mix_frontend.py
Labels: T2S

#2272 [tts] fix point bug
  paddlespeech/t2s/frontend/mix_frontend.py
Labels: T2S

#2274 [cherry-pick][r1.1] fix point bug
  paddlespeech/t2s/frontend/mix_frontend.py
Labels: T2S

#2270 update readme and add aistudio demo link
  README.md
  README_cn.md
Labels: README

#2275 [cherry-pick][r1.1]update readme and add aistudio demo
  README.md
  README_cn.md
Labels: README

#2263 [TTS]add ernie-sat sampler
  paddlespeech/t2s/datasets/sampler.py
  paddlespeech/t2s/exps/ernie_sat/normalize.py
  paddlespeech/t2s/exps/ernie_sat/preprocess.py
  paddlespeech/t2s/exps/ernie_sat/train.py
  paddlespeech/t2s/training/updaters/standard_updater.py
Labels: T2S

#2284 [doc]updade readme for mix tts
  README.md
  README_cn.md
  demos/text_to_speech/README.md
  demos/text_to_speech/README_cn.md
Labels: README, Demo

#2288 [TTS]指定G2PW的传入数据类型 , test=tts
  docs/source/released_model.md
  docs/source/tts/quick_start.md
  docs/source/tts/quick_start_cn.md
  docs/tutorial/tts/tts_tutorial.ipynb
  examples/aishell3/README.md
  examples/csmsc/README.md
  examples/ljspeech/README.md
  examples/vctk/README.md
  paddlespeech/t2s/frontend/g2pw/dataset.py
Labels: Documentation, README, Example, T2S

#2289 [cherry-pick][r1.1] fix g2pw input type for windows
  docs/source/released_model.md
  docs/source/tts/quick_start.md
  docs/source/tts/quick_start_cn.md
  docs/tutorial/tts/tts_tutorial.ipynb
  examples/aishell3/README.md
  examples/csmsc/README.md
  examples/ljspeech/README.md
  examples/vctk/README.md
  paddlespeech/t2s/frontend/g2pw/dataset.py
  setup.py
Labels: Documentation, Installation, README, Example, T2S

#2287 [tts][ernie_sat]add ernie sat synthesize_e2e
  examples/aishell3/README.md
  examples/aishell3/ernie_sat/README.md
  examples/aishell3/ernie_sat/conf/default.yaml
  examples/aishell3/ernie_sat/local/synthesize.sh
  examples/aishell3/ernie_sat/local/synthesize_e2e.sh
  examples/aishell3/ernie_sat/local/train.sh
  examples/aishell3/ernie_sat/run.sh
  examples/aishell3_vctk/README.md
  examples/aishell3_vctk/ernie_sat/README.md
  examples/aishell3_vctk/ernie_sat/conf/default.yaml
  examples/aishell3_vctk/ernie_sat/local/synthesize.sh
  examples/aishell3_vctk/ernie_sat/local/synthesize_e2e.sh
  examples/aishell3_vctk/ernie_sat/local/train.sh
  examples/aishell3_vctk/ernie_sat/run.sh
  examples/vctk/README.md
  examples/vctk/ernie_sat/README.md
  examples/vctk/ernie_sat/conf/default.yaml
  examples/vctk/ernie_sat/local/synthesize.sh
  examples/vctk/ernie_sat/local/synthesize_e2e.sh
  examples/vctk/ernie_sat/local/train.sh
  examples/vctk/ernie_sat/run.sh
  paddlespeech/t2s/exps/ernie_sat/align.py
  paddlespeech/t2s/exps/ernie_sat/synthesize_e2e.py
  paddlespeech/t2s/exps/syn_utils.py
  paddlespeech/t2s/models/ernie_sat/ernie_sat.py
Labels: README, Example, T2S

#2300 add chinese words correct phonic,test=tts
  paddlespeech/t2s/frontend/polyphonic.yaml
Labels: T2S, contributor

#2299 [tts] fix mix frontend
  paddlespeech/t2s/frontend/mix_frontend.py
Labels: T2S

#2297 [tts] add tts finetune example
  examples/other/tts_finetune/tts3/README.md
  examples/other/tts_finetune/tts3/finetune.py
  examples/other/tts_finetune/tts3/local/check_oov.py
  examples/other/tts_finetune/tts3/local/extract.py
  examples/other/tts_finetune/tts3/local/label_process.py
  examples/other/tts_finetune/tts3/local/prepare_env.py
  examples/other/tts_finetune/tts3/path.sh
  examples/other/tts_finetune/tts3/run.sh
Labels: README, Example

#2303 fix mix frontend, test=tts
  paddlespeech/t2s/frontend/mix_frontend.py
Labels: T2S

#2304 [TTS]fix g2pw model
  paddlespeech/resource/pretrained_models.py
  paddlespeech/t2s/frontend/g2pw/onnx_api.py
Labels: T2S

#2305 [cherry-pick][r1.1]add chinese words correct phonic
  paddlespeech/t2s/frontend/polyphonic.yaml
Labels: T2S

#2306 [cherry-pick][r1.1]fix g2pw model (#2304)
  paddlespeech/resource/pretrained_models.py
  paddlespeech/t2s/frontend/g2pw/onnx_api.py
Labels: T2S

#2309 Add barrier for benchmark
  tests/benchmark/pwgan/run_benchmark.sh
  tests/test_tipc/barrier.sh
Labels: Test

#2308 [TN] Update quantifiers
  paddlespeech/t2s/frontend/zh_normalization/num.py
Labels: T2S, contributor

#2313 update readme, test=doc
  examples/aishell3/tts3/README.md
  examples/zh_en_tts/tts3/README.md
Labels: README, Example

#2311 Add barrier for distributed training using multiple machines
  tests/test_tipc/benchmark_train.sh
Labels: Test

#2312 add thanks into readme, append data for chinese unit
  README.md
  README_cn.md
  paddlespeech/t2s/frontend/zh_normalization/num.py
Labels: README, T2S, contributor

#2315 [TTS][DOC]update tts3 readme, test=doc
  docs/source/released_model.md
  examples/aishell3/tts3/README.md
  examples/aishell3/tts3/local/synthesize_e2e.sh
  examples/other/g2p/README.md
  examples/vctk/tts3/README.md
  examples/zh_en_tts/tts3/README.md
Labels: Documentation, README, Example

#2316 [TTS][ERNIE-SAT]clean old ernie sat inference scripts
  README.md
  README_cn.md
  examples/ernie_sat/.meta/framework.png
  examples/ernie_sat/README.md
  examples/ernie_sat/local/align.py
  examples/ernie_sat/local/inference.py
  examples/ernie_sat/local/inference_new.py
  examples/ernie_sat/local/sedit_arg_parser.py
  examples/ernie_sat/local/utils.py
  examples/ernie_sat/path.sh
  examples/ernie_sat/prompt/dev/text
  examples/ernie_sat/prompt/dev/wav.scp
  examples/ernie_sat/run_clone_en_to_zh.sh
  examples/ernie_sat/run_clone_en_to_zh_new.sh
  examples/ernie_sat/run_gen_en.sh
  examples/ernie_sat/run_gen_en_new.sh
  examples/ernie_sat/run_sedit_en.sh
  examples/ernie_sat/run_sedit_en_new.sh
  examples/ernie_sat/test_run.sh
  examples/ernie_sat/test_run_new.sh
  examples/ernie_sat/tools/.gitkeep
  paddlespeech/t2s/datasets/am_batch_fn.py
  paddlespeech/t2s/models/ernie_sat/__init__.py
  paddlespeech/t2s/models/ernie_sat/mlm.py
Labels: README, Example, T2S

#2314 Update README.md
  README.md
  README_cn.md
Labels: README

#2317 add github issue template
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature-request.md
  .github/ISSUE_TEMPLATE/question.md
Labels: CI

#2318 Update issue templates
  .github/ISSUE_TEMPLATE/bug-report-asr.md
  .github/ISSUE_TEMPLATE/bug-report-tts.md
  .github/ISSUE_TEMPLATE/feature-request.md
  .github/ISSUE_TEMPLATE/question.md
Labels: CI

#2302 Update asr_engine.py
  paddlespeech/server/conf/application.yaml
  paddlespeech/server/engine/asr/python/asr_engine.py
Labels: Server

#2321 [doc]update readme, add get_contributors
  README.md
  README_cn.md
  tools/get_contributors.ipynb
Labels: Installation, README

#2323 [TTS]fix bug of tone modify
  paddlespeech/t2s/frontend/tone_sandhi.py
Labels: T2S, contributor

#2327 [s2t] fix conformer/transformer multi-gpu training, maybe impact dy2st
  paddlespeech/s2t/models/u2/u2.py
  paddlespeech/s2t/modules/attention.py
  paddlespeech/s2t/modules/conformer_convolution.py
  paddlespeech/s2t/modules/decoder_layer.py
  paddlespeech/s2t/modules/encoder.py
  paddlespeech/s2t/modules/encoder_layer.py
Labels: S2T

#2334 [s2t] fix asr_engine.py
  paddlespeech/server/engine/asr/online/python/asr_engine.py
Labels: Server

#2336 [s2t] fix format test=asr
  paddlespeech/s2t/modules/encoder.py
  paddlespeech/s2t/modules/encoder_layer.py
  paddlespeech/server/engine/asr/online/python/asr_engine.py
Labels: S2T, Server

#2337 fix the bug "can't start ASR streaming_server"
  demos/streaming_asr_server/conf/application.yaml
  examples/iwslt2012/punc0/README.md
Labels: README, Example, Demo

#2335 [TTS]fix tone, update readme
  examples/other/g2p/README.md
  paddlespeech/t2s/frontend/tone_sandhi.py
Labels: README, Example, T2S
