Repository PaddlePaddle/PaddleSpeech, pull requests merged in 2022-10, with the labels that each got.

#2493 Fix mix front
  paddlespeech/t2s/frontend/mix_frontend.py
Labels: T2S

#2501 [cherry-pick][r1.2]Fix mix front (#2493)
  paddlespeech/t2s/frontend/mix_frontend.py
Labels: T2S

#2510 [s2t] use reverse_weight in decode.yaml
  README.md
  README_cn.md
  demos/speech_server/README.md
  demos/speech_server/README_cn.md
  demos/streaming_asr_server/README.md
  demos/streaming_asr_server/README_cn.md
  demos/streaming_tts_server/README.md
  demos/streaming_tts_server/README_cn.md
  docker/ubuntu16-gpu/Dockerfile
  docs/source/install.md
  docs/source/install_cn.md
  docs/source/released_model.md
  paddlespeech/resource/pretrained_models.py
  paddlespeech/s2t/exps/u2/bin/quant.py
  paddlespeech/s2t/exps/u2/bin/test_wav.py
  paddlespeech/s2t/exps/u2/model.py
  paddlespeech/server/engine/asr/online/python/asr_engine.py
  paddlespeech/server/tests/asr/online/README.md
  paddlespeech/server/tests/asr/online/README_cn.md
Labels: Documentation, README, S2T, Demo, Server, Docker

#2518 [ASR] wav2vec2 ASR, pre-trained wav2vec2 based CTC for librispeech
  .flake8
  examples/librispeech/README.md
  examples/librispeech/asr3/README.md
  examples/librispeech/asr3/RESULTS.md
  examples/librispeech/asr3/cmd.sh
  examples/librispeech/asr3/conf/preprocess.yaml
  examples/librispeech/asr3/conf/tuning/decode.yaml
  examples/librispeech/asr3/conf/wav2vec2ASR.yaml
  examples/librispeech/asr3/local/data.sh
  examples/librispeech/asr3/local/test.sh
  examples/librispeech/asr3/local/test_wav.sh
  examples/librispeech/asr3/local/train.sh
  examples/librispeech/asr3/path.sh
  examples/librispeech/asr3/run.sh
  examples/librispeech/asr3/utils
  paddlespeech/audio/transform/spectrogram.py
  paddlespeech/audio/transform/transformation.py
  paddlespeech/s2t/exps/wav2vec2/bin/__init__.py
  paddlespeech/s2t/exps/wav2vec2/bin/test.py
  paddlespeech/s2t/exps/wav2vec2/bin/test_wav.py
  paddlespeech/s2t/exps/wav2vec2/bin/train.py
  paddlespeech/s2t/exps/wav2vec2/model.py
  paddlespeech/s2t/models/wav2vec2/__init__.py
  paddlespeech/s2t/models/wav2vec2/modules/VanillaNN.py
  paddlespeech/s2t/models/wav2vec2/modules/activations.py
  paddlespeech/s2t/models/wav2vec2/modules/containers.py
  paddlespeech/s2t/models/wav2vec2/modules/linear.py
  paddlespeech/s2t/models/wav2vec2/modules/modeling_outputs.py
  paddlespeech/s2t/models/wav2vec2/modules/modeling_wav2vec2.py
  paddlespeech/s2t/models/wav2vec2/processing/signal_processing.py
  paddlespeech/s2t/models/wav2vec2/processing/speech_augmentation.py
  paddlespeech/s2t/models/wav2vec2/wav2vec2_ASR.py
  paddlespeech/s2t/modules/ctc.py
Labels: README, Example, S2T, Audio

#2522 [doc] update install introduction
  README.md
  README_cn.md
  docs/source/install.md
  docs/source/install_cn.md
Labels: Documentation, README

#2527 [doc] release wav2vec2ASR and wav2vec2.0 model, update Recent Update
  README.md
  README_cn.md
  docs/source/reference.md
  docs/source/released_model.md
Labels: Documentation, README

#2532 [s2t] fix wav2vec2 report loss bug
  paddlespeech/s2t/exps/wav2vec2/model.py
Labels: S2T

#2533 fixed ENIRE-SAT => ERNIE-SAT,test=doc
  demos/speech_web/README.md
  demos/speech_web/web_client/src/components/Experience.vue
  demos/speech_web/web_client/src/components/SubMenu/ERNIE_SAT/ERNIE_SAT.vue
Labels: README, Demo

#2539 [TTS]fix g2p
  paddlespeech/t2s/frontend/polyphonic.yaml
  paddlespeech/t2s/frontend/tone_sandhi.py
Labels: T2S

#2542 Update readme for live
  README.md
  README_cn.md
Labels: README

#2544 [s2t] fix attention eval bug, do not compose kv in infer
  paddlespeech/s2t/modules/attention.py
Labels: S2T

#2549 [ASR] fix u2pp model
  docs/source/released_model.md
  paddlespeech/cli/asr/infer.py
  paddlespeech/resource/model_alias.py
  paddlespeech/resource/pretrained_models.py
Labels: Documentation, CLI

#2554 标点恢复代码更新，test=asr
  paddlespeech/text/exps/ernie_linear/punc_restore.py
Labels: Text, contributor

#2558 [Server]fix uvicorn's version
  paddlespeech/server/bin/paddlespeech_server.py
Labels: Installation, Server

#2548 [Text]Add Rhythm Prediction Function
  examples/other/rhy/README.md
  examples/other/rhy/conf/default.yaml
  examples/other/rhy/data/rhy_token
  examples/other/rhy/local/data.sh
  examples/other/rhy/local/pre_for_sp_aishell.py
  examples/other/rhy/local/pre_for_sp_csmsc.py
  examples/other/rhy/local/rhy_predict.sh
  examples/other/rhy/local/test.sh
  examples/other/rhy/local/train.sh
  examples/other/rhy/path.sh
  examples/other/rhy/run.sh
  paddlespeech/text/exps/ernie_linear/test.py
Labels: README, Example, T2S, Text

#2585 [KWS]add kws release model
  examples/hey_snips/README.md
Labels: README, Example

#2587 [kws]add kws model in release model
  README.md
  README_cn.md
Labels: README

#2590 [doc] update install.md
  docs/source/install.md
  docs/source/install_cn.md
Labels: Documentation

#2596 add watermark
  tools/watermark.py
Labels: Installation

#2591 [speechx] fix compile and add more doc
  speechx/CMakeLists.txt
  speechx/README.md
  speechx/build.sh
  speechx/examples/u2pp_ol/wenetspeech/.gitignore
  speechx/examples/u2pp_ol/wenetspeech/RESULTS.md
  speechx/examples/u2pp_ol/wenetspeech/local/decode.sh
  speechx/examples/u2pp_ol/wenetspeech/local/feat.sh
  speechx/examples/u2pp_ol/wenetspeech/local/nnet.sh
  speechx/examples/u2pp_ol/wenetspeech/local/recognizer.sh
  speechx/examples/u2pp_ol/wenetspeech/local/recognizer_quant.sh
  speechx/examples/u2pp_ol/wenetspeech/run.sh
  speechx/examples/u2pp_ol/wenetspeech/utils
  speechx/requirement.txt
  speechx/speechx/decoder/ctc_prefix_beam_search_decoder.cc
  speechx/speechx/frontend/audio/assembler.cc
  speechx/speechx/frontend/audio/audio_cache.cc
  speechx/speechx/frontend/audio/cmvn.cc
  speechx/speechx/frontend/audio/data_cache.h
  speechx/speechx/frontend/audio/feature_cache.cc
  speechx/speechx/frontend/audio/feature_cache.h
  speechx/speechx/frontend/audio/feature_common_inl.h
  speechx/speechx/nnet/decodable.cc
  speechx/speechx/nnet/u2_nnet.cc
  speechx/speechx/recognizer/u2_recognizer.cc
  speechx/speechx/recognizer/u2_recognizer_main.cc
Labels: README, Deployment
