Repository PaddlePaddle/PaddleSpeech, pull requests merged in 2022-04, with the labels that each got.

#1635 [speechx]fix the crush of example/decoder/run.sh
  speechx/examples/decoder/offline_decoder_main.cc
Labels: Deployment

#1634 [TTS]Cnn decoder
  examples/csmsc/tts3/README.md
  examples/csmsc/tts3/conf/cnndecoder.yaml
  examples/csmsc/tts3/local/synthesize_streaming.sh
  examples/csmsc/tts3/run_cnndecoder.sh
  paddlespeech/t2s/exps/synthesize_streaming.py
  paddlespeech/t2s/models/fastspeech2/fastspeech2.py
  paddlespeech/t2s/modules/transformer/encoder.py
Labels: README, Example, T2S

#1637 [Audio][docs]Update README.md
  paddleaudio/README.md
  paddleaudio/docs/README.md
Labels: README

#1638 [speechx] refactor audio/data/feature cache
  .gitignore
  .mergify.yml
  paddlespeech/s2t/frontend/speech.py
  paddlespeech/server/bin/main.py
  paddlespeech/server/engine/asr/online/asr_engine.py
  paddlespeech/server/utils/buffer.py
  speechx/examples/decoder/decoder_test_main.cc
  speechx/examples/decoder/local/model.sh
  speechx/examples/decoder/offline_decoder_main.cc
  speechx/examples/decoder/offline_decoder_sliding_chunk_main.cc
  speechx/examples/feat/linear_spectrogram_main.cc
  speechx/examples/glog/CMakeLists.txt
  speechx/examples/glog/README.md
  speechx/examples/glog/glog_logtostderr_test.cc
  speechx/examples/glog/glog_test.cc
  speechx/examples/glog/path.sh
  speechx/examples/glog/run.sh
  speechx/speechx/frontend/CMakeLists.txt
  speechx/speechx/frontend/audio_cache.cc
  speechx/speechx/frontend/audio_cache.h
  speechx/speechx/frontend/data_cache.h
  speechx/speechx/nnet/decodable.cc
Labels: mergify, README, Deployment, S2T, Server

#1640 [speechx] Frontend refactor
  speechx/examples/decoder/offline_decoder_main.cc
  speechx/examples/decoder/offline_decoder_sliding_chunk_main.cc
  speechx/examples/feat/linear_spectrogram_main.cc
  speechx/speechx/frontend/CMakeLists.txt
  speechx/speechx/frontend/audio/CMakeLists.txt
  speechx/speechx/frontend/audio/audio_cache.cc
  speechx/speechx/frontend/audio/audio_cache.h
  speechx/speechx/frontend/audio/cmvn.cc
  speechx/speechx/frontend/audio/cmvn.h
  speechx/speechx/frontend/audio/data_cache.h
  speechx/speechx/frontend/audio/db_norm.cc
  speechx/speechx/frontend/audio/db_norm.h
  speechx/speechx/frontend/audio/fbank.h
  speechx/speechx/frontend/audio/feature_cache.cc
  speechx/speechx/frontend/audio/feature_cache.h
  speechx/speechx/frontend/audio/frontend_itf.h
  speechx/speechx/frontend/audio/linear_spectrogram.cc
  speechx/speechx/frontend/audio/linear_spectrogram.h
  speechx/speechx/frontend/audio/mfcc.h
  speechx/speechx/frontend/audio/normalizer.h
  speechx/speechx/frontend/feature_extractor_controller_impl.h
  speechx/speechx/frontend/window.h
  speechx/speechx/nnet/decodable.cc
  speechx/speechx/nnet/decodable.h
  speechx/speechx/nnet/nnet_itf.h
  speechx/speechx/nnet/paddle_nnet.h
Labels: Deployment

#1641 [speechx] fix nnet itf header
  speechx/speechx/nnet/decodable.h
Labels: Deployment

#1642 [TTS]add license and reference for some models
  paddlespeech/t2s/exps/fastspeech2/gen_gta_mel.py
  paddlespeech/t2s/models/hifigan/hifigan.py
  paddlespeech/t2s/models/tacotron2/tacotron2.py
  paddlespeech/t2s/models/wavernn/wavernn.py
Labels: T2S

#1643 [Doc] supplement note
  paddlespeech/s2t/decoders/recog.py
  paddlespeech/s2t/decoders/recog_bin.py
  paddlespeech/s2t/models/u2/u2.py
  paddlespeech/s2t/models/u2/updater.py
  paddlespeech/s2t/models/u2_st/u2_st.py
  paddlespeech/s2t/utils/bleu_score.py
  paddlespeech/s2t/utils/text_grid.py
Labels: S2T

#1644 [vec][search] update search demo README
  demos/audio_searching/README.md
  demos/audio_searching/README_cn.md
  demos/audio_searching/src/encode.py
Labels: README, Demo

#1649 [speechx]refactor linear feature:unify vector & remove redundant function & add remained_wav cache shift wav
  speechx/examples/feat/linear_spectrogram_main.cc
  speechx/speechx/frontend/audio/linear_spectrogram.cc
  speechx/speechx/frontend/audio/linear_spectrogram.h
Labels: Deployment

#1656 [NPU] test TransformerTTS with NPU
  paddlespeech/t2s/exps/transformer_tts/train.py
Labels: T2S

#1658 [Audio] Fix mcd issue.
  examples/esc50/README.md
  paddleaudio/paddleaudio/metric/mcd.py
Labels: README, Example, Audio

#1659 [Audio] Remove mcd.
  paddleaudio/paddleaudio/metric/__init__.py
  paddleaudio/paddleaudio/metric/mcd.py
  paddleaudio/setup.py
Labels: Audio

#1661 [audio] rm mcd
  paddleaudio/paddleaudio/metric/__init__.py
  paddleaudio/setup.py
Labels: Audio

#1663 [vec]update the speaker verification model
  demos/speaker_verification/README.md
  demos/speaker_verification/README_cn.md
  demos/speaker_verification/run.sh
  docs/source/released_model.md
  examples/voxceleb/sv0/RESULT.md
  paddlespeech/cli/vector/infer.py
Labels: Documentation, README, Example, Demo, vector, CLI

#1668 [ASR] update ds2 online model
  docs/source/released_model.md
  examples/aishell/asr0/README.md
  examples/aishell/asr0/RESULTS.md
Labels: Documentation, README, Example

#1660 [TTS]fix preprocess bug, test=tts
  paddlespeech/t2s/exps/fastspeech2/preprocess.py
  paddlespeech/t2s/exps/speedyspeech/preprocess.py
  paddlespeech/t2s/exps/tacotron2/preprocess.py
Labels: T2S

#1672 update README, test=doc
  README.md
  README_cn.md
Labels: README

#1675 [Punc] Update RESULTS.md.
  examples/iwslt2012/punc0/README.md
  examples/iwslt2012/punc0/RESULTS.md
  paddleaudio/paddleaudio/utils/numeric.py
Labels: README, Example, Audio

#1674 [CLI] update ds2 online model in cli
  paddlespeech/cli/asr/infer.py
Labels: CLI

#1666 [CLI] ASR: Add duration limitation for asr
  paddlespeech/cli/asr/infer.py
Labels: CLI

#1646 [vec]add speaker verification score method
  demos/speaker_verification/README.md
  demos/speaker_verification/README_cn.md
  demos/speaker_verification/run.sh
  paddlespeech/cli/vector/infer.py
  paddlespeech/vector/models/ecapa_tdnn.py
Labels: README, Example, Demo, vector, CLI

#1665 [TTS]add onnx inference for fastspeech2 + hifigan/mb_melgan
  README.md
  README_cn.md
  docs/source/released_model.md
  examples/aishell3/vc0/README.md
  examples/aishell3/vc1/README.md
  examples/aishell3/voc1/README.md
  examples/aishell3/voc5/README.md
  examples/csmsc/tts0/README.md
  examples/csmsc/tts2/README.md
  examples/csmsc/tts3/README.md
  examples/csmsc/tts3/local/ort_predict.sh
  examples/csmsc/tts3/local/paddle2onnx.sh
  examples/csmsc/tts3/run.sh
  examples/csmsc/voc1/README.md
  examples/csmsc/voc3/README.md
  examples/csmsc/voc4/README.md
  examples/csmsc/voc5/README.md
  examples/csmsc/voc6/README.md
  examples/ljspeech/tts1/README.md
  examples/ljspeech/tts3/README.md
  examples/ljspeech/voc0/README.md
  examples/ljspeech/voc1/README.md
  examples/ljspeech/voc5/README.md
  examples/vctk/tts3/README.md
  examples/vctk/voc1/README.md
  examples/vctk/voc5/README.md
  paddlespeech/t2s/exps/inference.py
  paddlespeech/t2s/exps/ort_predict.py
  paddlespeech/t2s/exps/ort_predict_e2e.py
  paddlespeech/t2s/exps/synthesize_streaming.py
  paddlespeech/t2s/modules/positional_encoding.py
Labels: Documentation, README, Example, T2S

#1680 [doc]update readme
  docs/source/released_model.md
  examples/csmsc/tts2/README.md
Labels: Documentation, README, Example

#1682 [WebSocket] fixed online model md5 error , test=doc
  paddlespeech/server/engine/asr/online/asr_engine.py
Labels: Server

#1676 [speechx]add aishell test script & json parser & no db norm linear feature & json2kaldi type cmvn
  speechx/examples/aishell/local/compute-wer.py
  speechx/examples/aishell/local/split_data.sh
  speechx/examples/aishell/path.sh
  speechx/examples/aishell/run.sh
  speechx/examples/aishell/utils
  speechx/examples/decoder/offline_decoder_sliding_chunk_main.cc
  speechx/examples/feat/CMakeLists.txt
  speechx/examples/feat/cmvn_json2binary_main.cc
  speechx/examples/feat/linear_spectrogram_main.cc
  speechx/examples/feat/linear_spectrogram_without_db_norm_main.cc
  speechx/speechx/frontend/audio/audio_cache.cc
  speechx/speechx/frontend/audio/audio_cache.h
  speechx/speechx/frontend/audio/linear_spectrogram.h
  speechx/speechx/utils/CMakeLists.txt
  speechx/speechx/utils/file_utils.cc
  speechx/speechx/utils/file_utils.h
  speechx/speechx/utils/simdjson.cpp
  speechx/speechx/utils/simdjson.h
Labels: Deployment

#1687 [speechx]remove mutable in audio_cache
  speechx/speechx/frontend/audio/audio_cache.h
Labels: Deployment

#1677 [Doc] update readem for aishell/asr0
  examples/aishell/asr0/README.md
  examples/aishell/asr1/README.md
  examples/librispeech/asr1/README.md
  examples/librispeech/asr2/README.md
Labels: README, Example

#1651 [vec] add speaker diarization pipeline
  examples/ami/sd0/conf/ecapa_tdnn.yaml
  examples/ami/sd0/local/compute_embdding.py
  examples/ami/sd0/local/data.sh
  examples/ami/sd0/local/experiment.py
  examples/ami/sd0/local/process.sh
  examples/ami/sd0/run.sh
  paddlespeech/vector/cluster/diarization.py
  paddlespeech/vector/io/dataset_from_json.py
Labels: Example, vector

#1690 [vec]add vector necessary note, test=doc
  examples/voxceleb/sv0/conf/ecapa_tdnn.yaml
  examples/voxceleb/sv0/conf/ecapa_tdnn_small.yaml
  paddlespeech/vector/exps/ecapa_tdnn/test.py
  paddlespeech/vector/exps/ecapa_tdnn/train.py
  paddlespeech/vector/io/embedding_norm.py
Labels: Example, vector

#1692 [WebSocket] added online web client, test=doc
  paddlespeech/server/tests/asr/online/web/app.py
  paddlespeech/server/tests/asr/online/web/static/css/font-awesome.min.css
  paddlespeech/server/tests/asr/online/web/static/css/style.css
  paddlespeech/server/tests/asr/online/web/static/fonts/FontAwesome.otf
  paddlespeech/server/tests/asr/online/web/static/fonts/fontawesome-webfont.eot
  paddlespeech/server/tests/asr/online/web/static/fonts/fontawesome-webfont.svg
  paddlespeech/server/tests/asr/online/web/static/fonts/fontawesome-webfont.ttf
  paddlespeech/server/tests/asr/online/web/static/fonts/fontawesome-webfont.woff
  paddlespeech/server/tests/asr/online/web/static/fonts/fontawesome-webfont.woff2
  paddlespeech/server/tests/asr/online/web/static/image/PaddleSpeech_logo.png
  paddlespeech/server/tests/asr/online/web/static/image/voice-dictation.svg
  paddlespeech/server/tests/asr/online/web/static/js/SoundRecognizer.js
  paddlespeech/server/tests/asr/online/web/static/js/jquery-3.2.1.min.js
  paddlespeech/server/tests/asr/online/web/static/js/recorder/engine/mp3.js
  paddlespeech/server/tests/asr/online/web/static/js/recorder/engine/pcm.js
  paddlespeech/server/tests/asr/online/web/static/js/recorder/engine/wav.js
  paddlespeech/server/tests/asr/online/web/static/js/recorder/extensions/frequency.histogram.view.js
  paddlespeech/server/tests/asr/online/web/static/js/recorder/extensions/lib.fft.js
  paddlespeech/server/tests/asr/online/web/static/js/recorder/recorder-core.js
  paddlespeech/server/tests/asr/online/web/static/paddle.ico
  paddlespeech/server/tests/asr/online/web/templates/index.html
Labels: Server

#1694 修复 example/aishell 目录中speech单词拼写错误问题
  examples/aishell/asr0/run.sh
Labels: Example

#1697 修改hack 单词拼写错误
  examples/other/1xt2x/src_deepspeech2x/__init__.py
  paddlespeech/s2t/__init__.py
Labels: Example, S2T

#1698 [doc]fix typo, test=doc
  paddlespeech/t2s/models/speedyspeech/speedyspeech.py
  paddlespeech/t2s/modules/residual_block.py
Labels: T2S

#1700 [doc]add pwgan onnx model, test=doc
  examples/csmsc/voc1/README.md
Labels: README, Example

#1701 [WebSocket] added online asr doc and online asr command line, test=doc
  demos/speech_server/README_cn.md
  paddlespeech/server/bin/paddlespeech_client.py
  paddlespeech/server/tests/asr/offline/http_client.py
  paddlespeech/server/tests/asr/online/README_cn.md
  paddlespeech/server/tests/asr/online/web/paddle_web_demo.png
  paddlespeech/server/tests/asr/online/web/readme.md
Labels: Demo, Server

#1696 [vec][server] vpr demo support
  demos/audio_searching/README.md
  demos/audio_searching/README_cn.md
  demos/audio_searching/src/audio_search.py
  demos/audio_searching/src/mysql_helpers.py
  demos/audio_searching/src/operations/count.py
  demos/audio_searching/src/operations/drop.py
  demos/audio_searching/src/operations/load.py
  demos/audio_searching/src/operations/search.py
  demos/audio_searching/src/test_audio_search.py
  demos/audio_searching/src/test_vpr_search.py
  demos/audio_searching/src/vpr_search.py
  paddlespeech/vector/cluster/diarization.py
Labels: README, Demo, vector

#1715 [speechx] refactor egs and more egs for TLG wfst graph build
  .gitignore
  examples/other/ngram_lm/s0/local/build_zh_lm.sh
  examples/other/ngram_lm/s0/local/download_lm_zh.sh
  setup.py
  speechx/examples/README.md
  speechx/examples/ds2_ol/aishell/README.md
  speechx/examples/ds2_ol/aishell/path.sh
  speechx/examples/ds2_ol/aishell/run.sh
  speechx/examples/ngram/README.md
  speechx/examples/ngram/en/README.md
  speechx/examples/ngram/zh/README.md
  speechx/examples/ngram/zh/local/aishell_train_lms.sh
  speechx/examples/ngram/zh/local/text_to_lexicon.py
  speechx/examples/ngram/zh/path.sh
  speechx/examples/ngram/zh/run.sh
  speechx/examples/ngram/zh/utils
  speechx/examples/text_lm/.gitignore
  speechx/examples/text_lm/README.md
  speechx/examples/text_lm/path.sh
  speechx/examples/text_lm/run.sh
  speechx/examples/text_lm/utils
  speechx/examples/wfst/.gitignore
  speechx/examples/wfst/README.md
  speechx/examples/wfst/path.sh
  speechx/examples/wfst/run.sh
  speechx/examples/wfst/utils
  speechx/tools/install_srilm.sh
  tools/Makefile
  tools/extras/install_openfst.sh
  utils/compute-wer.py
  utils/espnet_json_to_manifest.py
  utils/fst/prepare_dict.py
  utils/generate_infer_yaml.py
  utils/link_wav.py
  utils/manifest_key_value.py
  utils/zh_tn.py
Labels: Installation, README, Example, Deployment

#1681 [vec][score] add plda model
  paddlespeech/vector/cluster/diarization.py
  paddlespeech/vector/cluster/plda.py
  paddlespeech/vector/io/dataset_from_json.py
Labels: vector

#1716 [CLI]update cli, test=doc
  paddlespeech/cli/asr/infer.py
  paddlespeech/cli/asr/pretrained_models.py
  paddlespeech/cli/cls/infer.py
  paddlespeech/cli/cls/pretrained_models.py
  paddlespeech/cli/executor.py
  paddlespeech/cli/st/infer.py
  paddlespeech/cli/st/pretrained_models.py
  paddlespeech/cli/stats/infer.py
  paddlespeech/cli/text/infer.py
  paddlespeech/cli/text/pretrained_models.py
  paddlespeech/cli/tts/infer.py
  paddlespeech/cli/tts/pretrained_models.py
  paddlespeech/cli/vector/infer.py
  paddlespeech/cli/vector/pretrained_models.py
  tests/unit/cli/test_cli.sh
Labels: CLI, Test

#1719 [vec][loss] add NCE Loss from RNNLM
  paddlespeech/vector/modules/loss.py
  paddlespeech/vector/utils/vector_utils.py
Labels: vector

#1722 [vec][loss] add FocalLoss to deal with class imbalances
  paddlespeech/vector/modules/loss.py
  paddlespeech/vector/utils/vector_utils.py
Labels: vector

#1723 [TTS]restructure syn_utils.py, test=tts
  examples/csmsc/tts0/local/inference.sh
  examples/csmsc/tts3/local/inference.sh
  examples/csmsc/tts3/local/synthesize_e2e.sh
  examples/ljspeech/tts3/local/synthesize.sh
  paddlespeech/t2s/exps/inference.py
  paddlespeech/t2s/exps/inference_streaming.py
  paddlespeech/t2s/exps/ort_predict.py
  paddlespeech/t2s/exps/ort_predict_e2e.py
  paddlespeech/t2s/exps/ort_predict_streaming.py
  paddlespeech/t2s/exps/syn_utils.py
  paddlespeech/t2s/exps/synthesize.py
  paddlespeech/t2s/exps/synthesize_e2e.py
  paddlespeech/t2s/exps/synthesize_streaming.py
  paddlespeech/t2s/exps/voice_cloning.py
  paddlespeech/t2s/exps/wavernn/synthesize.py
Labels: Example, T2S

#1727 [TTS]add paddle device set for ort and inference
  paddlespeech/t2s/exps/inference.py
  paddlespeech/t2s/exps/inference_streaming.py
  paddlespeech/t2s/exps/ort_predict.py
  paddlespeech/t2s/exps/ort_predict_e2e.py
  paddlespeech/t2s/exps/ort_predict_streaming.py
Labels: T2S

#1725 [vec] add GRL to domain adaptation
  paddlespeech/vector/modules/layer.py
Labels: vector

#1673 [asr] Add new cer tools
  examples/aishell/asr0/local/test.sh
  examples/aishell/asr1/local/test.sh
  examples/aishell/asr1/run.sh
  paddlespeech/s2t/exps/deepspeech2/model.py
  utils/compute-wer.py
  utils/format_rsl.py
Labels: Example, S2T

#1732 [speechx]add websocket lib
  speechx/speechx/websocket/CMakeLists.txt
  speechx/speechx/websocket/websocket_client.cc
  speechx/speechx/websocket/websocket_client.h
  speechx/speechx/websocket/websocket_server.cc
  speechx/speechx/websocket/websocket_server.h
Labels: Deployment

#1736 [speechx]update speechx install doc
  speechx/README.md
  speechx/build.sh
  speechx/examples/ds2_ol/websocket/websocket_client_main.cc
  speechx/examples/ds2_ol/websocket/websocket_server_main.cc
Labels: README, Deployment

#1739 [Doc]renew the released mode
  docs/source/released_model.md
  examples/aishell/asr1/RESULTS.md
Labels: Documentation, Example

#1740 [speechx] fix nnet input and output name
  .flake8
  paddlespeech/cli/asr/infer.py
  paddlespeech/s2t/models/u2/u2.py
  paddlespeech/s2t/modules/ctc.py
  paddlespeech/server/README.md
  paddlespeech/server/README_cn.md
  paddlespeech/server/engine/asr/online/ctc_search.py
  paddlespeech/t2s/exps/synthesize.py
  paddlespeech/vector/cluster/diarization.py
  speechx/examples/ds2_ol/decoder/ctc-prefix-beam-search-decoder-ol.cc
  speechx/examples/ds2_ol/decoder/run.sh
  speechx/examples/ds2_ol/decoder/wfst-decoder-ol.cc
  speechx/examples/ds2_ol/feat/CMakeLists.txt
  speechx/examples/ds2_ol/feat/cmvn-json2kaldi.cc
  speechx/examples/ngram/zh/local/text_to_lexicon.py
  speechx/examples/text_lm/local/mmseg.py
  speechx/examples/wfst/README.md
  utils/DER.py
  utils/compute-wer.py
  utils/format_rsl.py
  utils/fst/prepare_dict.py
Labels: README, Deployment, S2T, T2S, vector, CLI, Server

#1741 [ASR] remove redundant log
  paddlespeech/s2t/modules/align.py
Labels: S2T

#1742 [speechx] update wfst graph
  speechx/examples/ds2_ol/aishell/README.md
  speechx/examples/ds2_ol/aishell/run.sh
Labels: README, Deployment

#1744 [vec][doc]update the voxceleb readme.md, test=doc
  examples/voxceleb/sv0/README.md
Labels: README, Example

#1747 [ASR] fix CER tools
  examples/aishell/asr1/local/test.sh
Labels: Example

#1746 [Doc] Fix release_model info
  docs/source/released_model.md
  examples/aishell/asr1/RESULTS.md
Labels: Documentation, Example

#1748 [Doc] Updata released model info
  docs/source/released_model.md
Labels: Documentation

#1749 Updata released model info
  examples/aishell/asr1/RESULTS.md
Labels: Example

#1752 [TTS]fix wavernn white noise bug for paddle develop(2.3)
  examples/csmsc/tts3/local/synthesize_e2e.sh
  examples/csmsc/voc6/README.md
  paddlespeech/t2s/models/wavernn/wavernn.py
Labels: README, Example, T2S

#1754 [TTS]Update paddle2onnx
  examples/csmsc/tts2/run.sh
  examples/csmsc/tts3/run.sh
  examples/csmsc/tts3/run_cnndecoder.sh
Labels: Example

#1759 [Setup] to r1.0.0a
  setup.py
Labels: Installation

#1757 [speechx] to_float32, fix shell script
  speechx/examples/README.md
  speechx/examples/ds2_ol/README.md
  speechx/examples/ds2_ol/aishell/run.sh
  speechx/examples/ds2_ol/feat/linear-spectrogram-wo-db-norm-ol.cc
  speechx/examples/ds2_ol/websocket/websocket_client.sh
  speechx/examples/ds2_ol/websocket/websocket_server.sh
  speechx/speechx/decoder/param.h
  speechx/speechx/frontend/audio/audio_cache.cc
  speechx/speechx/frontend/audio/audio_cache.h
  speechx/speechx/frontend/audio/cmvn.cc
  speechx/speechx/frontend/audio/data_cache.h
  speechx/speechx/frontend/audio/fbank.h
  speechx/speechx/frontend/audio/feature_cache.cc
  speechx/speechx/frontend/audio/feature_cache.h
  speechx/speechx/frontend/audio/feature_pipeline.cc
  speechx/speechx/frontend/audio/feature_pipeline.h
Labels: README, Deployment

#1760 [vec] bug fix to adapt VUE
  demos/audio_searching/README.md
  demos/audio_searching/README_cn.md
  demos/audio_searching/src/test_vpr_search.py
  demos/audio_searching/src/vpr_search.py
Labels: README, Demo

#1761 [asr][weboscket]fix the streaming asr server bug, server client
  demos/README.md
  demos/README_cn.md
  demos/streaming_asr_server/README.md
  demos/streaming_asr_server/README_cn.md
  paddlespeech/server/utils/audio_handler.py
  paddlespeech/server/ws/asr_socket.py
Labels: README, S2T, Demo, Server

#1765 [speechx] fbank and mfcc
  speechx/speechx/frontend/audio/data_cache.h
  speechx/speechx/frontend/audio/fbank.cc
  speechx/speechx/frontend/audio/fbank.h
  speechx/speechx/frontend/audio/mfcc.cc
  speechx/speechx/frontend/audio/mfcc.h
Labels: Deployment

#1764 format code
  audio/tests/backends/soundfile/test_io.py
  audio/tests/benchmark/log_melspectrogram.py
  audio/tests/benchmark/melspectrogram.py
  audio/tests/benchmark/mfcc.py
  audio/tests/features/base.py
  audio/tests/features/test_istft.py
  audio/tests/features/test_kaldi.py
  audio/tests/features/test_librosa.py
  audio/tests/features/test_log_melspectrogram.py
  audio/tests/features/test_spectrogram.py
  audio/tests/features/test_stft.py
  demos/audio_searching/src/vpr_search.py
  examples/voxceleb/sv0/local/data_prepare.py
  examples/voxceleb/sv0/local/make_rirs_noise_csv_dataset_from_json.py
  examples/voxceleb/sv0/local/make_vox_csv_dataset_from_json.py
  paddlespeech/cli/cls/infer.py
  paddlespeech/cli/utils.py
  paddlespeech/cli/vector/infer.py
  paddlespeech/cls/exps/panns/deploy/predict.py
  paddlespeech/cls/exps/panns/export_model.py
  paddlespeech/cls/exps/panns/predict.py
  paddlespeech/cls/exps/panns/train.py
  paddlespeech/cls/models/panns/panns.py
  paddlespeech/s2t/transform/spectrogram.py
  paddlespeech/server/engine/tts/online/onnx/tts_engine.py
  paddlespeech/server/util.py
  paddlespeech/vector/exps/ecapa_tdnn/extract_emb.py
  paddlespeech/vector/exps/ecapa_tdnn/test.py
  paddlespeech/vector/exps/ecapa_tdnn/train.py
  paddlespeech/vector/io/dataset.py
  paddlespeech/vector/io/dataset_from_json.py
  tests/unit/server/online/tts/check_server/change_yaml.py
Labels: Example, S2T, Demo, vector, CLI, Test, Server

#1767 [CLI] Add conformer_aishell, conformer_online_aishell
  examples/aishell/asr1/conf/chunk_conformer.yaml
  paddlespeech/cli/asr/pretrained_models.py
  tests/unit/cli/test_cli.sh
Labels: Example, CLI, Test

#1768 [speechx]make cmvn global in run.sh
  speechx/examples/ds2_ol/aishell/run.sh
Labels: Deployment

#1766 [ASR] ds2: add log_interval and fix lr problem when resume training
  paddlespeech/s2t/training/trainer.py
Labels: S2T

#1769 [speechx] set nnet param by flags
  speechx/examples/ds2_ol/decoder/ctc-prefix-beam-search-decoder-ol.cc
  speechx/examples/ds2_ol/decoder/wfst-decoder-ol.cc
  speechx/examples/ds2_ol/feat/linear-spectrogram-wo-db-norm-ol.cc
  speechx/speechx/common/CMakeLists.txt
  speechx/speechx/decoder/param.h
  speechx/speechx/frontend/audio/audio_cache.h
  speechx/speechx/frontend/audio/feature_cache.cc
  speechx/speechx/frontend/audio/mfcc.cc
  speechx/speechx/nnet/paddle_nnet.cc
  speechx/speechx/nnet/paddle_nnet.h
Labels: Deployment

#1774 [server] fix tts streaming server
  demos/streaming_tts_server/test_client.sh
  paddlespeech/server/utils/audio_process.py
  paddlespeech/t2s/modules/predictor/length_regulator.py
Labels: T2S, Demo, Server

#1772 [text][server]add text punc server
  paddlespeech/cli/vector/infer.py
  paddlespeech/server/bin/paddlespeech_client.py
  paddlespeech/server/conf/application.yaml
  paddlespeech/server/engine/engine_factory.py
  paddlespeech/server/engine/text/__init__.py
  paddlespeech/server/engine/text/python/__init__.py
  paddlespeech/server/engine/text/python/text_engine.py
  paddlespeech/server/restful/api.py
  paddlespeech/server/restful/request.py
  paddlespeech/server/restful/response.py
  paddlespeech/server/restful/text_api.py
  paddlespeech/server/tests/text/http_client.py
  paddlespeech/server/util.py
Labels: CLI, Server

#1770 [ASR] fix asr cli infer
  paddlespeech/cli/asr/infer.py
  tests/unit/cli/test_cli.sh
Labels: CLI, Test

#1731 [vec] add GE2E to support unlabeled data training
  paddlespeech/vector/modules/loss.py
Labels: vector

#1777 [ASR] fix time restricion in test_cli.sh
  tests/unit/cli/test_cli.sh
Labels: Test

#1776 [ASR] Replace fbank
  paddlespeech/s2t/frontend/featurizer/audio_featurizer.py
Labels: S2T

#1778 [CLI] add color for test_cli
  tests/unit/cli/test_cli.sh
Labels: Test

#1779 [speechx] add sucess log in run.sh
  speechx/README.md
  speechx/examples/ds2_ol/aishell/run.sh
Labels: README, Deployment

#1783 [KWS]Update KWS example.
  examples/hey_snips/kws0/conf/mdtc.yaml
  examples/hey_snips/kws0/local/plot.sh
  examples/hey_snips/kws0/local/score.sh
  examples/hey_snips/kws0/local/train.sh
  examples/hey_snips/kws0/run.sh
  paddlespeech/kws/exps/mdtc/compute_det.py
  paddlespeech/kws/exps/mdtc/plot_det_curve.py
  paddlespeech/kws/exps/mdtc/score.py
  paddlespeech/kws/exps/mdtc/train.py
Labels: Example

#1782 [server] update readme
  demos/streaming_tts_server/README.md
  demos/streaming_tts_server/README_cn.md
  demos/streaming_tts_server/conf/tts_online_application.yaml
  paddlespeech/server/conf/tts_online_application.yaml
  setup.py
Labels: Installation, README, Demo, Server

#1781 [Doc] Update ds2online model info
  docs/source/released_model.md
  examples/aishell/asr0/RESULTS.md
Labels: Documentation, Example

#1786 [CLI] renew ds2 online model
  paddlespeech/cli/asr/pretrained_models.py
  paddlespeech/server/engine/asr/online/asr_engine.py
Labels: CLI, Server

#1787 [speechx] fix speechx ws server to return dummpy partial result
  paddlespeech/cli/vector/infer.py
  paddlespeech/kws/exps/mdtc/train.py
  paddlespeech/server/util.py
  paddlespeech/server/utils/audio_handler.py
  speechx/speechx/websocket/websocket_server.cc
Labels: Deployment, CLI, Server

#1784 [asr][server]asr client add punctuatjion server
  demos/streaming_asr_server/web/templates/index.html
  demos/streaming_asr_server/websocket_client.py
  paddlespeech/cli/cls/infer.py
  paddlespeech/server/bin/paddlespeech_client.py
  paddlespeech/server/tests/asr/online/microphone_client.py
  paddlespeech/server/utils/audio_handler.py
  paddlespeech/server/ws/asr_socket.py
Labels: Demo, CLI, Server

#1789 [asr][server]fix client parse the asr result bug
  demos/streaming_asr_server/websocket_client.py
Labels: S2T, Demo

#1791 [vec] update readme
  examples/ami/README.md
  examples/ami/sd0/README.md
  examples/ami/sd0/run.sh
Labels: README, Example

#1792 [vec] update readme
  examples/ami/README.md
  examples/ami/sd0/README.md
  examples/ami/sd0/run.sh
Labels: README, Example

#1794 [Bug fix] fix test_cli
  tests/unit/cli/test_cli.sh
Labels: Test

#1795 [Bug fix] fix test_cli
  tests/unit/cli/test_cli.sh
Labels: Test

#1797 [R1.0] Renew ds2 online model [cer 6.66%]
  paddlespeech/cli/asr/pretrained_models.py
  paddlespeech/server/engine/asr/online/asr_engine.py
Labels: CLI, Server

#1801 [R1.0]update the streaming output and punc default ip, port
  paddlespeech/server/bin/paddlespeech_client.py
  paddlespeech/server/utils/audio_handler.py
Labels: S2T

#1796 [vec] update readme
  examples/ami/README.md
  examples/ami/sd0/README.md
  examples/ami/sd0/run.sh
Labels: README, Example

#1800 [R1.0]update the streaming output and punc default ip, port
  paddlespeech/server/bin/paddlespeech_client.py
  paddlespeech/server/utils/audio_handler.py
Labels: Server

#1802 Renew ds2 online model [cer 6.66%]
  paddlespeech/cli/asr/pretrained_models.py
  paddlespeech/server/engine/asr/online/asr_engine.py
Labels: CLI, Server

#1803 [CLI] add cli asr models
  paddlespeech/cli/asr/pretrained_models.py
  tests/unit/cli/test_cli.sh
Labels: CLI, Test

#1805 修复错别字一枚
  demos/streaming_asr_server/README_cn.md
Labels: Demo

#1808 [Doc] Renew ds2 online info
  docs/source/released_model.md
  examples/aishell/asr0/RESULTS.md
Labels: Documentation, Example

#1806 [server] update streaming demos readme
  demos/streaming_tts_server/README.md
  demos/streaming_tts_server/README_cn.md
Labels: README, Demo

#1804 [server] update streaming demos readme
  demos/streaming_tts_server/README.md
  demos/streaming_tts_server/README_cn.md
Labels: README, Demo

#1818 [R1.0]update the paddlespeech_client asr_online cli
  demos/streaming_asr_server/README.md
  demos/streaming_asr_server/README_cn.md
  examples/voxceleb/sv0/README.md
  examples/voxceleb/sv0/local/test.sh
  paddlespeech/server/bin/paddlespeech_client.py
Labels: README, Example, Demo, Server

#1825 [r1.0][doc] fix readme
  README.md
  README_cn.md
Labels: README

#1823 [doc] fix reademe
  README.md
  README_cn.md
Labels: README

#1821 [Doc] Updata doc of cli asr
  demos/speech_recognition/README.md
  demos/speech_recognition/README_cn.md
Labels: README, Demo

#1826 这个代码块少了一个缩进
  examples/other/mfa/local/reorganize_aishell3.py
Labels: Example
