Repository PaddlePaddle/PaddleSpeech, pull requests merged in 2022-05, with the labels that each got.

#1827 [speechx] align fbank with paddleaudio
  speechx/examples/ds2_ol/decoder/ctc-prefix-beam-search-decoder-ol.cc
  speechx/examples/ds2_ol/decoder/recognizer_test_main.cc
  speechx/examples/ds2_ol/decoder/wfst-decoder-ol.cc
  speechx/examples/ds2_ol/feat/CMakeLists.txt
  speechx/examples/ds2_ol/feat/compute_fbank_main.cc
  speechx/speechx/decoder/param.h
  speechx/speechx/frontend/audio/CMakeLists.txt
  speechx/speechx/frontend/audio/fbank.cc
  speechx/speechx/frontend/audio/fbank.h
  speechx/speechx/frontend/audio/feature_pipeline.cc
  speechx/speechx/frontend/audio/feature_pipeline.h
  speechx/speechx/kaldi/feat/CMakeLists.txt
  speechx/speechx/kaldi/feat/feature-fbank.h
  speechx/speechx/kaldi/feat/mel-computations.cc
Labels: Deployment

#1840 [speechx] fix copyright issue
  speechx/patch/README.md
  speechx/speechx/websocket/websocket_client.cc
  speechx/speechx/websocket/websocket_client.h
  speechx/speechx/websocket/websocket_server.cc
  speechx/speechx/websocket/websocket_server.h
Labels: README, Deployment

#1835 [vec][server]add vector server
  demos/speaker_verification/README.md
  demos/speaker_verification/README_cn.md
  demos/streaming_asr_server/websocket_client.py
  paddlespeech/cli/vector/infer.py
  paddlespeech/server/README_cn.md
  paddlespeech/server/bin/paddlespeech_client.py
  paddlespeech/server/conf/application.yaml
  paddlespeech/server/conf/vector_application.yaml
  paddlespeech/server/engine/asr/online/asr_engine.py
  paddlespeech/server/engine/engine_factory.py
  paddlespeech/server/engine/vector/__init__.py
  paddlespeech/server/engine/vector/python/__init__.py
  paddlespeech/server/engine/vector/python/vector_engine.py
  paddlespeech/server/restful/api.py
  paddlespeech/server/restful/request.py
  paddlespeech/server/restful/response.py
  paddlespeech/server/restful/vector_api.py
  paddlespeech/server/utils/audio_handler.py
Labels: README, Demo, vector, CLI, Server

#1845 [R1.0][asr][server]add vector server
  demos/speaker_verification/README.md
  demos/speaker_verification/README_cn.md
  demos/streaming_asr_server/websocket_client.py
  paddlespeech/cli/vector/infer.py
  paddlespeech/server/README_cn.md
  paddlespeech/server/bin/paddlespeech_client.py
  paddlespeech/server/conf/application.yaml
  paddlespeech/server/conf/vector_application.yaml
  paddlespeech/server/engine/asr/online/asr_engine.py
  paddlespeech/server/engine/engine_factory.py
  paddlespeech/server/engine/vector/__init__.py
  paddlespeech/server/engine/vector/python/__init__.py
  paddlespeech/server/engine/vector/python/vector_engine.py
  paddlespeech/server/restful/api.py
  paddlespeech/server/restful/request.py
  paddlespeech/server/restful/response.py
  paddlespeech/server/restful/vector_api.py
  paddlespeech/server/utils/audio_handler.py
Labels: README, Demo, CLI, Server

#1836 [asr][server]join streaming asr and punc server
  demos/streaming_asr_server/README.md
  demos/streaming_asr_server/README_cn.md
  demos/streaming_asr_server/conf/punc_application.yaml
  demos/streaming_asr_server/conf/ws_conformer_application.yaml
  demos/streaming_asr_server/punc_server.py
  demos/streaming_asr_server/server.sh
  demos/streaming_asr_server/streaming_asr_server.py
  demos/streaming_asr_server/test.sh
  paddlespeech/server/bin/paddlespeech_client.py
Labels: README, Demo, Server

#1844 [asr] add asr1 config comment
  examples/aishell/asr1/conf/chunk_conformer.yaml
  examples/aishell/asr1/conf/conformer.yaml
  examples/aishell/asr1/conf/transformer.yaml
Labels: Example

#1843 [speechx] add fbank run script
  speechx/examples/ds2_ol/aishell/run_fbank.sh
Labels: Deployment

#1846 [R1.0][asr][server]join streaming asr and punc server
  demos/streaming_asr_server/README.md
  demos/streaming_asr_server/README_cn.md
  demos/streaming_asr_server/conf/punc_application.yaml
  demos/streaming_asr_server/conf/ws_conformer_application.yaml
  demos/streaming_asr_server/punc_server.py
  demos/streaming_asr_server/server.sh
  demos/streaming_asr_server/streaming_asr_server.py
  demos/streaming_asr_server/test.sh
  paddlespeech/server/bin/paddlespeech_client.py
Labels: README, S2T, Demo, Server

#1838 [asr][server]streaming asr server add time stamp
  paddlespeech/server/engine/asr/online/asr_engine.py
  paddlespeech/server/engine/asr/online/ctc_search.py
  paddlespeech/server/ws/asr_socket.py
Labels: S2T, Server

#1848 [speechx] rm to_float32 flags, default feature fbank
  demos/streaming_asr_server/README.md
  demos/streaming_asr_server/README_cn.md
  paddlespeech/cli/vector/infer.py
  paddlespeech/server/README_cn.md
  paddlespeech/server/engine/vector/__init__.py
  paddlespeech/server/engine/vector/python/__init__.py
  paddlespeech/server/engine/vector/python/vector_engine.py
  speechx/examples/ds2_ol/aishell/run.sh
  speechx/examples/ds2_ol/decoder/recognizer_test_main.cc
  speechx/examples/ds2_ol/feat/compute_fbank_main.cc
  speechx/examples/ds2_ol/feat/linear-spectrogram-wo-db-norm-ol.cc
  speechx/examples/ds2_ol/websocket/websocket_server.sh
  speechx/speechx/decoder/param.h
  speechx/speechx/frontend/audio/fbank.cc
  speechx/speechx/frontend/audio/feature_pipeline.cc
  speechx/speechx/frontend/audio/feature_pipeline.h
Labels: README, Deployment, Demo, CLI, Server

#1849 fix run_fbank.sh typo & copyright issue
  speechx/examples/ds2_ol/aishell/run_fbank.sh
  speechx/speechx/websocket/websocket_client.cc
  speechx/speechx/websocket/websocket_client.h
  speechx/speechx/websocket/websocket_server.cc
  speechx/speechx/websocket/websocket_server.h
Labels: Deployment

#1850 [R1.0]asr streaming server add time stamp
  paddlespeech/server/engine/asr/online/asr_engine.py
  paddlespeech/server/engine/asr/online/ctc_search.py
  paddlespeech/server/ws/asr_socket.py
Labels: S2T, Server

#1851 [server] update readme
  demos/speech_server/README.md
  demos/speech_server/README_cn.md
  demos/speech_server/conf/application.yaml
  demos/streaming_tts_server/README.md
  demos/streaming_tts_server/README_cn.md
  paddlespeech/server/README.md
  paddlespeech/server/README_cn.md
Labels: README, Demo, Server

#1852 [r1.0][server] update readme
  demos/speech_server/README.md
  demos/speech_server/README_cn.md
  demos/speech_server/conf/application.yaml
  demos/streaming_tts_server/README.md
  demos/streaming_tts_server/README_cn.md
  paddlespeech/server/README.md
  paddlespeech/server/README_cn.md
Labels: README, Demo, Server

#1853 [CLI] update cli
  paddlespeech/cli/asr/pretrained_models.py
  tests/unit/cli/test_cli.sh
Labels: CLI, Test

#1854 [R1.0] update cli
  paddlespeech/cli/asr/pretrained_models.py
  tests/unit/cli/test_cli.sh
Labels: CLI, Test

#1861 [Doc]Add doc for wenetspeech model (ds2 online, conformer online)
  docs/source/released_model.md
  examples/wenetspeech/asr0/RESULTS.md
  examples/wenetspeech/asr1/RESULTS.md
Labels: Documentation, Example

#1863 [speechx] fix run_fbank.sh result issue
  speechx/examples/ds2_ol/aishell/run_fbank.sh
Labels: Deployment

#1859 [server] improve server code
  demos/streaming_tts_server/conf/tts_online_application.yaml
  paddlespeech/server/bin/paddlespeech_client.py
  paddlespeech/server/conf/application.yaml
  paddlespeech/server/conf/tts_online_application.yaml
  paddlespeech/server/engine/asr/online/asr_engine.py
  paddlespeech/server/engine/asr/online/pretrained_models.py
  paddlespeech/server/engine/asr/paddleinference/asr_engine.py
  paddlespeech/server/engine/asr/paddleinference/pretrained_models.py
  paddlespeech/server/engine/cls/paddleinference/cls_engine.py
  paddlespeech/server/engine/cls/paddleinference/pretrained_models.py
  paddlespeech/server/engine/tts/online/onnx/pretrained_models.py
  paddlespeech/server/engine/tts/online/onnx/tts_engine.py
  paddlespeech/server/engine/tts/online/python/pretrained_models.py
  paddlespeech/server/engine/tts/online/python/tts_engine.py
  paddlespeech/server/engine/tts/paddleinference/pretrained_models.py
  paddlespeech/server/engine/tts/paddleinference/tts_engine.py
  paddlespeech/server/engine/tts/python/tts_engine.py
  paddlespeech/server/restful/tts_api.py
  paddlespeech/server/tests/tts/online/http_client.py
  paddlespeech/server/tests/tts/online/ws_client.py
  paddlespeech/server/utils/audio_handler.py
  paddlespeech/server/utils/util.py
  paddlespeech/server/ws/tts_socket.py
  tests/unit/server/offline/change_yaml.py
  tests/unit/server/offline/conf/application.yaml
  tests/unit/server/offline/test_server_client.sh
  tests/unit/server/online/tts/check_server/conf/application.yaml
  tests/unit/server/online/tts/check_server/http_client.py
  tests/unit/server/online/tts/check_server/test_all.sh
  tests/unit/server/online/tts/check_server/tts_online_application.yaml
  tests/unit/server/online/tts/check_server/ws_client.py
  tests/unit/server/online/tts/test_server/test_http_client.py
Labels: Demo, Test, Server

#1866 [R1.0][server] improve server code
  demos/streaming_tts_server/conf/tts_online_application.yaml
  paddlespeech/server/bin/paddlespeech_client.py
  paddlespeech/server/conf/application.yaml
  paddlespeech/server/conf/tts_online_application.yaml
  paddlespeech/server/engine/asr/online/asr_engine.py
  paddlespeech/server/engine/asr/online/pretrained_models.py
  paddlespeech/server/engine/asr/paddleinference/asr_engine.py
  paddlespeech/server/engine/asr/paddleinference/pretrained_models.py
  paddlespeech/server/engine/cls/paddleinference/cls_engine.py
  paddlespeech/server/engine/cls/paddleinference/pretrained_models.py
  paddlespeech/server/engine/tts/online/onnx/pretrained_models.py
  paddlespeech/server/engine/tts/online/onnx/tts_engine.py
  paddlespeech/server/engine/tts/online/python/pretrained_models.py
  paddlespeech/server/engine/tts/online/python/tts_engine.py
  paddlespeech/server/engine/tts/paddleinference/pretrained_models.py
  paddlespeech/server/engine/tts/paddleinference/tts_engine.py
  paddlespeech/server/engine/tts/python/tts_engine.py
  paddlespeech/server/restful/tts_api.py
  paddlespeech/server/tests/tts/online/http_client.py
  paddlespeech/server/tests/tts/online/ws_client.py
  paddlespeech/server/utils/audio_handler.py
  paddlespeech/server/utils/util.py
  paddlespeech/server/ws/tts_socket.py
  tests/unit/server/offline/change_yaml.py
  tests/unit/server/offline/conf/application.yaml
  tests/unit/server/offline/test_server_client.sh
  tests/unit/server/online/tts/check_server/conf/application.yaml
  tests/unit/server/online/tts/check_server/http_client.py
  tests/unit/server/online/tts/check_server/test_all.sh
  tests/unit/server/online/tts/check_server/tts_online_application.yaml
  tests/unit/server/online/tts/check_server/ws_client.py
  tests/unit/server/online/tts/test_server/test_http_client.py
Labels: Demo, Test, Server

#1872 [asr][server]update the streaming asr readme
  demos/streaming_asr_server/README.md
  demos/streaming_asr_server/README_cn.md
  paddlespeech/server/bin/paddlespeech_server.py
Labels: README, S2T, Demo, Server

#1871 [R1.0][asr][server]update the streaming asr readme
  demos/streaming_asr_server/README.md
  demos/streaming_asr_server/README_cn.md
  paddlespeech/server/bin/paddlespeech_server.py
Labels: README, Demo, Server

#1864 [doc] update readme with new feature
  README.md
  README_cn.md
  paddlespeech/cli/asr/pretrained_models.py
Labels: README, CLI

#1874 [server] unify name style & frame with abs timestamp
  paddlespeech/server/bin/main.py
  paddlespeech/server/restful/api.py
  paddlespeech/server/utils/audio_handler.py
  paddlespeech/server/utils/audio_process.py
  paddlespeech/server/utils/buffer.py
  paddlespeech/server/ws/api.py
  paddlespeech/server/ws/asr_api.py
  paddlespeech/server/ws/tts_api.py
Labels: Server

#1869 [R1.0] Updata released model info ( Wenetspeech ds2 online, conformer online)
  docs/source/released_model.md
  examples/wenetspeech/asr0/RESULTS.md
  examples/wenetspeech/asr1/RESULTS.md
  paddlespeech/cli/asr/pretrained_models.py
Labels: Documentation, Example, CLI

#1598 [CLI]Add RTF wrapper for asr.
  paddlespeech/cli/asr/infer.py
  paddlespeech/cli/executor.py
  paddlespeech/cli/utils.py
Labels: CLI

#1877 [ASR] Replace dist.spawn with dist.launch
  demos/audio_searching/src/operations/load.py
  examples/aishell/asr0/local/train.sh
  examples/aishell/asr1/local/train.sh
  examples/callcenter/asr1/local/train.sh
  examples/librispeech/asr0/local/train.sh
  examples/librispeech/asr1/local/train.sh
  examples/librispeech/asr2/local/train.sh
  examples/ted_en_zh/st0/local/train.sh
  examples/ted_en_zh/st1/local/train.sh
  examples/timit/asr1/local/train.sh
  examples/tiny/asr0/local/train.sh
  examples/tiny/asr1/local/train.sh
  paddlespeech/s2t/exps/deepspeech2/bin/train.py
  paddlespeech/s2t/exps/u2/bin/train.py
  paddlespeech/s2t/exps/u2_kaldi/bin/train.py
  paddlespeech/s2t/exps/u2_st/bin/train.py
  paddlespeech/s2t/io/sampler.py
  paddlespeech/t2s/modules/transformer/repeat.py
Labels: Example, S2T, T2S, Demo

#1880 [server]streaming asr server using paddlespeech_server/client
  demos/streaming_asr_server/conf/application.yaml
  demos/streaming_asr_server/conf/ws_application.yaml
  demos/streaming_asr_server/conf/ws_conformer_application.yaml
  demos/streaming_asr_server/server.sh
  demos/streaming_asr_server/test.sh
Labels: Demo

#1879 speedyspeech support kunlun
  paddlespeech/t2s/exps/speedyspeech/synthesize_e2e.py
  paddlespeech/t2s/exps/speedyspeech/train.py
Labels: T2S

#1881 [CLI] Add cacu rtf scripts
  tests/unit/cli/aishell_test_prepare.py
  tests/unit/cli/cacu_rtf_by_aishell.sh
Labels: Test

#1884 [server]change vector train.py local_rank to rank
  paddlespeech/vector/exps/ecapa_tdnn/train.py
Labels: vector

#1882 [server] improve code
  paddlespeech/server/bin/paddlespeech_client.py
  paddlespeech/server/bin/paddlespeech_server.py
  paddlespeech/server/tests/tts/offline/http_client.py
  paddlespeech/server/utils/audio_handler.py
  paddlespeech/server/utils/audio_process.py
  paddlespeech/server/ws/tts_api.py
  tests/unit/server/offline/change_yaml.py
  tests/unit/server/online/tts/check_server/change_yaml.py
  tests/unit/server/online/tts/test_server/test_http_client.py
Labels: Test, Server

#1887 [tts] normalize wav max value to 1 in preprocess, test=tts
  paddlespeech/t2s/exps/fastspeech2/preprocess.py
  paddlespeech/t2s/exps/gan_vocoder/preprocess.py
  paddlespeech/t2s/exps/speedyspeech/preprocess.py
  paddlespeech/t2s/exps/tacotron2/preprocess.py
Labels: T2S

#1889 [R1.0]fix server doc and decode_method
  demos/streaming_asr_server/README.md
  demos/streaming_asr_server/README_cn.md
  paddlespeech/server/engine/asr/online/asr_engine.py
Labels: README, Demo, Server

#1890 [doc]add pptts readme
  docs/source/tts/PPTTS.md
  docs/source/tts/PPTTS_cn.md
Labels: Documentation

#1894 [speechx] fix cmvn json 2 kalditype error
  speechx/examples/ds2_ol/feat/CMakeLists.txt
Labels: Deployment

#1892 [speechx] fix cmvn_2_kalditype compile error
  speechx/examples/ds2_ol/feat/CMakeLists.txt
Labels: Deployment

#1891 [speechx] add custom_streaming_asr
  demos/custom_streaming_asr/README.md
  demos/custom_streaming_asr/README_cn.md
  demos/custom_streaming_asr/path.sh
  demos/custom_streaming_asr/setup_docker.sh
  demos/custom_streaming_asr/websocket_client.sh
  demos/custom_streaming_asr/websocket_server.sh
Labels: README, Demo

#1898 [server] fix cors
  demos/speech_server/README.md
  demos/speech_server/README_cn.md
  demos/speech_server/asr_client.sh
  demos/speech_server/cls_client.sh
  demos/speech_server/conf/application.yaml
  demos/speech_server/tts_client.sh
  demos/streaming_asr_server/README.md
  demos/streaming_asr_server/README_cn.md
  demos/streaming_asr_server/test.sh
  demos/streaming_tts_server/README.md
  demos/streaming_tts_server/README_cn.md
  demos/streaming_tts_server/conf/tts_online_application.yaml
  demos/streaming_tts_server/test_client.sh
  paddlespeech/server/bin/paddlespeech_client.py
  paddlespeech/server/bin/paddlespeech_server.py
  paddlespeech/server/conf/application.yaml
  paddlespeech/server/conf/tts_online_application.yaml
  tests/unit/server/offline/conf/application.yaml
  tests/unit/server/online/tts/check_server/conf/application.yaml
  tests/unit/server/online/tts/check_server/tts_online_application.yaml
Labels: README, Demo, Test, Server

#1899 [Doc] Create streaming_asr_demo.rst
  docs/source/index.rst
  docs/source/streaming_asr_demo_video.rst
Labels: Documentation

#1896 [Doc] Add PP-ASR
  docs/source/asr/PPASR_cn.md
Labels: Documentation

#1901 [r1.0]update the vector and text readme, test=doc
  demos/speech_server/README.md
  demos/speech_server/README_cn.md
  demos/speech_server/conf/application.yaml
  demos/streaming_asr_server/conf/ws_conformer_wenetspeech_application.yaml
  paddlespeech/server/README.md
  paddlespeech/server/engine/asr/online/pretrained_models.py
Labels: README, Demo, Server

#1902 [R1.0] Update to r1.0.1
  setup.py
Labels: Installation

#1903 [speechx] fix format of custom demos
  demos/custom_streaming_asr/README.md
  demos/custom_streaming_asr/README_cn.md
Labels: README, Demo

#1904 [Doc] update streaming asr server doc
  demos/streaming_asr_server/README.md
  demos/streaming_asr_server/README_cn.md
Labels: README, Demo

#1905 [asr][server]add check asr server model type
  demos/streaming_asr_server/conf/application.yaml
  paddlespeech/server/engine/asr/online/asr_engine.py
Labels: S2T, Demo, Server

#1907 [Doc] 个性化 demo 文档优化
  demos/custom_streaming_asr/README_cn.md
Labels: Demo

#1911 [Doc] Update PPASR
  docs/source/asr/PPASR.md
  docs/source/asr/PPASR_cn.md
  docs/source/tts/PPTTS.md
Labels: Documentation

#1910 [test]fix cacu_rtf
  tests/unit/cli/cacu_rtf_by_aishell.sh
  tests/unit/cli/path.sh
Labels: Test

#1912 [TTS]fix yao, test=tts
  paddlespeech/t2s/frontend/tone_sandhi.py
  paddlespeech/t2s/frontend/zh_normalization/num.py
Labels: T2S

#1914 [Doc] fix install doc
  docs/source/install.md
Labels: Documentation

#1915 [Doc] Unified the model names
  examples/aishell/asr1/RESULTS.md
  examples/librispeech/asr0/RESULTS.md
  examples/librispeech/asr1/RESULTS.md
  examples/wenetspeech/asr1/RESULTS.md
Labels: Example

#1918 [RTF] fix calc_rtf_by_aishell.sh
  tests/unit/cli/calc_rtf_by_aishell.sh
Labels: Test

#1916 [vec][doc] add ppvpr docs
  docs/source/vpr/PPVPR.md
  docs/source/vpr/PPVPR_cn.md
Labels: Documentation

#1919 update streaming asr server doc
  demos/streaming_asr_server/README.md
Labels: README, Demo

#1920 Update README_cn.md
  demos/streaming_asr_server/README_cn.md
Labels: Demo

#1921 [Doc] add script for calc RTF in websocket_client
  demos/streaming_asr_server/websocket_client.py
Labels: Demo

#1924 [doc]update readme
  demos/speech_server/README.md
  demos/speech_server/README_cn.md
Labels: README, Demo

#1927 add PP-TTS,PP-ASR,PP-VPR
  README.md
  README_cn.md
Labels: README

#1931 [CLI] add calc CER in cli
  tests/unit/cli/aishell_test_prepare.py
  tests/unit/cli/calc_RTF_CER_by_aishell.sh
  tests/unit/cli/utils
Labels: Test

#1930 [CLI] fix cli
  paddlespeech/cli/asr/infer.py
Labels: CLI

#1929 【develop】fix conformer benchmark prepare.sh
  tests/test_tipc/prepare.sh
Labels: Test

#1938 [CLI] fix model type condition "wenetspeech"
  paddlespeech/cli/asr/infer.py
Labels: CLI

#1940 [TTS]rm fluid in tts, test=tts
  paddlespeech/cli/download.py
  paddlespeech/server/download.py
  paddlespeech/server/util.py
  paddlespeech/t2s/models/speedyspeech/speedyspeech_updater.py
  paddlespeech/t2s/modules/losses.py
  paddlespeech/t2s/utils/profile.py
  paddlespeech/t2s/utils/timeline.py
Labels: T2S, CLI, Server

#1941 [doc]add aistudio courses' link, test=doc
  README.md
  README_cn.md
Labels: README

#1942 [DOC]update README, test=doc
  README.md
  README_cn.md
Labels: README

#1943 [Doc] Updata install_cn.md
  docs/source/install.md
  docs/source/install_cn.md
Labels: Documentation

#1949 [doc]update readme, test=doc
  examples/aishell3/tts3/README.md
  examples/aishell3/vc0/README.md
  examples/aishell3/vc1/README.md
  examples/aishell3/voc1/README.md
  examples/aishell3/voc5/README.md
  examples/csmsc/tts0/README.md
  examples/csmsc/tts2/README.md
  examples/csmsc/tts3/README.md
  examples/csmsc/tts3/README_cn.md
  examples/csmsc/voc1/README.md
  examples/csmsc/voc3/README.md
  examples/csmsc/voc4/README.md
  examples/csmsc/voc5/README.md
  examples/csmsc/voc6/README.md
  examples/ljspeech/tts0/README.md
  examples/ljspeech/tts1/README.md
  examples/ljspeech/tts3/README.md
  examples/ljspeech/voc0/README.md
  examples/ljspeech/voc1/README.md
  examples/ljspeech/voc5/README.md
  examples/vctk/tts3/README.md
  examples/vctk/voc1/README.md
  examples/vctk/voc5/README.md
Labels: README, Example

#1951 deepspeech2 modify for kunlun
  paddlespeech/s2t/exps/deepspeech2/bin/export.py
  paddlespeech/s2t/exps/deepspeech2/bin/test.py
  paddlespeech/s2t/exps/deepspeech2/bin/test_export.py
  paddlespeech/s2t/exps/deepspeech2/bin/train.py
  paddlespeech/s2t/training/trainer.py
Labels: S2T

#1953 [vec][doc] update der result
  examples/ami/sd0/README.md
Labels: README, Example

#1946 [speechx] add custom asr script
  demos/custom_streaming_asr/README.md
  demos/custom_streaming_asr/README_cn.md
  speechx/examples/custom_asr/README.md
  speechx/examples/custom_asr/local/compile_lexicon_token_fst.sh
  speechx/examples/custom_asr/local/mk_slot_graph.sh
  speechx/examples/custom_asr/local/mk_tlg_with_slot.sh
  speechx/examples/custom_asr/local/train_lm_with_slot.sh
  speechx/examples/custom_asr/path.sh
  speechx/examples/custom_asr/run.sh
  speechx/examples/custom_asr/utils
  speechx/speechx/kaldi/CMakeLists.txt
  speechx/speechx/kaldi/fstbin/CMakeLists.txt
  speechx/speechx/kaldi/fstbin/fstaddselfloops.cc
  speechx/speechx/kaldi/fstbin/fstdeterminizestar.cc
  speechx/speechx/kaldi/fstbin/fstisstochastic.cc
  speechx/speechx/kaldi/fstbin/fstminimizeencoded.cc
  speechx/speechx/kaldi/fstbin/fsttablecompose.cc
  speechx/speechx/kaldi/fstext/CMakeLists.txt
  speechx/speechx/kaldi/lm/CMakeLists.txt
  speechx/speechx/kaldi/lm/arpa-file-parser.cc
  speechx/speechx/kaldi/lm/arpa-file-parser.h
  speechx/speechx/kaldi/lm/arpa-lm-compiler.cc
  speechx/speechx/kaldi/lm/arpa-lm-compiler.h
  speechx/speechx/kaldi/lmbin/CMakeLists.txt
  speechx/speechx/kaldi/lmbin/arpa2fst.cc
Labels: README, Deployment, Demo

#1954 [server][vector]update the vector model
  demos/audio_content_search/README.md
  demos/audio_content_search/README_cn.md
  demos/audio_content_search/conf/acs_application.yaml
  demos/audio_content_search/requirements.txt
  demos/audio_content_search/streaming_asr_server.py
  demos/speaker_verification/README.md
  demos/speaker_verification/README_cn.md
  demos/speech_server/README.md
  demos/speech_server/README_cn.md
  docs/source/released_model.md
  examples/voxceleb/sv0/README.md
  examples/voxceleb/sv0/RESULT.md
  examples/voxceleb/sv0/conf/ecapa_tdnn.yaml
  examples/voxceleb/sv0/conf/ecapa_tdnn_small.yaml
  paddlespeech/cli/vector/pretrained_models.py
  paddlespeech/server/bin/paddlespeech_client.py
  paddlespeech/server/engine/acs/python/acs_engine.py
Labels: Documentation, README, Example, Demo, CLI, Server

#1956 [server] fix streaming asr
  demos/streaming_asr_server/conf/ws_conformer_application.yaml
  demos/streaming_asr_server/conf/ws_ds2_application.yaml
  paddlespeech/server/engine/asr/online/asr_engine.py
Labels: Demo, Server

#1958 [Speechx] refactor example dir && add aishell build TLG script
  speechx/examples/dev/CMakeLists.txt
  speechx/examples/dev/glog/CMakeLists.txt
  speechx/examples/dev/glog/README.md
  speechx/examples/dev/glog/glog_logtostderr_test.cc
  speechx/examples/dev/glog/glog_test.cc
  speechx/examples/dev/glog/path.sh
  speechx/examples/dev/glog/run.sh
  speechx/examples/ds2_ol/aishell/README.md
  speechx/examples/ds2_ol/aishell/local/aishell_train_lms.sh
  speechx/examples/ds2_ol/aishell/local/text_to_lexicon.py
  speechx/examples/ds2_ol/aishell/path.sh
  speechx/examples/ds2_ol/aishell/run_build_tlg.sh
  speechx/examples/ds2_ol/aishell/run_fbank.sh
  speechx/examples/ngram/.gitignore
  speechx/examples/ngram/en/README.md
  speechx/examples/ngram/zh/README.md
  speechx/examples/ngram/zh/local/split_data.sh
  speechx/examples/ngram/zh/path.sh
  speechx/examples/ngram/zh/run.sh
  speechx/examples/ngram/zh/utils
  speechx/examples/wfst/.gitignore
  speechx/examples/wfst/README.md
  speechx/examples/wfst/path.sh
  speechx/examples/wfst/run.sh
  speechx/examples/wfst/utils
  utils/text_to_lexicon.py
Labels: README, Example, Deployment, S2T

#1959 [CLI] Dynamic cli commands registration.
  paddlespeech/cli/__init__.py
  paddlespeech/cli/asr/infer.py
  paddlespeech/cli/base_commands.py
  paddlespeech/cli/cls/infer.py
  paddlespeech/cli/entry.py
  paddlespeech/cli/st/infer.py
  paddlespeech/cli/text/infer.py
  paddlespeech/cli/tts/infer.py
  paddlespeech/cli/utils.py
  paddlespeech/cli/vector/infer.py
Labels: CLI

#1961 Update README.md
  README.md
Labels: README

#1957 [doc]add VITS readme, test=tts
  examples/aishell3/tts3/README.md
  examples/aishell3/voc1/README.md
  examples/aishell3/voc5/README.md
  examples/csmsc/tts0/README.md
  examples/csmsc/tts2/README.md
  examples/csmsc/tts3/README.md
  examples/csmsc/tts3/README_cn.md
  examples/csmsc/vits/README.md
  examples/csmsc/voc1/README.md
  examples/csmsc/voc3/README.md
  examples/csmsc/voc4/README.md
  examples/csmsc/voc5/README.md
  examples/csmsc/voc6/README.md
  examples/ljspeech/tts0/README.md
  examples/ljspeech/tts1/README.md
  examples/ljspeech/tts3/README.md
  examples/ljspeech/voc1/README.md
  examples/ljspeech/voc5/README.md
  examples/vctk/tts3/README.md
  examples/vctk/voc1/README.md
  examples/vctk/voc5/README.md
  paddlespeech/t2s/exps/gan_vocoder/hifigan/train.py
  paddlespeech/t2s/exps/gan_vocoder/multi_band_melgan/train.py
  paddlespeech/t2s/exps/gan_vocoder/parallelwave_gan/train.py
  paddlespeech/t2s/exps/gan_vocoder/style_melgan/train.py
  paddlespeech/t2s/exps/transformer_tts/train.py
  paddlespeech/t2s/exps/vits/train.py
  paddlespeech/t2s/exps/wavernn/train.py
Labels: README, Example, T2S

#1950 [ASR] fix pad_sequence, remove paddle.size, paddle.static.Variable.size, using paddle.shape()
  paddlespeech/s2t/__init__.py
  paddlespeech/s2t/decoders/beam_search/beam_search.py
  paddlespeech/s2t/decoders/scorers/ctc.py
  paddlespeech/s2t/decoders/scorers/ctc_prefix_score.py
  paddlespeech/s2t/models/lm/transformer.py
  paddlespeech/s2t/models/u2/u2.py
  paddlespeech/s2t/modules/decoder.py
  paddlespeech/s2t/modules/embedding.py
  paddlespeech/s2t/modules/encoder.py
  paddlespeech/s2t/utils/tensor_utils.py
Labels: S2T

#1963 [CLI] fix test_cli
  tests/unit/cli/test_cli.sh
Labels: Test

#1966 [Doc][CLI] Update usage and doc of cli executor.
  demos/audio_searching/src/encode.py
  demos/audio_tagging/README.md
  demos/audio_tagging/README_cn.md
  demos/automatic_video_subtitiles/README.md
  demos/automatic_video_subtitiles/README_cn.md
  demos/automatic_video_subtitiles/recognize.py
  demos/punctuation_restoration/README.md
  demos/punctuation_restoration/README_cn.md
  demos/speaker_verification/README.md
  demos/speaker_verification/README_cn.md
  demos/speech_recognition/README.md
  demos/speech_recognition/README_cn.md
  demos/speech_translation/README.md
  demos/speech_translation/README_cn.md
  demos/text_to_speech/README.md
  demos/text_to_speech/README_cn.md
Labels: README, Demo

#1976 Improve readability
  demos/README.md
  speechx/README.md
  third_party/README.md
  third_party/ctc_decoders/LICENSE
Labels: README, Deployment, Demo

#1979 [Speechx] refactor examples && rename some binarys
  speechx/examples/README.md
  speechx/examples/codelab/README.md
  speechx/examples/codelab/decoder/.gitignore
  speechx/examples/codelab/decoder/README.md
  speechx/examples/codelab/decoder/path.sh
  speechx/examples/codelab/decoder/run.sh
  speechx/examples/codelab/decoder/valgrind.sh
  speechx/examples/codelab/feat/README.md
  speechx/examples/codelab/feat/path.sh
  speechx/examples/codelab/feat/run.sh
  speechx/examples/codelab/feat/valgrind.sh
  speechx/examples/codelab/nnet/.gitignore
  speechx/examples/codelab/nnet/README.md
  speechx/examples/codelab/nnet/path.sh
  speechx/examples/codelab/nnet/run.sh
  speechx/examples/codelab/nnet/valgrind.sh
  speechx/examples/custom_asr/run.sh
  speechx/examples/ds2_ol/CMakeLists.txt
  speechx/examples/ds2_ol/aishell/local/text_to_lexicon.py
  speechx/examples/ds2_ol/aishell/path.sh
  speechx/examples/ds2_ol/aishell/run.sh
  speechx/examples/ds2_ol/aishell/run_build_tlg.sh
  speechx/examples/ds2_ol/aishell/run_fbank.sh
  speechx/examples/ds2_ol/decoder/CMakeLists.txt
  speechx/examples/ds2_ol/decoder/local/model.sh
  speechx/examples/ds2_ol/feat/.gitignore
  speechx/examples/ds2_ol/feat/CMakeLists.txt
  speechx/examples/ds2_ol/feat/path.sh
  speechx/examples/ds2_ol/feat/run.sh
  speechx/examples/ds2_ol/websocket/CMakeLists.txt
  speechx/speechx/CMakeLists.txt
  speechx/speechx/codelab/CMakeLists.txt
  speechx/speechx/codelab/README.md
  speechx/speechx/codelab/glog/CMakeLists.txt
  speechx/speechx/codelab/glog/README.md
  speechx/speechx/codelab/glog/glog_logtostderr_main.cc
  speechx/speechx/codelab/glog/glog_main.cc
  speechx/speechx/codelab/nnet/CMakeLists.txt
  speechx/speechx/codelab/nnet/ds2_model_test_main.cc
  speechx/speechx/decoder/CMakeLists.txt
  speechx/speechx/decoder/ctc_prefix_beam_search_decoder_main.cc
  speechx/speechx/decoder/nnet_logprob_decoder_main.cc
  speechx/speechx/decoder/recognizer_main.cc
  speechx/speechx/decoder/tlg_decoder_main.cc
  speechx/speechx/frontend/audio/CMakeLists.txt
  speechx/speechx/frontend/audio/cmvn_json2kaldi_main.cc
  speechx/speechx/frontend/audio/compute_fbank_main.cc
  speechx/speechx/frontend/audio/compute_linear_spectrogram_main.cc
  speechx/speechx/websocket/CMakeLists.txt
  speechx/speechx/websocket/websocket_client_main.cc
  speechx/speechx/websocket/websocket_server_main.cc
  utils/README.md
Labels: README, Example, Deployment, S2T

#1982 [speechx] add partail result, test=doc
  speechx/examples/ds2_ol/websocket/path.sh
  speechx/examples/ds2_ol/websocket/websocket_server.sh
  speechx/speechx/CMakeLists.txt
  speechx/speechx/decoder/ctc_tlg_decoder.cc
  speechx/speechx/decoder/ctc_tlg_decoder.h
  speechx/speechx/decoder/recognizer.cc
  speechx/speechx/decoder/recognizer.h
  speechx/speechx/protocol/CMakeLists.txt
  speechx/speechx/protocol/websocket/CMakeLists.txt
  speechx/speechx/protocol/websocket/websocket_client.cc
  speechx/speechx/protocol/websocket/websocket_client.h
  speechx/speechx/protocol/websocket/websocket_client_main.cc
  speechx/speechx/protocol/websocket/websocket_server.cc
  speechx/speechx/protocol/websocket/websocket_server.h
  speechx/speechx/protocol/websocket/websocket_server_main.cc
Labels: Deployment, S2T

#1984 [Doc] deprecate the 1.8x model
  docs/source/released_model.md
  examples/other/1xt2x/.gitignore
  examples/other/1xt2x/README.md
  examples/other/1xt2x/aishell/.gitignore
  examples/other/1xt2x/aishell/conf/augmentation.json
  examples/other/1xt2x/aishell/conf/deepspeech2.yaml
  examples/other/1xt2x/aishell/conf/tuning/decode.yaml
  examples/other/1xt2x/aishell/local/data.sh
  examples/other/1xt2x/aishell/local/download_lm_ch.sh
  examples/other/1xt2x/aishell/local/download_model.sh
  examples/other/1xt2x/aishell/local/test.sh
  examples/other/1xt2x/aishell/path.sh
  examples/other/1xt2x/aishell/run.sh
  examples/other/1xt2x/baidu_en8k/.gitignore
  examples/other/1xt2x/baidu_en8k/conf/augmentation.json
  examples/other/1xt2x/baidu_en8k/conf/deepspeech2.yaml
  examples/other/1xt2x/baidu_en8k/conf/tuning/decode.yaml
  examples/other/1xt2x/baidu_en8k/local/data.sh
  examples/other/1xt2x/baidu_en8k/local/download_lm_en.sh
  examples/other/1xt2x/baidu_en8k/local/download_model.sh
  examples/other/1xt2x/baidu_en8k/local/test.sh
  examples/other/1xt2x/baidu_en8k/path.sh
  examples/other/1xt2x/baidu_en8k/run.sh
  examples/other/1xt2x/librispeech/.gitignore
  examples/other/1xt2x/librispeech/conf/augmentation.json
  examples/other/1xt2x/librispeech/conf/deepspeech2.yaml
  examples/other/1xt2x/librispeech/conf/tuning/decode.yaml
  examples/other/1xt2x/librispeech/local/data.sh
  examples/other/1xt2x/librispeech/local/download_lm_en.sh
  examples/other/1xt2x/librispeech/local/download_model.sh
  examples/other/1xt2x/librispeech/local/test.sh
  examples/other/1xt2x/librispeech/path.sh
  examples/other/1xt2x/librispeech/run.sh
  examples/other/1xt2x/src_deepspeech2x/__init__.py
  examples/other/1xt2x/src_deepspeech2x/bin/test.py
  examples/other/1xt2x/src_deepspeech2x/models/__init__.py
  examples/other/1xt2x/src_deepspeech2x/models/ds2/__init__.py
  examples/other/1xt2x/src_deepspeech2x/models/ds2/deepspeech2.py
  examples/other/1xt2x/src_deepspeech2x/models/ds2/rnn.py
  examples/other/1xt2x/src_deepspeech2x/test_model.py
Labels: Documentation, README, Example

#1988 [cli]fix bug in tts cli, test=tts
  paddlespeech/cli/tts/infer.py
Labels: CLI

#1994 [ASR] not install ctc on win
  paddlespeech/s2t/models/ds2/__init__.py
  paddlespeech/s2t/models/ds2_online/__init__.py
  paddlespeech/s2t/modules/ctc.py
  paddlespeech/s2t/transform/perturb.py
Labels: S2T

#1991 [TTS]gen lexicon with tone in mfa, test=tts
  examples/other/mfa/local/reorganize_baker.py
  examples/other/mfa/run.sh
Labels: Example

#1996 [doc]fix ljspeech readme, test=doc
  examples/ljspeech/tts3/README.md
Labels: README, Example

#1917 [Resource][CLI][Server] Add paddlespeech.resource module.
  paddlespeech/cli/asr/infer.py
  paddlespeech/cli/asr/pretrained_models.py
  paddlespeech/cli/base_commands.py
  paddlespeech/cli/cls/infer.py
  paddlespeech/cli/cls/pretrained_models.py
  paddlespeech/cli/executor.py
  paddlespeech/cli/st/infer.py
  paddlespeech/cli/st/pretrained_models.py
  paddlespeech/cli/stats/infer.py
  paddlespeech/cli/text/infer.py
  paddlespeech/cli/text/pretrained_models.py
  paddlespeech/cli/tts/infer.py
  paddlespeech/cli/tts/pretrained_models.py
  paddlespeech/cli/vector/infer.py
  paddlespeech/cli/vector/pretrained_models.py
  paddlespeech/resource/__init__.py
  paddlespeech/resource/model_alias.py
  paddlespeech/resource/pretrained_models.py
  paddlespeech/resource/resource.py
  paddlespeech/server/bin/paddlespeech_server.py
  paddlespeech/server/engine/asr/online/asr_engine.py
  paddlespeech/server/engine/asr/online/pretrained_models.py
  paddlespeech/server/engine/asr/paddleinference/asr_engine.py
  paddlespeech/server/engine/asr/paddleinference/pretrained_models.py
  paddlespeech/server/engine/cls/paddleinference/cls_engine.py
  paddlespeech/server/engine/cls/paddleinference/pretrained_models.py
  paddlespeech/server/engine/tts/online/onnx/pretrained_models.py
  paddlespeech/server/engine/tts/online/onnx/tts_engine.py
  paddlespeech/server/engine/tts/online/python/pretrained_models.py
  paddlespeech/server/engine/tts/online/python/tts_engine.py
  paddlespeech/server/engine/tts/paddleinference/pretrained_models.py
  paddlespeech/server/engine/tts/paddleinference/tts_engine.py
Labels: README, Demo, CLI, Server

#2000 [TTS]reneame chunk to block in streaming tts, test=tts
  paddlespeech/t2s/exps/inference_streaming.py
  paddlespeech/t2s/exps/ort_predict_streaming.py
  paddlespeech/t2s/exps/syn_utils.py
  paddlespeech/t2s/exps/synthesize_streaming.py
Labels: T2S
