Repository PaddlePaddle/PaddleSpeech, pull requests merged in 2022-07, with the labels that each got.

#2107 [cli]rm extra log
  paddlespeech/cli/executor.py
  paddlespeech/cli/tts/infer.py
  paddlespeech/t2s/models/fastspeech2/fastspeech2.py
Labels: T2S, CLI

#2106 [ASR] fix conformer config
  examples/aishell/asr1/conf/conformer.yaml
Labels: Example

#2100 [s2t] support --nxpu for all s2t models
  paddlespeech/s2t/exps/deepspeech2/bin/export.py
  paddlespeech/s2t/exps/deepspeech2/bin/test.py
  paddlespeech/s2t/exps/deepspeech2/bin/test_export.py
  paddlespeech/s2t/exps/deepspeech2/bin/train.py
  paddlespeech/s2t/training/cli.py
Labels: S2T

#2109 [Server]Fix log error
  paddlespeech/server/engine/engine_factory.py
  paddlespeech/server/utils/log.py
  paddlespeech/server/utils/onnx_infer.py
Labels: Server

#2111 [CLI]replace logger.info with logger.debug in cli, change default log leve…
  docs/requirements.txt
  paddlespeech/cli/asr/infer.py
  paddlespeech/cli/cls/infer.py
  paddlespeech/cli/download.py
  paddlespeech/cli/kws/infer.py
  paddlespeech/cli/log.py
  paddlespeech/cli/st/infer.py
  paddlespeech/cli/text/infer.py
  paddlespeech/cli/tts/infer.py
  paddlespeech/cli/vector/infer.py
  paddlespeech/s2t/frontend/augmentor/spec_augment.py
  paddlespeech/s2t/frontend/featurizer/text_featurizer.py
  paddlespeech/s2t/models/u2/u2.py
  paddlespeech/s2t/modules/loss.py
  paddlespeech/s2t/transform/spec_augment.py
  paddlespeech/s2t/utils/tensor_utils.py
  setup.py
Labels: Documentation, Installation, S2T, CLI

#2113 [server]log redundancy in server
  paddlespeech/cli/tts/infer.py
  paddlespeech/server/bin/paddlespeech_client.py
  paddlespeech/server/engine/acs/python/acs_engine.py
  paddlespeech/server/engine/asr/online/onnx/asr_engine.py
  paddlespeech/server/engine/asr/online/paddleinference/asr_engine.py
  paddlespeech/server/engine/asr/online/python/asr_engine.py
  paddlespeech/server/engine/asr/paddleinference/asr_engine.py
  paddlespeech/server/engine/asr/python/asr_engine.py
  paddlespeech/server/engine/cls/paddleinference/cls_engine.py
  paddlespeech/server/engine/cls/python/cls_engine.py
  paddlespeech/server/engine/engine_warmup.py
  paddlespeech/server/engine/text/python/text_engine.py
  paddlespeech/server/engine/tts/online/onnx/tts_engine.py
  paddlespeech/server/engine/tts/online/python/tts_engine.py
  paddlespeech/server/engine/tts/paddleinference/tts_engine.py
  paddlespeech/server/engine/tts/python/tts_engine.py
  paddlespeech/server/engine/vector/python/vector_engine.py
  paddlespeech/server/utils/audio_handler.py
  paddlespeech/server/utils/audio_process.py
  paddlespeech/server/utils/onnx_infer.py
  paddlespeech/server/utils/util.py
Labels: CLI, Server

#2115 [doc]format tts doc string for read the docs
  paddlespeech/t2s/models/fastspeech2/fastspeech2.py
  paddlespeech/t2s/models/hifigan/hifigan.py
  paddlespeech/t2s/models/melgan/melgan.py
  paddlespeech/t2s/models/melgan/style_melgan.py
  paddlespeech/t2s/models/parallel_wavegan/parallel_wavegan.py
  paddlespeech/t2s/models/speedyspeech/speedyspeech.py
  paddlespeech/t2s/models/tacotron2/tacotron2.py
  paddlespeech/t2s/models/transformer_tts/transformer_tts.py
  paddlespeech/t2s/models/waveflow.py
  paddlespeech/t2s/models/wavernn/wavernn.py
  paddlespeech/t2s/modules/causal_conv.py
  paddlespeech/t2s/modules/conformer/convolution.py
  paddlespeech/t2s/modules/conformer/encoder_layer.py
  paddlespeech/t2s/modules/conv.py
  paddlespeech/t2s/modules/geometry.py
  paddlespeech/t2s/modules/layer_norm.py
  paddlespeech/t2s/modules/losses.py
  paddlespeech/t2s/modules/nets_utils.py
  paddlespeech/t2s/modules/pqmf.py
  paddlespeech/t2s/modules/predictor/duration_predictor.py
  paddlespeech/t2s/modules/predictor/length_regulator.py
  paddlespeech/t2s/modules/predictor/variance_predictor.py
  paddlespeech/t2s/modules/residual_block.py
  paddlespeech/t2s/modules/residual_stack.py
  paddlespeech/t2s/modules/style_encoder.py
  paddlespeech/t2s/modules/tacotron2/attentions.py
  paddlespeech/t2s/modules/tacotron2/decoder.py
  paddlespeech/t2s/modules/tacotron2/encoder.py
  paddlespeech/t2s/modules/tade_res_block.py
  paddlespeech/t2s/modules/transformer/attention.py
  paddlespeech/t2s/modules/transformer/decoder.py
  paddlespeech/t2s/modules/transformer/decoder_layer.py
  paddlespeech/t2s/modules/transformer/embedding.py
  paddlespeech/t2s/modules/transformer/encoder.py
  paddlespeech/t2s/modules/transformer/encoder_layer.py
  paddlespeech/t2s/modules/transformer/lightconv.py
  paddlespeech/t2s/modules/transformer/mask.py
  paddlespeech/t2s/modules/transformer/multi_layer_conv.py
  paddlespeech/t2s/modules/transformer/positionwise_feed_forward.py
  paddlespeech/t2s/modules/transformer/repeat.py
  paddlespeech/t2s/modules/transformer/subsampling.py
  paddlespeech/t2s/modules/upsample.py
  paddlespeech/t2s/training/experiment.py
  paddlespeech/t2s/utils/checkpoint.py
  paddlespeech/t2s/utils/error_rate.py
  paddlespeech/t2s/utils/h5_utils.py
  paddlespeech/t2s/utils/internals.py
  setup.py
Labels: Documentation, Installation, T2S

#2116 [speechx]remove fluid tools for onnx export
  speechx/examples/ds2_ol/onnx/local/pd_infer_shape.py
  speechx/examples/ds2_ol/onnx/local/pd_prune_model.py
  speechx/examples/ds2_ol/onnx/local/prune.sh
  speechx/examples/ds2_ol/onnx/run.sh
Labels: Deployment

#2062 [Audio] Add webdataset in paddlespeech.audio
  examples/wenetspeech/asr1/conf/conformer.yaml
  examples/wenetspeech/asr1/local/data.sh
  examples/wenetspeech/asr1/local/train.sh
  examples/wenetspeech/asr1/local/wenetspeech_data_prep.sh
  examples/wenetspeech/asr1/run.sh
  paddlespeech/audio/streamdata/__init__.py
  paddlespeech/audio/streamdata/autodecode.py
  paddlespeech/audio/streamdata/cache.py
  paddlespeech/audio/streamdata/compat.py
  paddlespeech/audio/streamdata/extradatasets.py
  paddlespeech/audio/streamdata/filters.py
  paddlespeech/audio/streamdata/gopen.py
  paddlespeech/audio/streamdata/handlers.py
  paddlespeech/audio/streamdata/mix.py
  paddlespeech/audio/streamdata/paddle_utils.py
  paddlespeech/audio/streamdata/pipeline.py
  paddlespeech/audio/streamdata/shardlists.py
  paddlespeech/audio/streamdata/tariterators.py
  paddlespeech/audio/streamdata/utils.py
  paddlespeech/audio/streamdata/writer.py
  paddlespeech/audio/text/text_featurizer.py
  paddlespeech/audio/text/utility.py
  paddlespeech/audio/transform/__init__.py
  paddlespeech/audio/transform/add_deltas.py
  paddlespeech/audio/transform/channel_selector.py
  paddlespeech/audio/transform/cmvn.py
  paddlespeech/audio/transform/functional.py
  paddlespeech/audio/transform/perturb.py
  paddlespeech/audio/transform/spec_augment.py
  paddlespeech/audio/transform/spectrogram.py
  paddlespeech/audio/transform/transform_interface.py
  paddlespeech/audio/transform/transformation.py
  paddlespeech/audio/transform/wpe.py
  paddlespeech/audio/utils/check_kwargs.py
  paddlespeech/audio/utils/dynamic_import.py
  paddlespeech/audio/utils/log.py
  paddlespeech/audio/utils/tensor_utils.py
  paddlespeech/cli/asr/infer.py
  paddlespeech/s2t/exps/deepspeech2/model.py
  paddlespeech/s2t/exps/u2/bin/test_wav.py
  paddlespeech/s2t/exps/u2/model.py
  paddlespeech/s2t/exps/u2_kaldi/model.py
  paddlespeech/s2t/exps/u2_st/model.py
  paddlespeech/s2t/io/dataloader.py
  paddlespeech/s2t/io/reader.py
  paddlespeech/s2t/models/u2/u2.py
  paddlespeech/s2t/models/u2_st/u2_st.py
  paddlespeech/server/engine/asr/online/onnx/asr_engine.py
  paddlespeech/server/engine/asr/online/paddleinference/asr_engine.py
  paddlespeech/server/engine/asr/online/python/asr_engine.py
  setup.py
Labels: Installation, Example, S2T, Audio, CLI, Server

#2120 [Doc] update install.md
  docs/source/install.md
  docs/source/install_cn.md
Labels: Documentation

#2121 [server] change sr
  demos/streaming_tts_server/README.md
  demos/streaming_tts_server/README_cn.md
  paddlespeech/server/bin/paddlespeech_client.py
  paddlespeech/server/engine/tts/online/onnx/tts_engine.py
  paddlespeech/server/engine/tts/online/python/tts_engine.py
  paddlespeech/server/restful/tts_api.py
  paddlespeech/server/utils/audio_handler.py
  paddlespeech/server/ws/tts_api.py
Labels: README, Demo, Server

#2122 [TTS]add stream_play_tts.py, test=doc
  paddlespeech/t2s/exps/stream_play_tts.py
Labels: T2S

#2125 [Others] Docs: Fix a markdown typo
  docs/source/install.md
Labels: Documentation

#2129 [server]specify id
  paddlespeech/server/utils/onnx_infer.py
Labels: Server

#2127 增加困难模式安装PaddleSpeech的Dockerfile
  docker/ubuntu16-gpu/Dockerfile
Labels: Docker

#2133 [server][asr]rename time_s and time_ns to time_b and time_nb
  paddlespeech/server/engine/acs/python/acs_engine.py
  paddlespeech/server/engine/asr/online/ctc_search.py
Labels: Server

#2130 增加对项目chenkui164/FastASR的致谢
  README.md
  README_cn.md
Labels: README

#2137 [TTS]fix am name, test=tts
  examples/vctk/tts3/local/synthesize.sh
Labels: Example

#2128 [server][asr]more accuracy decoding somthing
  paddlespeech/__init__.py
  paddlespeech/server/engine/asr/online/ctc_endpoint.py
Labels: Server

#2124 [asr] optimize attention cache used for attention ; 0-dim tensor for model export
  demos/streaming_asr_server/local/rtf_from_log.py
  paddlespeech/cli/asr/infer.py
  paddlespeech/cli/executor.py
  paddlespeech/s2t/models/u2/u2.py
  paddlespeech/s2t/models/u2_st/u2_st.py
  paddlespeech/s2t/modules/attention.py
  paddlespeech/s2t/modules/conformer_convolution.py
  paddlespeech/s2t/modules/decoder_layer.py
  paddlespeech/s2t/modules/embedding.py
  paddlespeech/s2t/modules/encoder.py
  paddlespeech/s2t/modules/encoder_layer.py
  paddlespeech/server/engine/asr/online/python/asr_engine.py
  setup.py
Labels: Installation, S2T, Demo, CLI, Server

#2143 [tts] add mix frontend
  paddlespeech/t2s/exps/syn_utils.py
  paddlespeech/t2s/exps/synthesize_e2e.py
  paddlespeech/t2s/frontend/mix_frontend.py
Labels: T2S

#2146 [setup]fix protobuf version
  setup.py
Labels: Installation

#2119 [audio] paddlespeech add kaldi feature pitch
  CMakeLists.txt
  paddlespeech/audio/_internal/module_utils.py
  paddlespeech/audio/backends/no_backend.py
  paddlespeech/audio/backends/sox_io_backend.py
  paddlespeech/audio/backends/utils.py
  paddlespeech/audio/kaldi/__init__.py
  paddlespeech/audio/kaldi/kaldi.py
  paddlespeech/audio/src/pybind/kaldi/kaldi_feature.cc
  paddlespeech/audio/src/pybind/kaldi/kaldi_feature.h
  paddlespeech/audio/src/pybind/kaldi/kaldi_feature_wrapper.cc
  paddlespeech/audio/src/pybind/kaldi/kaldi_feature_wrapper.h
  paddlespeech/audio/src/pybind/pybind.cpp
  paddlespeech/audio/third_party/kaldi/CMakeLists.txt
  speechx/speechx/kaldi/feat/feature-plp.h
  speechx/speechx/kaldi/feat/online-feature-itf.h
  speechx/speechx/kaldi/feat/online-feature.h
  speechx/speechx/kaldi/feat/pitch-functions.h
  tests/unit/audio/features/test_kaldi_feat.py
  tests/unit/audio/features/testdata/fbank_feat.ark
  tests/unit/audio/features/testdata/pitch_feat.ark
  tests/unit/audio/features/testdata/test.wav
  tests/unit/audio/features/testdata/wav.ark
Labels: Deployment, Audio, Test

#2149 [server] update demos readme
  demos/README.md
  demos/README_cn.md
Labels: README, Demo

#2153 [Doc] fix doc
  examples/aishell/asr1/README.md
  examples/librispeech/asr1/README.md
  examples/librispeech/asr2/README.md
  examples/tiny/asr1/README.md
Labels: README, Example

#2159 [TTS]update vits ckpt
  examples/csmsc/vits/README.md
  examples/csmsc/vits/conf/default.yaml
Labels: README, Example

#2155 [ASR] remove fluid（except gradclip）
  README.md
  docs/source/install.md
  docs/source/install_cn.md
  paddlespeech/s2t/__init__.py
  paddlespeech/s2t/models/u2/u2.py
  paddlespeech/s2t/modules/align.py
  paddlespeech/s2t/modules/attention.py
  paddlespeech/s2t/modules/initializer.py
Labels: Documentation, README, S2T

#2164 [audio] make load _paddleaudio work
  paddlespeech/audio/__init__.py
  paddlespeech/audio/_extension.py
  paddlespeech/audio/backends/common.py
  paddlespeech/audio/backends/sox_io_backend.py
  paddlespeech/audio/kaldi/__init__.py
  paddlespeech/audio/kaldi/kaldi.py
  tests/unit/audio/features/test_kaldi_feat.py
Labels: Audio, Test

#2162 [asr]Supprot dy2st for conformer
  paddlespeech/s2t/__init__.py
  paddlespeech/s2t/models/u2/u2.py
  paddlespeech/s2t/modules/encoder.py
  paddlespeech/s2t/modules/encoder_layer.py
Labels: S2T

#2168 [s2t] fix cnn cache dy2st shape
  paddlespeech/s2t/models/u2/u2.py
  paddlespeech/s2t/modules/encoder_layer.py
Labels: S2T

#2151 [docs]readme更新
  README_cn.md
Labels: README

#2169 [DOC]update requirements.txt
  docs/requirements.txt
Labels: Documentation

#2171 Update engine_warmup.py
  paddlespeech/server/engine/engine_warmup.py
Labels: Server

#2174 [tts] add mix tts test
  examples/zh_en_tts/tts3/README.md
  examples/zh_en_tts/tts3/local/synthesize_e2e.sh
  examples/zh_en_tts/tts3/path.sh
  examples/zh_en_tts/tts3/test.sh
  paddlespeech/t2s/exps/sentences_mix.txt
Labels: README, Example, T2S

#2189 [doc]update server readme
  demos/speech_server/README.md
  demos/speech_server/README_cn.md
  demos/speech_web/API.md
  demos/speech_web/README.md
  demos/streaming_asr_server/README.md
  demos/streaming_asr_server/README_cn.md
  demos/streaming_tts_server/README.md
  demos/streaming_tts_server/README_cn.md
Labels: README, Demo

#2202 [text] fix gamma vaule of config
  examples/iwslt2012/punc0/conf/default.yaml
Labels: Example

#2203 [TTS]add mix tts cli
  paddlespeech/cli/tts/infer.py
  paddlespeech/resource/pretrained_models.py
  tests/unit/cli/test_cli.sh
Labels: CLI, Test
