Repository PaddlePaddle/PaddleSpeech, pull requests merged in 2022-02, with the labels that each got.

#1422 [ASR] cli: improve log of cli/asr/infer
  paddlespeech/cli/asr/infer.py
Labels: CLI

#1416 [TTS]add ljspeech new tacotron2
  examples/ljspeech/tts0/README.md
  examples/ljspeech/tts0/conf/default.yaml
  examples/ljspeech/tts0/local/preprocess.sh
  examples/ljspeech/tts0/local/synthesize.sh
  examples/ljspeech/tts0/local/train.sh
  examples/ljspeech/tts0/path.sh
  examples/ljspeech/tts0/run.sh
  examples/ljspeech/voc0/run.sh
  paddlespeech/t2s/exps/synthesize.py
  paddlespeech/t2s/exps/synthesize_e2e.py
Labels: README, Example, conflicts, T2S

#1431 [doc]fix dead links
  docs/source/released_model.md
  docs/source/tts/README.md
  examples/thchs30/align0/README.md
  tests/benchmark/conformer/README.md
Labels: Documentation, README, Example, Test

#1432 [Bug fix] fix resample
  paddlespeech/cli/asr/infer.py
  paddlespeech/s2t/transform/perturb.py
  paddlespeech/s2t/transform/spectrogram.py
  paddlespeech/vector/exps/ge2e/audio_processor.py
Labels: S2T, vector, CLI

#1417 [vector] voxceleb trial: convert voxceleb trial to kaldi format trial
  examples/voxceleb/README.md
  examples/voxceleb/sv0/local/make_voxceleb_kaldi_trial.py
Labels: README, Example, vector, Dataset

#1437 [doc]Add video demo
  docs/source/demo_video.rst
  docs/source/index.rst
  docs/source/tts/demo_video.rst
Labels: Documentation

#1442 [doc]update video demo's path in readthedocs
  README.md
  README_cn.md
  docs/source/index.rst
  docs/source/tts_demo_video.rst
Labels: Documentation, README

#1443 [CLI]update tts cli
  paddlespeech/cli/cls/infer.py
  paddlespeech/cli/st/infer.py
  paddlespeech/cli/text/infer.py
  paddlespeech/cli/tts/infer.py
  tests/unit/cli/test_cli.sh
Labels: CLI, Test

#1439 [TIPC]Add tipc_benchmark of conformer
  paddlespeech/s2t/exps/u2/model.py
  paddlespeech/s2t/training/trainer.py
  tests/test_tipc/benchmark_train.sh
  tests/test_tipc/configs/conformer/train_benchmark.txt
  tests/test_tipc/conformer/scripts/aishell_tiny.py
  tests/test_tipc/docs/benchmark_train.md
  tests/test_tipc/prepare.sh
  tests/test_tipc/test_train_inference_python.sh
Labels: S2T, Test

#1445 [TTS]init for all works in train.py when ngpu>1
  docs/source/index.rst
  paddlespeech/t2s/exps/fastspeech2/train.py
  paddlespeech/t2s/exps/gan_vocoder/hifigan/train.py
  paddlespeech/t2s/exps/gan_vocoder/multi_band_melgan/train.py
  paddlespeech/t2s/exps/gan_vocoder/parallelwave_gan/train.py
  paddlespeech/t2s/exps/gan_vocoder/style_melgan/train.py
  paddlespeech/t2s/exps/speedyspeech/train.py
  paddlespeech/t2s/exps/tacotron2/train.py
  paddlespeech/t2s/exps/transformer_tts/train.py
  paddlespeech/t2s/exps/wavernn/train.py
  paddlespeech/text/exps/ernie_linear/train.py
Labels: Documentation, T2S, Text

#1449 [ASR] fix sortagrad
  paddlespeech/s2t/io/batchfy.py
  paddlespeech/s2t/io/dataloader.py
Labels: S2T

#1451 [TTS]Fix ci for waveflow
  paddlespeech/t2s/datasets/dataset.py
  paddlespeech/t2s/exps/waveflow/train.py
  paddlespeech/t2s/frontend/zh_normalization/num.py
  paddlespeech/t2s/models/waveflow.py
Labels: T2S

#1452 [doc]update readme for aishell3_vc0
  docs/source/released_model.md
  examples/aishell3/vc0/README.md
  examples/aishell3/vc0/conf/default.yaml
Labels: Documentation, README, Example

#1454 [server] move dir
  paddlespeech/server/__init__.py
  paddlespeech/server/bin/main.py
  paddlespeech/server/bin/paddlespeech-client.py
  paddlespeech/server/bin/paddlespeech-server.py
  paddlespeech/server/conf/application.yaml
  paddlespeech/server/conf/asr/asr.yaml
  paddlespeech/server/conf/tts/tts.yaml
  paddlespeech/server/conf/tts/tts_pd.yaml
  paddlespeech/server/engine/__init__.py
  paddlespeech/server/engine/asr/python/asr_engine.py
  paddlespeech/server/engine/base_engine.py
  paddlespeech/server/engine/engine_factory.py
  paddlespeech/server/engine/tts/paddleinference/tts_engine.py
  paddlespeech/server/engine/tts/python/tts_engine.py
  paddlespeech/server/restful/__init__.py
  paddlespeech/server/restful/api.py
  paddlespeech/server/restful/asr_api.py
  paddlespeech/server/restful/request.py
  paddlespeech/server/restful/response.py
  paddlespeech/server/restful/tts_api.py
  paddlespeech/server/tests/16_audio.wav
  paddlespeech/server/tests/http_client.py
  paddlespeech/server/tests/tts/test_client.py
  paddlespeech/server/utils/__init__.py
  paddlespeech/server/utils/audio_process.py
  paddlespeech/server/utils/config.py
  paddlespeech/server/utils/errors.py
  paddlespeech/server/utils/exception.py
  paddlespeech/server/utils/log.py
  paddlespeech/server/utils/paddle_predictor.py
  paddlespeech/server/utils/util.py
  speechserving/speechserving/engine/engine_factory.py
  speechserving/speechserving/restful/api.py
Labels: README, server

#1459 [ST] example of MuST-C
  examples/mustc/st1/cmd.sh
  examples/mustc/st1/conf/fbank.conf
  examples/mustc/st1/conf/pitch.conf
  examples/mustc/st1/conf/transformer_de.yaml
  examples/mustc/st1/conf/transformer_es.yaml
  examples/mustc/st1/conf/transformer_fr.yaml
  examples/mustc/st1/conf/transformer_it.yaml
  examples/mustc/st1/conf/transformer_nl.yaml
  examples/mustc/st1/conf/transformer_pt.yaml
  examples/mustc/st1/conf/transformer_ro.yaml
  examples/mustc/st1/conf/transformer_ru.yaml
  examples/mustc/st1/local/augmentation.json
  examples/mustc/st1/local/data.sh
  examples/mustc/st1/local/data_prep.sh
  examples/mustc/st1/local/divide_lang.sh
  examples/mustc/st1/local/remove_punctuation.pl
  examples/mustc/st1/local/test.sh
  examples/mustc/st1/local/train.sh
  examples/mustc/st1/path.sh
  examples/mustc/st1/run.sh
  examples/mustc/st1/steps
  examples/mustc/st1/utils
  examples/ted_en_zh/st1/local/data.sh
  utils/espnet_json_to_manifest.py
Labels: Example

#1460 [CLI][Batch]Support batch input in cli.
  paddlespeech/cli/asr/infer.py
  paddlespeech/cli/cls/infer.py
  paddlespeech/cli/executor.py
  paddlespeech/cli/st/infer.py
  paddlespeech/cli/text/infer.py
  paddlespeech/cli/tts/infer.py
Labels: README, Demo, CLI

#1470 [server] improve cli code
  paddlespeech/server/__init__.py
  paddlespeech/server/base_commands.py
  paddlespeech/server/bin/__init__.py
  paddlespeech/server/bin/paddlespeech_client.py
  paddlespeech/server/bin/paddlespeech_server.py
  paddlespeech/server/entry.py
  paddlespeech/server/util.py
  setup.py
Labels: Installation, server

#1474 [server]add readme
  paddlespeech/server/README.md
  paddlespeech/server/README_cn.md
  paddlespeech/server/bin/paddlespeech_client.py
  paddlespeech/server/bin/paddlespeech_server.py
  paddlespeech/server/executor.py
Labels: README, server

#1381 [server] speech server init version
  paddlespeech/server/README.md
  paddlespeech/server/README_cn.md
  paddlespeech/server/__init__.py
  paddlespeech/server/base_commands.py
  paddlespeech/server/bin/__init__.py
  paddlespeech/server/bin/main.py
  paddlespeech/server/bin/paddlespeech_client.py
  paddlespeech/server/bin/paddlespeech_server.py
  paddlespeech/server/conf/application.yaml
  paddlespeech/server/conf/asr/asr.yaml
  paddlespeech/server/conf/tts/tts.yaml
  paddlespeech/server/conf/tts/tts_pd.yaml
  paddlespeech/server/download.py
  paddlespeech/server/engine/__init__.py
  paddlespeech/server/engine/asr/__init__.py
  paddlespeech/server/engine/asr/python/__init__.py
  paddlespeech/server/engine/asr/python/asr_engine.py
  paddlespeech/server/engine/base_engine.py
  paddlespeech/server/engine/engine_factory.py
  paddlespeech/server/engine/tts/__init__.py
  paddlespeech/server/engine/tts/paddleinference/__init__.py
  paddlespeech/server/engine/tts/paddleinference/tts_engine.py
  paddlespeech/server/engine/tts/python/__init__.py
  paddlespeech/server/engine/tts/python/tts_engine.py
  paddlespeech/server/entry.py
  paddlespeech/server/executor.py
  paddlespeech/server/restful/__init__.py
  paddlespeech/server/restful/api.py
  paddlespeech/server/restful/asr_api.py
  paddlespeech/server/restful/request.py
  paddlespeech/server/restful/response.py
  paddlespeech/server/restful/tts_api.py
  paddlespeech/server/tests/16_audio.wav
  paddlespeech/server/tests/http_client.py
  paddlespeech/server/tests/tts/test_client.py
  paddlespeech/server/util.py
  paddlespeech/server/utils/__init__.py
  paddlespeech/server/utils/audio_process.py
  paddlespeech/server/utils/config.py
  paddlespeech/server/utils/errors.py
  paddlespeech/server/utils/exception.py
  paddlespeech/server/utils/log.py
  paddlespeech/server/utils/paddle_predictor.py
  paddlespeech/server/utils/util.py
  setup.py
Labels: Installation, README, server

#1472 [CLI][Logger]Add cli logger control.
  paddlespeech/cli/asr/infer.py
  paddlespeech/cli/cls/infer.py
  paddlespeech/cli/executor.py
  paddlespeech/cli/st/infer.py
  paddlespeech/cli/text/infer.py
  paddlespeech/cli/tts/infer.py
Labels: CLI

#1480 [server] add server demo
  demos/speech_server/README.md
  demos/speech_server/README_cn.md
  demos/speech_server/asr_client.sh
  demos/speech_server/conf/application.yaml
  demos/speech_server/conf/asr/asr.yaml
  demos/speech_server/conf/tts/tts.yaml
  demos/speech_server/conf/tts/tts_pd.yaml
  demos/speech_server/server.sh
  demos/speech_server/tts_client.sh
  paddlespeech/server/bin/paddlespeech_client.py
  paddlespeech/server/bin/paddlespeech_server.py
  paddlespeech/server/executor.py
  paddlespeech/server/util.py
Labels: README, Demo, server

#1484 [Setup] make librosa version fixed
  paddlespeech/__init__.py
  requirements.txt
  setup.py
Labels: Installation

#1485 [server] more install
  setup.py
Labels: Installation

#1489 [Setup] Fix setup
  requirements.txt
  setup.py
Labels: Installation

#1493 [audio] dtw metric
  paddleaudio/CHANGELOG.md
  paddleaudio/paddleaudio/metric/__init__.py
  paddleaudio/paddleaudio/metric/dtw.py
  paddleaudio/paddleaudio/metric/mcd.py
  paddleaudio/setup.py
Labels: Documentation

#1491 [Benchmark] fix benchmark
  tests/test_tipc/configs/conformer/train_infer_python.txt
  tests/test_tipc/configs/pwgan/train_infer_python.txt
  tests/test_tipc/prepare.sh
Labels: Test

#1499 [ASR] Topic: add ctc_loss speed compare
  docs/topic/ctc/ctc_loss_speed_compare.ipynb
Labels: Documentation

#1506 [TTS]update text frontend, test=tts
  README.md
  README_cn.md
  examples/aishell3/tts3/README.md
  examples/aishell3/tts3/conf/conformer.yaml
  examples/other/g2p/README.md
  paddlespeech/t2s/frontend/tone_sandhi.py
  paddlespeech/t2s/frontend/zh_frontend.py
  paddlespeech/t2s/frontend/zh_normalization/chronology.py
  paddlespeech/t2s/frontend/zh_normalization/num.py
  paddlespeech/t2s/frontend/zh_normalization/text_normlization.py
  setup.py
Labels: Installation, README, Example, T2S
