Repository PaddlePaddle/PaddleSpeech, pull requests merged in 2022-11, with the labels that each got.

#2606 fix frontend bug, test=tts
  paddlespeech/t2s/frontend/g2pw/onnx_api.py
Labels: T2S

#2588 [tts] add adversarial loss
  examples/zh_en_tts/tts3/README.md
  examples/zh_en_tts/tts3/conf/default.yaml
  paddlespeech/t2s/exps/fastspeech2/train.py
  paddlespeech/t2s/models/fastspeech2/fastspeech2.py
  paddlespeech/t2s/models/fastspeech2/fastspeech2_updater.py
  paddlespeech/t2s/modules/adversarial_loss/__init__.py
  paddlespeech/t2s/modules/adversarial_loss/gradient_reversal.py
  paddlespeech/t2s/modules/adversarial_loss/speaker_classifier.py
Labels: README, Example, T2S

#2600 [s2t] Update wav2vec2 license
  paddlespeech/s2t/exps/wav2vec2/bin/test.py
  paddlespeech/s2t/exps/wav2vec2/bin/test_wav.py
  paddlespeech/s2t/exps/wav2vec2/bin/train.py
  paddlespeech/s2t/exps/wav2vec2/model.py
  paddlespeech/s2t/models/wav2vec2/modules/VanillaNN.py
  paddlespeech/s2t/models/wav2vec2/modules/activations.py
  paddlespeech/s2t/models/wav2vec2/modules/containers.py
  paddlespeech/s2t/models/wav2vec2/modules/linear.py
  paddlespeech/s2t/models/wav2vec2/modules/modeling_outputs.py
  paddlespeech/s2t/models/wav2vec2/modules/modeling_wav2vec2.py
  paddlespeech/s2t/models/wav2vec2/processing/signal_processing.py
  paddlespeech/s2t/models/wav2vec2/processing/speech_augmentation.py
  paddlespeech/s2t/models/wav2vec2/wav2vec2_ASR.py
Labels: S2T

#2610 [s2t] update test_cli.sh, including u2pp, test=asr
  tests/unit/cli/test_cli.sh
Labels: Test

#2620 add ssml sentences.txt
  paddlespeech/t2s/exps/sentences_ssml.txt
Labels: T2S, contributor

#2621 支持0维Tensor需要的修改
  docs/source/cls/custom_dataset.md
  docs/tutorial/cls/cls_tutorial.ipynb
  paddlespeech/cls/exps/panns/train.py
  paddlespeech/kws/exps/mdtc/train.py
  tests/unit/tts/test_pwg.py
Labels: Documentation, Test

#2625 [tts] update finetune readme
  examples/other/tts_finetune/tts3/README.md
Labels: README, Example

#2630 [asr] update u2/u2++ deployment
  README.md
Labels: README

#2615 Add rhythm tags for MFA, test=tts
  examples/other/mfa/README.md
  examples/other/mfa/local/generate_lexicon.py
  examples/other/mfa/local/reorganize_baker.py
Labels: README, Example, T2S

#2629 Revised TN qualifier for measure notation, test=tts
  examples/other/tn/data/textnorm_test_cases.txt
  paddlespeech/t2s/frontend/zh_normalization/quantifier.py
  paddlespeech/t2s/frontend/zh_normalization/text_normlization.py
Labels: Example, T2S

#2636 [TTS]Add export2lite, test=tts
  examples/aishell3/tts3/local/export2lite.sh
  examples/aishell3/tts3/run.sh
  examples/csmsc/tts2/local/export2lite.sh
  examples/csmsc/tts2/run.sh
  examples/csmsc/tts3/local/export2lite.sh
  examples/csmsc/tts3/run.sh
  examples/csmsc/tts3/run_cnndecoder.sh
  examples/ljspeech/tts3/local/export2lite.sh
  examples/ljspeech/tts3/run.sh
  examples/vctk/tts3/local/export2lite.sh
  examples/vctk/tts3/run.sh
Labels: Example

#2637 [ASR] wav2vec2_en, test=asr
  docs/source/released_model.md
  examples/librispeech/asr3/conf/wav2vec2ASR.yaml
  paddlespeech/s2t/exps/wav2vec2/model.py
  paddlespeech/s2t/models/wav2vec2/processing/speech_augmentation.py
Labels: Documentation, Example, S2T

#2639 [demo] u2++ asr deployment demo
  demos/asr_deployment/README.md
  demos/asr_deployment/README_cn.md
  speechx/examples/codelab/u2/utils
  speechx/examples/u2pp_ol/wenetspeech/RESULTS.md
Labels: README, Deployment, Demo

#2643 [speechx] fix u2 bins core
  speechx/examples/u2pp_ol/wenetspeech/README.md
  speechx/examples/u2pp_ol/wenetspeech/local/decode.sh
  speechx/examples/u2pp_ol/wenetspeech/local/nnet.sh
  speechx/examples/u2pp_ol/wenetspeech/run.sh
  speechx/speechx/frontend/audio/data_cache.h
  speechx/speechx/nnet/decodable.cc
Labels: README, Deployment

#2647 [tts ] Chmod run_mix.sh
  examples/other/tts_finetune/tts3/run_mix.sh
Labels: Example

#2656 remove kws benchmark test.
  tests/test_tipc/configs/mdtc/train_infer_python.txt
Labels: Test

#2660 [tts] Add male voice for tts
  README.md
  README_cn.md
  docs/source/released_model.md
  paddlespeech/cli/tts/infer.py
  paddlespeech/resource/pretrained_models.py
  tests/unit/cli/test_cli.sh
Labels: Documentation, README, CLI, Test

#2664 fix badcase
  paddlespeech/t2s/frontend/g2pw/onnx_api.py
Labels: T2S, contributor

#2640 [s2t] add whisper asr large model
  demos/whisper/README.md
  demos/whisper/README_cn.md
  demos/whisper/run.sh
  paddlespeech/cli/base_commands.py
  paddlespeech/cli/whisper/__init__.py
  paddlespeech/cli/whisper/infer.py
  paddlespeech/resource/model_alias.py
  paddlespeech/resource/pretrained_models.py
  paddlespeech/resource/resource.py
  paddlespeech/s2t/exps/whisper/test_wav.py
  paddlespeech/s2t/models/whisper/__init__.py
  paddlespeech/s2t/models/whisper/tokenizer.py
  paddlespeech/s2t/models/whisper/utils.py
  paddlespeech/s2t/models/whisper/whipser.py
  paddlespeech/s2t/models/whisper/whisper_LICENSE
  tests/unit/cli/test_cli.sh
Labels: README, S2T, Demo, CLI, Test

#2666 Update install.md
  docs/source/install.md
Labels: Documentation, contributor

#2661 add double byte char for zh normalization
  paddlespeech/t2s/frontend/zh_normalization/constants.py
  paddlespeech/t2s/frontend/zh_normalization/text_normlization.py
Labels: T2S, contributor

#2674 [doc] update wav2vec2 demos README.md, test=doc
  demos/speech_ssl/README.md
  demos/speech_ssl/README_cn.md
  paddlespeech/s2t/models/wav2vec2/modules/VanillaNN.py
  paddlespeech/s2t/models/wav2vec2/modules/normalization.py
Labels: README, S2T, Demo

#2679 [ASR] fix Whisper cli model download path error. test=asr
  demos/whisper/README.md
  demos/whisper/README_cn.md
  paddlespeech/cli/whisper/infer.py
  paddlespeech/resource/pretrained_models.py
  paddlespeech/s2t/exps/whisper/test_wav.py
  paddlespeech/s2t/models/whisper/tokenizer.py
  paddlespeech/s2t/models/whisper/whipser.py
Labels: README, S2T, Demo, CLI

#2684 add version && link fortran.dylib in mac
  audio/CMakeLists.txt
  audio/cmake/external/pybind.cmake
  audio/paddleaudio/third_party/kaldi/CMakeLists.txt
  audio/setup.py
Labels: Deployment, Test

#2688 update docs test=doc
  README.md
  README_cn.md
Labels: README

#2683 add greek char and fix issue2571
  paddlespeech/t2s/frontend/zh_normalization/text_normlization.py
Labels: T2S, contributor

#2697 [ASR] support wav2vec2-zh cli, test=asr
  paddlespeech/cli/ssl/infer.py
  paddlespeech/resource/pretrained_models.py
  paddlespeech/s2t/models/wav2vec2/modules/modeling_wav2vec2.py
  paddlespeech/s2t/models/wav2vec2/wav2vec2_ASR.py
Labels: S2T, CLI

#2701 [ASR] support whisper cli, test=doc
  setup.py
Labels: Installation

#2702 [speechx] more doc for speechx
  speechx/examples/custom_asr/README.md
  speechx/examples/ds2_ol/README.md
  speechx/examples/ds2_ol/aishell/README.md
  speechx/examples/ds2_ol/aishell/local/run_build_tlg.sh
  speechx/examples/ds2_ol/aishell/run.sh
  speechx/examples/ds2_ol/aishell/run_fbank.sh
  speechx/examples/ds2_ol/websocket/README.md
  speechx/examples/u2pp_ol/wenetspeech/README.md
  speechx/examples/u2pp_ol/wenetspeech/run.sh
Labels: README, Deployment

#2703 [TTS]add TTSAndroid demo
  demos/TTSAndroid/.gitignore
  demos/TTSAndroid/README.md
  demos/TTSAndroid/app/.gitignore
  demos/TTSAndroid/app/build.gradle
  demos/TTSAndroid/app/proguard-rules.pro
  demos/TTSAndroid/app/src/androidTest/java/com/baidu/paddle/lite/demo/tts/ExampleInstrumentedTest.java
  demos/TTSAndroid/app/src/main/AndroidManifest.xml
  demos/TTSAndroid/app/src/main/java/com/baidu/paddle/lite/demo/tts/AppCompatPreferenceActivity.java
  demos/TTSAndroid/app/src/main/java/com/baidu/paddle/lite/demo/tts/MainActivity.java
  demos/TTSAndroid/app/src/main/java/com/baidu/paddle/lite/demo/tts/Predictor.java
  demos/TTSAndroid/app/src/main/java/com/baidu/paddle/lite/demo/tts/SettingsActivity.java
  demos/TTSAndroid/app/src/main/java/com/baidu/paddle/lite/demo/tts/Utils.java
  demos/TTSAndroid/app/src/main/res/drawable/button_drawable.xml
  demos/TTSAndroid/app/src/main/res/drawable/logo.jpg
  demos/TTSAndroid/app/src/main/res/drawable/paddlespeech_logo.png
  demos/TTSAndroid/app/src/main/res/layout/activity_main.xml
  demos/TTSAndroid/app/src/main/res/menu/menu_action_options.xml
  demos/TTSAndroid/app/src/main/res/values/arrays.xml
  demos/TTSAndroid/app/src/main/res/values/colors.xml
  demos/TTSAndroid/app/src/main/res/values/strings.xml
  demos/TTSAndroid/app/src/main/res/values/styles.xml
  demos/TTSAndroid/app/src/main/res/xml/settings.xml
  demos/TTSAndroid/app/src/test/java/com/baidu/paddle/lite/demo/tts/ExampleUnitTest.java
  demos/TTSAndroid/build.gradle
  demos/TTSAndroid/gradle.properties
  demos/TTSAndroid/gradle/wrapper/gradle-wrapper.jar
  demos/TTSAndroid/gradle/wrapper/gradle-wrapper.properties
  demos/TTSAndroid/gradlew
  demos/TTSAndroid/gradlew.bat
  demos/TTSAndroid/settings.gradle
Labels: README, Demo

#2707 [speechx] update speechx docker usage
  speechx/README.md
Labels: README, Deployment

#2704 [ASR] update whisper model source, test=doc
  docs/source/released_model.md
Labels: Documentation
