Repository PaddlePaddle/PaddleSpeech, pull requests merged in 2023-03, with the labels that each got.

#2972 [TTS]add VITS inference
  examples/csmsc/vits/local/export2lite.sh
  examples/csmsc/vits/local/inference.sh
  examples/csmsc/vits/local/lite_predict.sh
  examples/csmsc/vits/run.sh
  paddlespeech/t2s/exps/lite_syn_utils.py
  paddlespeech/t2s/exps/syn_utils.py
  paddlespeech/t2s/exps/vits/inference.py
  paddlespeech/t2s/exps/vits/lite_predict.py
Labels: Example, T2S

#2977 [TTS]Canton CLI, test=tts
  paddlespeech/cli/tts/infer.py
  paddlespeech/resource/pretrained_models.py
  tests/unit/cli/test_cli.sh
Labels: T2S, CLI, Test

#2842 [TTS]add StarGANv2-VC model scripts
  examples/vctk/README.md
  examples/vctk/vc3/README.md
  examples/vctk/vc3/conf/default.yaml
  examples/vctk/vc3/local/preprocess.sh
  examples/vctk/vc3/local/train.sh
  examples/vctk/vc3/local/voice_conversion.sh
  examples/vctk/vc3/path.sh
  examples/vctk/vc3/run.sh
  paddlespeech/resource/pretrained_models.py
  paddlespeech/t2s/datasets/get_feats.py
  paddlespeech/t2s/exps/starganv2_vc/__init__.py
  paddlespeech/t2s/exps/starganv2_vc/vc.py
  paddlespeech/t2s/models/starganv2_vc/AuxiliaryASR/__init__.py
  paddlespeech/t2s/models/starganv2_vc/AuxiliaryASR/config.yml
  paddlespeech/t2s/models/starganv2_vc/AuxiliaryASR/layers.py
  paddlespeech/t2s/models/starganv2_vc/AuxiliaryASR/model.py
  paddlespeech/t2s/models/starganv2_vc/JDCNet/__init__.py
  paddlespeech/t2s/models/starganv2_vc/JDCNet/model.py
  paddlespeech/t2s/models/starganv2_vc/__init__.py
  paddlespeech/t2s/models/starganv2_vc/losses.py
  paddlespeech/t2s/models/starganv2_vc/starganv2_vc.py
  paddlespeech/t2s/models/starganv2_vc/starganv2_vc_updater.py
Labels: README, Example, T2S

#2983 [TTS]rearrange encoder_infer param's order
  paddlespeech/t2s/models/fastspeech2/fastspeech2.py
Labels: T2S, contributor, status: proposed

#2986 [runtime] add logging module, build on linux and android, normalize option name
  runtime/.gitignore
  runtime/CMakeLists.txt
  runtime/build_android.sh
  runtime/cmake/fastdeploy.cmake
  runtime/cmake/glog.cmake
  runtime/cmake/gtest.cmake
  runtime/cmake/summary.cmake
  runtime/engine/asr/decoder/ctc_prefix_beam_search_decoder.cc
  runtime/engine/asr/nnet/u2_nnet.cc
  runtime/engine/cls/CMakeLists.txt
  runtime/engine/cls/nnet/CMakeLists.txt
  runtime/engine/cls/nnet/panns_nnet.cc
  runtime/engine/codelab/CMakeLists.txt
  runtime/engine/codelab/glog/CMakeLists.txt
  runtime/engine/common/CMakeLists.txt
  runtime/engine/common/base/CMakeLists.txt
  runtime/engine/common/base/common.h
  runtime/engine/common/base/glog_utils.cc
  runtime/engine/common/base/glog_utils.h
  runtime/engine/common/base/log_impl.cc
  runtime/engine/common/base/log_impl.h
  runtime/engine/common/base/macros.h
  runtime/engine/common/frontend/CMakeLists.txt
  runtime/engine/common/matrix/kaldi-vector.cc
  runtime/engine/common/utils/CMakeLists.txt
  runtime/engine/vad/CMakeLists.txt
  runtime/engine/vad/silero_vad_main.cc
  runtime/examples/silero_vad/.gitignore
  runtime/examples/silero_vad/README.md
  runtime/examples/silero_vad/README_CN.md
  runtime/examples/silero_vad/local/build.sh
  runtime/examples/silero_vad/local/build_android.sh
  runtime/examples/silero_vad/local/decode.sh
  runtime/examples/silero_vad/local/download.sh
  runtime/examples/silero_vad/path.sh
  runtime/examples/silero_vad/run.sh
  runtime/examples/silero_vad/utils
Labels: README

#2989 [Docs]Add Acknowledgement for MistEO/Pallas-Bot test=doc
  README.md
  README_cn.md
Labels: README, contributor, status: proposed

#2990 [TTS]Cli Cantonese onnx, test=tts
  demos/text_to_speech/README.md
  demos/text_to_speech/README_cn.md
  docs/source/released_model.md
  examples/canton/tts3/README.md
  examples/canton/tts3/local/inference.sh
  examples/canton/tts3/local/ort_predict.sh
  examples/canton/tts3/local/paddle2onnx.sh
  examples/canton/tts3/run.sh
  paddlespeech/cli/tts/infer.py
  paddlespeech/resource/pretrained_models.py
  paddlespeech/t2s/exps/inference.py
  paddlespeech/t2s/exps/ort_predict_e2e.py
Labels: Documentation, README, Example, T2S, Demo, CLI, contributor, status: proposed

#2991 [TTS][Paddle-Lite]add a TTS demo for ARM Linux
  demos/TTSArmLinux/.gitignore
  demos/TTSArmLinux/README.md
  demos/TTSArmLinux/build.sh
  demos/TTSArmLinux/clean.sh
  demos/TTSArmLinux/config.sh
  demos/TTSArmLinux/download.sh
  demos/TTSArmLinux/run.sh
  demos/TTSArmLinux/src/CMakeLists.txt
  demos/TTSArmLinux/src/Predictor.hpp
  demos/TTSArmLinux/src/main.cc
Labels: README, Demo, contributor, status: proposed

#2973 [ASR]add u2pp_wenetspeech_static_quant to released_model.md, test=doc
  docs/source/released_model.md
Labels: Documentation

#3002 [TTS]remove pad op in static model by replace F.pad with nn.Pad1D and nn.Pad2D
  examples/csmsc/vits/local/paddle2onnx.sh
  examples/csmsc/vits/run.sh
  paddlespeech/t2s/models/vits/generator.py
  paddlespeech/t2s/models/vits/transform.py
Labels: Example, T2S

#3008 [ASR]fix wav2vec2 load schedule error, test=asr
  paddlespeech/s2t/exps/wav2vec2/model.py
  paddlespeech/s2t/training/scheduler.py
Labels: S2T

#3012 [ASR] add wav2vec2 aishell model result, test=asr
  README.md
  README_cn.md
  docs/source/released_model.md
  examples/aishell/asr3/README.md
  examples/aishell/asr3/RESULT.md
  paddlespeech/resource/pretrained_models.py
Labels: Documentation, README, Example

#3019 [TTS] Support set device id for tts prediction, test=tts
  paddlespeech/t2s/exps/syn_utils.py
Labels: T2S, contributor, status: proposed

#3005 [TTS]add Diffsinger with opencpop dataset
  examples/opencpop/svs1/README.md
  examples/opencpop/svs1/README_cn.md
  examples/opencpop/svs1/conf/default.yaml
  examples/opencpop/svs1/local/preprocess.sh
  examples/opencpop/svs1/local/synthesize.sh
  examples/opencpop/svs1/local/train.sh
  examples/opencpop/svs1/path.sh
  examples/opencpop/svs1/run.sh
  paddlespeech/t2s/datasets/am_batch_fn.py
  paddlespeech/t2s/datasets/get_feats.py
  paddlespeech/t2s/datasets/preprocess_utils.py
  paddlespeech/t2s/exps/diffsinger/__init__.py
  paddlespeech/t2s/exps/diffsinger/get_minmax.py
  paddlespeech/t2s/exps/diffsinger/normalize.py
  paddlespeech/t2s/exps/diffsinger/preprocess.py
  paddlespeech/t2s/exps/diffsinger/train.py
  paddlespeech/t2s/exps/syn_utils.py
  paddlespeech/t2s/exps/synthesize.py
  paddlespeech/t2s/models/diffsinger/__init__.py
  paddlespeech/t2s/models/diffsinger/diffsinger.py
  paddlespeech/t2s/models/diffsinger/diffsinger_updater.py
  paddlespeech/t2s/models/diffsinger/fastspeech2midi.py
  paddlespeech/t2s/models/fastspeech2/fastspeech2.py
  paddlespeech/t2s/modules/activation.py
  paddlespeech/t2s/modules/diffnet.py
  paddlespeech/t2s/modules/diffusion.py
  paddlespeech/t2s/modules/masked_fill.py
  paddlespeech/t2s/modules/predictor/variance_predictor.py
  paddlespeech/t2s/modules/transformer/encoder.py
  paddlespeech/t2s/modules/wavenet_denoiser.py
Labels: README, Example, T2S

#3018 [TTS][Paddle-Lite] Add Chinese C++ TTS Frontend, let TTS Arm Linux demo support the synthesis of arbitrary Chinese sentences
  demos/TTSArmLinux/.gitignore
  demos/TTSArmLinux/README.md
  demos/TTSArmLinux/build-depends.sh
  demos/TTSArmLinux/build.sh
  demos/TTSArmLinux/clean.sh
  demos/TTSArmLinux/config.sh
  demos/TTSArmLinux/download.sh
  demos/TTSArmLinux/front.conf
  demos/TTSArmLinux/run.sh
  demos/TTSArmLinux/src/CMakeLists.txt
  demos/TTSArmLinux/src/Predictor.hpp
  demos/TTSArmLinux/src/TTSCppFrontend
  demos/TTSArmLinux/src/main.cc
  demos/TTSArmLinux/src/third-party
  demos/TTSCppFrontend/.gitignore
  demos/TTSCppFrontend/CMakeLists.txt
  demos/TTSCppFrontend/README.md
  demos/TTSCppFrontend/build-depends.sh
  demos/TTSCppFrontend/build.sh
  demos/TTSCppFrontend/clean.sh
  demos/TTSCppFrontend/download.sh
  demos/TTSCppFrontend/front_demo/front.conf
  demos/TTSCppFrontend/front_demo/front_demo.cpp
  demos/TTSCppFrontend/front_demo/gentools/gen_dict_paddlespeech.py
  demos/TTSCppFrontend/front_demo/gentools/genid.py
  demos/TTSCppFrontend/front_demo/gentools/word2phones.py
  demos/TTSCppFrontend/run_front_demo.sh
  demos/TTSCppFrontend/src/base/type_conv.cpp
  demos/TTSCppFrontend/src/base/type_conv.h
  demos/TTSCppFrontend/src/front/front_interface.cpp
  demos/TTSCppFrontend/src/front/front_interface.h
  demos/TTSCppFrontend/src/front/text_normalize.cpp
  demos/TTSCppFrontend/src/front/text_normalize.h
  demos/TTSCppFrontend/third-party/CMakeLists.txt
Labels: README, T2S, Demo, contributor, status: proposed

#3028 [TTS]fix vits reduce_sum's input/output dtype
  paddlespeech/t2s/models/vits/duration_predictor.py
  paddlespeech/t2s/models/vits/generator.py
  paddlespeech/t2s/models/vits/transform.py
Labels: T2S

#3025 [Engine] Add text blank preprocess.
  runtime/engine/common/utils/blank_process.cc
  runtime/engine/common/utils/blank_process.h
  runtime/engine/common/utils/blank_process_test.cc
Labels: Deployment, contributor, status: proposed

#3030 [TTS]Add license and reformat for TTSCppFrontend
  demos/TTSArmLinux/src/Predictor.hpp
  demos/TTSArmLinux/src/main.cc
  demos/TTSCppFrontend/README.md
  demos/TTSCppFrontend/front_demo/front_demo.cpp
  demos/TTSCppFrontend/front_demo/gentools/gen_dict_paddlespeech.py
  demos/TTSCppFrontend/front_demo/gentools/genid.py
  demos/TTSCppFrontend/front_demo/gentools/word2phones.py
  demos/TTSCppFrontend/src/base/type_conv.cpp
  demos/TTSCppFrontend/src/base/type_conv.h
  demos/TTSCppFrontend/src/front/front_interface.cpp
  demos/TTSCppFrontend/src/front/front_interface.h
  demos/TTSCppFrontend/src/front/text_normalize.cpp
  demos/TTSCppFrontend/src/front/text_normalize.h
Labels: README, Deployment, T2S, Demo

#3031 [TTS] add opencpop PWGAN example
  examples/opencpop/voc1/README.md
  examples/opencpop/voc1/conf/default.yaml
  examples/opencpop/voc1/local/PTQ_static.sh
  examples/opencpop/voc1/local/dygraph_to_static.sh
  examples/opencpop/voc1/local/preprocess.sh
  examples/opencpop/voc1/local/synthesize.sh
  examples/opencpop/voc1/local/train.sh
  examples/opencpop/voc1/path.sh
  examples/opencpop/voc1/run.sh
  paddlespeech/t2s/exps/PTQ_static.py
  paddlespeech/t2s/exps/dygraph_to_static.py
  paddlespeech/t2s/exps/gan_vocoder/preprocess.py
Labels: README, Example, T2S

#3038 [TTS] add opencpop HIFIGAN example
  examples/opencpop/README.md
  examples/opencpop/voc5/conf/default.yaml
  examples/opencpop/voc5/conf/finetune.yaml
  examples/opencpop/voc5/finetune.sh
  examples/opencpop/voc5/local/PTQ_static.sh
  examples/opencpop/voc5/local/dygraph_to_static.sh
  examples/opencpop/voc5/local/prepare_env.py
  examples/opencpop/voc5/local/preprocess.sh
  examples/opencpop/voc5/local/synthesize.sh
  examples/opencpop/voc5/local/train.sh
  examples/opencpop/voc5/path.sh
  examples/opencpop/voc5/run.sh
  paddlespeech/t2s/exps/PTQ_static.py
  paddlespeech/t2s/exps/diffsinger/gen_gta_mel.py
  paddlespeech/t2s/exps/dygraph_to_static.py
Labels: README, Example, T2S

#3041 [TTS]fix dtype diff of last expand_v2 op of VITS
  paddlespeech/t2s/models/vits/flow.py
  paddlespeech/t2s/models/vits/transform.py
  paddlespeech/t2s/modules/nets_utils.py
Labels: T2S

#3043 [docs]update readme
  demos/TTSArmLinux/README.md
  demos/TTSCppFrontend/README.md
Labels: README, Demo

#3042 [ASR] optional tokenizer and fix some doc, test=asr
  examples/librispeech/asr3/local/data.sh
  examples/librispeech/asr3/local/test.sh
  examples/librispeech/asr3/local/test_wav.sh
  examples/librispeech/asr3/local/train.sh
  examples/librispeech/asr3/run.sh
  paddlespeech/s2t/exps/wav2vec2/bin/test_wav.py
Labels: Example, S2T

#3046 [ASR]cherrypick optional tokenizer and fix some doc, test=asr
  examples/librispeech/asr3/local/data.sh
  examples/librispeech/asr3/local/test.sh
  examples/librispeech/asr3/local/test_wav.sh
  examples/librispeech/asr3/local/train.sh
  examples/librispeech/asr3/run.sh
  paddlespeech/s2t/exps/wav2vec2/bin/test_wav.py
Labels: Example, S2T

#2755 [ASR]add squeezeformer model
  examples/aishell/asr1/conf/chunk_squeezeformer.yaml
  examples/aishell/asr1/conf/squeezeformer.yaml
  paddlespeech/s2t/models/u2/u2.py
  paddlespeech/s2t/modules/attention.py
  paddlespeech/s2t/modules/conformer_convolution.py
  paddlespeech/s2t/modules/conv2d.py
  paddlespeech/s2t/modules/encoder.py
  paddlespeech/s2t/modules/encoder_layer.py
  paddlespeech/s2t/modules/positionwise_feed_forward.py
  paddlespeech/s2t/modules/subsampling.py
  paddlespeech/s2t/modules/time_reduction.py
  paddlespeech/s2t/utils/utility.py
Labels: Example, S2T, contributor

#3054 [TTS]fix input dtype of elementwise_mul op from bool to int64
  paddlespeech/t2s/models/vits/generator.py
Labels: T2S

#3057 cherrypick update setup.py
  docs/requirements.txt
  setup.py
Labels: Documentation, Installation

#3056 Update setup.py
  docs/requirements.txt
  setup.py
Labels: Documentation, Installation

#3050 [runtime] fix vad and cls cmake
  runtime/CMakeLists.txt
  runtime/build.sh
  runtime/cmake/glog.cmake
  runtime/engine/cls/nnet/CMakeLists.txt
  runtime/engine/cls/nnet/panns_nnet.cc
  runtime/engine/cls/nnet/panns_nnet_main.cc
  runtime/engine/vad/nnet/CMakeLists.txt
Labels: README

#3062 [TTS] add svs frontend
  examples/opencpop/svs1/README.md
  examples/opencpop/svs1/README_cn.md
  examples/opencpop/svs1/local/pinyin_to_phone.txt
  examples/opencpop/svs1/local/synthesize_e2e.sh
  examples/opencpop/svs1/run.sh
  paddlespeech/t2s/exps/sentences_sing.txt
  paddlespeech/t2s/exps/syn_utils.py
  paddlespeech/t2s/exps/synthesize_e2e.py
  paddlespeech/t2s/frontend/sing_frontend.py
Labels: README, Example, T2S

#2987 [TTS]clean starganv2 vc model code and add docstring
  paddlespeech/t2s/models/starganv2_vc/AuxiliaryASR/layers.py
  paddlespeech/t2s/models/starganv2_vc/AuxiliaryASR/model.py
  paddlespeech/t2s/models/starganv2_vc/JDCNet/model.py
  paddlespeech/t2s/models/starganv2_vc/starganv2_vc.py
Labels: T2S

#3067 [Doc] change define asr server config to chunk asr config, test=doc
  demos/streaming_asr_server/README.md
  demos/streaming_asr_server/README_cn.md
Labels: README, Demo

#3070 [TTS] get music score for svs
  docs/images/note_map.png
  docs/source/tts/svs_music_score.md
Labels: Documentation

#3047 [Engine] add TN/ITN functions
  runtime/engine/common/utils/text_process.cc
  runtime/engine/common/utils/text_process.h
  runtime/engine/common/utils/text_process_test.cc
Labels: contributor, status: proposed

#3075 [TTS]fix elementwise_floordiv's fill_constant
  paddlespeech/t2s/modules/conformer/encoder_layer.py
  paddlespeech/t2s/modules/transformer/attention.py
  paddlespeech/t2s/modules/transformer/embedding.py
  paddlespeech/t2s/modules/transformer/multi_layer_conv.py
Labels: T2S

#3084 [TTS]fix paddle2onnx's install version, install the newest paddle2onnx in …
  examples/aishell3/tts3/run.sh
  examples/canton/tts3/run.sh
  examples/csmsc/tts2/run.sh
  examples/csmsc/tts3/run.sh
  examples/csmsc/tts3/run_cnndecoder.sh
  examples/csmsc/vits/run.sh
  examples/ljspeech/tts3/run.sh
  examples/vctk/tts3/run.sh
  examples/zh_en_tts/tts3/run.sh
Labels: Example

#3085 [TTS] update svs_music_score.md
  docs/source/tts/svs_music_score.md
Labels: Documentation

#3097 [TTS] rm unused dep
  paddlespeech/t2s/modules/diffnet.py
  paddlespeech/t2s/modules/diffusion.py
  paddlespeech/t2s/modules/wavenet_denoiser.py
Labels: T2S

#3120 Update bug-report-tts.md
  .github/ISSUE_TEMPLATE/bug-report-tts.md
Labels: CI
