Repository PaddlePaddle/PaddleSpeech, pull requests merged in 2023-01, with the labels that each got.

#2791 [TTS]Change optimizer for vits, test=tts
  paddlespeech/t2s/exps/vits/train.py
Labels: T2S

#2794 [speechx]add kaldi-native-fbank && refactor frontend
  speechx/examples/u2pp_ol/wenetspeech/local/feat.sh
  speechx/examples/u2pp_ol/wenetspeech/local/recognizer.sh
  speechx/examples/u2pp_ol/wenetspeech/local/recognizer_quant.sh
  speechx/examples/u2pp_ol/wenetspeech/run.sh
  speechx/speechx/asr/decoder/ctc_prefix_beam_search_decoder_main.cc
  speechx/speechx/asr/nnet/nnet_itf.h
  speechx/speechx/asr/nnet/nnet_producer.cc
  speechx/speechx/asr/nnet/nnet_producer.h
  speechx/speechx/asr/nnet/u2_nnet.cc
  speechx/speechx/asr/nnet/u2_nnet.h
  speechx/speechx/asr/recognizer/CMakeLists.txt
  speechx/speechx/asr/recognizer/u2_recognizer.cc
  speechx/speechx/asr/recognizer/u2_recognizer.h
  speechx/speechx/asr/recognizer/u2_recognizer_main.cc
  speechx/speechx/asr/recognizer/u2_recognizer_thread_main.cc
  speechx/speechx/common/CMakeLists.txt
  speechx/speechx/common/frontend/audio/CMakeLists.txt
  speechx/speechx/common/frontend/audio/assembler.cc
  speechx/speechx/common/frontend/audio/assembler.h
  speechx/speechx/common/frontend/audio/audio_cache.cc
  speechx/speechx/common/frontend/audio/audio_cache.h
  speechx/speechx/common/frontend/audio/cmvn.cc
  speechx/speechx/common/frontend/audio/cmvn.h
  speechx/speechx/common/frontend/audio/cmvn_json2kaldi_main.cc
  speechx/speechx/common/frontend/audio/compute_fbank_main.cc
  speechx/speechx/common/frontend/audio/data_cache.h
  speechx/speechx/common/frontend/audio/fbank.h
  speechx/speechx/common/frontend/audio/feature-fbank.cc
  speechx/speechx/common/frontend/audio/feature-fbank.h
  speechx/speechx/common/frontend/audio/feature-functions.cc
  speechx/speechx/common/frontend/audio/feature-functions.h
  speechx/speechx/common/frontend/audio/feature-window.cc
  speechx/speechx/common/frontend/audio/feature-window.h
  speechx/speechx/common/frontend/audio/feature_cache.cc
  speechx/speechx/common/frontend/audio/feature_cache.h
  speechx/speechx/common/frontend/audio/feature_common.h
  speechx/speechx/common/frontend/audio/feature_common_inl.h
  speechx/speechx/common/frontend/audio/feature_pipeline.cc
  speechx/speechx/common/frontend/audio/feature_pipeline.h
  speechx/speechx/common/frontend/audio/fftsg.c
  speechx/speechx/common/frontend/audio/frontend_itf.h
  speechx/speechx/common/frontend/audio/mel-computations.cc
  speechx/speechx/common/frontend/audio/mel-computations.h
  speechx/speechx/common/frontend/audio/rfft.cc
  speechx/speechx/common/frontend/audio/rfft.h
Labels: README, Deployment

#2799 [audio]replace kaldi fbank with kaldi-native-fbank in paddleaudio
  .pre-commit-config.yaml
  audio/CMakeLists.txt
  audio/paddleaudio/CMakeLists.txt
  audio/paddleaudio/kaldi/__init__.py
  audio/paddleaudio/kaldi/kaldi.py
  audio/paddleaudio/src/CMakeLists.txt
  audio/paddleaudio/src/pybind/kaldi/feature_common.h
  audio/paddleaudio/src/pybind/kaldi/feature_common_inl.h
  audio/paddleaudio/src/pybind/kaldi/kaldi_feature.cc
  audio/paddleaudio/src/pybind/kaldi/kaldi_feature.h
  audio/paddleaudio/src/pybind/kaldi/kaldi_feature_wrapper.cc
  audio/paddleaudio/src/pybind/kaldi/kaldi_feature_wrapper.h
  audio/paddleaudio/src/pybind/pybind.cpp
  audio/paddleaudio/third_party/CMakeLists.txt
  audio/paddleaudio/third_party/kaldi-native-fbank/csrc/CMakeLists.txt
  audio/paddleaudio/third_party/kaldi-native-fbank/csrc/feature-fbank.cc
  audio/paddleaudio/third_party/kaldi-native-fbank/csrc/feature-fbank.h
  audio/paddleaudio/third_party/kaldi-native-fbank/csrc/feature-functions.cc
  audio/paddleaudio/third_party/kaldi-native-fbank/csrc/feature-functions.h
  audio/paddleaudio/third_party/kaldi-native-fbank/csrc/feature-window.cc
  audio/paddleaudio/third_party/kaldi-native-fbank/csrc/feature-window.h
  audio/paddleaudio/third_party/kaldi-native-fbank/csrc/fftsg.c
  audio/paddleaudio/third_party/kaldi-native-fbank/csrc/log.cc
  audio/paddleaudio/third_party/kaldi-native-fbank/csrc/log.h
  audio/paddleaudio/third_party/kaldi-native-fbank/csrc/mel-computations.cc
  audio/paddleaudio/third_party/kaldi-native-fbank/csrc/mel-computations.h
  audio/paddleaudio/third_party/kaldi-native-fbank/csrc/rfft.cc
  audio/paddleaudio/third_party/kaldi-native-fbank/csrc/rfft.h
  audio/paddleaudio/third_party/kaldi/CMakeLists.txt
  audio/setup.py
Labels: Audio

#2796 [ASR] add code-switch asr tal_cs recipe
  dataset/tal_cs/README.md
  dataset/tal_cs/tal_cs.py
  docs/source/released_model.md
  examples/tal_cs/asr1/README.md
  examples/tal_cs/asr1/RESULTS.md
  examples/tal_cs/asr1/conf/conformer.yaml
  examples/tal_cs/asr1/conf/preprocess.yaml
  examples/tal_cs/asr1/conf/tuning/chunk_decode.yaml
  examples/tal_cs/asr1/conf/tuning/decode.yaml
  examples/tal_cs/asr1/local/data.sh
  examples/tal_cs/asr1/local/test.sh
  examples/tal_cs/asr1/local/test_wav.sh
  examples/tal_cs/asr1/local/train.sh
  examples/tal_cs/asr1/path.sh
  examples/tal_cs/asr1/run.sh
  examples/tal_cs/asr1/utils
Labels: Documentation, README, Example, Dataset

#2816 [ASR] add asr code-switch cli and demo, test='asr'
  README.md
  README_cn.md
  demos/speech_recognition/README.md
  demos/speech_recognition/README_cn.md
  demos/speech_recognition/run.sh
  paddlespeech/cli/asr/infer.py
  paddlespeech/cli/base_commands.py
  paddlespeech/resource/pretrained_models.py
  paddlespeech/server/bin/paddlespeech_server.py
  tests/unit/cli/test_cli.sh
Labels: README, Demo, CLI, Test, Server

#2809 [TTS]update VITS init method
  paddlespeech/t2s/models/vits/text_encoder.py
  paddlespeech/t2s/models/vits/vits.py
  paddlespeech/utils/initialize.py
Labels: T2S

#2828 [ASR] whisper fix language choice, test=asr
  paddlespeech/s2t/models/whisper/whipser.py
Labels: S2T, contributor

#2830 [tts]For mixed Chinese and English speech synthesis, add SSML support for Chinese
  .gitignore
  paddlespeech/t2s/frontend/mix_frontend.py
  paddlespeech/t2s/ssml/xml_processor.py
Labels: T2S, contributor

#2831 [TTS]fix o
  paddlespeech/t2s/frontend/g2pw/onnx_api.py
Labels: T2S

#2832 [TTS]add diffusion module for training diffsinger
  docs/requirements.txt
  paddlespeech/t2s/modules/diffusion.py
  setup.py
Labels: Documentation, Installation, T2S, contributor

#2840 Update README.md
  README.md
  README_cn.md
Labels: README

#2839 [speechx] thread decode
  speechx/speechx/asr/decoder/ctc_prefix_beam_search_decoder.cc
  speechx/speechx/asr/nnet/CMakeLists.txt
  speechx/speechx/asr/nnet/decodable.cc
  speechx/speechx/asr/nnet/nnet_producer.cc
  speechx/speechx/asr/nnet/nnet_producer.h
  speechx/speechx/asr/nnet/u2_nnet_thread_main.cc
  speechx/speechx/asr/recognizer/u2_recognizer.cc
  speechx/speechx/asr/recognizer/u2_recognizer.h
  speechx/speechx/asr/recognizer/u2_recognizer_main.cc
  speechx/speechx/asr/recognizer/u2_recognizer_thread_main.cc
  speechx/speechx/common/frontend/compute_fbank_main.cc
  speechx/speechx/common/frontend/feature_cache.cc
  speechx/speechx/common/frontend/feature_cache.h
  speechx/speechx/common/frontend/feature_pipeline.cc
  speechx/speechx/common/frontend/feature_pipeline.h
Labels: Deployment

#2851 [TTS]soft link for shell in example, add skip_copy_wave in norm stage of G…
  examples/aishell3/tts3/path.sh
  examples/aishell3/vc0/path.sh
  examples/aishell3/vc1/local/train.sh
  examples/aishell3/vc1/path.sh
  examples/aishell3/vc2/local/synthesize.sh
  examples/aishell3/vc2/local/train.sh
  examples/aishell3/vc2/path.sh
  examples/aishell3/voc1/local/preprocess.sh
  examples/aishell3/voc1/local/synthesize.sh
  examples/aishell3/voc1/local/train.sh
  examples/aishell3/voc1/path.sh
  examples/aishell3/voc5/local/preprocess.sh
  examples/aishell3/voc5/local/synthesize.sh
  examples/aishell3/voc5/local/train.sh
  examples/aishell3/voc5/path.sh
  examples/aishell3_vctk/ernie_sat/local/synthesize.sh
  examples/aishell3_vctk/ernie_sat/local/train.sh
  examples/aishell3_vctk/ernie_sat/path.sh
  examples/csmsc/voc1/local/preprocess.sh
  examples/csmsc/voc3/finetune.sh
  examples/csmsc/voc3/local/preprocess.sh
  examples/csmsc/voc3/local/train.sh
  examples/csmsc/voc4/local/preprocess.sh
  examples/csmsc/voc4/local/train.sh
  examples/csmsc/voc5/finetune.sh
  examples/csmsc/voc5/local/preprocess.sh
  examples/csmsc/voc5/local/train.sh
  examples/csmsc/voc6/local/preprocess.sh
  examples/csmsc/voc6/local/train.sh
  examples/ljspeech/tts0/local/train.sh
  examples/ljspeech/tts0/path.sh
  examples/ljspeech/tts3/local/train.sh
  examples/ljspeech/tts3/path.sh
  examples/ljspeech/voc1/local/preprocess.sh
  examples/ljspeech/voc1/local/synthesize.sh
  examples/ljspeech/voc1/local/train.sh
  examples/ljspeech/voc1/path.sh
  examples/ljspeech/voc5/local/preprocess.sh
  examples/ljspeech/voc5/local/synthesize.sh
  examples/ljspeech/voc5/local/train.sh
  examples/ljspeech/voc5/path.sh
  examples/vctk/ernie_sat/local/train.sh
  examples/vctk/ernie_sat/path.sh
  examples/vctk/tts3/local/train.sh
  examples/vctk/tts3/path.sh
  examples/vctk/voc1/local/preprocess.sh
  examples/vctk/voc1/local/synthesize.sh
  examples/vctk/voc1/local/train.sh
  examples/vctk/voc1/path.sh
  examples/vctk/voc5/local/preprocess.sh
  examples/vctk/voc5/local/synthesize.sh
  examples/vctk/voc5/local/train.sh
  examples/vctk/voc5/path.sh
  examples/zh_en_tts/tts3/local/train.sh
  examples/zh_en_tts/tts3/path.sh
Labels: Example

#2852 [ASR]clean fluid elementwise_max and square api, test=asr
  paddlespeech/s2t/training/gradclip.py
Labels: S2T

#2859 [ASR]remove some fluid api , test=asr.
  paddlespeech/s2t/training/gradclip.py
Labels: S2T
