Repository PaddlePaddle/PaddleSpeech, pull requests merged in 2023-02, with the labels that each got.

#2862 [TTS]fix data for slim
  examples/csmsc/tts3/local/PTQ_static.sh
  examples/csmsc/voc1/local/PTQ_static.sh
Labels: Example

#2863 [TTS] add a case in not_erhua
  paddlespeech/t2s/frontend/zh_frontend.py
Labels: T2S, contributor

#2866 [speechx] add batch recognizer decode.
  speechx/speechx/asr/nnet/u2_nnet.cc
  speechx/speechx/asr/nnet/u2_nnet.h
  speechx/speechx/asr/recognizer/CMakeLists.txt
  speechx/speechx/asr/recognizer/u2_recognizer.cc
  speechx/speechx/asr/recognizer/u2_recognizer.h
  speechx/speechx/asr/recognizer/u2_recognizer_batch_main.cc
  speechx/speechx/common/base/common.h
Labels: Deployment, S2T

#2867 [Install]remove utils and third_party in paddlespeech's site-packages
  audio/setup.py
  setup.py
Labels: Installation

#2868 [TTS]Fix diffusion wavenet denoiser final conv init param
  paddlespeech/t2s/modules/diffusion.py
Labels: T2S, contributor

#2865 [TTS]fix open encoding
  paddlespeech/cli/tts/infer.py
  paddlespeech/t2s/exps/ernie_sat/synthesize_e2e.py
  paddlespeech/t2s/exps/ernie_sat/train.py
  paddlespeech/t2s/exps/fastspeech2/train.py
  paddlespeech/t2s/exps/speedyspeech/synthesize_e2e.py
  paddlespeech/t2s/exps/speedyspeech/train.py
  paddlespeech/t2s/exps/syn_utils.py
  paddlespeech/t2s/exps/tacotron2/train.py
  paddlespeech/t2s/exps/transformer_tts/train.py
  paddlespeech/t2s/exps/vits/train.py
  paddlespeech/t2s/frontend/phonectic.py
  paddlespeech/t2s/frontend/zh_frontend.py
Labels: T2S, CLI

#2860 [TTS]Avoid using variable "attn_loss" before assignment
  paddlespeech/t2s/models/tacotron2/tacotron2_updater.py
Labels: T2S, contributor

#2871 [Install]clean dependencies
  audio/setup.py
  demos/speech_web/speech_server/requirements.txt
  docs/requirements.txt
  setup.py
Labels: Documentation, Installation, Demo

#2882 [TIPC]fix pwgan tipc
  tests/test_tipc/prepare.sh
Labels: Test

#2884 fix Tensor.numpy()[0] to float(Tensor) to adapt 0D
  examples/tess/cls0/local/train.py
Labels: Example

#2887 [TTS]Update VITS checkpoint , test=tts
  examples/csmsc/vits/README.md
Labels: README, Example, T2S

#2886 [speechx]add wfst decoder
  speechx/CMakeLists.txt
  speechx/speechx/asr/decoder/CMakeLists.txt
  speechx/speechx/asr/decoder/ctc_prefix_beam_search_decoder.h
  speechx/speechx/asr/decoder/ctc_tlg_decoder.cc
  speechx/speechx/asr/decoder/ctc_tlg_decoder.h
  speechx/speechx/asr/decoder/ctc_tlg_decoder_main.cc
  speechx/speechx/asr/decoder/decoder_itf.h
  speechx/speechx/asr/decoder/param.h
  speechx/speechx/asr/nnet/decodable.h
  speechx/speechx/asr/nnet/nnet_producer.cc
  speechx/speechx/asr/nnet/nnet_producer.h
  speechx/speechx/asr/recognizer/u2_recognizer.cc
  speechx/speechx/asr/recognizer/u2_recognizer.h
Labels: Deployment

#2896 [TEXT]add encoding=utf8 for text cli, test=text
  paddlespeech/cli/text/infer.py
Labels: CLI

#2879 Update setup.py ctc decoder version
  third_party/ctc_decoders/setup.py
Labels: S2T

#2900 [ASR]Whisper remove audio duration limit, test=asr
  paddlespeech/cli/whisper/infer.py
  paddlespeech/s2t/models/whisper/__init__.py
  paddlespeech/s2t/models/whisper/tokenizer.py
  paddlespeech/s2t/models/whisper/utils.py
  paddlespeech/s2t/models/whisper/whipser.py
Labels: S2T, CLI

#2902 [TTS]Add diffusion noise clip to optimize sample result
  paddlespeech/t2s/modules/diffusion.py
Labels: T2S, contributor

#2915 [doc]modify readme
  README.md
  README_cn.md
Labels: README, contributor

#2899 [TTS]Cantonese TTS MFA pipeline
  docs/requirements.txt
  examples/other/mfa/README.md
  examples/other/mfa/local/generate_canton_lexicon_wavlabs.py
  examples/other/mfa/run_canton.sh
  setup.py
Labels: Documentation, Installation, README, Example, T2S

#2907 [TTS]Cantonese FastSpeech2 Training, test=tts
  examples/canton/tts3/README.md
  examples/canton/tts3/conf/default.yaml
  examples/canton/tts3/local/preprocess.sh
  examples/canton/tts3/local/synthesize.sh
  examples/canton/tts3/local/train.sh
  examples/canton/tts3/path.sh
  examples/canton/tts3/run.sh
  paddlespeech/t2s/datasets/get_feats.py
  paddlespeech/t2s/exps/fastspeech2/preprocess.py
Labels: README, Example, T2S

#2918 [ASR] fix dist_sampler AttributeError, test=asr
  paddlespeech/s2t/io/dataloader.py
Labels: S2T

#2922 Update README_cn.md， FastAPI-PaddleSpeech-Audio-To-Text
  README.md
  README_cn.md
Labels: README, contributor

#2924 [TTS]Fix canton
  examples/canton/tts3/README.md
  examples/canton/tts3/run.sh
Labels: README, Example, contributor, status: proposed

#2929 [ASR] rm transformers import and modify variable name consistent with infer.py, test=asr
  paddlespeech/s2t/exps/wav2vec2/model.py
  paddlespeech/s2t/models/wav2vec2/wav2vec2_ASR.py
  setup.py
Labels: Installation, S2T

#2927 [TTS]Cantonese FastSpeech2 e2e infer, test=tts
  examples/canton/tts3/local/synthesize_e2e.sh
  examples/canton/tts3/run.sh
  paddlespeech/t2s/exps/sentences_canton.txt
  paddlespeech/t2s/exps/syn_utils.py
  paddlespeech/t2s/exps/synthesize.py
  paddlespeech/t2s/exps/synthesize_e2e.py
  paddlespeech/t2s/frontend/canton_frontend.py
Labels: README, Example, T2S

#2932 [TTS]Cantonese TTS checkpoint for e2e, test=tts
  examples/canton/tts3/README.md
  examples/canton/tts3/run.sh
Labels: README, Example, T2S

#2925 [ASR] add python simple adadelta optimizer, test=asr
  paddlespeech/s2t/training/optimizer/__init__.py
  paddlespeech/s2t/training/optimizer/adadelta.py
Labels: S2T

#2937 [TTS]add Cantonese test examples, test=tts
  paddlespeech/t2s/exps/sentences_canton.txt
Labels: T2S, contributor, status: proposed

#2923 [engine]add cls engine
  runtime/CMakeLists.txt
  runtime/cmake/fastdeploy.cmake
  runtime/engine/CMakeLists.txt
  runtime/engine/cls/CMakeLists.txt
  runtime/engine/cls/nnet/CMakeLists.txt
  runtime/engine/cls/nnet/panns_interface.cc
  runtime/engine/cls/nnet/panns_interface.h
  runtime/engine/cls/nnet/panns_nnet.cc
  runtime/engine/cls/nnet/panns_nnet.h
  runtime/engine/cls/nnet/panns_nnet_main.cc
  runtime/engine/common/base/config.h
  runtime/engine/common/utils/CMakeLists.txt
  runtime/engine/common/utils/audio_process.cc
  runtime/engine/common/utils/audio_process.h
Labels: Deployment, status: proposed

#2944 [ASR] Remove fluid api and useless import, test=asr
  paddlespeech/s2t/models/wav2vec2/wav2vec2_ASR.py
  paddlespeech/s2t/training/gradclip.py
Labels: S2T

#2945 [TTS]Cli male onnx
  demos/text_to_speech/README.md
  demos/text_to_speech/README_cn.md
  docs/source/released_model.md
  paddlespeech/cli/tts/infer.py
  paddlespeech/resource/pretrained_models.py
  paddlespeech/t2s/exps/inference.py
  paddlespeech/t2s/exps/ort_predict_e2e.py
  paddlespeech/t2s/exps/synthesize_e2e.py
  paddlespeech/t2s/frontend/mix_frontend.py
  tests/unit/cli/test_cli.sh
Labels: Documentation, README, T2S, Demo, CLI, Test

#2426 [TTS]fix dygraph to static for tacotron2, test=doc
  paddlespeech/t2s/modules/tacotron2/attentions.py
  paddlespeech/t2s/modules/tacotron2/decoder.py
Labels: T2S

#2950 [TTS]Canton phonetic fix, test=tts
  examples/canton/tts3/README.md
  examples/canton/tts3/local/synthesize_e2e.sh
  examples/other/mfa/local/generate_canton_lexicon_wavlabs.py
  paddlespeech/t2s/exps/sentences_canton.txt
  paddlespeech/t2s/frontend/canton_frontend.py
Labels: README, Example, T2S

#2883 [TTS]vits dygraph to static
  examples/csmsc/vits/local/synthesize_e2e.sh
  paddlespeech/t2s/exps/syn_utils.py
  paddlespeech/t2s/exps/vits/synthesize_e2e.py
  paddlespeech/t2s/models/vits/transform.py
  paddlespeech/t2s/models/vits/vits.py
Labels: Example, T2S

#2968 [runtime] add vad, opt for asr,cls,vad compile
  runtime/.gitignore
  runtime/CMakeLists.txt
  runtime/build.sh
  runtime/cmake/fastdeploy.cmake
  runtime/engine/CMakeLists.txt
  runtime/engine/asr/recognizer/u2_recognizer.cc
  runtime/engine/common/CMakeLists.txt
  runtime/engine/common/base/CMakeLists.txt
  runtime/engine/common/base/flags.h.in
  runtime/engine/common/base/log.h.in
  runtime/engine/common/frontend/cmvn.cc
  runtime/engine/common/frontend/feature-fbank.h
  runtime/engine/common/frontend/feature-window.cc
  runtime/engine/common/frontend/rfft.cc
  runtime/engine/common/matrix/kaldi-matrix-inl.h
  runtime/engine/common/matrix/kaldi-matrix.cc
  runtime/engine/common/matrix/kaldi-matrix.h
  runtime/engine/common/matrix/kaldi-vector-inl.h
  runtime/engine/common/matrix/kaldi-vector.cc
  runtime/engine/common/matrix/kaldi-vector.h
  runtime/engine/common/matrix/matrix-common.h
  runtime/engine/kaldi/CMakeLists.txt
  runtime/engine/kaldi/base/kaldi-types.h
  runtime/engine/vad/CMakeLists.txt
  runtime/engine/vad/README.md
  runtime/engine/vad/README_CN.md
  runtime/engine/vad/infer_onnx_silero_vad.cc
  runtime/engine/vad/vad.cc
  runtime/engine/vad/vad.h
  runtime/engine/vad/wav.h
Labels: README

#2964 [ASR] Fix code-switch doc problem, test=doc
  examples/tal_cs/asr1/RESULTS.md
Labels: Example

#2970 [Install]fix praatio's version because praatio==6.0.0 has incompatible upgrade
  docs/requirements.txt
  setup.py
Labels: Documentation, Installation
