Repository PaddlePaddle/PaddleSpeech, pull requests merged in 2023-09, with the labels that each got.

#3514 Add XPU support for FastSpeech2
  examples/csmsc/tts3/local/inference_xpu.sh
  examples/csmsc/tts3/local/synthesize_e2e_xpu.sh
  examples/csmsc/tts3/local/synthesize_xpu.sh
  examples/csmsc/tts3/local/train_xpu.sh
  examples/csmsc/tts3/run_xpu.sh
  paddlespeech/t2s/exps/fastspeech2/train.py
Labels: Example, T2S

#3517 修复speech_server在windows上的多空格错误
  demos/speech_web/speech_server/src/ge2e_clone.py
Labels: Demo, contributor

#3527 Fix Readme.
  README.md
  README_cn.md
Labels: README
