Repository PaddlePaddle/PaddleSpeech, pull requests merged in 2023-04, with the labels that each got.

#3098 [TTS]Fix VITS lite infer
  examples/csmsc/vits/local/lite_predict.sh
  examples/csmsc/vits/run.sh
  paddlespeech/t2s/exps/vits/lite_predict.py
Labels: Example, T2S

#3143 [TTS]add starganv2 vc trainer
  examples/vctk/vc3/conf/default.yaml
  paddlespeech/t2s/datasets/am_batch_fn.py
  paddlespeech/t2s/exps/starganv2_vc/train.py
  paddlespeech/t2s/models/starganv2_vc/losses.py
  paddlespeech/t2s/models/starganv2_vc/starganv2_vc_updater.py
  paddlespeech/t2s/models/starganv2_vc/transforms.py
Labels: Example, T2S

#3006 [TTS]【Hackathon + No.190】 + 模型复现：iSTFTNet
  examples/csmsc/voc5/conf/iSTFT.yaml
  examples/csmsc/voc5/iSTFTNet.md
  paddlespeech/t2s/models/hifigan/hifigan.py
Labels: Example, T2S, contributor, CI, status: proposed

#3123 add function for generating srt file
  README.md
  README_cn.md
  demos/streaming_asr_server/README.md
  demos/streaming_asr_server/README_cn.md
  demos/streaming_asr_server/local/websocket_client_srt.py
Labels: README, Demo, contributor, status: proposed

#3146 fix example/aishell local/train.sh if condition bug, test=asr
  examples/aishell/asr0/local/train.sh
  examples/aishell/asr1/local/train.sh
  examples/aishell/asr3/local/train.sh
Labels: Example, contributor, status: proposed

#3155 [TTS]fix some preprocess bugs
  paddlespeech/t2s/exps/diffsinger/preprocess.py
  paddlespeech/t2s/exps/ernie_sat/preprocess.py
  paddlespeech/t2s/exps/fastspeech2/preprocess.py
  paddlespeech/t2s/exps/speedyspeech/preprocess.py
  paddlespeech/t2s/exps/tacotron2/preprocess.py
  paddlespeech/t2s/exps/vits/preprocess.py
Labels: T2S

#3163 [TTS]add StarGANv2VC preprocess
  examples/vctk/vc3/conf/default.yaml
  examples/vctk/vc3/local/preprocess.sh
  paddlespeech/t2s/datasets/am_batch_fn.py
  paddlespeech/t2s/datasets/data_table.py
  paddlespeech/t2s/exps/starganv2_vc/normalize.py
  paddlespeech/t2s/exps/starganv2_vc/preprocess.py
  paddlespeech/t2s/exps/starganv2_vc/vc.py
  paddlespeech/t2s/models/starganv2_vc/starganv2_vc.py
Labels: Example, T2S

#3109 [TTS] [黑客松]Add JETS
  examples/csmsc/jets/README.md
  examples/csmsc/jets/conf/default.yaml
  examples/csmsc/jets/local/inference.sh
  examples/csmsc/jets/local/preprocess.sh
  examples/csmsc/jets/local/synthesize.sh
  examples/csmsc/jets/local/synthesize_e2e.sh
  examples/csmsc/jets/local/train.sh
  examples/csmsc/jets/path.sh
  examples/csmsc/jets/run.sh
  paddlespeech/t2s/datasets/am_batch_fn.py
  paddlespeech/t2s/exps/jets/__init__.py
  paddlespeech/t2s/exps/jets/inference.py
  paddlespeech/t2s/exps/jets/normalize.py
  paddlespeech/t2s/exps/jets/preprocess.py
  paddlespeech/t2s/exps/jets/synthesize.py
  paddlespeech/t2s/exps/jets/synthesize_e2e.py
  paddlespeech/t2s/exps/jets/train.py
  paddlespeech/t2s/exps/syn_utils.py
  paddlespeech/t2s/models/jets/__init__.py
  paddlespeech/t2s/models/jets/alignments.py
  paddlespeech/t2s/models/jets/generator.py
  paddlespeech/t2s/models/jets/jets.py
  paddlespeech/t2s/models/jets/jets_updater.py
  paddlespeech/t2s/models/jets/length_regulator.py
  paddlespeech/t2s/modules/losses.py
Labels: README, Example, T2S, contributor, status: proposed

#3175 [Typo] Update quick_start.md
  docs/source/tts/quick_start.md
Labels: Documentation, contributor, status: proposed

#3177 [BUG] Fix progress bar unit.
  paddlespeech/cli/download.py
Labels: CLI, contributor, status: proposed

#3176 [Typo] Update quick_start_cn.md
  docs/source/tts/quick_start_cn.md
Labels: Documentation, contributor, status: proposed

#3182 [TTS]StarGANv2 VC fix some trainer bugs, add add reset_parameters
  examples/vctk/vc3/conf/default.yaml
  examples/vctk/vc3/local/train.sh
  paddlespeech/t2s/datasets/am_batch_fn.py
  paddlespeech/t2s/exps/starganv2_vc/train.py
  paddlespeech/t2s/models/starganv2_vc/AuxiliaryASR/model.py
  paddlespeech/t2s/models/starganv2_vc/losses.py
  paddlespeech/t2s/models/starganv2_vc/starganv2_vc.py
  paddlespeech/t2s/models/starganv2_vc/starganv2_vc_updater.py
  paddlespeech/t2s/modules/nets_utils.py
Labels: Example, T2S

#3178 [Typo] Fix some typos using Search-for-Typos
  .github/CONTRIBUTING.md
  audio/paddleaudio/backends/soundfile_backend.py
  demos/TTSAndroid/README.md
  demos/TTSArmLinux/front.conf
  demos/TTSCppFrontend/front_demo/front.conf
  demos/TTSCppFrontend/front_demo/front_demo.cpp
  demos/TTSCppFrontend/front_demo/gentools/word2phones.py
  demos/TTSCppFrontend/src/front/front_interface.cpp
  demos/TTSCppFrontend/src/front/front_interface.h
  demos/speech_web/README.md
  demos/speech_web/speech_server/main.py
  docs/tutorial/st/st_tutorial.ipynb
  docs/tutorial/tts/tts_tutorial.ipynb
  examples/librispeech/asr2/README.md
  examples/other/mfa/local/generate_lexicon.py
  examples/tiny/asr1/README.md
  paddlespeech/s2t/__init__.py
  paddlespeech/s2t/frontend/augmentor/augmentation.py
  paddlespeech/s2t/io/speechbrain/sampler.py
  paddlespeech/s2t/models/u2/u2.py
  paddlespeech/s2t/models/u2_st/u2_st.py
  paddlespeech/server/engine/asr/online/python/asr_engine.py
  paddlespeech/server/ws/asr_api.py
  paddlespeech/t2s/frontend/generate_lexicon.py
  paddlespeech/t2s/models/waveflow.py
  paddlespeech/t2s/modules/transformer/lightconv.py
  paddlespeech/vector/exps/ecapa_tdnn/train.py
  paddlespeech/vector/exps/ge2e/preprocess.py
  speechx/examples/ds2_ol/onnx/local/onnx_infer_shape.py
  speechx/speechx/frontend/audio/db_norm.cc
  speechx/speechx/kaldi/base/kaldi-types.h
  speechx/speechx/kaldi/feat/pitch-functions.cc
  speechx/speechx/kaldi/lat/lattice-functions.h
  speechx/speechx/kaldi/matrix/kaldi-matrix.cc
  speechx/speechx/kaldi/matrix/sparse-matrix.cc
  speechx/speechx/kaldi/util/kaldi-table-inl.h
  speechx/speechx/nnet/ds2_nnet.cc
  speechx/speechx/protocol/websocket/websocket_server.cc
  tools/extras/install_mkl.sh
  utils/fst/ctc_token_fst.py
  utils/tokenizer.perl
Labels: Documentation, Installation, README, Example, Deployment, S2T, T2S, Demo, Vector, Server, contributor, CI, status: proposed

#3193 [TTS] Update pretrained models of JETS
  examples/csmsc/jets/README.md
Labels: README, Example, contributor, status: proposed

#3184 [TTS]Fix losses of StarGAN v2 VC
  examples/vctk/vc3/local/train.sh
  paddlespeech/t2s/datasets/am_batch_fn.py
  paddlespeech/t2s/exps/starganv2_vc/train.py
  paddlespeech/t2s/models/starganv2_vc/losses.py
  paddlespeech/t2s/models/starganv2_vc/starganv2_vc_updater.py
Labels: Example, T2S

#3186 [TTS]update lr schedulers from per iter to per epoch for VITS
  examples/csmsc/vits/conf/default.yaml
  paddlespeech/t2s/exps/vits/train.py
  paddlespeech/t2s/models/vits/vits_updater.py
Labels: Example, T2S

#3194 [s2t] fix cli args to config
  paddlespeech/dataset/s2t/build_vocab.py
  paddlespeech/dataset/s2t/format_data.py
  paddlespeech/s2t/exps/u2/bin/alignment.py
  paddlespeech/s2t/exps/u2/bin/export.py
  paddlespeech/s2t/exps/u2/bin/quant.py
  paddlespeech/s2t/exps/u2/bin/test.py
  paddlespeech/s2t/exps/u2/bin/test_wav.py
  paddlespeech/s2t/exps/u2/bin/train.py
  paddlespeech/s2t/training/cli.py
Labels: S2T

#3201 [engine]fix copyright, test=doc
  runtime/engine/asr/recognizer/recognizer_controller_impl.cc
Labels: Deployment
