Repository PaddlePaddle/PaddleSpeech, pull requests merged in 2024-12, with the labels that each got.

#3880 【Hackathon 7th】fix whisper at Paddle 3.0
  demos/TTSArmLinux/src/TTSCppFrontend
  examples/aishell/asr0/utils
  examples/librispeech/asr2/steps
  examples/voxceleb/sv0/utils
  paddlespeech/s2t/models/whisper/whisper.py
  runtime/examples/text_lm/utils
  runtime/examples/u2pp_ol/wenetspeech/utils
Labels: Example, Deployment, S2T, Demo, contributor

#3919 [Hackathon 7th] 修复导入 `TimeDomainSpecAugment`
  paddlespeech/s2t/exps/wavlm/model.py
Labels: S2T, contributor

#3920 [Hackathon 7th] fix vits with CSMSC
  paddlespeech/t2s/models/vits/generator.py
  paddlespeech/t2s/models/vits/posterior_encoder.py
  paddlespeech/t2s/models/vits/text_encoder.py
  paddlespeech/t2s/modules/nets_utils.py
Labels: T2S, contributor

#3914 [Hackathon 7th] 修复 `panns` 中 `predict.py` 对于 pir 的 json 模型路径
  paddlespeech/cls/exps/panns/deploy/predict.py
  paddlespeech/cls/exps/panns/export_model.py
  paddlespeech/utils/__init__.py
Labels: contributor

#3927 support new inference interface
  paddlespeech/t2s/exps/speedyspeech/inference.py
Labels: T2S

#3933 [Hackathon 7th] 修复 paddle 3.0 `transpose` 的输入不能为 `tensor` 的问题
  paddlespeech/s2t/models/wav2vec2/modules/wav2vec2_model.py
Labels: S2T, contributor

#3934 [Hackathon 7th] 修复 `asr4` 测试命令中重复的 `arg`
  paddlespeech/s2t/exps/hubert/bin/test.py
Labels: S2T, contributor

#3912 [Hackathon 7th] 修复 opencopop的svs1中的shape问题
  paddlespeech/t2s/modules/diffnet.py
  paddlespeech/t2s/modules/nets_utils.py
Labels: T2S, contributor

#3939 [Hackathon 7th] 使用 `reshape` 代替 `view`
  audio/paddleaudio/utils/tensor_utils.py
  paddlespeech/s2t/decoders/scorers/ctc_prefix_score.py
  paddlespeech/s2t/decoders/scorers/scorer_interface.py
  paddlespeech/s2t/models/hubert/hubert_ASR.py
  paddlespeech/s2t/models/lm/transformer.py
  paddlespeech/s2t/models/u2_st/u2_st.py
  paddlespeech/s2t/models/wavlm/modules/modules.py
  paddlespeech/s2t/models/wavlm/wavlm_asr.py
  paddlespeech/s2t/models/wavlm/wavlm_paddle.py
  paddlespeech/s2t/utils/tensor_utils.py
  paddlespeech/t2s/models/jets/generator.py
Labels: S2T, T2S, contributor

#3935 [Hackathon 7th] 修复 deepspeech2online 的导出问题
  paddlespeech/s2t/exps/deepspeech2/model.py
Labels: S2T, contributor

#3928 [Hackathon 7th] fix aishell3/vctk vc0/ernie
  paddlespeech/t2s/modules/losses.py
  paddlespeech/t2s/modules/nets_utils.py
  paddlespeech/t2s/modules/tacotron2/attentions.py
  paddlespeech/t2s/modules/tacotron2/encoder.py
Labels: T2S, contributor

#3930 [hackathon7] Add timit/asr1 readme.md
  examples/timit/README.md
  examples/timit/asr1/README.md
  examples/timit/asr1/run.sh
Labels: README, Example, contributor

#3944 [Hackathon 7th] 修复 `voxceleb` 的类型提升问题
  paddlespeech/vector/io/signal_processing.py
Labels: Vector, contributor

#3940 [Hackathon 7th] 修复 `asr4` 的 `test_wav` 多余的 argument
  paddlespeech/s2t/exps/hubert/bin/test_wav.py
Labels: S2T, contributor

#3915 [Hackathon 7th] fix voc1 readme.md in CSMSC
  examples/csmsc/voc1/README.md
Labels: README, Example, contributor

#3951 [Hackathon 7th] 修复 `fastspeech2` 的 `0d` 问题
  paddlespeech/t2s/models/fastspeech2/fastspeech2.py
Labels: T2S, contributor

#3955 [Hackathon 7th] fix example led_en_zh st1
  examples/ted_en_zh/st1/local/data.sh
  utils/addjson.py
Labels: Example, contributor

#3950 [Hackathon 7th] 修复 `s2t` 示例错误
  examples/ted_en_zh/st0/README.md
  paddlespeech/s2t/exps/u2_st/bin/test.py
  paddlespeech/s2t/frontend/featurizer/text_featurizer.py
  paddlespeech/s2t/io/dataloader.py
  paddlespeech/s2t/models/u2_st/u2_st.py
  paddlespeech/s2t/modules/decoder.py
Labels: README, Example, S2T, contributor

#3942 [Hackathon 7th] updating the paths to utility scripts and modifying method parameters
  examples/aishell/asr0/local/test.sh
  examples/aishell/asr0/utils
  examples/aishell/asr1/local/test.sh
  examples/aishell/asr3/local/test.sh
  examples/librispeech/asr0/local/test.sh
  examples/librispeech/asr1/local/test.sh
  examples/librispeech/asr2/utils
  examples/librispeech/asr3/local/test.sh
  examples/librispeech/asr4/local/test.sh
  examples/librispeech/asr5/utils
  paddlespeech/s2t/exps/deepspeech2/model.py
  paddlespeech/s2t/models/ds2/deepspeech2.py
Labels: Example, S2T, contributor

#3941 [Hackathon 7th] 修复 `asr5` 的 `test.sh` 脚本路径错误
  examples/librispeech/asr5/local/test.sh
  paddlespeech/s2t/exps/wavlm/bin/test.py
  paddlespeech/s2t/exps/wavlm/bin/test_wav.py
Labels: Example, S2T, contributor

#3956 【TTS】add some PIR model
  examples/aishell3/tts3/README.md
  examples/aishell3/voc1/README.md
  examples/aishell3/voc5/README.md
  examples/csmsc/voc3/README.md
  examples/csmsc/voc5/README.md
  examples/vctk/voc5/README.md
Labels: README, Example

#3945 [Hackathon 7th] 添加csmsc/voc1的synthesize_e2e.sh，修复run.sh
  examples/csmsc/voc1/README.md
  examples/csmsc/voc1/local/synthesize_e2e.sh
  examples/csmsc/voc1/run.sh
Labels: README, Example, contributor

#3947 [Hackathon 7th No.55] Add `fft_conv1d` to `PaddleSpeech`
  paddlespeech/t2s/modules/__init__.py
  paddlespeech/t2s/modules/fftconv1d.py
  tests/unit/ci.sh
  tests/unit/tts/test_fftconv1d.py
Labels: T2S, Test, contributor

#3958 docs: text frontend intended links
  docs/source/install.md
  docs/source/install_cn.md
  docs/source/tts/models_introduction.md
Labels: Documentation, contributor

#3932 [Hackathon 7th] add missing keywords of aishell3/vits-vc
  paddlespeech/t2s/exps/vits/train.py
Labels: Example, T2S, contributor

#3948 [Hackathon 7th] 修复不存在 `*.npy` 文件的空文件夹导致的数据遍历错误
  paddlespeech/vector/exps/ge2e/speaker_verification_dataset.py
Labels: Vector, contributor
