Repository PaddlePaddle/PaddleSpeech, pull requests merged in 2024-06, with the labels that each got.

#3779 【Fix Speech Issue No.5】issue 3444 transformation import error
  audio/tests/features/base.py
  audio/tests/features/test_istft.py
  audio/tests/features/test_log_melspectrogram.py
  audio/tests/features/test_spectrogram.py
  audio/tests/features/test_stft.py
  docs/tutorial/asr/tutorial_transformer.ipynb
  utils/apply-cmvn.py
  utils/compute-cmvn-stats.py
  utils/copy-feats.py
  utils/feat-to-shape.py
Labels: Documentation

#3786 【Fix Speech Issue No.8】issue 3652 merge_yi function has a bug
  paddlespeech/t2s/frontend/tone_sandhi.py
Labels: T2S

#3784 【test】add cli test readme
  tests/unit/cli/test_cli.sh
  tests/unit/doc/test_cli.md
Labels: Test

#3794 adapt view behavior change, fix KeyError.
  paddlespeech/cli/asr/infer.py
  paddlespeech/s2t/models/wav2vec2/wav2vec2_ASR.py
  setup.py
Labels: Installation, S2T, CLI

#3803 【benchmark】fix benchmark prepare.sh
  tests/test_tipc/prepare.sh
Labels: Test
