Repository PaddlePaddle/PaddleSpeech, pull requests merged in 2024-11, with the labels that each got.

#3715 fix pydantic dependency
  setup.py
Labels: Installation

#3869 Fix missing ’
  demos/speech_ssl/README_cn.md
Labels: Demo

#3837 添加量词和单位符号
  paddlespeech/t2s/frontend/zh_normalization/num.py
  paddlespeech/t2s/frontend/zh_normalization/quantifier.py
Labels: T2S

#3865 Fix a bug of streaming_tts_server
  paddlespeech/server/engine/tts/online/onnx/tts_engine.py
Labels: Server

#3872 Fix wav2vec error in Demos/ssl
  paddlespeech/cli/ssl/infer.py
Labels: S2T, CLI

#3876 update install_openblas.sh
  tools/extras/install_openblas.sh
Labels: Installation

#3874 fix scipy import error
  paddlespeech/t2s/modules/pqmf.py
Labels: T2S

#3877 【Hackathon 7th】add implemention of strtobool
  dataset/librispeech/librispeech.py
  examples/ami/sd0/local/ami_prepare.py
  paddlespeech/s2t/decoders/recog_bin.py
  paddlespeech/s2t/exps/whisper/test_wav.py
  paddlespeech/s2t/training/cli.py
  paddlespeech/s2t/utils/cli_utils.py
  paddlespeech/utils/argparse.py
  paddlespeech/vector/cluster/diarization.py
  utils/DER.py
  utils/addjson.py
  utils/apply-cmvn.py
  utils/copy-feats.py
  utils/merge_scp2json.py
Labels: Example, S2T, Vector, Dataset

#3875 Add GCU Backend
  paddlespeech/cls/exps/panns/deploy/predict.py
  paddlespeech/t2s/exps/inference.py
Labels: Installation, T2S, Audio

#3878 【Hackathon 7th】Remove parser.add_argument
  examples/aishell/asr0/README.md
  paddlespeech/s2t/exps/deepspeech2/bin/export.py
  paddlespeech/s2t/exps/deepspeech2/bin/test.py
  paddlespeech/s2t/exps/deepspeech2/bin/test_export.py
  paddlespeech/s2t/exps/deepspeech2/bin/test_wav.py
  paddlespeech/s2t/exps/deepspeech2/model.py
Labels: README, Example, S2T, contributor

#3882 [Hackathon 7th] 修复 tess readme
  examples/tess/README.md
Labels: README, Example, contributor

#3883 fix type promotion TypeError in tensor_utils.py
  paddlespeech/audio/utils/tensor_utils.py
Labels: Audio, contributor

#3884 [Hackathon 7th]fix the shape error in layer_norm
  paddlespeech/s2t/models/hubert/hubert_ASR.py
  paddlespeech/s2t/models/wav2vec2/wav2vec2_ASR.py
  paddlespeech/s2t/models/wavlm/wavlm_asr.py
Labels: S2T, contributor

#3889 [Hackathon 7th] 修复 opencopop的svs1中安装依赖包问题
  examples/opencpop/svs1/README.md
  examples/opencpop/svs1/README_cn.md
Labels: README, Example, contributor

#3890 Fix missing xzvf
  examples/aishell/asr0/README.md
Labels: README, Example, contributor

#3895 fix file name
  paddlespeech/s2t/models/whisper/__init__.py
  paddlespeech/s2t/models/whisper/whisper.py
Labels: S2T

#3897 【CI】separate paddle.logsumexp
  paddlespeech/s2t/models/whisper/whisper.py
Labels: S2T

#3898 Remove Dependence of Paddlepaddle-gpu
  setup.py
Labels: Installation, contributor

#3881 Remove None-Existed floder and add Existed floder
  examples/aishell/README.md
Labels: README, Example, contributor

#3886 [Hackathon 7th] 修复 g2p `run.sh` 中错误的命令
  examples/other/g2p/run.sh
Labels: Example, contributor

#3892 [Hackathon 7th] 修复Example/tiny的文档错误
  examples/tiny/asr0/README.md
Labels: README, Example, contributor

#3903 [Hackathon 7th] 修复 `int` 与 `Value` 取 `max` 的问题
  paddlespeech/t2s/modules/masked_fill.py
  paddlespeech/t2s/modules/transformer/embedding.py
Labels: T2S, contributor

#3904 [Hackathon 7th] 修复aishell/asr3运行脚本
  paddlespeech/s2t/exps/wav2vec2/bin/test.py
  paddlespeech/s2t/exps/wav2vec2/bin/test_wav.py
  paddlespeech/s2t/models/wav2vec2/modules/wav2vec2_model.py
  paddlespeech/s2t/models/wav2vec2/processing/signal_processing.py
  paddlespeech/s2t/models/wav2vec2/processing/speech_augmentation.py
Labels: S2T, contributor

#3896 [Hackathon 7th] Update Tiny README.md
  examples/tiny/asr1/README.md
Labels: README, Example, contributor

#3907 NumPy compatibility enhancements
  paddlespeech/s2t/models/wav2vec2/modules/modeling_wav2vec2.py
  paddlespeech/s2t/models/wav2vec2/modules/wav2vec2_model.py
  paddlespeech/s2t/models/wavlm/wavlm_paddle.py
  paddlespeech/t2s/datasets/get_feats.py
  paddlespeech/t2s/utils/internals.py
Labels: S2T, T2S, contributor

#3911 [Hackathon 7th] 修复 `tal_cs` 中的 `readme`
  examples/tal_cs/asr1/README.md
Labels: README, Example, contributor

#3916 [Hackathon 7th] 修复 vctk 中 `spk_emb` 维度问题
  paddlespeech/t2s/models/fastspeech2/fastspeech2.py
Labels: T2S, contributor

#3918 [Hackathon 7th] 修复导入 `print_arguments`
  paddlespeech/s2t/exps/hubert/bin/test.py
  paddlespeech/s2t/exps/hubert/bin/train.py
Labels: S2T, contributor

#3913 [Hackathon 7th] 修复 `tal_cs` 测试中 0D tensor to 1D
  paddlespeech/s2t/exps/deepspeech2/bin/test_wav.py
  paddlespeech/s2t/exps/u2/bin/quant.py
  paddlespeech/s2t/exps/u2/bin/test_wav.py
Labels: S2T, contributor

#3917 [Hackathon 7th] 修复 `librispeech` 中 `asr` 的 `readme`
  examples/librispeech/asr0/README.md
  examples/librispeech/asr1/README.md
Labels: README, Example, contributor
