Repository PaddlePaddle/PaddleSpeech, pull requests merged in 2024-08, with the labels that each got.

#3826 【ASR】fix acs demo
  demos/audio_content_search/README.md
  demos/audio_content_search/README_cn.md
  demos/audio_content_search/conf/ws_conformer_application.yaml
  demos/audio_content_search/conf/ws_conformer_wenetspeech_application.yaml
Labels: README, Demo

#3804 speedyspeech code adapt for npu
  examples/csmsc/tts2/local/inference_npu.sh
  examples/csmsc/tts2/local/synthesize_e2e_npu.sh
  examples/csmsc/tts2/local/synthesize_npu.sh
  examples/csmsc/tts2/local/train_npu.sh
  examples/csmsc/tts2/run_npu.sh
  paddlespeech/t2s/exps/inference.py
  paddlespeech/t2s/exps/speedyspeech/train.py
  paddlespeech/t2s/exps/syn_utils.py
  paddlespeech/t2s/exps/synthesize.py
  paddlespeech/t2s/exps/synthesize_e2e.py
Labels: Example, T2S

#3830 【DOC】fix demos bug
  demos/audio_searching/requirements.txt
  demos/streaming_asr_server/README.md
  demos/streaming_asr_server/README_cn.md
  demos/style_fs2/run.sh
  tests/unit/server/online/tts/test_server/test_http_client.py
Labels: README, Demo, Test

#3828 speedyspeech code adapt for mlu
  examples/csmsc/tts2/local/inference_mlu.sh
  examples/csmsc/tts2/local/synthesize_e2e_mlu.sh
  examples/csmsc/tts2/local/synthesize_mlu.sh
  examples/csmsc/tts2/local/train_mlu.sh
  examples/csmsc/tts2/run_mlu.sh
  paddlespeech/t2s/exps/inference.py
  paddlespeech/t2s/exps/speedyspeech/train.py
  paddlespeech/t2s/exps/synthesize.py
  paddlespeech/t2s/exps/synthesize_e2e.py
Labels: Example, T2S

#3835 【Test】fix unit test
  tests/unit/asr/deepspeech2_model_test.py
  tests/unit/asr/deepspeech2_online_model_test.py
  tests/unit/server/offline/test_server_client.sh
  tests/unit/tts/test_data_table.py
Labels: Test

#3836 Add tests
  tests/unit/ci.sh
Labels: Test
