Repository PaddlePaddle/PaddleSpeech, pull requests merged in 2025-01, with the labels that each got.

#3962 [Hackathon 7th] 修复 Embedding 层的初始化参数
  paddlespeech/s2t/modules/align.py
Labels: S2T, contributor

#3900 [Hackathon 7th No.55] Add `audiotools` to `PaddleSpeech`
  audio/audiotools/README.md
  audio/audiotools/__init__.py
  audio/audiotools/core/__init__.py
  audio/audiotools/core/_julius.py
  audio/audiotools/core/audio_signal.py
  audio/audiotools/core/display.py
  audio/audiotools/core/dsp.py
  audio/audiotools/core/effects.py
  audio/audiotools/core/ffmpeg.py
  audio/audiotools/core/loudness.py
  audio/audiotools/core/util.py
  audio/audiotools/data/__init__.py
  audio/audiotools/data/datasets.py
  audio/audiotools/data/preprocess.py
  audio/audiotools/data/transforms.py
  audio/audiotools/metrics/__init__.py
  audio/audiotools/metrics/quality.py
  audio/audiotools/ml/__init__.py
  audio/audiotools/ml/accelerator.py
  audio/audiotools/ml/basemodel.py
  audio/audiotools/ml/decorators.py
  audio/audiotools/post.py
  audio/audiotools/requirements.txt
  audio/tests/audiotools/core/test_audio_signal.py
  audio/tests/audiotools/core/test_bands.py
  audio/tests/audiotools/core/test_display.py
  audio/tests/audiotools/core/test_dsp.py
  audio/tests/audiotools/core/test_effects.py
  audio/tests/audiotools/core/test_fftconv.py
  audio/tests/audiotools/core/test_grad.py
  audio/tests/audiotools/core/test_highpass.py
  audio/tests/audiotools/core/test_loudness.py
  audio/tests/audiotools/core/test_lowpass.py
  audio/tests/audiotools/core/test_util.py
  audio/tests/audiotools/data/test_datasets.py
  audio/tests/audiotools/data/test_preprocess.py
  audio/tests/audiotools/data/test_transforms.py
  audio/tests/audiotools/ml/test_decorators.py
  audio/tests/audiotools/ml/test_model.py
  audio/tests/audiotools/test_audiotools.sh
  audio/tests/audiotools/test_post.py
  tests/unit/ci.sh
Labels: README, Test, contributor

#3963 [Hackathon 7th] 修改 inference 兼容 paddle 3.0
  paddlespeech/t2s/exps/syn_utils.py
Labels: T2S, contributor

#3959 [Hackathon 7th] 添加csmsc/voc5的synthesize_e2e.sh，修复run.sh
  examples/csmsc/voc5/README.md
  examples/csmsc/voc5/local/synthesize_e2e.sh
  examples/csmsc/voc5/run.sh
Labels: README, Example, contributor

#3960 [Hackathon 7th] 添加csmsc/voc3的synthesize_e2e.sh，修复run.sh
  examples/csmsc/voc3/README.md
  examples/csmsc/voc3/local/synthesize_e2e.sh
  examples/csmsc/voc3/run.sh
Labels: README, Example, contributor

#3965 【Hackathon 8th No.7】Python版本适配 1
  paddlespeech/s2t/modules/conformer_convolution.py
  paddlespeech/s2t/modules/ctc.py
  paddlespeech/s2t/modules/decoder.py
  paddlespeech/s2t/modules/encoder.py
  paddlespeech/s2t/training/scheduler.py
  paddlespeech/t2s/models/diffsinger/diffsinger.py
  paddlespeech/t2s/models/diffsinger/fastspeech2midi.py
  paddlespeech/t2s/models/fastspeech2/fastspeech2.py
  paddlespeech/t2s/models/jets/generator.py
  paddlespeech/t2s/models/jets/jets.py
  paddlespeech/t2s/models/tacotron2/tacotron2.py
  paddlespeech/t2s/models/transformer_tts/transformer_tts.py
  paddlespeech/t2s/models/vits/vits.py
  paddlespeech/t2s/modules/adversarial_loss/speaker_classifier.py
  paddlespeech/t2s/modules/losses.py
  paddlespeech/t2s/modules/nets_utils.py
  paddlespeech/t2s/modules/predictor/variance_predictor.py
  paddlespeech/t2s/modules/style_encoder.py
  setup.py
Labels: Installation, S2T, T2S, contributor

#3968 【audio】fix file path of audiotools.
  paddlespeech/audiotools/README.md
  paddlespeech/audiotools/__init__.py
  paddlespeech/audiotools/core/__init__.py
  paddlespeech/audiotools/core/_julius.py
  paddlespeech/audiotools/core/audio_signal.py
  paddlespeech/audiotools/core/display.py
  paddlespeech/audiotools/core/dsp.py
  paddlespeech/audiotools/core/effects.py
  paddlespeech/audiotools/core/ffmpeg.py
  paddlespeech/audiotools/core/loudness.py
  paddlespeech/audiotools/core/util.py
  paddlespeech/audiotools/data/__init__.py
  paddlespeech/audiotools/data/datasets.py
  paddlespeech/audiotools/data/preprocess.py
  paddlespeech/audiotools/data/transforms.py
  paddlespeech/audiotools/metrics/__init__.py
  paddlespeech/audiotools/metrics/quality.py
  paddlespeech/audiotools/ml/__init__.py
  paddlespeech/audiotools/ml/accelerator.py
  paddlespeech/audiotools/ml/basemodel.py
  paddlespeech/audiotools/ml/decorators.py
  paddlespeech/audiotools/post.py
  paddlespeech/audiotools/requirements.txt
  tests/unit/audiotools/core/test_audio_signal.py
  tests/unit/audiotools/core/test_bands.py
  tests/unit/audiotools/core/test_display.py
  tests/unit/audiotools/core/test_dsp.py
  tests/unit/audiotools/core/test_effects.py
  tests/unit/audiotools/core/test_fftconv.py
  tests/unit/audiotools/core/test_grad.py
  tests/unit/audiotools/core/test_highpass.py
  tests/unit/audiotools/core/test_loudness.py
  tests/unit/audiotools/core/test_lowpass.py
  tests/unit/audiotools/core/test_util.py
  tests/unit/audiotools/data/test_datasets.py
  tests/unit/audiotools/data/test_preprocess.py
  tests/unit/audiotools/data/test_transforms.py
  tests/unit/audiotools/ml/test_decorators.py
  tests/unit/audiotools/ml/test_model.py
  tests/unit/audiotools/test_audiotools.sh
  tests/unit/audiotools/test_post.py
  tests/unit/ci.sh
Labels: README, Test

#3971 Close test_expand
  tests/unit/tts/test_expansion.py
Labels: Test

#3974 Fix tests/unit/tts/test_pwg.py
  tests/unit/tts/test_pwg.py
Labels: Test

#3970 【Hackathon 8th No.7】Python版本适配 4
  setup.py
Labels: Installation, contributor

#3969 【Hackathon 8th No.7】Python版本适配 3
  examples/other/g2p/get_g2p_data.py
  paddlespeech/server/restful/request.py
  paddlespeech/server/restful/response.py
  paddlespeech/t2s/exps/ernie_sat/align.py
  setup.py
  utils/gen_duration_from_textgrid.py
Labels: Installation, Example, T2S, Server, contributor

#3975 def PythonDetermine in setup.py
  setup.py
Labels: Installation, contributor

#3972 【Hackathon 8th No.7】Python版本适配 5
  paddlespeech/t2s/frontend/tone_sandhi.py
  paddlespeech/t2s/frontend/zh_frontend.py
  setup.py
Labels: Installation, T2S, contributor

#3976 Fix test_snapshot.py
  tests/unit/tts/test_snapshot.py
Labels: Test, contributor

#3979 【Hackathon 8th No.7】Add hints for installing with -e
  README.md
  README_cn.md
Labels: README, contributor

#3980 Fix typos
  .github/ISSUE_TEMPLATE/bug-report-s2t.md
  .github/ISSUE_TEMPLATE/bug-report-tts.md
  audio/paddleaudio/backends/soundfile_backend.py
  audio/paddleaudio/compliance/kaldi.py
  audio/paddleaudio/datasets/dataset.py
  audio/paddleaudio/datasets/esc50.py
  audio/paddleaudio/datasets/gtzan.py
  audio/paddleaudio/datasets/tess.py
  audio/paddleaudio/datasets/urban_sound.py
  audio/paddleaudio/datasets/voxceleb.py
  audio/paddleaudio/features/layers.py
  audio/paddleaudio/functional/functional.py
  audio/paddleaudio/metric/eer.py
  audio/paddleaudio/sox_effects/sox_effects.py
  audio/paddleaudio/src/pybind/kaldi/feature_common_inl.h
  audio/paddleaudio/src/pybind/kaldi/kaldi_feature_wrapper.cc
  audio/paddleaudio/src/pybind/sox/effects.cpp
  audio/paddleaudio/src/pybind/sox/effects_chain.cpp
  audio/paddleaudio/src/pybind/sox/utils.cpp
  audio/paddleaudio/src/pybind/sox/utils.h
  audio/paddleaudio/third_party/sox/CMakeLists.txt
  audio/paddleaudio/utils/download.py
  audio/paddleaudio/utils/log.py
  audio/paddleaudio/utils/sox_utils.py
  audio/paddleaudio/utils/tensor_utils.py
Labels: contributor, CI

#3981 Fix typos
  audio/paddleaudio/utils/time.py
  audio/tests/backends/base.py
  audio/tests/backends/soundfile/base.py
  audio/tests/backends/soundfile/save_test.py
  audio/tests/common_utils/data_utils.py
  audio/tests/common_utils/sox_utils.py
  audio/tests/features/base.py
  audio/tests/features/test_istft.py
  audio/tests/features/test_kaldi.py
  audio/tests/features/test_librosa.py
  audio/tests/features/test_log_melspectrogram.py
  audio/tests/features/test_spectrogram.py
  audio/tests/features/test_stft.py
  dataset/librispeech/librispeech.py
  dataset/ted_en_zh/ted_en_zh.py
  dataset/thchs30/thchs30.py
  dataset/timit/timit.py
  dataset/timit/timit_kaldi_standard_split.py
  dataset/voxceleb/voxceleb1.py
  dataset/voxceleb/voxceleb2.py
  demos/audio_content_search/README.md
  demos/audio_searching/README.md
  demos/audio_tagging/README.md
  demos/automatic_video_subtitiles/README.md
  demos/keyword_spotting/README.md
  demos/punctuation_restoration/README.md
  demos/speaker_verification/README.md
  demos/speech_recognition/README.md
  demos/speech_server/README.md
  demos/speech_ssl/README.md
  demos/speech_translation/README.md
  demos/streaming_asr_server/README.md
  demos/streaming_tts_server/README.md
  demos/text_to_speech/README.md
  demos/whisper/README.md
Labels: README, Demo, Dataset, contributor

#3982 add some pir model
  examples/vctk/tts3/README.md
  examples/zh_en_tts/tts3/README.md
Labels: README, Example
