Repository PaddlePaddle/PaddleSpeech, pull requests merged in 2025-03, with the labels that each got.

#3999 【audiotools】mv audiotools requirement to setup.py
  paddlespeech/audiotools/requirements.txt
  setup.py
  tests/unit/ci.sh
Labels: Installation, Test

#3998 【Doc】补全合成系列中的脚本中参数缺失 No.4
  examples/aishell3/tts3/README.md
  examples/aishell3/tts3/run.sh
Labels: README, Example, contributor

#4000 add docker
  docker/ubuntu20-cpu/Dockerfile
  tests/unit/asr/reverse_pad_list.py
Labels: Test, Docker, contributor

#4018 Docker=-= 兼容性验证
  paddlespeech/s2t/models/whisper/whisper.py
Labels: S2T, contributor

#4004 【PaddleSpeech No.6】补全合成系列中的脚本中参数缺失
  examples/canton/tts3/README.md
  examples/canton/tts3/run.sh
Labels: README, Example, contributor, HappyOpenSource

#4017 【audiotools】replace scale op
  paddlespeech/audiotools/core/_julius.py
  tests/unit/audiotools/test_audiotools.sh
Labels: Test

#4021 Fix typos
  audio/paddleaudio/datasets/esc50.py
  audio/paddleaudio/datasets/gtzan.py
  audio/paddleaudio/datasets/rirs_noises.py
  audio/paddleaudio/datasets/tess.py
  audio/paddleaudio/datasets/urban_sound.py
  audio/paddleaudio/datasets/voxceleb.py
  dataset/chime3_background/chime3_background.py
  dataset/timit/timit.py
  demos/TTSCppFrontend/src/front/front_interface.cpp
  demos/audio_searching/src/milvus_helpers.py
  demos/speech_web/speech_server/main.py
  demos/streaming_tts_serving_fastdeploy/streaming_tts_serving/1/model.py
  examples/aishell3/tts3/conf/conformer.yaml
  examples/aishell3/tts3/conf/default.yaml
  examples/aishell3/vc1/conf/default.yaml
  examples/aishell3/vc2/conf/default.yaml
  examples/aishell3/voc5/conf/default.yaml
  examples/canton/tts3/conf/default.yaml
  examples/csmsc/jets/conf/default.yaml
  examples/csmsc/tts3/conf/cnndecoder.yaml
  examples/csmsc/tts3/conf/conformer.yaml
  examples/csmsc/tts3/conf/default.yaml
  examples/csmsc/voc5/conf/default.yaml
  examples/csmsc/voc5/conf/finetune.yaml
  examples/csmsc/voc5/conf/iSTFT.yaml
  examples/ljspeech/tts1/conf/default.yaml
  examples/ljspeech/tts3/conf/default.yaml
  examples/ljspeech/voc5/conf/default.yaml
  examples/opencpop/svs1/conf/default.yaml
  examples/opencpop/voc5/conf/default.yaml
  examples/opencpop/voc5/conf/finetune.yaml
  examples/vctk/tts3/conf/default.yaml
  examples/vctk/voc5/conf/default.yaml
  examples/voxceleb/sv0/local/data_prepare.py
  examples/zh_en_tts/tts3/conf/default.yaml
  paddlespeech/audio/utils/tensor_utils.py
  paddlespeech/s2t/exps/hubert/model.py
  paddlespeech/s2t/exps/wav2vec2/model.py
  paddlespeech/s2t/exps/wavlm/model.py
  paddlespeech/s2t/training/trainer.py
  paddlespeech/s2t/utils/tensor_utils.py
  paddlespeech/server/utils/audio_handler.py
  paddlespeech/server/ws/asr_api.py
  paddlespeech/server/ws/tts_api.py
  paddlespeech/t2s/models/vits/residual_coupling.py
  runtime/examples/text_lm/local/mmseg.py
  tests/unit/server/offline/test_server_client.sh
  tests/unit/server/online/tts/check_server/test.sh
  tools/extras/install_liblbfgs.sh
  tools/extras/install_srilm.sh
  utils/fst/ctc_token_fst.py
  utils/fst/make_tlg.sh
  utils/generate_infer_yaml.py
  utils/train_arpa_with_kenlm.sh
  utils/zh_tn.py
Labels: Installation, Example, Deployment, S2T, T2S, Audio, Demo, Test, Dataset, Server, contributor, HappyOpenSource

#4024 Fix typos
  audio/paddleaudio/compliance/kaldi.py
  audio/paddleaudio/compliance/librosa.py
  examples/aishell/asr3/cmd.sh
  examples/librispeech/asr1/cmd.sh
  examples/librispeech/asr2/cmd.sh
  examples/librispeech/asr3/cmd.sh
  examples/librispeech/asr4/cmd.sh
  examples/librispeech/asr5/cmd.sh
  examples/mustc/st1/cmd.sh
  examples/other/ngram_lm/s0/local/kenlm_score_test.py
  examples/ted_en_zh/st1/cmd.sh
  paddlespeech/dataset/aidatatang_200zh/aidatatang_200zh.py
  paddlespeech/dataset/aishell/aishell.py
  paddlespeech/s2t/utils/error_rate.py
  paddlespeech/t2s/frontend/zh_frontend.py
  paddlespeech/t2s/utils/error_rate.py
  runtime/engine/asr/decoder/ctc_prefix_beam_search_decoder.cc
  runtime/engine/common/frontend/cmvn.cc
  runtime/engine/common/frontend/cmvn.h
  runtime/engine/common/frontend/db_norm.h
  runtime/engine/common/matrix/kaldi-matrix.cc
  runtime/engine/common/matrix/kaldi-vector.cc
  runtime/engine/common/utils/file_utils.cc
  runtime/engine/kaldi/lat/kaldi-lattice.cc
  runtime/examples/README.md
  runtime/examples/audio_classification/README.md
  runtime/examples/text_lm/local/mmseg.py
  runtime/patch/openfst/src/include/fst/flags.h
  tests/test_tipc/conformer/scripts/aishell_tiny.py
  tests/unit/cli/aishell_test_prepare.py
  tests/unit/tts/test_snapshot.py
  tools/extras/install_liblbfgs.sh
  utils/format_triplet_data.py
  utils/tokenizer.perl
Labels: Installation, README, Example, Deployment, S2T, T2S, Test, contributor

#4029 【CLS】remove useless requirement
  demos/audio_searching/requirements.txt
Labels: Demo

#4011 【PaddleSpeech No.15】补全合成系列中的脚本中参数缺失
  examples/csmsc/voc3/README.md
Labels: README, Example, contributor, HappyOpenSource

#4032 Fix typos in multiple files
  README.md
  audio/paddleaudio/datasets/dataset.py
  audio/paddleaudio/datasets/esc50.py
  audio/paddleaudio/datasets/gtzan.py
  audio/paddleaudio/datasets/tess.py
  audio/paddleaudio/datasets/urban_sound.py
  audio/tests/backends/sox_io/save_test.py
  demos/TTSAndroid/README.md
  demos/audio_searching/README.md
  demos/speech_server/README.md
  demos/speech_web/web_client/yarn.lock
  demos/streaming_asr_server/README.md
  demos/streaming_tts_server/README.md
  demos/text_to_speech/README.md
  demos/whisper/README.md
  docs/source/tts/advanced_usage.md
  examples/aishell/asr0/local/train.sh
  examples/aishell/asr1/local/train.sh
  examples/csmsc/voc3/conf/default.yaml
  examples/csmsc/voc3/conf/finetune.yaml
  examples/librispeech/asr0/local/train.sh
  examples/librispeech/asr1/local/train.sh
  examples/librispeech/asr2/local/train.sh
  examples/tal_cs/asr1/local/data.sh
  examples/tal_cs/asr1/local/train.sh
  examples/timit/asr1/local/train.sh
  examples/tiny/asr0/local/train.sh
  examples/tiny/asr1/local/train.sh
  examples/wenetspeech/asr1/local/train.sh
  paddlespeech/cli/asr/infer.py
  paddlespeech/cli/cls/infer.py
  paddlespeech/cli/kws/infer.py
  paddlespeech/cli/ssl/infer.py
  paddlespeech/cli/st/infer.py
  paddlespeech/cli/text/infer.py
  paddlespeech/cli/tts/infer.py
  paddlespeech/cli/vector/infer.py
  paddlespeech/cli/whisper/infer.py
  paddlespeech/s2t/modules/align.py
  paddlespeech/s2t/training/cli.py
  paddlespeech/t2s/modules/diffusion.py
  paddlespeech/t2s/training/cli.py
  paddlespeech/utils/initialize.py
  runtime/examples/custom_asr/README.md
Labels: Documentation, README, Example, Deployment, S2T, T2S, Demo, CLI, contributor, HappyOpenSource

#4013 【PaddleSpeech No.13、14】补全合成系列中的脚本中参数缺失
  examples/vctk/ernie_sat/README.md
  examples/vctk/ernie_sat/run.sh
  examples/vctk/tts3/README.md
  examples/vctk/tts3/run.sh
Labels: README, Example, contributor, HappyOpenSource
